{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">
{% endblock %}

{% block javascripts %}
    {# <script src="{{asset('assets/js/home/data_home_poo.js')}}" defer></script> #}
    {# <script src="{{asset('assets/js/tous/addToMap.js')}}" defer></script> #}
    <script type="text/javascript" src="{{asset('assets/js/home/data_home.js')}}" defer></script>
	
    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterHome.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/home/marckerClusterHome.js') }}" defer></script>

    <script src="{{asset('assets/js/home/home.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/restaurant/avis_restaurant_depart.js') }}" defer></script>
{% endblock %}


{% block body %}
    <div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
    
    <div class="content_body">
    {% if (app.user) %}
        <div class="content content_tous_js_jheo" id="tout-dem"  data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
    {% else %}
        <div class="content content_tous_js_jheo" >
    {% endif %}
            <div class="content_cart_map content_cart_map-respons">
                {# <div id="remove-detail" class="hidden responsif-none">
                    <div class="container-fluid list-depart-all-detail list-depart-all-detail-tous responsif-none" id="content-details"></div>
                </div> #}

                <div class="cart_map cart_map_js">
                    {# Loading cart #}
                    <div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
                        <div class="containt">
                            <div class="word word-1">C</div>
                            <div class="word word-2">M</div>
                            <div class="word word-3">Z</div>
                        </div>
                    </div>
                    {# end of Loading card }

                    {# <div id="map" class="map"></div> #}
                    
                </div>
            </div>
        </div>
        
        <button type="button" class="d-none show_detail_for_mobile_js_jheo" data-bs-toggle="modal" data-bs-target="#detailModalMobil"></button>
    </div>

    {% include 'shard/chatBot.html.twig' %}
    {% include 'shard/home/detail_home_navleft.twig' %}
    {% include 'shard/home/modalFilterHome.html.twig' %}
    {% include 'shard/home/modal_detail_home_mobile.html.twig' %}
    
    {{ include('shard/restaurant/list_avis.html.twig') }}
    {{ include('shard/restaurant/modal_avis_resto.html.twig') }}
    {{ include('shard/restaurant/modal_modif_avis.html.twig') }}
{% endblock %}
