{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone: Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/home/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/home/search.js')}}" defer></script>
    <script src="{{asset('assets/js/home/data_search.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/home/fetchLeftSide.js') }}" defer></script>

    {# <script src="{{asset('assets/js/home/data_home_poo.js')}}" defer></script> #}
    {# <script src="{{asset('assets/js/home/data_home.js')}}" defer></script> #}
{% endblock %}


{% block body %}
    <div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
    {% include 'shard/modalSearch.twig' %}
    <div class="content_main">
        
        <div class="row">
            <div class="responsif-none" id="tous">
                {% include 'shard/home/home_navleft.html.twig' %}
            </div>
            <div class="content">
                <div class="content_cart_map">
                    <div class="cart_map">
                        <div class="chargement_content" id="toggle_chargement">
                            <div class="content_box">
                                <div class="box">
                                    <div class="under_box"></div>
                                </div>
                            </div>
                        </div>
                        <div class="content_show_list_mobile">
                            <i class="fa-solid fa-circle-arrow-right fetch_list_departement_jheo_js"></i>
                        </div>
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content_left_side_mobile">
            {% include 'shard/home/fetchLeftSide.html.twig' %}
        </div>

        <button type="button" class="d-none show_detail_for_mobile_js_jheo" data-bs-toggle="modal" data-bs-target="#detailModalMobil"></button>
    </div>

    {% include 'shard/home/modalFilterHome.html.twig' %}
    {% include 'shard/home/modalDetailMobilHome.html.twig' %}

{% endblock %}
