{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone: Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/search.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">
{% endblock %}

{% block javascripts %}
    {# <script src="{{asset('assets/js/home/fetchLeftSide.js')}}" defer></script>  #}
    {# <script type="text/javascript" src="{{asset('assets/js/home/data_home.js')}}" defer></script> #}
    <script src="{{asset('assets/js/home/data_search.js')}}" type="text/javascript" defer></script>
	
    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterSearch.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/home/marckerClusterSearch.js') }}" defer></script>
    
    <script type="text/javascript" src="{{asset('assets/js/home/detail_search.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/restaurant/avis_restaurant_depart.js') }}" defer></script>

{% endblock %}


{% block body %}
    <div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
    {% include 'shard/modalSearch.twig' %}
    <div class="responsif-none-pc navbar-mobile-all">
        {% include 'shard/navbar_mobile.twig' %}
    </div>
    <div class="content_main">

        {# {% if (app.user) %}
            <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-search-mobile" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
        {% else %}
            <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-search-mobile">
        {% endif %}
                <i class="fa-solid fa-bars"></i>
            </div> #}

            {# <div class="open-search-mobil open-search-mobil-tomm-js responsif-none-pc " id="open-search-home-mobil">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="search-resto-mobil search-mobil-tomm-js search-resto-mobil-none vd to/4 to/4/2 wf yf responsif-none-pc" id="search-resto-mobil">
                {% include 'shard/search_mobile.html.twig' %}
            </div> #}
        <div class="row">
            <div class="" id="tous">
                {% include 'shard/home/search_navleft.html.twig' %}
            </div>
            <div class="content">
                <div class="content_cart_map content_cart_map_jheo_js">
                    
                    <div id="remove-detail" class="hidden responsif-none">
                        <div class="container-fluid list-depart-all-detail list-depart-all-detail-tous responsif-none" id="content-details"></div>
                    </div>
                    <div class="cart_map cart_map_js cart_map_jheo_js">
                        <div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
                            <div class="containt">
                                <div class="word word-1">C</div>
                                <div class="word word-2">M</div>
                                <div class="word word-3">Z</div>
                            </div>
                        </div>
                        {# <div id="map" class="map map_js_jheo"></div> #}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="restoPastilleModal" aria-hidden="true" aria-labelledby="restoPastilleModal_label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title listResto_title_jheo_js" id="restoPastilleModal_label">Choisir une tribu via laquelle vous allez pastiller le restaurant</h5>
                        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body custom_modal">
                        <div class="content_list_resto content_list_resto_js">
                            <div class="list_resto_detail_for_pastille">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Logo</th>
                                            <th scope="col">Tribu T</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# <div class="row content_left_side_mobile">
            {% include 'shard/home/fetchLeftSide.html.twig' %}
        </div> #}

        <button type="button" class="d-none show_detail_for_mobile_js_jheo" data-bs-toggle="modal" data-bs-target="#detailModalMobil"></button>
    </div>

    {{ include('shard/chatBot.html.twig') }}
    {% include 'shard/home/detail_home_navleft.twig' %}
    {% include 'shard/home/modal_detail_home_mobile.html.twig' %}
    {{ include('shard/restaurant/list_avis.html.twig') }}
    {{ include('shard/restaurant/modal_avis_resto.html.twig') }}
    {{ include('shard/restaurant/modal_modif_avis.html.twig') }}

{% endblock %}
