<div class="description content_body_details_jheo_js" data-toggle-latitude="{{((details.latitude) ? details.latitude : '0' )|format_number({fraction_digit: 6})}}" data-toggle-longitude="{{((details.longitude) ? details.longitude : '0')|format_number({fraction_digit: 6})}}" data-toggle-nameferme="{{details.nomGolf}}">
    <div class="content_titre_details">
        {# /// nom et propriété #}
        {# <div class="titre col titre-ferme">
            <h4 class="text-center">
                {{details.nomGolf | upper}}
            </h4>
        </div>
        <p class="card-text cmz-adresse ">
           Adresse :  <a href="#" class="small text-center ">{{details.adr1 | raw}} </a>
        </p> #}


        <figure class="text-center mt-4">
            <blockquote class="blockquote">
                {# <p>   {{details.nomGolf | upper}}  <span class="badge bg-primary golf_status">FAIT</span> </p> #}
                <p> 
                    {{details.nomGolf | upper}}  
                    {% if app.user %}
                        {% if details.user_status == null %}
                            <span class="badge bg-primary golf_status golf_status_jheo_js">A FAIRE</span>
                            {# <span class="badge bg-primary golf_status"><i class="fa-solid fa-xmark"></i></span> #}
                            {# <span class="badge bg-primary golf_status"></span> #}
                        {% else %}
                            <span class="badge bg-info  golf_status golf_status_jheo_js">FAIT</span>
                            {# <span class="badge bg-info  golf_status"><i class="fa-solid fa-check"></i></span> #}
                            
                        {% endif %}
                    {% endif %}
                </p>
               
            </blockquote>
            <figcaption class="blockquote-footer">
               Adresse :  <a href="#" class="small text-center ">{{details.adr1 | raw}} </a>
            </figcaption>  
        </figure>
       
    </div>

    <div class="p-4">
        {# note avis   #}
        {# <hr> #}
        <div class="content_note text-center mb-3">
            <div class="start">
                <i class="fa-solid fa-star" data-rank="1"></i>
                <i class="fa-solid fa-star" data-rank="2"></i>
                <i class="fa-solid fa-star" data-rank="3"></i>
                <i class="fa-solid fa-star" data-rank="4"></i>
            </div>
            
            <div class="nombre_avis">
                <button class="btn btn-warning btn-md see-avis"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Avis</button>
            </div>
        </div>

        <hr>
 
        {# ///codePostal #}
        {% if details.cp %}
            <div class="content_activite">
                <p class="activite">
                    <span class="fw-bold">Code Postal:</span>
                    {{details.cp  | raw}}
                </p>
            </div>
            <hr>
        {% endif %}

        {% if details.nomCommune %}
            <div class="content_activite">
                <p class="activite">
                    <span class="fw-bold">Commune:</span>
                    {{details.nomCommune  | raw}}
                </p>
            </div>
            <hr>
        {% endif %}


        {% if details.telephone %}
            <div class="content_activite">
                <p class="activite">
                    <span class="fw-bold">Telephone:</span>
                        {{details.telephone | raw}}
                </p>
            </div>
            <hr>
        {% endif %}

        {% if details.adr1 %}
            <div class="content_activite">
                <p class="activite">
                    <span class="fw-bold">Adress:</span>
                    {{details.adr1 | raw}}
                </p>
            </div>
            <hr>
        {% endif %}

        <hr>

        {# ///content cta #}
        <div class="content_tow_cta mt-4">
            <div class="site_web">
                <a class="{{ app.user ? 'btn btn-outline-success ' : 'btn btn-outline-success disabled' }}" href="{{details.siteWeb | raw}}" target="_blank">Lien :  Site Web</a>
            </div>
        </div>

        {% if app.user %}
            <p class="mt-3 lead content_btn_golf_did_jheo_js" data-golf-id="{{details.id}}">
                {% if details.user_status == null %}
                    Marquez que ce golf est déjà fait ? <span class="badge bg-danger btn_golf_did btn_golf_did_jheo_js" onclick="setGolfFinished('{{details.id}}')">Oui</span>
                {% else %}
                    Veuillez-vous annuler, c'est encore à faire ? <span class="badge bg-danger btn_golf_did  btn_golf_did_jheo_js" onclick="cancelGolfFinished('{{details.id}}')">Oui</span>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>