{% extends 'base.html.twig' %}

{% block title %}Golf ConsoMyZone{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/golf/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}


{% block javascripts %}

    <script src="{{asset('assets/js/golf/data_golf.js')}}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterGolf.js') }}" defer></script>

	<script type="text/javascript" src="{{ asset('assets/js/golf/marckerClusterGolf_all_dep.js') }}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/golf/golf.js') }}" defer></script>
    {# // <script type="text/javascript" src="{{ asset('assets/js/golf/chercher.js') }}" defer></script> #}
{% endblock %}

{% block body %}
    <div class="content_cart_body">

        {# //// NAV LEFT #}
        <div class="responsif-none" id="tous">
            {% include 'shard/golf/golf_navleft.twig' %}
        </div>
    
        {# //// NAV BAR  #}
        <div class="responsif-none">
            {% include 'shard/navbar.twig' %}
        </div>
        
        {# //// CONTENT CART #}
        <div>
            <div class="d-flex content_cart_map content_cart_map_jheo_js">
                <div class="cart_map cart_map_js cart_map_jheo_js">
                    {# content chargement  #}
                    <div class="chargement_content" id="toggle_chargement">
                        <div class="containt">
                            <div class="word word-1">C</div>
                            <div class="word word-2">M</div>
                            <div class="word word-3">Z</div>
                        </div>
                    </div>
                </div>
                {# <div class="content_legende content_legende_jheo_js">
                    <div class="content_header_right_side">
                        <div class="header_right_side">
                            <div class="title_right_side">
                                CONTROLE RIGHT SIDE
                            </div>
                            <div class="content_close_right_side">
                                <div class="close_right_side close_right_side_jheo_js">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_right_side_body">
                        <h4> Description lists</h4>
                        A description list is perfect for defining terms.
                        <h5>Euismod</h5>
                        Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.
                        Donec id elit non mi porta gravida at eget metus.
                        <h6>Malesuada porta</h6>
                        Etiam porta sem malesuada magna mollis euismod.
                    </div>
                </div> #}
            </div>
        </div>
    
    </div>
    
    
    {% include 'shard/chatBot.html.twig' %}
    {% include 'shard/golf/detail_golf_navleft.twig' %}
    {% include 'shard/golf/modalDetailMobil.html.twig' %}
{% endblock %}
