{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone: Golf {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/golf/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/search.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}


{% block javascripts %}

	<script src="{{asset('assets/js/golf/data_golf.js')}}" defer></script>

    <script src="{{asset('assets/js/module/leaflet.shpfile.js')}}" defer></script>
    <script src="{{asset('assets/js/module/shp.js')}}" defer></script>
    

    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterGolf.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/golf/marckerClusterGolf_spec.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/data_for_all.js') }}" defer></script>
	{# <script type="text/javascript" src="{{ asset('assets/js/golf/filter_a-z_asc_desc.js') }}" defer></script> #}
	<script src="{{asset('assets/js/golf/details.js')}}" defer></script>
{% endblock %}

{% block body %}
	{% include 'shard/golf/specific_golf_navleft_mobile.twig' %}
	<div class="content_cart_body">

        {# //// NAV LEFT #}
		<div class="" id="tous">
			{% include 'shard/golf/specific_golf_navleft.twig' %}
		</div>

        {# //// NAV BAR  #}
        <div class="responsif-none">
            {% include 'shard/navbar.twig' %}
        </div>

        <div class="responsif-none-pc navbar-mobile-all">
            {% include 'shard/navbar_mobile.twig' %}
        </div>

        
		<div class="golf-mobile">
		    {# <button class="btn btn-primary btn-spec responsif-none-pc"  id="open-navleft-golf-mobile-specific-tomm-js" onclick="addSpecificgolfMobile('{{nom_dep}}', '{{id_dep}}')"><i class="fa-solid fa-bars"></i> Golf à {{nom_dep}}</button> #}
			{# <div class="open-navleft-mobile responsif-none-pc" id="open-navleft-golf-mobile-specific-tomm-js" onclick="addSpecificgolfMobile('{{nom_dep}}','{{id_dep}}')">
                <i class="fa-solid fa-bars"></i>
            </div> #}
            {% if (app.user) %}
                <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-golf-mobile-tomm-js" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
            {% else %}
                <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-golf-mobile-tomm-js">
            {% endif %}
                    <i class="fa-solid fa-bars"></i>
                </div>
                
                <div id="list-depart-golf-mobile-tomm-js"></div> 
           
           
            {# <div id="list-depart-golf-specific-mobile-tomm-js"></div> #}
			<div class="d-flex content_cart_map content_cart_map_jheo_js">
				<div class="cart_map cart_map_js cart_map_jheo_js">

					<div class="chargement_content" id="toggle_chargement">
                        <div class="containt">
                            <div class="word word-1">C</div>
                            <div class="word word-2">M</div>
                            <div class="word word-3">Z</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="content-modal-pastille-golf-tomm-js"></div>
    {% include 'shard/chatBot.html.twig' %}
{% endblock %}

