<div class="navleft navleft-mobile fixed-top cmz-left-container content_navleft_jheo_js">
	<div class="container-fluid">
		<div class="head-left mt-3">
			<div class="row cmz-left-results-indications">
				<div class="col-10">
					<h6 class="modal-title {% if results[1] < 1 %} d-none {% endif %}" id="exampleModalLabel">
						
						{% if cles0 != "" %}
							{% if otherResult == true %}
								Désolé, nous n’avons pas de résultats pour <span id="cles0"><b>"{{cles0}}"</b></span> à <span id="cles1">{{cles1}}</span><br>
								{% if results[1] >= 1 %}
								Cependant ces résultats pourraient vous intéresser<br>
								{% endif %}
							{% else %}
								Résultat(s) pour <span id="cles0"><b>"{{cles0}}"</b></span> à <span id="cles1">{{ cles1|length > 2 ? cles1 : "Département " ~ cles1}}</span><br>
							{% endif %}
						{% else %}
							{% set rubrique = type == "resto"?"restaurant":type %}
							{% if otherResult == true %}
								{# Désolé, nous n’avons pas de <span id="cles0"><b>{{rubrique|upper}}</b></span> à <span id="cles1">{{cles1}}</span><br>
								{% if results[1] >= 1 %}
									Cependant ces résultats pourraient vous intéresser<br>
								{% endif %} #}
								Désolé nous n'avons pas de résultat pour votre recherche, mais ce(s) résultat(s) peuvent vous intéreser.
							{% else %}
								{# <b>{{rubrique|upper}}</b> à <span id="cles1">{{ cles1|length > 2 ? cles1 : "département " ~ (cles1|length == 1 ? "0" ~ cles1 : cles1 ) }}</span><br> #}
								<b> {{rubrique == "tous" ? "Le(s) resultat(s) de votre recheche": rubrique|upper }}</b> à <span id="cles1">{{ cles1|length > 2 ? cles1 : "département " ~ (cles1|length == 1 ? "0" ~ cles1 : cles1 ) }}</span><br>
							{% endif %}
						{% endif %}
                        
                        {% if results[1] > 0 %}
							{% if results[1] > 1 %}
                            	<i class="total_number_js">({{results[1] > 1 ? results[1] ~ " résultats" : "1 résultat"  }})</i>	
							{% else %}
								<i class="total_number_js">({{results[1]}} résultat)</i>
							{% endif %}
                        {% else %}
							<i class="total_number_js">(Aucun résultat)</i>
						{% endif %}
                    </h6>
					<h6 class="modal-title {% if results[1] > 0 %} d-none {% endif %}" id="exampleModalLabel">
						Désolé nous n'avons pas de résultat pour votre recherche. Essayez de corriger la faute d'orthographe.
					</h6>
				</div>
				<div class="col-2">
                    <i class="fa-solid fa-x icon_close_nav_left_jheo_js" id="close-list-depart-station"></i>
                </div>
			</div>
			<div class="container list-depart-all" id="Scrollbar">
				<div id="list_departements">
					<ul class="mb-5">
						{% for item in results[0] %}
							{% include "card/card_search.html.twig" %}
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
