<div class="navleft fixed-top cmz-left-container">
	<div class="container-fluid list-depart">
		<div class="head-left">
			<div class="row cmz-left-results-indications">
				<div class="col-md-10">
					<h6 class="modal-title" id="exampleModalLabel">
						
						{% if cles0 != "" %}
							{% if otherResult == true %}
								Désolé, nous n’avons pas de résultats pour <span id="cles0"><b>"{{cles0}}"</b></span> à <span id="cles1">{{cles1}}</span><br>
								{% if results[1] >= 1 %}
								Cependant ces résultats pourraient vous intéresser<br>
								{% endif %}
							{% else %}
								Résultat(s) pour <span id="cles0"><b>"{{cles0}}"</b></span> à <span id="cles1">{{cles1}}</span><br>
							{% endif %}
						{% else %}
							{% set rubrique = type == "resto"?"restaurant":type %}
							{% if otherResult == true %}
								Désolé, nous n’avons pas de <span id="cles0"><b>{{rubrique|upper}}</b></span> à <span id="cles1">{{cles1}}</span><br>
								{% if results[1] >= 1 %}
									Cependant ces résultats pourraient vous intéresser<br>
								{% endif %}
							{% else %}
								<b>{{rubrique|upper}}</b> à <span id="cles1">{{cles1}}</span><br>
							{% endif %}
						{% endif %}
                        
                        {% if results[1] > 0 %}
							{% if results[1] > 1 %}
                            	<i class="total_number_js">({{results[1] > 1 ? results[1] ~ " résultats" : "1 résultat"  }})</i>	
							{% else %}
								<i class="total_number_js">({{results[1]}} résultat)</i>
							{% endif %}
                        {% else %}
							<i class="total_number_js">(Aucun résultat)</i>
						{% endif %}
                    </h6>
				</div>
			</div>
			<div class="container list-depart-all" id="Scrollbar">
				<div id="list_departements">
					<ul class="mb-5">
						{% for item in results[0] %}
							{% include "card/card_search.html.twig" %}
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
