{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
{% endblock %}

{% block body %}

	<main>

		<div class="content_left_menu_account fixed-top mt-5 col">
			<div class="left_menu">
				{% include "shard/account_navleft.html.twig" %}
			</div>
		</div>
		<div class="fixed-top">
			{{ include('shard/account_navbar.html.twig') }}
		</div>

		<div class="row account">
			<h3>Membres</h3>
			<div class="card card-pub">

				<div class="row p-3">
					{% if membre|length > 0 %}
						{% for item in membre %}

							<div class="col-9">
								<a href="#" style="text-decoration:none;">{{ item.user_full_name }}</a>
								{#split("_"~ app.user.id ~ "_")[1] | replace({"_" : " "})#}
							</div>

							<div class="col-3">
								<a href="{{ path("add_member_tribut") }}" style="text-decoration:none;">Add friend</a>
							</div>

						{% endfor %}
					{% endif %}

				</div>

			</div>
			<center>
				<h2>
					<i class="fa-solid fa-users"></i>
					Liste des membres de la tribu
				</h2>
			</center>

			<div class="container col content_global_super_admin ">

			<table class="table table-list-membre table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Nom
						</th>
						<th>Prenom</th>
						<th>Email</th>
						<th>Adresse</th>
						<th>Roles</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% if membre|length > 0 %}
					{% for item in membre %}
					<tr>
						<td>Rakoto</td>
						<td>Papah</td>
						<td>rakotopapah@gmail.com</td>
						<td>ANY Atranony 120</td>
						<td>Fondateur
							<i class="fa-solid fa-triangle-exclamation text-danger"></i>
							<i class="fa-solid fa-thumbs-up text-success"></i>
						</td>
						<td>
							<a href="{{path('app_dashboardapropos')}}" class="btn btn-primary">Administré</a>
						</td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
			</div>
		</div>

	</main>
{% endblock %}
