{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
	 <script  src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script>
{% endblock %}

{% block body %}

	<main>

		<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
			<div class="left_menu">
				{% include "shard/account_navleft.html.twig" %}
			</div>
		</div>
		<div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
			<div class="left_menu">
				{% include "shard/account_navleft_mobile.html.twig" %}
			</div>
		</div>
		<div class="navbar-mobile">
			<div class="fixed-top col responsif-none">
				{{ include('shard/account_navbar.html.twig') }}
			</div>

			<div class="fixed-top col responsif-none-mobile">
				{{ include('shard/account_navbar_mobile.html.twig') }}
			</div>
		</div>

		<div class="row account content_right_actualite membre-tribut"  id="container-mobile">

			<center>
				<h2>
					<i class="fa-solid fa-users"></i>
					Liste des partisants de la tribu
				</h2>
			</center>

			<div class="container col mt-3" style="overflow-x:auto;">

				<table class="table table-list-membre table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Prénom
							</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Adresse</th>
							<th >Rôles</th>
						</tr>
					</thead>
					<tbody>
						{% if membre|length > 0 %}
							{% for item in membre %}
								<tr>
									<td>{{item["user_full_name"].firstname}}</td>
									<td>{{item["user_full_name"].lastname}}</td>
									<td>{{item["email"]}}</td>
									<td>{{item["user_full_name"].adresse}}</td>
									<td>
										{{item["role"]}}
										
										{% if item["admin"] %}

											{% if item["role"] == "Membre" %}
												{# <i class="fa-solid fa-triangle-exclamation text-danger"></i> #}
											{% else %}
												<i class="fa-solid fa-thumbs-up text-success"></i>
											{% endif %}

											{# <a href="{{path('app_dashboardapropos')}}" class="btn btn-sm btn-primary float-end">Administré</a> #}
										
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>

	</main>
{% endblock %}
