{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Mes Tribus T
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
	<style>
		.content_right_actualite {
			top: -50px;
		}
	</style>
	<link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/Tribu_T/publication.css')}}">

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	{# <script src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script> #}
	<script src="{{asset('assets/js/tribuT/myTribuT.js')}}" defer></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>
{% endblock %}

{% block body %}

<div class="nh">
	{% include 'shard/account_navleft_new.html.twig' %}
	{% include 'shard/account_navbar_new.html.twig' %}
	<!-- ===== Main Content Start ===== -->
	<main class="gv hm hv content-actualite-connected">
		<div class="sk bu 2xl:ud-p-11 width-content-t">
			{# <divclass="lc kg hg av vg au 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5">
				<!-- ====== Chart pub One Start -->
				<div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub">
					<div class="head-pub">
						<div class="pdp-content">
							<img src="/assets/image/img_avatar3.png" alt="">
						</div>
						<div class="name-content-h">
							<div class="name-content">
								<p class="form-pub">Partagez ce que vous pensez, Tommy...</p>
							</div>
						</div>
					</div>
					<hr>
					<div class="icon-piece-join">
						<i class="fa-solid fa-camera"></i>
						<i class="fa-solid fa-paperclip"></i>
					</div>

				</div>
				<!-- ====== Chart pub One End -->
			</div> #}

			<div class="account listTribu_t_mobile content_right_actualite" id="container-mobile">
				<div id="content-pub-js">
					{% if publications|length > 0 %}
						{% for item in publications %}
							{% include "tribu_t/card/card.twig" with { 'userOwnPub' : item.userOwnPub , 'publication' : item.publication , 'tribu' : item.tribu } %}
						{% endfor %}
					{% else %}
						<div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr mt-3" >
							<div class="head-pub content_header_pub">
								<div class="card">
									<h6  class="text-center alert alert-info"> Information </h6>
									<div class="card-body">
										<p class="mx-auto">
											Nous tenons à vous informer qu'actuellement, <br>
											Il n'y a pas encore de publication disponible sur notre plateforme.  <br>
											Si vous avez une histoire intéressante à raconter, des connaissances à partager ou des idées à proposer, 
											n'hésitez pas à créer votre propre publication dès maintenant. <br>
											Votre contribution peut inspirer et enrichir la communauté. <br>
											Cordialement, <br><br><br>
											CMZ <br>
										</p>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<!-- ====== Chart Two Start -->
			
			<div class="apropos-tribu-t yd vf 2xl:ud-max-w-180 rh ni bj wr nj xr al responsif-none back-tribu-t" id="apropos-tribu-t">
				{% include "shard/account_navleft_tribuT.html.twig" %}
			</div>
			<!-- ====== Chart Two End -->
		</div>
	</main>
	<!-- ===== Main Content End ===== -->

</div>
{% include "tribu_t/modal_publication.html.twig" %}

<!-- Modal Créer tribuT -->
<div class="modal fade ModalCreationTribuT" id="ModalCreationTribuT" tabindex="-1" aria-labelledby="creerTribuTModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="creerTribuTModal">
					Créer un nouveau tribu-T</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mini-couvertur-tribu-t">
					<img src="{{asset('assets/image/mini-couverture.jpg')}}" alt="">
				</div>

				{# <form action="{{path('create_file')}}" class="form-tribu-t" method="post"> #}
				{{ form_start(form, {'method': 'POST'}) }}
				<label for="" class="label" id="uploadImage">
					{{ form_row(form.upload, {'attr': {'class': 'input'}}) }}
					<span class="label-uplaod-tribu-t"></span>
				</label>
				{{ form_row(form.tribuTName, {'attr': {'class': 'nom-tribu-t', 'placeholder': "Entrer le nom de la tribu"}}) }}
				{{ form_row(form.extensionData, {'attr': {'class': 'extensionData'}}) }}
				{{ form_row(form.description, {'attr': {'class': 'description-tribu-t', 'placeholder': "Entrer votre déscription"}}) }}
				{{ form_row(form.adresse, {'attr': {'class': 'adress-tripu-t', 'placeholder': "Entrer votre adresse"}}) }}
				<p class="text-choisir">Choisir une extension</p>
				<div class="form-check form-switch mt-4">
					{{ form_row(form.extension, {'attr': {'class': 'form-check-input', 'role': "switch", 'onclick':"openModalForExtension(this)"}}) }}
				</div>
				<center class="mt-3">
					<button class="btn-creer" type="submit">Créer</button>
				</center>
				{{ form_end(form)}}

				{# </form> #}
			</div>


		</div>
	</div>
</div>
{% include 'shard/modal/alert_flash.html.twig' %}
<!-- End Modal -->

<!-- Modal For Extension -->
<div class="modal fade" id="modalForExtension" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Pastiller un restaurant</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  	<span id="successPastille" style="display:none;color:green;margin-bottom: 20px;"></span>
        <div class="input-group mb-3">
			<input type="text" class="form-control  rounded" placeholder="Saisir le nom du restaurant" id="resto-rech">
			<button class="btn btn-light" type="button" id="button-addon2" onclick="listResto()"><i class="fas fa-search"></i></button>
		</div>
      </div>
      <div class="modal-footer">
        <div id="result_resto_chr" class="result_resto_chr owl-carousel owl-theme"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

{% endblock %}
