{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Mes Tribus T
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/actualite.css')}}">
	{# <link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}"> #}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
	<style>
		.content_right_actualite {
			top: -50px;
		}
		.content_news_letter{
			width: 95% !important;
		}
	</style>
	<link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/Tribu_T/publication.css')}}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/agenda/agenda.js') }}" defer></script>
	{# <script src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script> #}
	<script src="{{asset('assets/js/tribuT/myTribuT.js')}}" defer></script>
	<script src="{{asset('assets/js/tribuT/news_letter_tribuT.js')}}" defer></script>
	{# <script src="{{asset('assets/js/golf/avis_golf_depart.js')}}" defer></script> #}
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>
	{# <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> #}
	<script  src="{{ asset('assets/js/account/publication_event.js') }}" defer></script>

	<script type="text/javascript" src="{{ asset('assets/js/module/avis_rubrique.js') }}" defer></script>
	<script src="{{asset('assets/js/account/RecorderAudioTribuT.js')}}" defer></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{% endblock %}

{% block body %}

	<div class="nh">
		{% include 'shard/account_navleft_new.html.twig' %}
		{% include 'shard/account_navbar_new.html.twig' %}
		<div class="fixed-top">
			<button  class="responsif-none-pc vu jc g  pa nj xr ni bj wr _k uo qh btn-navright-tribut btn-navright-tribut-tomm-js">
				<span class="jc h cg bf sd span-btn-menu-tribut menu-tribut-tomm-js">
					<span class="du-block g m yd vc span-menu-tribut-tomm-js">
						<span class="">
							{# Menu tribu T #}
							<i class="fa-solid fa-t"></i>
						</span>
					</span>
					<i class="fa-solid fa-xmark btn-ferme-tribut fermet-tribu-t-tomm-js responsif-none"></i>
				</span>
			</button>
		</div>

		<!-- ===== Main Content Start ===== -->
		<main class="gv hm hv content-actualite-connected content_body_details_jheo_js" data-toggle-user-id="{{app.user ? app.user.id : 0}}">
			<div class="sk 2xl:ud-p-11 width-content-t">

				<div class="account listTribu_t_mobile content_right_actualite" id="container-mobile">
					<div id="content-pub-js">
{% if publications is defined%}
						<h3 class="text-primary">Actualités de tous vos Tribus T</h3>
						{% if publications|length > 0 %}
							{% for item in publications %}
								{# {% include "tribu_t/card/card.twig" with { 'userOwnPub' : item.userOwnPub , 'publication' : item.publication , 'tribu' : item.tribu } %} #}
								{% include "tribu_t/card/card_actualite.twig" with { 'userOwnPub' : item.userOwnPub , 'publication' : item.publication , 'tribu' : item.tribu } %}
							{% endfor %}
						{% else %}
							<div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr mt-3">
								<div class="head-pub content_header_pub">
									<div class="card">
										<h6 class="text-center alert alert-info">
											Information
										</h6>
										<div class="card-body">
											<p class="mx-auto">
												Nous tenons à vous informer qu'actuellement,
												<br>
												Il n'y a pas encore de publication disponible dans votre tribu T.
												<br>
												Si vous avez une histoire intéressante à raconter, des connaissances à partager ou des idées à proposer, 
																							n'hésitez pas à créer votre propre publication dès maintenant.
												<br>
												Votre contribution peut inspirer et enrichir la communauté.
												<br>
												Cordialement,
												<br><br><br>
												CMZ
												<br>
											</p>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
{% else %}
							<div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
								<div class="containt tribuT">
									<div class="word word-1">C</div>
									<div class="word word-2">M</div>
									<div class="word word-3">Z</div>
								</div>
								{# <div id="map" class="map"></div> #}
                        	</div>
						{% endif %}
						
					</div>
				</div>

				<!-- ====== Chart Two Start -->

				<div class="apropos-tribu-t yd vf 2xl:ud-max-w-180 rh ni bj wr nj xr al  back-tribu-t apropos-tribu-t-tomm-js responsif-none"  id="apropos-tribu-t">
					
					{% include "shard/account_navleft_tribuT.html.twig" %}
				</div>
				<!-- ====== Chart Two End -->
			</div>
		</main>
		<!-- ===== Main Content End ===== -->

	</div>
	{% include "tribu_t/modal_publication.html.twig" %}
	{% include 'tribu_t/modal_add_picture.twig' %}
	{% include 'shard/modal/media_modal_tribu.html.twig' %}

	<!-- Modal Créer tribuT -->
	<div class="modal fade ModalCreationTribuT" id="ModalCreationTribuT" tabindex="-1" aria-labelledby="creerTribuTModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-black" id="creerTribuTModal">
						Créer un nouveau tribu-T</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mini-couvertur-tribu-t">
						<img src="{{asset('assets/image/mini-couverture.jpg')}}" alt="">
					</div>


					{{ form_start(form, {'method': 'POST'}) }}

					<label for="" class="label" id="uploadImage">
						{{ form_row(form.upload, {'attr': {'class': 'input','accept' : 'image/*'}}) }}
						<span class="label-uplaod-tribu-t"></span>
					</label>

					<div class="" style="margin-top: -70px;">
						{{ form_label(form.tribuTName , "Nom de la tribu", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
						{{ form_widget(form.tribuTName, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr elie-border-black','placeholder': "Entrer ici le nom de la tribu"}}) }}

						{{ form_label(form.description , "Description de la tribu", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
						{{ form_widget(form.description, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr elie-border-black', 'placeholder': "Entrer ici la description de la tribu"}}) }}

						<p class="text-choisir">Choisir une extension</p>

						<div class="form-check form-switch mt-6">
							{{ form_row(form.extension, {'attr': {'class': 'form-check-input mt-5', 'role': "switch"}})}}
						</div>
						<div class="form-check form-switch mt-50px">
							{{ form_row(form.extension_golf, {'attr': {'class': 'form-check-input mt-5', 'role': "switch"}})}}
						</div>

					</div>

					<center class="mt-3">
						<button class="btn-creer" type="submit">Créer</button>
					</center>

					{{form_end(form)}}

				</div>


			</div>
		</div>
	</div>


	<!-- Modal Update Info tribuT -->
	<div class="modal fade ModalUpdateTribuT" id="ModalUpdateTribuT" tabindex="-1" aria-labelledby="updateTribuTModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-black" id="updateTribuTModal">
						Modifier les informations de la tribu T</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mini-couvertur-tribu-t">
						<img src="{{asset('assets/image/mini-couverture.jpg')}}" style="width: 468px;height: 160px;" alt="">
					</div>
					<div class="containerUpdateInfoT">
						<label for="" class="label" id="uploadImageForUpdate">
							<div class="mb-3">
								<input type="file" id="form_upload_update" name="form_upload_update" class="input form-control" accept="image/*">
							</div>
							<span class="label-uplaod-tribu-t"></span>
							<img class="img-update-tribu-t">
						</label>
						<div class="containerInfoTribuT">
							<label class="jc un zn gs fb form-label required mt-3" for="updateTribuTName">Modifier le nom de la tribu</label>
							<input type="text" id="updateTribuTName" name="update_name" required="required" class="yd nj qh ni bj jr fr ps zn gs il cm zr wr elie-border-black form-control" placeholder="Modifier le nom de la tribu">

							<label class="jc un zn gs fb form-label mt-3" for="update_description">Modifier la description de la tribu</label>
							<input type="text" id="update_description" name="update_description" class="yd nj qh ni bj jr fr ps zn gs il cm zr wr elie-border-black form-control" placeholder="Modifier la description de la tribu">

							<div class="form-check form-switch">
								<div class="mb-3">
									<div class="mt-3 text-black" style="margin-left: -10%;">Modifier l'extension</div>
									<div class="form-check">
										<input type="checkbox" id="update_form_restaurant" name="update_form_restaurant" class="form-check-input form-check-input" role="switch">
										<label for="form_extension">Restaurant</label>
									</div>
									<div class="form-check">
										<input type="checkbox" id="update_form_golf" name="update_form_golf" class="form-check-input form-check-input" role="switch">
										<label for="form_extension">Golf</label>
									</div>
								</div>
							</div>

						</div>

						<center class="mt-3">
							<button data-tbttbl="" class="btn btn-primary btn-update" id="updateTribuInfo" type="button" onclick="updateTribuTInfos(event)">Modifier</button>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'shard/modal/alert_flash.html.twig' %}
	{# {% include 'shard/restaurant/modal_avis_resto.html.twig' %} #}
	{% include 'shard/modal/new_agenda_from_tribu_t.html.twig' %}
	<!-- End Modal -->

	<!-- Modal For Extension -->

		<div class="modal fade" id="modalForExtension" tabindex="-1" aria-labelledby="extModalLabel" aria-hidden="true"> <div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content w-100 bg-white" style="max-width:100% !important; margin-left:0 !important;">
				<div class="modal-header">
					<h1 class="modal-title fs-5 text-primary" id="extModalLabel">Resultat de recherche restaurant</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="elie-restou"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalDetailResto" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content w-100 bg-white" style="max-width:100% !important; margin-left:0 !important;">
				<div class="modal-header" id="restoModalLabel"></div>
				<div class="modal-body">
					<div id="elie-resto-detail"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" id="detailOptionResto">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Plus d'options</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container text-center">
						<i class="fas fa-question-circle fs-1 text-info"></i><br>
						{# <p class="questionAction">Quelle action voulez-vous pour ce restaurant?</p>
						<div class="container mb-4 mt-5 content_btns_nanta_js">
							<button type="button" id="data-note-elie-js" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant"><i class="fas fa-edit"></i> Notez</button>
							<button type="button" id="data-event-elie-js" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAgendaFromTribuT"><i class="fas fa-calendar"></i> Créer un évènement</button>
							<button type="button" id="data-depastille-nanta-js" class="btn btn-warning" onclick="pastilleRestoForTribuTDashboard(this,false)">Dépastiller</button> #}
						<p class="questionAction">Quelle action souhaitez-vous entreprendre pour ce restaurant ?</p>
						<div class="container mb-4 mt-5 content_btns_nanta_js">
							<button type="button" data-toggle-type="resto" id="data-note-elie-js" class="btn btn-primary mt-1" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvis" ><i class="fas fa-edit"></i> Notez</button>
							{# <button type="button" id="data-note-elie-js" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant"><i class="fas fa-edit"></i> Notez</button> #}
							<button type="button" id="data-event-elie-js" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#createAgendaFromTribuT"><i class="fas fa-calendar"></i> Créer un évènement</button>
							<button type="button" id="data-depastille-nanta-js" class="btn btn-warning mt-1" onclick="pastilleRestoForTribuTDashboard(this,false)">Dépastiller</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" id="detailOptionGolf">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Plus d'options</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container text-center">
						<i class="fas fa-question-circle fs-1 text-info"></i><br>
						<p class="questionAction">Quelle action souhaitez-vous entreprendre pour ce golf ?</p>
						<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
							{# <button type="button" id="data-note-nanta-js" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant"><i class="fas fa-edit"></i> Notez</button> #}
							<button type="button" id="data-note-nanta-js" data-toggle-type="golf" class="btn btn-primary mt-1" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvis"></i> Notez</button>
							<button type="button" id="data-event-nanta-js" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#createAgendaFromTribuT"></i> Créer un évènement</button>
							<button type="button" id="data-depastilleGolf-nanta-js" class="btn btn-warning" onclick="depastilleGolf(this)">Dépastiller</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{# modale createAlbumTribuT #}
	<div class="modal" tabindex="-1" id="createAlbumTribuT">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Création de votre album</h5>
					<button type="button" class="btn-close btn-close-creer-album-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container text-center">
						<i class="fas fa-question-circle fs-1 text-info"></i><br>
						<input type="text" class="input-album value-name-album-tomm-js" placeholder="Nom de votre album">
						<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
						 	{# data-bs-toggle="modal" data-bs-target="#selectAddAlbum" #}
							<button type="button" id="creation-album" class="btn btn-primary mt-1 creation-album-tribu-t-tomm-js" onclick="createAlbumTribuT()"></i> Créer une album</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{# modale selectAddAlbum #}
	<div class="modal" tabindex="-1" id="selectAddAlbum">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Séléctionner les photos</h5>
					<button type="button" class="btn-close btn-close-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container text-center">
						<div class="gallery-container">
							<div>
								<span class="h2">Vos photo</span>
							</div>
							<div id="gallery">
								<div class="row all-galeri-to-album-tomm-js"></div>
							</div>
						</div>
						<div class="container mb-4 mt-5 content_btns_nanta_js add_attribut_tomm_js">
							<button type="button" id="copye-album" class="btn btn-secondary t-1 copye-album-tribu-t-tomm-js" ></i> Ajout dans l'album</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div> 


	<div class="modal fade" id="detailEtabModal" aria-hidden="true" aria-labelledby="detailEtabModal_label" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
			<div class="modal-header">
				{# <h5 class="modal-title">Détail</h5> #}
				<div class="content_etab_detail">
				</div>
				<button type="button" class="btn-close" data-bs-target="#modalForExtension0" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-bs-target="#modalForExtension0" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
			</div>
			</div>
		</div>
	</div>

	<!-- End Modal -->
	{# <div class="main-search-resto">
		<div style="" class="elie-div-resto-search border border-dark">
			<div class="d-flex justify-content-between">
				<h6 class="text-primary m-2">Resultat de recherche restaurant</h6>
				<button class="border border-secondary pe-2 ps-2 me-2 rounded-1" onclick="closeModal()"><i class="fas fa-close text-danger fa-2x"></i></button>
			</div>
			<div id="elie-restou"></div>
		</div>
	</div> #}

	{% include 'shard/modal/commentaire.html.twig' %}
	<div class="textEditorElie d-none" id="editorInvitationElie">
		{# {% import 'tribu_t/textEditorInvitation.twig' as ck %} #}
		{% import 'shard/input/textEditor.twig' as editor %}
		{{ editor.textEditor(3)}}
	</div>

<div class="modal fade" id="listUserModalLetter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Selectionner</h5>
					<button type="button" class="btn-close btn-close-letter-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<div class="multiselect list-user-letter-tomm-js">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary selection-email-tomm-js">Selectionner</button>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="infoCsvModalLetter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Comment ça marche ?</h5>
					<button type="button" class="btn-close btn-close-letter-tomm-js" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<div class="card-body">
						<h6 class="card-title" style="margin-bottom:10px">Glissez un fichier CSV avec séparateur
							<span style="font-size:20px" class="badge bg-light text-danger fw-bold">;
							</span>
							et encodé en
							<span style="font-size:20px" class="badge bg-light text-danger fw-bold">UTF-8</span>
						</h6>
						<p class="card-text">Le fichier doit avoir les colonnes suivantes  :</p>
						<p class="card-text">
							<small class="text-muted">
								<span class="badge bg-light text-dark">Nom</span>
								<span class="badge bg-light text-dark">Prénom</span>
								<span class="badge bg-light text-dark">Email</span>
							</small>
						</p>
						<div class="mt-3">
							<small class="text-muted" style="max-width: inherit;font: size 0.9em;">
								<p>
									<span class="lead text-black">
										Comment obtenir un fichier CSV encodé en
										<span class="badge bg-light text-danger fw-bold">UTF-8</span>
										avec séparateur
										<span class="badge bg-light text-danger fw-bold">
											;
										</span>
										?
									</span>
								</p>
								<div class="mt-3 text-danger">
									Sous Excel, faites un enregistrement sous, et puis choisissez le type : CSV UTF-8 (délimité par des virgules) (*.csv)
								</div>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	{% include 'shard/modal/list_avis.html.twig' %}
    {% include 'shard/modal/modal_avis.html.twig' %}
    {% include 'shard/modal/addLinkInvitation.html.twig' %}
	{% include 'shard/modal/modal_show_gallery.twig' %}
	{% include 'shard/modal/liste_reacteur.html.twig' %}
	{% include 'shard/modal/modal_detail_publication.twig' %}

{% endblock %}
