{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Connexion
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/account/auth.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/auth.js') }}" defer></script>
	<script src="{{ asset('assets/js/auth/auth.js') }}" defer></script>

{% endblock %}


{% block body %}

	<div class="content_nav_top responsif-none">
		{% include "shard/navbar.twig" %}
	</div>

	<div class="content_nav_top responsif-none-mobile">
		{% include "shard/navbar_mobile.twig" %}
	</div>

	{# <div class="content_left_menu fixed-top">
		<div class="left_menu">
			{% include "shard/navleft.html.twig" %}
		</div>
	</div> #}



	<main>
		<div class="content_global ">
			<div class="right_content" id="right_content_conn">
			
				{% if flash %}
					<div class="custom-flash-inscription bg-danger">
						<div class="row ">
							<div class="col">
								<h4 class="text-light">
									{{flash.titre}}
								</h4>
								<p class="text-light">
									{{ flash.content }}
								</p>
							</div>
							<div class="col-md-3">
								<i class="fa-solid fa-triangle-exclamation text-light fa-danjer"></i>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="row" style="height: 100%">
					<section id="form" class="form" >

						<div id="toggle-forms">
							<button class="waves-effect waves-light active" id="login">Connexion</button>
							<button class="waves-effect waves-light" id="register">Inscription</button>
						</div>
						<form class="col mt-3" method="post">
							<div class="row text-center text-white">
								{% if app.request.get('message') %}
									
										{% if app.request.get('isSuccess') == 1 %}
											<div id="succesMessage" class="alert alert-success">
												<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
												{{ app.request.get('message') }}</div>
										{% else %}
											<div id="succesMessage" class="alert alert-danger">
												<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
												{{ app.request.get('message') }} Connectez-vous!</div>
										{% endif %}

									{% else %}
										<h1 class="h3 mb-3 font-weight-normal">Connectez-vous! </h1>
									{% endif %}
							</div>
							<div class="row">
								<div class="input-field ">
									<label for="email"  class="text-light">Email</label>
									<input id="email" class="text-color-blanc" type="email"   {% if app.request.get('email') %} value="{{ app.request.get('email') }}" {% else %} value="{{ last_username }}" {% endif %} name="email" >
								</div>
							</div>
							<div class="row">
								<div class="input-field">
									<div class="mb-2">
										<label class="fw-bolder form-label text-light" for="password">Password</label>
										<div class="content_input_pass">
											<input type="password" name="password" id="password" class="text-color-blanc form-control toggle_password_js_jheo" required>
											<i  class="fas fa-eye-slash" id="togglePassword"></i>
										</div>
									</div>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>
							</div>
							<div class="row ms-1">
								<button class="btn waves-effect waves-light cta_connexion">
									Connexion
								</button>
							</div>
							<a href={{path("app_reset_password")}} class="forgot">Mots de passe oublié?</a>
							<ul class="animate">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</form>


						{# <form class="col s12 scroll-inscription" method="post"> #}
							{{form_start(form_inscription, {'attr': {'class': 'col s12 scroll-inscription'}})}}
								<div class="row center-align">
									<h4 class="text-white text-center">Inscrivez-vous !</h4>
								</div>
								<div class="row">
									<div class="input-field">
										{{ form_label(form_inscription.pseudo , "Pseudo", {'label_attr': {'class': 'form_label fw-bolder text-white'}}) }}
										{{ form_widget(form_inscription.pseudo, {'attr': {'class': 'validate text-color-blanc '}}) }}
										{# {{ form_widget(form_inscription.pseudo, {'attr': {'class': 'validate text-color-blanc'}}) }} #}
									</div>
								</div>
								<div class="row">
									<div class="input-field">
										{{ form_label(form_inscription.email , "Email", {'label_attr': {'class': 'form_label fw-bolder text-white text-color-blanc'}}) }}
										{{ form_widget(form_inscription.email, {'attr': {'class': 'form-control text-color-blanc '}}) }}
									</div>
								</div>
								<div class="row">
									<div class="input-field">
										<div class="mb-2">
											{{ form_label(form_inscription.password , "Password", {'label_attr': {'class': 'form_label fw-bolder text-white'}}) }}
											<p class="font-avertismen text-white">un mot de passe fort doit avoir minimum 8 caractères, un caractère spécial, et un chiffre</p>
											<div class="content_input_pass">
												{{ form_widget(form_inscription.password, {'attr': {'class': 'form-control text-color-blanc toggle_password_inscription_js_jheo'}}) }}
												<i class="fas fa-eye-slash" id="togglePasswordInscription"></i>
											</div>
											<div class="password-niveau">
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<center>
													<span id="text-pasword-niveau"></span>
												</center>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="input-field">
										{{ form_label(form_inscription.confirmpassword , "Confirme Password", {'label_attr': {'class': 'form_label fw-bolder text-white'}}) }}
										{{ form_widget(form_inscription.confirmpassword, {'attr': {'class': 'form-control text-color-blanc'}}) }}
									</div>
								</div>
								<div class="row center-align">
									<button class="btn waves-effect waves-light inscription cta_inscription" type="submit">
										Inscription
									</button>
								</div>
								<ul class="animate">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							{{ form_end(form_inscription) }}
							
						{# </form> #}
					</section>
				</div> 
				{% if error %}
					<div class="custom-flash bg-danger">
						<div class="row">
							<div class="col">
								<h4 class="text-light">
									Erreur
								</h4>
								<p class="text-light">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</p>
							</div>
							<div class="col-md-3">
								<i class="fa-solid fa-triangle-exclamation text-light fa-danjer"></i>
							</div>
						</div>
						
						
					</div>
				{% endif %}
				{% if flash and flash.titre is same as("SUCCESS")  %}
					<div class="text-center">
						<p>Renvoyer le mail notification. <span class="resend_email resend_email_js"> Clickez-ici </span> </p>
					</div>
				{% endif %} 
			</div>
		</div>
	</main>

	<script>

function sdds(elem){
    //console.log("show")
    let right_content = document.querySelector("#right_content_conn")

    if(!elem.classList.contains("collapsed") && screen.width < 1000) {
    // do smth
        document.querySelector("#right_content_conn").style ="margin-right : 40px !important; z-index:1;";
        console.log("show")
    }else{
        document.querySelector("#right_content_conn").style ="margin-right : 0px !important";
		console.log("hide")
    }

    
}

 
</script>


{% endblock %}
