{% extends 'base.html.twig' %}

{% block title %}
    ConsoMyZone: Inscription
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/account/auth.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/auth/auth.js') }}" defer></script>

{% endblock %}

{% block body %}


    <div class="content_nav_top">
        {% include "shard/navbar.twig" %}
    </div>

    {# <div class="content_left_menu fixed-top">
            <div class="left_menu">
                {% include "shard/navleft.twig" %}
            </div>
    </div> #}
    <main>
        <div class="content_global">
            <div class="right_content">

                {% if flash %}
                    <div class="custom-flash-inscription bg-danger">
                        <div class="row ">
                            <div class="col">
                                <h4 class="text-light">
                                    {{flash.titre}}
                                </h4>
                                <p class="text-light">
                                    {{ flash.content }}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-triangle-exclamation text-light fa-danjer"></i>
                            </div>
                        </div>


                    </div>
                {% endif %}


                <div class="row" style="height: 100%">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 m-auto p-3">
                        <div class="content_form">
                            <div class="user_icon_signing">
                                <img src="{{asset("assets/image/icon_user.png")}}" alt="User Icon">
                            </div>
                            {{form_start(form_inscription)}}
                                <h1 class="h3 mb-3 font-weight-normal ps-4">Inscrivez-vous!</h1>
                                <div class="row">
                                    <div class="col-lg-5 col-sm-10 mx-auto">
                                        <!-- Nom et prenom input -->
                                        <div class="mb-4">
                                            {{ form_label(form_inscription.pseudo , "Pseudo", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.pseudo, {'attr': {'class': 'form-control'}}) }}
                                        </div>

                                        <!-- email input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.email , "Email", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.email, {'attr': {'class': 'form-control'}}) }}
                                        </div> 
                                    </div>


                                    <div class="col-lg-5 col-sm-10 mx-auto possition-password">
                                        <!-- Password input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.password , "Password", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            <p class="font-avertismen">un mot de passe fort doit avoir minimun 8 caractère, une caractère speciaux, et un chiffre</p>
                                            <div class="content_input_pass">
                                                {{ form_widget(form_inscription.password, {'attr': {'class': 'form-control toggle_password_js_jheo'}}) }}
                                                <i  class="fas fa-eye-slash" id="togglePassword"></i>
                                            </div>
                                            <div class="password-niveau">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <center><span id="text-pasword-niveau"></span></center>
                                            </div>
                                        </div>

                                        <!-- comfirm password input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.confirmpassword , "Confirme Password", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.confirmpassword, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button class="fw-bolder btn_submit inscription" type="submit" >Inscription</button>
                                
                                {# <!-- Resend email confirmation -->
                                {% if flash and flash.titre is same as("SUCCESS")  %}
                                    <div class="text-center">
                                        <p>Renvoyer le mail notification. <span class="resend_email resend_email_js"> Clickez-ici </span> </p>
                                    </div>
                                {% endif %} #}

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>Vous êtes déjà inscrit? <a href="{{path('app_login')}}">Connectez-vous ici!</a></p>
                                </div>
                            {{ form_end(form_inscription) }}

                    </div>
                    
                </div>
                

            </div>
        </div>
    </main>

{% endblock %}
