{% extends 'base.html.twig' %}

{% block title %}
    ConsoMyZone: Inscription
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/account/auth.css') }}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/auth/auth.js') }}" defer></script>

{% endblock %}

{% block body %}


    <div class="content_nav_top responsif-none">
        {% include "shard/navbar.twig" %}
    </div>
<a class="navbar-brand navbar-brand-setting-inscript-mobile responsif-none-pc" href="/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewbox="0 0 400.000000 400.000000" preserveaspectratio="xMidYMid meet">

				<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
					<path fill="#1111FE" d="M585 2515 c-157 -35 -275 -126 -345 -265 -76 -153 -74 -365 7 -524
										35 -68 135 -166 203 -198 115 -54 296 -72 433 -43 136 29 260 124 318 245 41
										85 43 95 17 107 -13 6 -57 27 -99 46 l-77 36 -22 -62 c-59 -162 -242 -242
										-387 -169 -184 94 -220 416 -63 573 131 131 364 93 437 -72 l17 -39 88 0 88 0
										0 180 0 180 -85 0 -85 0 0 -35 c0 -19 -2 -35 -5 -35 -3 0 -29 13 -58 30 -100
										56 -251 74 -382 45z"></path>
					<path fill="#000000" d="M1320 2425 l0 -85 65 0 65 0 0 -340 0 -340 -65 0 -65 0 0 -85 0 -85
										215 0 215 0 0 85 0 85 -65 0 -65 0 0 341 c0 267 3 340 12 337 7 -3 77 -175
										155 -384 78 -208 150 -398 159 -422 l16 -43 56 3 56 3 156 419 c85 231 161
										421 168 424 9 3 12 -69 12 -337 l0 -341 -60 0 -60 0 0 -85 0 -85 255 0 255 0
										0 85 0 85 -65 0 -65 0 0 340 0 340 65 0 65 0 0 85 0 85 -261 -2 -262 -3 -109
										-289 c-59 -159 -110 -291 -112 -293 -1 -2 -52 129 -112 292 l-109 295 -257 0
										-258 0 0 -85z"></path>
					<path fill="#51C94B" d="M2940 2330 l0 -180 90 0 90 0 0 95 0 95 135 0 c74 0 135 -3 135 -6 0
									-3 -108 -157 -240 -342 l-240 -337 0 -82 0 -83 415 0 415 0 0 185 0 185 -85 0
									-85 0 0 -100 0 -100 -170 0 -169 0 249 350 250 351 0 74 0 75 -395 0 -395 0 0
									-180z"></path>
				</g>
			</svg>
		</a>

    {# <div class="content_left_menu fixed-top">
            <div class="left_menu">
                {% include "shard/navleft.twig" %}
            </div>
    </div> #}
    <main>
        <div class="content_global">
            <div class="right_content">

                {% if flash %}
                    <div class="custom-flash-inscription bg-danger">
                        <div class="row ">
                            <div class="col">
                                <h4 class="text-light">
                                    {{flash.titre}}
                                </h4>
                                <p class="text-light">
                                    {{ flash.content }}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-triangle-exclamation text-light fa-danjer"></i>
                            </div>
                        </div>


                    </div>
                {% endif %}


                <div class="row" style="height: 100%">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 m-auto p-3">
                        <div class="content_form">
                            <div class="user_icon_signing">
                                <img src="{{asset("assets/image/icon_user.png")}}" alt="User Icon">
                            </div>
                            {{form_start(form_inscription)}}
                                <h1 class="h3 mb-3 font-weight-normal ps-4 title-link-inscription">Inscrivez-vous!</h1>
                                <div class="row">
                                    <div class="col-lg-5 col-sm-10 mx-auto">
                                        <!-- Nom et prenom input -->
                                        <div class="mb-4">
                                            {{ form_label(form_inscription.pseudo , "Pseudo", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.pseudo, {'attr': {'class': 'form-control'}}) }}
                                        </div>

                                        <!-- email input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.email , "Email", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.email, {'attr': {'class': 'form-control'}}) }}
                                        </div> 
                                    </div>


                                    <div class="col-lg-5 col-sm-10 mx-auto possition-password">
                                        <!-- Password input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.password , "Password", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            <p class="font-avertismen">un mot de passe fort doit avoir minimun 8 caractère, une caractère speciaux, et un chiffre</p>
                                            <div class="content_input_pass">
                                                {{ form_widget(form_inscription.password, {'attr': {'class': 'form-control toggle_password_js_jheo'}}) }}
                                                <i  class="fas fa-eye-slash" id="togglePassword"></i>
                                            </div>
                                            <div class="password-niveau">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <center><span id="text-pasword-niveau"></span></center>
                                            </div>
                                        </div>

                                        <!-- comfirm password input -->
                                        <div class="mb-2">
                                            {{ form_label(form_inscription.confirmpassword , "Confirme Password", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                                            {{ form_widget(form_inscription.confirmpassword, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button class="fw-bolder btn_submit inscription" type="submit" >Inscription</button>
                                
                                {# <!-- Resend email confirmation -->
                                {% if flash and flash.titre is same as("SUCCESS")  %}
                                    <div class="text-center">
                                        <p>Renvoyer le mail notification. <span class="resend_email resend_email_js"> Clickez-ici </span> </p>
                                    </div>
                                {% endif %} #}

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>Vous êtes déjà inscrit? <a href="{{path('app_login')}}">Connectez-vous ici!</a></p>
                                </div>
                            {{ form_end(form_inscription) }}

                    </div>
                    
                </div>
                

            </div>
        </div>
    </main>

{% endblock %}
