{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Réinitialiser le mot de passe
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/account/auth.css') }}">
	<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/auth/auth.js') }}" defer></script>
{% endblock %}

{% block body %}

	<div class="content_nav_top responsif-none">
		{% include "shard/navbar.twig" %}
	</div>
	<a class="navbar-brand navbar-brand-setting-inscript-mobile responsif-none-pc" href="/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewbox="0 0 400.000000 400.000000" preserveaspectratio="xMidYMid meet">

				<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
					<path fill="#1111FE" d="M585 2515 c-157 -35 -275 -126 -345 -265 -76 -153 -74 -365 7 -524
										35 -68 135 -166 203 -198 115 -54 296 -72 433 -43 136 29 260 124 318 245 41
										85 43 95 17 107 -13 6 -57 27 -99 46 l-77 36 -22 -62 c-59 -162 -242 -242
										-387 -169 -184 94 -220 416 -63 573 131 131 364 93 437 -72 l17 -39 88 0 88 0
										0 180 0 180 -85 0 -85 0 0 -35 c0 -19 -2 -35 -5 -35 -3 0 -29 13 -58 30 -100
										56 -251 74 -382 45z"></path>
					<path fill="#000000" d="M1320 2425 l0 -85 65 0 65 0 0 -340 0 -340 -65 0 -65 0 0 -85 0 -85
										215 0 215 0 0 85 0 85 -65 0 -65 0 0 341 c0 267 3 340 12 337 7 -3 77 -175
										155 -384 78 -208 150 -398 159 -422 l16 -43 56 3 56 3 156 419 c85 231 161
										421 168 424 9 3 12 -69 12 -337 l0 -341 -60 0 -60 0 0 -85 0 -85 255 0 255 0
										0 85 0 85 -65 0 -65 0 0 340 0 340 65 0 65 0 0 85 0 85 -261 -2 -262 -3 -109
										-289 c-59 -159 -110 -291 -112 -293 -1 -2 -52 129 -112 292 l-109 295 -257 0
										-258 0 0 -85z"></path>
					<path fill="#51C94B" d="M2940 2330 l0 -180 90 0 90 0 0 95 0 95 135 0 c74 0 135 -3 135 -6 0
									-3 -108 -157 -240 -342 l-240 -337 0 -82 0 -83 415 0 415 0 0 185 0 185 -85 0
									-85 0 0 -100 0 -100 -170 0 -169 0 249 350 250 351 0 74 0 75 -395 0 -395 0 0
									-180z"></path>
				</g>
			</svg>
		</a>
	{# <div class="content_left_menu fixed-top">
		<div class="left_menu">
			{% include "shard/navleft.twig" %}
		</div>
	</div> #}
	<main>
		<div class="content_global">
			<div class="right_content">

			 	{% if flash %}
                    <div class="custom-flash-inscription bg-danger">
                        <div class="row ">
                            <div class="col">
                                <h4 class="text-light">
                                    {{flash.titre}}
                                </h4>
                                <p class="text-light">
                                    {{ flash.content }}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-triangle-exclamation text-light fa-danjer"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}

				<div class="row" style="height: 100%">
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 m-auto p-3">
						<div class="content_form text-black">
							<div class="user_icon">
								<img src="{{asset("assets/image/icon_user.png")}}" alt="User Icon">
							</div>

							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
								<symbol id="check-circle-fill" fill="currentColor" viewbox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
								</symbol>
								<symbol id="exclamation-triangle-fill" fill="currentColor" viewbox="0 0 16 16">
									<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
								</symbol>
							</svg>

							<form method="post">

								{% if app.request.get('message') %}
                                
									{% if app.request.get('isSuccess') == 1 %}
										<div id="succesMessage" class="alert alert-success">
											<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
											{{ app.request.get('message') }}</div>
									{% endif %}

								{% else %}
									<h2 class="h2 mb-3 font-weight-normal">Réinitialiser le mot de passe</h2>
								{% endif %}

								<!-- Email input -->
								<div class="mb-2">
									<label class="fw-bolder form-label" for="email">E-mail</label>
									<input type="email" name="email" id="email" class="form-control input_email_reset_pass_js_jheo">
								</div>

								<!-- Submit button -->
								<input class="fw-bolder cta_connexion btn_submit btn_send_reset_pass_js_jheo" type="submit" value="Réinitialiser mon mot de passe">
							
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</main>

{% endblock %}
