<div class="content_home responsif-none p-2">
		<div id="close-detail-tous-resto">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

				<g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
				  stroke="none">
					<path d="M620 685 l-395 -395 20 -20 20 -20 395 395 395 395 -20 20 -20 20
						-395 -395z"/>
					<path d="M490 975 c-167 -37 -309 -124 -411 -249 l-48 -59 21 -31 c30 -42 149
						-157 185 -178 20 -12 33 -14 43 -7 12 8 8 15 -20 37 -54 42 -140 124 -162 155
						l-20 28 79 78 c142 140 326 210 524 199 60 -4 91 -2 103 7 28 21 3 27 -118 31
						-73 3 -133 -1 -176 -11z"/>
					<path d="M993 879 c-9 -9 3 -22 45 -54 31 -23 81 -67 110 -99 l52 -58 -31 -39
						c-127 -161 -353 -259 -570 -247 -62 4 -91 2 -104 -8 -17 -13 -17 -14 1 -21 38
						-16 265 -8 334 11 161 43 302 144 411 292 13 16 -83 128 -158 184 -72 54 -74
						55 -90 39z"/>
					<path d="M565 831 c-71 -32 -105 -86 -105 -162 0 -37 1 -39 16 -25 9 9 20 32
						25 51 14 49 54 93 100 106 21 7 46 20 55 31 16 17 16 18 -17 18 -19 0 -52 -9
						-74 -19z"/>
					<path d="M796 678 c-7 -13 -16 -35 -20 -50 -10 -43 -54 -87 -99 -100 -72 -20
					-92 -48 -34 -48 89 1 167 75 175 166 5 59 0 66 -22 32z"/>
				</g>
			</svg>
		</div>
	{# <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mx-auto" style="height:100%"> #}
<div class="left_content_home">
	<div>
		<div
			class="description" id="details-coord" data-latitude="{{((details.poiY) ? details.poiY : '0' )|format_number({fraction_digit: 14}) }}" data-longitude="{{((details.poiX) ? details.poiX : '0') |format_number({fraction_digit: 15})}}" data-nom="{{details.denominationF}}" data-codeinsee="{{details.codinsee}}">


			{# note avis   #}
			<div>
				{# <div class="content_entete_detail">
					<a href="{{path('app_specific_dep_restaurant', {'nom_dep': nom_dep, 'id_dep': id_dep}) }}">
						<i class="fa-solid fa-arrow-left" title="list de département"></i>
					</a>
					<div class="content_bottom" id="hide_list">
						<i class="fa fa-eye-slash" aria-hidden="true"></i>
					</div>
				</div> #}

				{# /// nom et propriété #}
				<div class="titre col text-center">
					<h4>
						{{details.denominationF | raw}}
						<br>
						{{details.numvoie  | raw}}
						{{details.typevoie | raw}}
						{{details.nomvoie | raw}}
						{{details.codpost | raw}}
						{{details.villenorm | raw}}
						<span>
							<a id="see-tom-js" class="see-avis" data-bs-toggle="modal" data-bs-target="#staticBackdrop">avis</a>
						</span>

					</h4>
				</div>
			</div>


			{# note avis   #}
			<hr>
			<div class="content_note">
				<div class="start">
					<i class="fa-solid fa-star" data-rank="1"></i>
					<i class="fa-solid fa-star" data-rank="2"></i>
					<i class="fa-solid fa-star" data-rank="3"></i>
					<i class="fa-solid fa-star" data-rank="4"></i>

				</div>

				<div class="nombre_avis"></div>
			</div>

			<hr>
			{# ///activiter #}

			<div class="content_activite">
				<p class="activite">
					<span class="fw-bold">Type restaurant:</span>
					{% if details.restaurant %}
						<i class="fa-solid fa-utensils"></i>
						restaurant
					{% endif %}
					{% if details.brasserie %}
						<i class="fa-solid fa-beer-mug-empty"></i>
						Brasserie
					{% endif %}
					{% if details.creperie %}
						<i class="fa-solid fa-pancakes"></i>
						creperie
					{% endif %}
					{% if details.fastFood %}
						<i class="fa-solid fa-burger"></i>
						fastFood
					{% endif %}
					{% if details.pizzeria %}
						<i class="fa-solid fa-pizza-slice"></i>
						pizzeria
					{% endif %}
					{% if details.boulangerie %}
						<i class="fa-solid fa-pie"></i>
						boulangerie
					{% endif %}
					{% if details.bar %}
						<i class="fa-solid fa-martini-glass-empty"></i>
						bar
					{% endif %}
					{% if details.cuisineMonde %}
						<i class="fa-solid fa-hat-chef"></i>
						cuisine du monde
					{% endif %}
					{% if details.cafe %}
						<i class="fa-solid fa-coffee-pot"></i>
						café
					{% endif %}
					{% if details.salonThe %}
						<i class="fa-solid fa-mug-tea"></i>
						salon de thé
					{% endif %}
				</p>
			</div>

			{# ///content cta #}
			<div class="content_tow_cta">
				{% if details.site1 != "" %}
					<div class="site_web non_active">
						<a class="btn btn-success" href="{{details.site1 | raw}}" target="_blank">Lien :  site Web</a>
					</div>
				{% endif %}
			</div>

			<hr>

			<div
				class="fonctionnalite">
				{#ancien class produit#}
				<h5>
					Fonctionalités:
				</h5>
				<ul>
					{% if details.fonctionalite1 %}
						<li>{{details.fonctionalite1 | raw}}</li>
					{% endif %}

				</ul>


			</div>

			<hr>

			<div class="fourchette_de_prix">
				<h5>
					Fourchette de prix:
				</h5>
				<ul>
					{% if details.fourchettePrix1 %}
						<li>{{details.fourchettePrix1 | raw}}</li>
					{% endif %}

				</ul>
			</div>

			<hr>

			<div class="horaire">
				<h5>
					Horaires :
				</h5>
				<ul>
					{% if details.horaires1 %}
						<li>{{details.horaires1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="prestation">
				<h5>
					Prestation :
				</h5>
				<ul>
					{% if details.prestation1 %}
						<li>{{details.prestation1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="regime_speciaux">
				<h5>
					Régime spécial :
				</h5>
				<ul>
					{% if details.regimeSpeciaux1 %}
						<li>{{details.regimeSpeciaux1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="repas">
				<h5>
					Repas :
				</h5>
				<ul>
					{% if details.repas1 %}
						<li>{{details.repas1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="tel">
				<h5>
					Téléphone :
				</h5>
				<ul>
					{% if details.tel %}
						<li>{{details.tel | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<hr>

			{% if (app.user) %}
				<div class="content_one_cta text-center">
					<button class="btn btn-success" id="givs-avis-resto-tom-js" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donné votre avis</button>
				</div>
			{% endif %}

		</div>
	</div>
</div>
