{% extends 'base.html.twig' %}

{% block title %}Resto ConsoMyZone
{% endblock %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{asset('asset/css/ferme/app.css')}}"> #}
{% endblock %}


{% block javascripts %}
	{# // <script src="{{asset('assets/js/ferme/data_ferme.js')}}" defer></script>
	// <script src="{{asset('assets/js/ferme/details.js')}}" defer></script>
	// <script src="{{asset('assets/js/ferme/ferme.js')}}" defer></script> #}
{% endblock %}

{% block body %}

<div class="content-detaile-resto">

	<div class="logo-consomyzone">
		<img src="{{asset('assets/image/logo.png') | raw}}" alt="logo">
	</div>
	<div class="ferme-mobile-detail">
		<svg class="close-ferme" id="close-resto-detail" onclick="closeRestoDetail('{{nom_dep}}','{{id_dep}}','{{codinsee}}')" version="1.0" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

			<g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" stroke="none">
				<path d="M634 986 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M857 994 c-4 -4 -7 -22 -7 -40 0 -37 21 -49 76 -42 27 3 29 6 29 43
										                    l0 40 -45 3 c-25 2 -49 0 -53 -4z"/>
				<path d="M534 886 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M754 886 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M414 776 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M634 776 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M304 676 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M532 682 c-8 -6 -12 -23 -10 -43 3 -34 3 -34 53 -34 l50 0 0 40 c0
										                    40 0 40 -40 43 -22 1 -46 -2 -53 -6z"/>
				<path d="M414 556 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M642 562 c-8 -6 -12 -23 -10 -43 3 -34 3 -34 53 -34 l50 0 0 40 c0
										                    40 0 40 -40 43 -22 1 -46 -2 -53 -6z"/>
				<path d="M524 466 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M752 471 c-8 -5 -12 -22 -10 -42 3 -34 3 -34 53 -34 50 0 50 0 53 34
										                    4 39 -9 51 -53 51 -16 0 -36 -4 -43 -9z"/>
				<path d="M644 356 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M872 361 c-8 -5 -12 -22 -10 -42 3 -34 3 -34 53 -34 50 0 50 0 53 34
								                4 39 -9 51 -53 51 -16 0 -36 -4 -43 -9z"/>
			</g>
		</svg>
	</div>
	{# <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mx-auto" style="height:100%"> #}
	<div class="left_content_home">
		<div class="">
			<div class="description" id="details-coord" data-latitude="{{((details.poiY) ? details.poiY : '0' )|format_number({fraction_digit: 14}) }}" data-longitude="{{((details.poiX) ? details.poiX : '0') |format_number({fraction_digit: 15})}}" data-nom="{{details.denominationF}}" data-codeinsee="{{details.codinsee}}">


				{# note avis   #}
				<div>
					{# <div class="content_entete_detail">
						<a href="{{path('app_specific_dep_restaurant', {'nom_dep': nom_dep, 'id_dep': id_dep}) }}">
							<i class="fa-solid fa-arrow-left" title="list de département"></i>
						</a>
						<div class="content_bottom" id="hide_list">
							<i class="fa fa-eye-slash" aria-hidden="true"></i>
						</div>
					</div> #}

					{# /// nom et propriété #}
					<div class="titre col text-center">
						<h4>
							{{details.denominationF | raw}}
						<br>
						{{details.numvoie  | raw}} {{details.typevoie | raw}} {{details.nomvoie | raw}} {{details.codpost | raw}} {{details.villenorm | raw}}
						<span><a id="see-tom-js" class="see-avis" data-bs-toggle="modal" data-bs-target="#staticBackdrop">avis</a></span>

					</h4>
				</div>
			</div>


			{# note avis   #}
			<hr>
			<div class="content_note">
				<div class="start">
					<i class="fa-solid fa-star" data-rank="1"></i>
					<i class="fa-solid fa-star" data-rank="2"></i>
					<i class="fa-solid fa-star" data-rank="3"></i>
					<i class="fa-solid fa-star" data-rank="4"></i>

				</div>

				<div class="nombre_avis">
				</div>
			</div>

			<hr>
			{# ///activiter #}

			<div class="content_activite">
				<p class="activite">
					<span class="fw-bold">Type restaurant:</span>
					{% if details.restaurant %}
						<i class="fa-solid fa-utensils"></i>
						restaurant
					{% endif %}
					{% if details.brasserie %}
						<i class="fa-solid fa-beer-mug-empty"></i>
						Brasserie
					{% endif %}
					{% if details.creperie %}
						<i class="fa-solid fa-pancakes"></i>
						creperie
					{% endif %}
					{% if details.fastFood %}
						<i class="fa-solid fa-burger"></i>
						fastFood
					{% endif %}
					{% if details.pizzeria %}
						<i class="fa-solid fa-pizza-slice"></i>
						pizzeria
					{% endif %}
					{% if details.boulangerie %}
						<i class="fa-solid fa-pie"></i>
						boulangerie
					{% endif %}
					{% if details.bar %}
						<i class="fa-solid fa-martini-glass-empty"></i>
						bar
					{% endif %}
					{% if details.cuisineMonde %}
						<i class="fa-solid fa-hat-chef"></i>
						cuisine du monde
					{% endif %}
					{% if details.cafe %}
						<i class="fa-solid fa-coffee-pot"></i>
						café
					{% endif %}
					{% if details.salonThe %}
						<i class="fa-solid fa-mug-tea"></i>
						salon de thé
					{% endif %}
				</p>
			</div>

			{# ///content cta #}
			<div class="content_tow_cta">
				{% if details.site1 != "" %}
					<div class="site_web non_active">
						<button>
							<a href="{{details.site1 | raw}}" target="_blank">Lien :  site Web</a>
						</button>
					</div>
				{% endif %}
			</div>

			<hr>

			<div
				class="fonctionnalite">
				{#ancien class produit#}
				<h5>
					Fonctionalités:
				</h5>
				<ul>
					{% if details.fonctionalite1 %}
						<li>{{details.fonctionalite1 | raw}}</li>
					{% endif %}

				</ul>


			</div>

			<hr>

			<div class="fourchette_de_prix">
				<h5>
					Fourchette de prix:
				</h5>
				<ul>
					{% if details.fourchettePrix1 %}
						<li>{{details.fourchettePrix1 | raw}}</li>
					{% endif %}

				</ul>
			</div>

			<hr>

			<div class="horaire">
				<h5>
					Horaires :
				</h5>
				<ul>
					{% if details.horaires1 %}
						<li>{{details.horaires1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="prestation">
				<h5>
					Prestation :
				</h5>
				<ul>
					{% if details.prestation1 %}
						<li>{{details.prestation1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="regime_speciaux">
				<h5>
					Régime spécial :
				</h5>
				<ul>
					{% if details.regimeSpeciaux1 %}
						<li>{{details.regimeSpeciaux1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="repas">
				<h5>
					Repas :
				</h5>
				<ul>
					{% if details.repas1 %}
						<li>{{details.repas1 | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<div class="tel">
				<h5>
					Téléphone :
				</h5>
				<ul>
					{% if details.tel %}
						<li>{{details.tel | raw}}</li>
					{% endif %}
				</ul>
				<hr>

			</div>

			<hr>

			{% if (app.user) %}
				<div class="content_one_cta">
					<button id="givs-avis-resto-tom-js" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donné votre avis</button>
				</div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}
