<div class="navleft-mobile responsif-none-pc  result_container_resto_spec result_container_resto_spec_js content_navleft_jheo_js">
	<nav class="navbar navbar-light navbar-light-left fixed-top marge-top-mobile-logo">
		<div class="container-fluid">
                <div class="logo-consomyzone-specific">
                    <a class="logo" href="{{path('app_home') | raw}}">
						{# <img src="{{asset('assets/image/logo.png') | raw}}" alt="logo"> #}
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewbox="0 0 400.000000 400.000000" preserveaspectratio="xMidYMid meet">
							<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
								<path fill="#1111FE" d="M585 2515 c-157 -35 -275 -126 -345 -265 -76 -153 -74 -365 7 -524
									35 -68 135 -166 203 -198 115 -54 296 -72 433 -43 136 29 260 124 318 245 41
									85 43 95 17 107 -13 6 -57 27 -99 46 l-77 36 -22 -62 c-59 -162 -242 -242
									-387 -169 -184 94 -220 416 -63 573 131 131 364 93 437 -72 l17 -39 88 0 88 0
									0 180 0 180 -85 0 -85 0 0 -35 c0 -19 -2 -35 -5 -35 -3 0 -29 13 -58 30 -100
									56 -251 74 -382 45z"/>
								<path fill="#000000" d="M1320 2425 l0 -85 65 0 65 0 0 -340 0 -340 -65 0 -65 0 0 -85 0 -85
									215 0 215 0 0 85 0 85 -65 0 -65 0 0 341 c0 267 3 340 12 337 7 -3 77 -175
									155 -384 78 -208 150 -398 159 -422 l16 -43 56 3 56 3 156 419 c85 231 161
									421 168 424 9 3 12 -69 12 -337 l0 -341 -60 0 -60 0 0 -85 0 -85 255 0 255 0
									0 85 0 85 -65 0 -65 0 0 340 0 340 65 0 65 0 0 85 0 85 -261 -2 -262 -3 -109
									-289 c-59 -159 -110 -291 -112 -293 -1 -2 -52 129 -112 292 l-109 295 -257 0
									-258 0 0 -85z"/>
								<path fill="#51C94B" d="M2940 2330 l0 -180 90 0 90 0 0 95 0 95 135 0 c74 0 135 -3 135 -6 0
								-3 -108 -157 -240 -342 l-240 -337 0 -82 0 -83 415 0 415 0 0 185 0 185 -85 0
								-85 0 0 -100 0 -100 -170 0 -169 0 249 350 250 351 0 74 0 75 -395 0 -395 0 0
								-180z"/>
							</g>
						</svg>
					</a>
                </div>
                <div class="">
					<svg  class="close-ferme" id="close-resto-specific"  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
						<path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
					</svg>
                    
                </div>

			<hr>
		</div>

	</nav>
	<div class="container-fluid">
		<div class="head-left spec-dep">
			<div class="row text-point-9" >
				<div class="col-1">
					<svg version="1.0" style="display: inline;" xmlns="http://www.w3.org/2000/svg" height="5vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

						<g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#1111FE" stroke="none">
							<path d="M520 1047 c-20 -7 -36 -20 -38 -31 -3 -16 0 -18 25 -11 15 4 76 9
								                            136 12 79 4 107 8 107 18 0 7 -7 16 -16 19 -27 10 -177 5 -214 -7z"/>
							<path d="M372 948 c-8 -8 -12 -48 -12 -105 0 -92 0 -93 34 -131 l34 -38 -10
								                            -188 c-7 -133 -7 -196 1 -212 20 -44 102 -44 122 0 8 16 8 79 1 212 l-10 188
								                            34 38 c34 38 34 39 34 132 0 66 -4 97 -13 105 -23 18 -27 2 -27 -96 0 -92 0
								                            -93 -35 -131 l-34 -38 10 -188 c6 -103 8 -194 5 -202 -7 -18 -45 -18 -52 0 -3
								                            8 -1 99 5 202 l10 188 -34 38 c-35 38 -35 39 -35 132 0 95 -6 116 -28 94z"/>
							<path d="M437 954 c-4 -4 -7 -52 -7 -106 0 -89 2 -99 18 -96 15 3 17 16 17
								                            102 0 92 -8 120 -28 100z"/>
							<path d="M495 948 c-3 -8 -5 -55 -3 -104 3 -76 6 -89 21 -92 16 -3 17 5 15 99
								                                                                        -2 71 -7 104 -15 107 -7 2 -15 -3 -18 -10z"/>
							<path d="M765 951 c-75 -32 -106 -203 -49 -271 l27 -31 -7 -184 c-7 -177 -7
								                            -184 13 -204 27 -27 75 -27 102 0 20 20 20 27 13 204 l-7 184 27 31 c25 31 31
								                            59 26 135 -2 37 -31 106 -52 122 -20 17 -69 24 -93 14z m74 -52 c41 -45 44
								                            -160 4 -201 l-26 -27 4 -193 4 -193 -25 0 -25 0 4 193 4 193 -26 27 c-56 58
								                            -24 222 43 222 11 0 28 -10 39 -21z"/>
							<path d="M935 910 c-4 -6 8 -33 25 -60 87 -136 81 -321 -15 -442 -36 -44 -42
								                            -62 -26 -73 12 -7 55 38 87 91 78 131 72 327 -14 448 -29 43 -46 53 -57 36z"/>
							<path d="M276 858 c-45 -79 -59 -139 -54 -241 5 -101 26 -161 81 -234 31 -40
								                            67 -57 67 -30 0 6 -16 32 -35 55 -90 115 -103 292 -28 420 23 41 25 72 4 72
								                            -6 0 -21 -19 -35 -42z"/>
							<path d="M580 245 c-16 -19 -1 -25 61 -25 56 0 84 14 59 30 -20 12 -108 9-120 -5z"/>
						</g>
					</svg>
				</div>

				<div class="col-10 mb-3" style="margin-left:20px;">
					<p class="titre mb-3" data-toggle-deparement="{{nom_dep}}">
						Restaurants à
						<span class="fw-bolder">{{nom_dep | raw}}</span>
						{% if id_dep is same as('75') %}
						
							département
							<span class="fw-bolder">{{id_dep}}, arrondissement
								{{arrdssm }},</span>
							<br>
						{% else %}
							département
							<span class="fw-bolder">{{id_dep}},</span>
							<br>
						{% endif %}
						<span class="fw-bolder content_nombre_result_js_jheo">{{nomber_resto}}</span>
						résultats.
					</p>
				</div>

		
					<div class="pagination_alphabet pagination_alphabet_jheo_js"> <ul>
						<!--pages or li are comes from javascript -->

					</ul>
				</div>
			</div>
			<div class="container list-depart-all-specific" id="Scrollbar">
				<div class="list_result content_container_list" id="all_ferme_in_dep" data-toggle-id-dep="{{id_dep}}">
					<ul class="content_list_resto_spec_js_jheo">

						{% for rubrique in restaurants %}
							{% include "card/card_rubrique.html.twig" %}
						{% endfor %}
					</ul>

				</div>
			</div>

		</div>
	</div>
</div>

