<div class="specific-detail responsif-none-pc">
	<nav class="navbar navbar-light d-flex content-spec-resto ">
		<div class="container-fluid scroll-mobile">
			<ul class="navbar-nav mt-3 d-flex flex-row">
				{% for golf in golfs %}
					<li class="nav-item icon-tabac me-3">
						<a class="nav-link d-block">
							<div class="containt-specific">
								<div class="click-detail"  onclick="getDetailFromListLeft('{{golf.depName}}', '{{golf.dep}}', '{{golf.id}}')">
									<p class="text-point-12 fw-bold">{{golf.name | raw }} 
                                        
									</p>

									
                                    <div class="start">
                                        <i class="fa-solid fa-star" data-rank="1"></i>
                                        <i class="fa-solid fa-star" data-rank="2"></i>
                                        <i class="fa-solid fa-star" data-rank="3"></i>
                                        <i class="fa-solid fa-star" data-rank="4"></i>
                                    </div>
									<p class="text-point-9">
										<span class="fw-bold">Adresse : </span> <span class="small  ">{{golf.adresse | raw}}</span>
									</p>
									<p class="text-point-9">
										<span class="fw-bold">Tél : </span> <span class="small  ">{{golf.tel | raw}}</span>
									</p>
									<p class="text-point-9">
										<span class="fw-bold">Email : </span> <span class="small  ">{{golf.email | raw}}</span>
									</p>
                                    
								</div>
								{% if app.user %}
										<div class="content_btn_golf_did_jheo_js" id="containerActionGolf">
											{% if golf.user_status["a_faire"] == null and  golf.user_status["fait"] == null %}
												<label for="selectActionGolf" class="form-label">Vous voulez marquer que ce golf comme : </label>
												<select class="form-select select_action_golf_nanta_js" id="selectActionGolf" name="sellist_action" data-id="{{golf.id}}" onchange="executeActionForPastGolf({{golf.id}})">
													<option value="0">Aucun</option>
													<option value="1">A faire</option>
													<option value="2">Fait</option>
												</select>
												{# <button class="btn btn-primary btn-sm mt-3" type="button" onclick="executeActionForPastGolf({{golf.id}})">Terminer</button> #}
											{% else %}
												Voulez-vous annuler votre choix ? <span class="badge bg-danger btn_golf_did  btn_golf_did_jheo_js" onclick="cancelGolfFinished('{{golf.id}}')">Oui</span>
											{% endif %}
										</div>
									{% endif %}
								<div class="d-flex justify-content-center align-items-center flex-gap-2 content_btn_avis">
									
									<span>
										<a id="see-tom-js" class="text-black text-point-9 btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropFerme">
											<span class="nbr_avis_resto_jheo_js">
											</span>
											avis
										</a>
									</span>
										{% if app.user %}
											<button type="button" class="mx-2 text-point-9 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisFerme">Donner votre avis</button>
										{% else %}
											<button type="button" class="mx-2 text-point-9 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis.">Donner votre avis</button>
										{% endif %}
								</div>
							</div>
						</a>
					</li>
				{% endfor %}

			</ul>
		</div>
	</nav>
</div>



