<div class="description content_body_details_jheo_js" data-toggle-latitude="{{((details.latitude) ? details.latitude : '0' )|format_number({fraction_digit: 6})}}" data-toggle-longitude="{{((details.longitude) ? details.longitude : '0')|format_number({fraction_digit: 6})}}" data-toggle-nameferme="{{details.nomFerme}}">
    <div class="content_titre_details">
        {# /// nom et propriété #}
        <div class="titre col titre-ferme">
            <figure class="text-center mt-4">
                <blockquote class="blockquote">
                    <p class="rubriqueNameDetail" data-name="{{details.nomFerme | upper}}">   {{details.nomFerme | upper}}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <a href="#" class="small text-center ">Adresse : {{details.adresseFerme }} </a>
                </figcaption>
                <figcaption class="blockquote-footer">
                    <a href="#" class="small text-center ">Contact : {{details.nomProprietaire }} </a>
                </figcaption>
            </figure>

            <div class="d-flex justify-content-center align-items-stretch flex-gap-2 content_btn_avis mb-2">
                <button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary">
                    0 avis
                </button>
               
                {% if (app.user and app.user.type!='Type') %}
                    <button class="btn btn-primary" id="givs-avis-ferme-tom-js" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donné votre avis</button>
                {% else %}
                    <button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary btn_grise_non_actif_js_Elie" onclick="openSwalNonActif()">
                        Donner votre avis
                    </button>
                {% endif %}    
            </div>
        </div>
    </div>

    <div class="content_other_detail_rubrique mt-3 p-2">

        <hr>
        <div class="content_note text-center my-1">
            <div class="start">
                <i class="fa-solid fa-star" data-rank="1"></i>
                <i class="fa-solid fa-star" data-rank="2"></i>
                <i class="fa-solid fa-star" data-rank="3"></i>
                <i class="fa-solid fa-star" data-rank="4"></i>
            </div>
        </div>
        <hr>

        {# ///content cta #}
        <div class="content_tow_cta my-1">
            <div class="site_web">
                <a class="badge bg-success" href="{{'https://'}}{{details.lienSiteWeb | raw}}" target="_blank">Lien :  site Web</a>
            </div>
        </div>
        <hr>

        {# ///activiter #}
        {% if details.activite %}
            <div class="content_activite my-1">
                <p class="activite d-flex justify-content-between align-items-center">
                    <span class="fw-bold">Activite:</span>
                    <span>
                        <span class="badge bg-warning text-dark me-1">
                            {{details.activite | raw}}
                        </span>
                        {% if details.agricultureBio %}
                            <span class="badge bg-warning text-dark">
                                Agri biologie
                            </span>
                        {% endif %}
                    </span>
                </p>
            </div>
            <hr>
        {% endif %}

        {# genre  #}
        <div class="content_genre my-1">
            <p class="genre">
                <span class="fw-bold">Genre:</span>
                {{details.genre | raw}}
            </p>
        </div>

        <hr>
        <div class="produit my-1">
            <span class="fw-bold">Produit:</span>
            <ul>
                {% if details.produit1 %}
                    <li>{{details.produit1 | raw}}</li>
                {% endif %}
                {% if details.produit2 %}
                    <li>{{details.produit2 | raw}}</li>
                {% endif %}
                {% if details.produit3 %}
                    <li>{{details.produit3 | raw}}</li>
                {% endif %}
                {% if details.produit4 %}
                    <li>{{details.produit4 | raw}}</li>
                {% endif %}
                {% if details.produit5 %}
                    <li>{{details.produit5 | raw}}</li>
                {% endif %}
                {% if details.produit6 %}
                    <li>{{details.produit6 | raw}}</li>
                {% endif %}
                {% if details.produit7 %}
                    <li>{{details.produit7 | raw}}</li>
                {% endif %}
                {% if details.produit8 %}
                    <li>{{details.produit8 | raw}}</li>
                {% endif %}
            </ul>
        </div>
        <hr>

        {% if details.produitFerme %}
            <div class="content_genre my-1">
                <p class="genre">
                    <span class="fw-bold">Autre produit:</span>
                    {{details.produitFerme | raw}}
                </p>
            </div>
            <hr>
        {% endif %}

        <div class="content_tel my-1">
            <span class="fw-bold">Contact rapide:</span>
            <ul>
                {% if details.telephoneDomicile %}
                    <li>
                        <span>Tel domicile:</span>
                        {{details.telephoneDomicile | raw}}
                    </li>
                {% endif %}
                {% if details.telephoneMobile %}
                    <li>
                        <span>Tel mobile:</span>
                        {{details.telephoneMobile | raw}}
                    </li>
                {% endif %}
                {% if details.telephoneTravail %}
                    <li>
                        <span>Tel travail:</span>
                        {{details.telephoneTravail | raw}}
                    </li>
                {% endif %}
            </ul>
            <hr>
        </div>

        <div class="particularite">
            <span class="fw-bold">Particularité:</span>
            <ul>
                {% if details.carteBancaire %}
                    <li>Carte Bancaire possible.</li>
                {% endif %}
                {% if details.chequeVacance %}
                    <li>Accepter les chèques de Vacance.</li>
                {% endif %}
                {% if details.degustation %}
                    <li>Dégustation possible.</li>
                {% endif %}
                {% if details.animauxAutoriser %}
                    <li>Autorise de porte des animaux.</li>
                {% endif %}
                {% if details.venteEnLigne %}
                    <li>Vente en ligne possible.</li>
                {% endif %}
            </ul>
        </div>
        <hr>

        {% if details.horairesVenteAuMarche or details.horairesVenteMagasinProd or details.horairesVenteAFerme  %}
            <div class="mb-3">
                <span class="fw-bold">Horaires:</span>
                <ul class="horaires">
                    {% if details.horairesVenteAuMarche %}
                        <li>
                            <h5>Horaires vente au marché</h5>
                            <span>{{details.horairesVenteAuMarche | raw}}
                            </span>
                        </li>
                    {% endif %}
                    {% if details.horairesVenteMagasinProd %}
                        <li>
                            <h5>Horaires vente du magasin prod</h5>
                            <span>{{details.horairesVenteMagasinProd | raw}}
                            </span>
                        </li>
                    {% endif %}
                    {% if details.horairesVenteAFerme %}
                        <li>
                            <h5>Horaires vente à la ferme</h5>
                            <span>{{details.horairesVenteAFerme | raw}}
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if (app.user and app.user.type!='Type') %}
            <div class="content_one_cta mt-2">
                <button class="btn btn-primary" id="givs-avis-ferme-tom-js" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donné votre avis</button>
            </div>
        {% endif %}    

    </div>

</div>