<div class="d-flex flex-column align-items-stretch flex-shrink-0 position-sticky" id="page-top">
	<div class="content_list_menu mt-5">
		<div class="account-profils row mt-5">
		
			{# <img style="min-height: 100px; min-width:100px; max-width:100px; max-height: 100px;" class="rounded-circle border border-info" src="{{asset('assets/image/message1.jpg')}}" alt="{{ profil[0].getFirstname }}">
			<div class="col m-auto"> #}
			<div class="col-4 m-auto">
				{# <img id="profilPartisant" style="min-height: 80px; min-width:80px; max-width:100px; max-height: 100px;" class="rounded-circle border border-info" src="{% if profil[0].getPhotoProfil != null %} /uploads/profils/photos/{{profil[0].getPhotoProfil}} {% else %} /assets/image/cheerful-curly-business-girl-wearing-glasses.jpg {% endif %}" alt="{{ profil[0].getFirstname }}"> #}
				<img id="profilPartisant" style="min-height: 80px; min-width:80px; max-width:100px; max-height: 100px;" class="rounded-circle border border-info" src={{ (profil[0].getPhotoProfil != null) ?  profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ profil[0].getFirstname }}">
				
			</div>
			<div class="col-8 m-auto">
				<h4 id="firstNameProfil">{{ profil[0].getFirstname }}</h4>
				<h4 id="lastNameProfil">{{ profil[0].getLastname }}</h4>
			</div>
			<label style="margin-left:10%;" for="fileInputProfil">
				<i class="bi bi-camera-fill" style="font-size: 20px; margin-top:5px;cursor:pointer; background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
				{# <i style="margin-top:5px;cursor:pointer;background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/0vR9H8iux5G.png?_nc_eui2=AeEvcr8vVXq0wxEnW6d-U2x6Cr_QprbGjx4Kv9CmtsaPHugo3hZW-h0b0iFoxO3NohAeoro_KXocl2rFKLxrU5ui&quot;); background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i> #}
			</label>
			<input type="file" name="fileInputProfil" id="fileInputProfil" style="display:none;visibility:none;" accept="image/*">
		</div>
		<hr>
		<ul class="nav flex-column icon-nav-left">
			{# <li class="nav-item">
				<a href="{{ path("app_home") }}" class="nav-link link-dark">
					<i class="fa-solid fa-solid-nav fa-house-chimney fa-lg"></i>
					<span>Accueil</span>
				</a>
			</li> #}

			<li class="nav-item account_js">
				<a href="{{path("app_account")}}" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-newspaper fa-lg"></i>
					<span lng-tag="actualite">Actualité</span>
				</a>
			</li>

			<li class="nav-item invitation_js">
				<a href="{{ path("app_invitation") }}" class="nav-link link-dark not_autorised">
					{# <i class="bi bi-people-fill fa-lg"></i> #}
					<i class="fa-solid fa-user-group fa-solid-nav"> </i>
					<span lng-tag="invitations">&nbsp;Invitations</span>
				</a>
			</li>

			{% if app.user.roles[0] is same as( "ROLE_GODMODE" ) %}
				<li class="nav-item dashboard_super_js">
					<a href="#" class="nav-link link-dark collapsed" data-bs-toggle="collapse" data-bs-target="#super-admin-collapse" aria-expanded="false">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"></i>
						<span>Super Admin</span>
					</a>

					<div class="collapse" id="super-admin-collapse">
						<ul class="na-ul-right mr-5">
							<li>
								{# <a href="{{ path("mon_tribut") }}" class="na-text-right pr-5">Publications</a> #}
								<a href="{{path("app_dashboard")}}" class="na-text-right pr-5">Tribu G</a>
							</li>
							<li>
								<a href="{{path("app_administre_fournisseur")}}" class="na-text-right pr-5">Fournisseurs</a>
							</li>

						</ul>
					</div>
				</li>
				
			{% endif %}

			{% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}

				<li class="nav-item dashboard_js">
					<a href="{{path("app_dashboard_fondateur")}}" class="nav-link link-dark">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"></i>
						<span>Fondateur</span>
					</a>
				</li>
			{% elseif statusTribut.status is same as("moderateur") and statusTribut.verified is same as(true) %}
				<li class="nav-item">
					<a href="{{path("app_dashboard_fondateur")}}" class="nav-link link-dark">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"> </i>
						<span>Modérateur</span>
					</a>
				</li>
			{% endif %}

			{% if app.user.type is same as("supplier")  and app.user.isLabled %}
			 	<li class="nav-item">
					<a href="{{path("app_choose_etab")}}" class="nav-link link-dark">
						<i class="fa-solid fa-circle-plus fa-users fa-solid-nav  fa-lg"> </i>
						<span>Ajoutez votre etablissement</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_list_de_mes_etablissement')}}" class="nav-link link-dark" >
						<i class="fa-solid fa-list fa-solid-nav  fa-lg"> </i>
						<span>Liste de mes établissements</span>
					</a>
				</li>
			{% endif %}

			<li
				class="nav-item profil_js">
				{# <a href="" class="nav-link link-dark not_autorised"> #}
				<a href="{{ path("user_profil", {"user_id":app.user.id })}}" class="nav-link link-dark">
					<i class="fa-solid fa-solid-nav fa-user  fa-lg"></i>
					<span lng-tag="profil">Profil</span>
				</a>
			</li>

			<li
				class="nav-item profil_js">
				{# <a href="" class="nav-link link-dark not_autorised"> #}
				<a href="{{ path('app_agenda')}}" class="nav-link link-dark">
					<i class="bi bi-calendar2-event-fill "> </i>
					<span lng-tag="profil"> Mon agenda</span>
				</a>
			</li>

			<li
				class="nav-item tribu_js">
				{# <a href="{{path("setting_user_account")}}" class="nav-link link-dark"> #}
				<a href="{{path("app_my_tribu_t")}}" class="nav-link link-dark collapsed">
					{# <img src="{{asset('assets/image/icon-account.png')}}" alt="icon" width='25'> #}
					<i class="fa-solid fa-users-rays fw-bold" style="color:black;"></i>
					<span lng-tag="tribu_t">&nbsp;Tribu T</span>
				</a>

				{#  data-bs-toggle="collapse" data-bs-target="#tribut-collapse" aria-expanded="false"
				<div class="collapse" id="tribut-collapse">
					<ul class="na-ul-right mr-5">
						<li>
							<a href="{{ path("publication_list") }}" class="na-text-right pr-5" lng-tag="publications">Publications</a>
						</li>
						<li>
							<a href="{{ path("list_tribut_by_user") }}" class="na-text-right pr-5" lng-tag="mes_tribus">Mes tribus</a>
						</li>
						<li>
							<a href="{{ path("create_tribu") }}" class="na-text-right" lng-tag="creer_tribu">Créer une tribu</a>
						</li>
						<li>
							<a href="#" class="na-text-right" lng-tag="autres_tribus">Autres tribus</a>
						</li>
					</ul>
				</div> #}

			</li>

			<li
				class="nav-item setting_js">
				{# <a href="{{path("setting_user_account")}}" class="nav-link link-dark"> #}
				<a href="#" class="nav-link link-dark collapsed" data-bs-toggle="collapse" data-bs-target="#customize-collapse" aria-expanded="false">
					<img src="{{asset('assets/image/icon-account.png')}}" alt="icon" width='25'>
					<span lng-tag="parametres">Paramètre</span>
				</a>

				<div class="collapse" id="customize-collapse">
					<ul class="na-ul-right mr-5">
						<li>
							<a href="{{ path("account_setting") }}" class="na-text-right pr-5" lng-tag="compte">Compte</a>
						</li>
						<li>
							<a href="{{ path("security_setting") }}" class="na-text-right" lng-tag="securite">Sécurité</a>
						</li>
						<li>
							<a href="{{ path("confidential_setting") }}" class="na-text-right" lng-tag="confidentialite">Confidentialité</a>
							{#<a href="#" class="na-text-right">Confidentialité</a>#}
						</li>
					</ul>
				</div>

			</li>
            <li class="nav-item message_js">
				<a href="{{path('app_message')}}" class="nav-link link-dark not_autorised">
                    <i class="fa-solid fa-solid-nav fa-comments  fa-lg"></i>
					<span lng-tag="message">Message</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_traduction')}}" class="nav-link link-dark not_autorised">
					<img src="{{asset('assets/image/icon-language.png')}}" alt="icon" width='25'>
					<span lng-tag="langage">Langage</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-bell  fa-lg"></i>
					<span lng-tag="parametre_notification">Paramètre de notification</span>
				</a>
			</li>
			<li class="nav-item mb-5">
				<a href="#" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-users  fa-lg"></i>
					<span lng-tag="tribues_suivies">Les tribus suivies</span>
				</a>
			</li>

		</ul>
	</div>
</div>

<script>

let fileInputProfil = document.querySelector("#fileInputProfil");

fileInputProfil.addEventListener("change", (e) => {

    ///read file
    const fileReader = new FileReader();

    ////on load file
    fileReader.addEventListener("load", () => {

        let avatarPartisant = fileReader.result;

        //console.log(avatarPartisant);

        // Change profil
		let profilPartisant = document.querySelector("#profilPartisant");

        profilPartisant.src = avatarPartisant

        if(document.querySelector("#roundedImg") != null){
            document.querySelector("#roundedImg").src = avatarPartisant
        }

        let data = {
        image : avatarPartisant
        }

        fetch(new Request("/user/profil/update/avatar", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })).then(x => x.json()).then(response => console.log(response));

    });

    ///run event load in file reader.
    fileReader.readAsDataURL(e.target.files[0]);

})
/*
let firstNameProfil = document.querySelector("#firstNameProfil")
let lastNameProfil = document.querySelector("#lastNameProfil")
let profileImage = document.querySelector("#profileImage")
var intials = firstNameProfil.textContent.charAt(0) + lastNameProfil.textContent.charAt(0);
profileImage.textContent = intials;
*/

</script>