
<nav class="navbar navbar-mobile bg-white fixed-top">
  <div class="container-fluid">
	<a class="text-dark" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
		<i class="bi bi-list fa-2x" onclick="openMenu()" id="menu-mobile"></i>
	</a>
    <a class="navbar-brand" href="{{path('all_departement_touts')}}">
		<img src="{{asset('assets/image/logo.jpg')}}" alt="logo" width="200" class="logo">
	</a>
	<a class ="navbar-brand">
		<div class="content_message_nav_bar dropdown-toggle icon_message" aria-current="page" data-bs-toggle="dropdown">
			<div class="badge_message">
				<span class="nbr_message_jheo_js_mobile">0</span>
			</div>
			
			<a class="nav-link">
				<img class="nav-icon" src="{{asset('assets/image/icon-chat.png')}}" alt="">
			</a>
		</div>

		<div class="dropdown-menu message_popup">
			<h4 class="mx-3 fw-bolder">Message</h4>
			<hr>
			<div class="mx-3 card_message content_card_message_jheo_js_mobile">
			</div>
		</div>
	</a>

	<a class ="navbar-brand">
		<div class="content_notification dropdown-toggle icon_notification" aria-current="page" data-bs-toggle="dropdown">
			<div class="badge_notification">
				<span class="nbr_notification_jheo_js_mobile">0</span>
			</div>
			
			<a class="nav-link">
				<img class="nav-icon" src="{{asset('assets/image/icon-notification.png')}}" alt="">
			</a>
		</div>
		<div class="dropdown-menu notification_popup">
			<h4 class="mx-3 fw-bolder">Notification</h4>
			<a class="btn btn-secondary tous_marquer_comme_lu mx-3 tous_marquer_comme_lu_js_jheo" href="#">Tout marquer comme lu</a>
			<hr>
			<div class="mx-3 card_notification content_card_notification_jheo_js_mobile">
				{# CONTENT NOTIFICATION POPUP  #}
			</div>
		</div>
	</a>

	<a class ="navbar-brand">
		<a class="nav-link dropdown " href="javascript:void(0)"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<img class="nav-icon img_menu" src="{{asset('assets/image/icon-menu.png')}}" alt="">
		</a>
		<ul class="dropdown-menu dropdown-mobile" aria-labelledby="navbarDropdown">
			<li>
				<a class="dropdown-item" href="#">Action</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Another action</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
			</li>
		</ul>
	</a>

	{% if app.user.type is same as("supplier")%}
		<a class="nav-item avatar-account-pdp">

			{% if app.user.isLabled %}
				<div class="labelC-rond-account"><h5 class="text-center ">F</h5></div>
			{% endif %}
			
			{% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}
				<a class="nav-link {% if app.user.isLabled %}avatar-account-square-labelC-fondateur {% else %} avatar-account-square-fondateur{% endif %}" href="{{path('app_account')}}">
					<img src="{{asset('assets/image/img_avatar3.png')}}" alt="" class="img_menu">
				</a>
			{% else %}
				<a class="nav-link {% if app.user.isLabled %}avatar-account-square-labelC {% else %} avatar-account-square{% endif %}" href="{{path('app_account')}}">
					<img src="{{asset('assets/image/img_avatar3.png')}}" alt="" class="img_menu">
				</a>
			{% endif %}
		</a>

	{% elseif app.user.type is same as("consumer")%}
	
		
		{% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}
			<a class="nav-item avatar-account-pdp">
				<a class="nav-link avatar-account-fondateur" href="{{path('app_account')}}">
					<img src="{{asset('assets/image/img_avatar3.png')}}" alt="" class="img_menu">
				</a>
				
			</a>
		{% else %}
			<a class="nav-item avatar-account-pdp">
				<a class="nav-link avatar-account" href="{{path('app_account')}}">
					<img src="{{asset('assets/image/img_avatar3.png')}}" alt="" class="img_account img_menu">
				</a>
				
			</a>
		{% endif %}
	{% endif %}
	
  </div>
</nav>


{# content data important on back #}
<div class="information_user_conected_jheo_js" data-toggle-user-id={{app.user.id}} data-toggle-notif={{app.user.tablenotification}} data-toggle-msg={{app.user.tablemessage}}></div>

<script>
	function openMenu(){

		let leftInvitation = document.querySelector("#container-mobile")

		let style = leftInvitation.currentStyle || window.getComputedStyle(leftInvitation);

		//let marginLeft = style.marginLeft

		if(style.marginLeft == "70px"){
			//leftInvitation.style = "margin-left :30px !important"
			if(document.querySelector(".demande")){
				document.querySelector(".demande").style = "width:95vw !important"
			}
			if(document.querySelector(".invitation-conf")){
				document.querySelector(".invitation-conf").style = "width:95vw !important"
			}
			if(document.querySelector("#contenus")){
				document.querySelector("#contenus").style = "width:95vw !important"
			}
			if(document.querySelector(".content_right_profil")){
				document.querySelector(".content_right_profil").style = "margin-left:10px !important;width:95vw !important"
			}
			if(document.querySelector(".content_right_actualite")){
				document.querySelector(".content_right_actualite").style = "margin-left:0px !important;width:100vw !important"
			}
			if(document.querySelector(".right_content")){
				document.querySelector(".right_content").style = "margin-left:-15% !important; width:90vw !important"
				leftInvitation.style = "margin-left :0px !important;"
			}
			if(document.querySelector(".listTribu_t_mobile")){
				document.querySelector(".listTribu_t_mobile").style = "margin-left:0px !important"
			}
			if(document.querySelector(".tribuT_mobile")){
				document.querySelector(".tribuT_mobile").style = "margin-left:0px !important; margin-right: 10px !important;width: 90% !important"
			}
			if(document.querySelector(".tribuT_form")){
				document.querySelector(".tribuT_form").style = "margin-left:-20px !important;margin-right: 10px !important;width: 100% !important"
			}
			if(document.querySelector(".setting_mobile")){
				document.querySelector(".setting_mobile").style = "margin-left:10px !important;margin-right: 10px !important;width: 100% !important"
			}
			if(document.querySelector(".securityForm")){
				document.querySelector(".securityForm").style = "margin-left:10px !important;margin-right: 10px !important;width: 100% !important"
			}
			// if(document.querySelector(".security_mobile")){
			// 	document.querySelector(".security_mobile").style = "margin-left:-20px !important;margin-right: 10px !important;width: 100% !important"
			// }
			if(document.querySelector(".col_confidentialite")){
				document.querySelector(".col_confidentialite").style = "margin-left:-7px !important;margin-right: 10px !important;width: 100% !important"
			}
			// if(document.querySelector(".confidentialite_mobile")){
			// 	document.querySelector(".confidentialite_mobile").style = "margin-left:-7px !important;margin-right: 10px !important;width: 100% !important"
			// }
			if(document.querySelector(".card_mobile")){
				document.querySelectorAll(".card_mobile").forEach(element => {
					if(element.style.marginLeft=="0px"){
						element.style = "margin-left:70px !important; margin-top:60px !important"
						document.querySelector(".content_block_messages").style = "margin-left:70px !important"
					}else{
						element.style = "margin-left:0px !important; margin-top:60px !important"
						document.querySelector(".content_block_messages").style = "margin-left:0px !important"
					}
					
				});
				// document.querySelector(".card-body").style = "margin-left:0px !important; margin-top:60px !important"
			}
			
		}else{
			leftInvitation.style = "margin-left :70px !important;"
			if(document.querySelector(".invitation-conf")){
				document.querySelector(".invitation-conf").style = "width:85vw !important"
			}
			if(document.querySelector(".demande")){
				document.querySelector(".demande").style = "width:85vw !important"
			}
			if(document.querySelector("#contenus")){
				document.querySelector("#contenus").style = "width:85vw !important"
			}
			if(document.querySelector(".content_right_profil")){
				document.querySelector(".content_right_profil").style = "left:-20px;margin-left:70px !important;width:85vw !important"
			}
			if(document.querySelector(".content_right_actualite")){
				document.querySelector(".content_right_actualite").style = "left:-25px;margin-left:70px !important;width:90vw !important"
			}
			 if(document.querySelector(".right_content")){
				 document.querySelector(".right_content").style = "margin-left:70px !important; width:95vw !important;  margin-right: 15px !important;"
			 
			 }
			 if(document.querySelector(".listTribu_t_mobile")){
				document.querySelector(".listTribu_t_mobile").style = "margin-left:70px !important"
			}
			if(document.querySelector(".tribuT_mobile")){
				document.querySelector(".tribuT_mobile").style = "margin-left:-23px !important;"
			}
			if(document.querySelector(".tribuT_form")){
				document.querySelector(".tribuT_form").style = "margin-left:15px !important;width: 90% !important"
			}
			if(document.querySelector(".setting_mobile")){
				document.querySelector(".setting_mobile").style = "margin-left:0px !important;margin-right: 10px !important;width: 100% !important"
			}
			if(document.querySelector(".security_mobile")){
				document.querySelector(".security_mobile").style = "margin-left:-10px !important;margin-right: 10px !important;width: 95% !important"
			}
			if(document.querySelector(".col_confidentialite")){
				document.querySelector(".col_confidentialite").style = "margin-left:-7px !important;margin-right: 10px !important;width: 95% !important"
			}
			if(document.querySelector(".confidentialite_mobile")){
				document.querySelector(".confidentialite_mobile").style = "margin-left:10px !important;margin-right: 10px !important;width: 95% !important"
			}
			if(document.querySelector(".card_mobile")){
				document.querySelectorAll(".card_mobile").forEach(element => {
					if(element.style.marginLeft=="0px"){
						element.style = "margin-left:70px !important; margin-top:60px !important"
						document.querySelector(".content_block_messages").style = "margin-left:70px !important"
					}else{
						element.style = "margin-left:0px !important; margin-top:60px !important"
						document.querySelector(".content_block_messages").style = "margin-left:0px !important"
					}
					
				});
				// document.querySelector(".card-body").style = "margin-left:70px !important; margin-top:60px !important"
				
			}
			if(document.querySelector(".tribut_t_reponsive")){
				document.querySelector(".tribut_t_reponsive").style = "margin-left:0px !important"
			}
			
		}
	}
</script>