<div class=" collapse collapse-horizontal" id="collapseWidthExample">
	<div class="content_list_menu mt-5">
		<div class="account-profils">
		
			<div class="m-auto">
				{# <img id="profilPartisant" style="min-height: 80px; min-width:80px; max-width:100px; max-height: 100px;" class="rounded-circle border border-info" src="{% if profil[0].getPhotoProfil != null %} /uploads/profils/photos/{{profil[0].getPhotoProfil}} {% else %} /assets/image/cheerful-curly-business-girl-wearing-glasses.jpg {% endif %}" alt="{{ profil[0].getFirstname }}"> #}
				<img id="profilPartisant_mobile" class="rounded-circle border border-info" src={{ (profil[0].getPhotoProfil != null) ? asset('uploads/users/photos/photo_user_') ~ app.user.id ~ "/" ~ profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ profil[0].getFirstname }}">
				
			</div>
			<label style="margin-left:15px;" for="fileInputProfil_mobile">
				<i class="bi bi-camera-fill" style="font-size: 20px; margin-top:5px;cursor:pointer; background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                {# <i style="margin-top:5px;cursor:pointer;background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/0vR9H8iux5G.png?_nc_eui2=AeEvcr8vVXq0wxEnW6d-U2x6Cr_QprbGjx4Kv9CmtsaPHugo3hZW-h0b0iFoxO3NohAeoro_KXocl2rFKLxrU5ui&quot;); background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i> #}
			</label>
			<input type="file" name="fileInputProfil_mobile" id="fileInputProfil_mobile" style="display:none;visibility:none;" accept="image/*">
		</div>
		<hr>
		<ul class="nav flex-column icon-nav-left">
			<li class="nav-item account_js">
				<a href="{{path("app_account")}}" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-newspaper fa-lg"></i>
					{# <span>Actualité</span> #}
				</a>
			</li>

			<li class="nav-item invitation_js">
				<a href="{{ path("app_invitation") }}" class="nav-link link-dark not_autorised">
					{# <i class="bi bi-people-fill fa-lg"></i> #}
					<i class="fa-solid fa-user-group fa-solid-nav"> </i>
					{# <span>&nbsp;Invitations</span> #}
				</a>
			</li>

			{% if app.user.roles[0] is same as( "ROLE_GODMODE" ) %}
				<li class="nav-item dashboard_super_js dropend">
					<a href="#" class="nav-link link-dark collapsed" data-bs-toggle="dropdown" data-bs-target="#super-admin-collapse" aria-expanded="false">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"></i>
						{# <span>Super Admin</span> #}
					</a>

					<ul class="na-ul-right dropdown-menu">
						<li>
							{# <a href="{{ path("mon_tribut") }}" class="na-text-right pr-5">Publications</a> #}
							<a href="{{path("app_dashboard")}}" class="na-text-right pr-5 dropdown-item">Tribu G</a>
						</li>
						<li>
							<a href="{{path("app_administre_fournisseur")}}" class="na-text-right pr-5 dropdown-item">Fournisseurs</a>
						</li>

					</ul>
				</li>
				
			{% endif %}

			{% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}

				<li class="nav-item dashboard_js">
					<a href="{{path("app_dashboard_fondateur")}}" class="nav-link link-dark">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"></i>
						{# <span>Fondateur</span> #}
					</a>
				</li>
			{% elseif statusTribut.status is same as("moderateur") and statusTribut.verified is same as(true) %}
				<li class="nav-item">
					<a href="{{path("app_dashboard_fondateur")}}" class="nav-link link-dark">
						<i class="fa-solid fa-chart-line fa-users fa-solid-nav  fa-lg"> </i>
						{# <span>Modérateur</span> #}
					</a>
				</li>
			{% endif %}

			{% if app.user.type is same as("supplier")  and app.user.isLabled %}
			 	<li class="nav-item">
					<a href="{{path("app_choose_etab")}}" class="nav-link link-dark">
						<i class="fa-solid fa-circle-plus fa-users fa-solid-nav  fa-lg"> </i>
						{# <span>Ajoutez votre etablissement</span> #}
					</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_list_de_mes_etablissement')}}" class="nav-link link-dark" >
						<i class="fa-solid fa-list fa-solid-nav  fa-lg"> </i>
						{# <span>Liste de mes établissements</span> #}
					</a>
				</li>
			{% endif %}

			<li
				class="nav-item profil_js">
				{# <a href="" class="nav-link link-dark not_autorised"> #}
				<a href="{{ path("user_profil", {"user_id":app.user.id })}}" class="nav-link link-dark">
					<i class="fa-solid fa-solid-nav fa-user  fa-lg"></i>
					{# <span>Profil</span> #}
				</a>
			</li>

			<li class="nav-item tribu_js">
				<a href="{{path("app_my_tribu_t")}}" class="nav-link link-dark">
					<i class="fa-solid fa-users-rays fw-bold" style="color:black;"></i>
						{# <span lng-tag="tribu_t">&nbsp;Tribu T</span> #}
				</a>
			</li>

			<li
				class="nav-item setting_js dropend">
				{# <a href="{{path("setting_user_account")}}" class="nav-link link-dark"> #}
				<a href="#" class="nav-link link-dark collapsed" data-bs-toggle="dropdown" data-bs-target="#customize-collapse" aria-expanded="false">
					<img src="{{asset('assets/image/icon-account.png')}}" alt="icon" width='25'>
					{# <span>Paramètre</span> #}
				</a>

				<ul class="na-ul-right dropdown-menu">
					<li>
						<a href="{{ path("account_setting") }}" class="na-text-right pr-5 dropdown-item" lng-tag="compte">Compte</a>
					</li>
					<li>
						<a href="{{ path("security_setting") }}" class="na-text-right dropdown-item" lng-tag="securite">Sécurité</a>
					</li>
					<li>
						<a href="{{ path("confidential_setting") }}" class="na-text-right dropdown-item" lng-tag="confidentialite">Confidentialité</a>
						{#<a href="#" class="na-text-right">Confidentialité</a>#}
					</li>
				</ul>


			</li>
            <li class="nav-item message_js">
				<a href="{{path('app_message')}}" class="nav-link link-dark not_autorised">
                    <i class="fa-solid fa-solid-nav fa-comments  fa-lg"></i>
					{# <span>Message</span> #}
				</a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_traduction')}}"class="nav-link link-dark not_autorised">
					<img src="{{asset('assets/image/icon-language.png')}}" alt="icon" width='25'>
					{# <span>Langage</span> #}
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-bell  fa-lg"></i>
					{# <span>Paramètre de notification</span> #}
				</a>
			</li>
			<li class="nav-item mb-5">
				<a href="#" class="nav-link link-dark not_autorised">
					<i class="fa-solid fa-solid-nav fa-users  fa-lg"></i>
					{# <span>Les tribus suivies</span> #}
				</a>
			</li>

		</ul>
	</div>
</div>

<script>

let fileInputProfil_mobile = document.querySelector("#fileInputProfil_mobile");

fileInputProfil_mobile.addEventListener("change", (e) => {

    ///read file
    const fileReader_mob = new FileReader();

    ////on load file
    fileReader_mob.addEventListener("load", () => {

        let avatarPartisant_mobile = fileReader_mob.result;

        //console.log(avatarPartisant);

        // Change profil
		let profilPartisant_mobile = document.querySelector("#profilPartisant_mobile");
        profilPartisant_mobile.src = avatarPartisant_mobile
		//console.log(profilPartisant_mobile.src);

        if(document.querySelector("#roundedImg") != null){
            document.querySelector("#roundedImg").src = avatarPartisant_mobile
        }

        let data = {
        image : avatarPartisant_mobile
        }

        fetch(new Request("/user/profil/update/avatar", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })).then(x => x.json()).then(response => console.log(response));

    });

    ///run event load in file reader.
    fileReader_mob.readAsDataURL(e.target.files[0]);

})
/*
let firstNameProfil = document.querySelector("#firstNameProfil")
let lastNameProfil = document.querySelector("#lastNameProfil")
let profileImage = document.querySelector("#profileImage")
var intials = firstNameProfil.textContent.charAt(0) + lastNameProfil.textContent.charAt(0);
profileImage.textContent = intials;
*/
</script>