<div class="d-flex flex-column align-items-stretch flex-shrink-0 position-sticky" id="page-top">
	<div class="content_list_menu">
		<div class="mt-3">
			<a href="{{path("app_account")}}" class="nav-link link-dark not_autorised ms-3">
				<i class="fa-solid fa-solid-nav fa-newspaper fa-lg"></i>
				<span lng-tag="actualite">Actualité de tout vos tribus-T</span>
			</a>
		</div>

		<div class="mt-3 mb-3">
			<button class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#ModalCreationTribuT"><i class="fa-solid fa-plus"> </i>Créer un nouveau tribu-T</button>
		</div>
		
		<hr>

		<p class="fw-bold mb-2">Tribu-T que vous avez créé</p>
		<ul>
			{% if tribu_T_owned is defined %}
			{% for  tribu in tribu_T_owned %}

				<li class="mb-2">
					<div class="row card-my-tribu-t">
						<div class="col-2">
							<img class="avatar-tribu" src={{ asset(tribu.logo_path) }} alt={{tribu.name_tribu_t_muable}}>
						</div>
						<div class="col-9">
							<p>
								<a href="#" class="tribu_t owned" data-tribu-rank="{{app.user.id}}" data-table-name={{tribu.nom_table_trbT}}>Tribu T {{ tribu.name_tribu_t_muable }}</a> 
							</p>
						</div>
					</div>
				</li>
					
				{% endfor %}
			{% endif %}
					
		</ul>
		

		<hr class="mt-1 mb-1">

		<p class="fw-bold mb-2">Tribu-T dont vous êtes membre</p>
		<ul>
			{% if tribu_T_joined is defined %}
				{% for  tribu in tribu_T_joined %}
					<li class="mb-2">
						<div class="row card-my-tribu-t">
							<div class="col-2">
								<img class="avatar-tribu" src={{ asset(tribu.logo_path) }} alt={{tribu.name_tribu_t_muable}}>
							</div>
							<div class="col-9">
								<p>
									<a href="" class="tribu_t owned other" data-tribu-rank="{{app.user.id}}" data-table-name={{tribu.nom_table_trbT}}>Tribu T {{ tribu.name_tribu_t_muable }}</a>
								</p>
							</div>
						</div>
					</li>
				{% endfor %}
			{% endif %}
		</ul>

	</div>
</div>
