<header>
	<div class='container header__container'>
		<div class="header-logo">
			<a href="{{path('all_departement_touts')}}">
			<img src="{{asset('assets/image/logo.jpg')}}" alt="logo" width="200">
		</a>
		</div>
		<a  href="{{path('app_account')}}" class='nav__toggler'>
			<span>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
                        17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
                        9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
                        92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
                    </g>
                </svg>
            </span>
		</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 icons-pdp ">
            {% if app.user.type is same as("supplier")%}
                <li class="nav-item avatar-account-pdp">

                    {% if app.user.isLabled %}
                        <div class="labelC-rond-account"><h5 class="text-center ">F</h5></div>
                    {% endif %}
                    
                    {% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}
                        <a class="nav-link {% if app.user.isLabled %}avatar-account-square-labelC-fondateur {% else %} avatar-account-square-fondateur{% endif %}" href="{{path('app_account')}}">
                            <img src="{{asset('assets/image/img_avatar3.png')}}" alt="">
                        </a>
                    {% else %}
                        <a class="nav-link {% if app.user.isLabled %}avatar-account-square-labelC {% else %} avatar-account-square{% endif %}" href="{{path('app_account')}}">
                            <img src="{{asset('assets/image/img_avatar3.png')}}" alt="">
                        </a>
                    {% endif %}
                </li>

            {% elseif app.user.type is same as("consumer")%}
            
                
                {% if statusTribut.status is same as("fondateur") and statusTribut.verified is same as(true) %}
                    <li class="nav-item avatar-account-pdp">
                        <a class="nav-link avatar-account-fondateur" href="{{path('app_account')}}">
                            <img src="{{asset('assets/image/img_avatar3.png')}}" alt="">
                        </a>
                        
                    </li>
                {% else %}
                    <li class="nav-item avatar-account-pdp">
                        <a class="nav-link avatar-account avatar-account-agenda" href="{{path('app_account')}}">
                            <img src="{{asset('assets/image/img_avatar3.png')}}" alt="">
                        </a>
                        
                    </li>
                {% endif %}
            {% endif %}
        </ul>
		
	</div>
</header>
