{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/chatBot/style_chatBot.css')}}">
	{# <link rel="stylesheet" href="{{asset('assets/css/chatBot/visio.css')}}"> #}
{% endblock %}


{% block javascripts %}
	<script src="{{asset('assets/js/chatHome.js')}}" defer></script>
	{# <script src="{{asset('assets/js/visio/visio_external_api.js')}}" defer></script> #}
	{# <script src='https://meet.jit.si/external_api.js'></script> #}
	<script src='https://8x8.vc/external_api.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}


<div class="navleft-chat vc-chat tv-chat nj-chat xr-chat" style="height:70px; position: fixed;bottom: 0; right: -320px; z-index:1003;background-color:transparent;" id="chat_container" data-type="">

	<div id="openFlottant" style="display:flex;">
		<div class="text-center" id="openChat" style="background-color: #69BC45;width:40px; height:40px;color:white;border-radius:8px;cursor:pointer;">
			{# <i class="fas fa-quote-left" style="margin-top: 13%;font-size:28px;"></i> #}
			<img src="/public/assets/icon/icon_cmz.jpg" alt="CMZ" class="vc-chat yd-chat qk-chat rk-chat" style="margin-top: 5%;width: 36px;height: 36px;margin-left: 5%;border-radius: 20%;" />

		</div>

		{% if app.user %}
			{# <div class="text-center ms-2 non_active disabled-link" style="background-color: #0d6efd;width:40px; height:40px;color:white;border-radius:8px;cursor:pointer;">
				<i class="fas fa-comment" style="margin-top: 13%;font-size:28px;"></i> #}
			<div class="text-center ms-2" id="openMessage" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #0d6efd;cursor:pointer;">
				<i class="fas fa-comment" style="margin-top: 13%;font-size:28px;color:#0d6efd;"></i>

			</div>

			<div class="text-center ms-2" id="openVisio" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #0d6efd;cursor:pointer;">
			{# <div class="text-center ms-2 non_active " id="openVisio" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #808080;cursor:pointer;"> #}
				<i class="fas fa-video-camera" style="margin-top: 13%;font-size:28px;color:#0d6efd;"></i>

			</div>

		{% else %}
			<div class="text-center ms-2 btn_gris_actif_js_Elie" id="" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #808080;" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter pour accéder à ce lien.">
			{# <div class="text-center ms-2 non_active " id="openMessage" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #808080;"> #}
				<i class="fas fa-comment" style="margin-top: 13%;font-size:28px;color:#808080;"></i>

			</div>

			<div class="text-center ms-2 btn_gris_actif_js_Elie" id="" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #808080;" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter pour accéder à ce lien.">
			{# <div class="text-center ms-2 non_active " id="openVisio" style="background-color: #fff;width:40px; height:40px;color:white;border-radius:8px;border:2px solid #808080;"> #}
				<i class="fas fa-video-camera" style="margin-top: 13%;font-size:28px;color:#808080;"></i>

			</div>
		{% endif %}
	</div>

	<div
		class="content-chat vc-chat lc-chat hg-chat vv-chat xi-chat yi-chat bj-chat wr-chat">
		<!-- ====== Chat Box Start -->
		{% if app.user %}
			<span id="my_full_name" style="display:none;">{{ profil[0].firstname ~' '~ profil[0].lastname }}</span>
			<span id="my_tribu_g" style="display:none;">{{ profil[0].tributG}}</span>
		{% endif %}
		<div class="lc-chat mg-chat qg-chat vi-chat bj-chat wr-chat ql-chat" id="chat_header" style="display:none;">
			<div class="lc-chat mg-chat" id="user_head">
				<div
					class="ob-chat xc-chat yd-chat pf-chat nh-chat">
					{# <img src="/assets/icon/icon_cmz.jpg" alt="avatar" class="vc-chat yd-chat qk-chat rk-chat"> #}
					<div class="h-chat mb-chat sc-chat yd-chat of-chat th-chat">
						<img src="https://www.iconpacks.net/icons/1/free-help-icon-1160-thumb.png" alt="profile" id="profile-user" class="vc-chat yd-chat qk-chat rk-chat"/>
						<span class="g-chat l-chat m-chat jc-chat wc-chat ce-chat th-chat pi-chat ij-chat xj-chat"></span>
					</div>
				</div>
				<div class="user-chat-display" data-user-id="0">
					<h5 class="un-chat zn-chat gs-chat" id="user_name_chat">
						Assistant Virtuel
					</h5>
					<p class="mn-chat">Reponse automatique</p>
				</div>
			</div>
			
			<div>
				<div x-data="{openDropDown: false}" class="h-chat">
					<button @click="openDropDown = !openDropDown" class="lc-chat yc-chat zd-chat mg-chat pg-chat sh-chat ni-chat bj-chat wr-chat wj-chat yr-chat" id="closeChat">
						<i class="fas fa-close fa-2x text-danger"></i>
					</button>

					<button @click="openDropDown = !openDropDown" class="lc-chat yc-chat zd-chat mg-chat pg-chat sh-chat ni-chat bj-chat wr-chat wj-chat yr-chat" id="closevisio" style="display:none">
						<i class="fas fa-close fa-2x text-danger"></i>
					</button>

				</div>
			</div>
		</div>
		{# <div class="vd-chat mh-chat ip-chat fh-chat ql-chat wl-chat h-100" id="assistant"></div> #}
		<div class="vd-chat mh-chat ip-chat fh-chat ql-chat wl-chat h-100" id="conversation"></div>
		<div class="vd-chat mh-chat ip-chat fh-chat h-100" id="visio"></div>

		<div class=" nj-chat xr-chat ti-chat bj-chat wr-chat sl-chat ql-chat" id="footer_chat">
			<div class="content_image_input_js_jheo"></div>
			<ul class="content_image_input_js_jheo_file_name"></ul>
			<div class="lc-chat mg-chat qg-chat hh-chat">
				<div class="h-chat yd-chat">
					<input type="text" placeholder="Ecrire un message" id="text-search" class="xc-chat yd-chat qh-chat ni-chat bj-chat wr-chat vj-chat yr-chat mm-chat qm-chat zn-chat gs-chat no-chat vo-chat fr-chat">
					<div
						class="g-chat o-chat j/2-chat nc-chat -ud-translate-y-1/2 mg-chat og-chat ih-chat">

						<!--default html file upload button-->
						<input type="file" id="input-image" accept="image/*" aria-disabled hidden/>

						<!--our custom file upload button-->
						<label for="input-image" class="btn-input-file">
							<i class="fas fa-image" aria-hidden="true"></i>
							{# <svg width="18" height="18" viewbox="0 0 18 18" class="hk-chat">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M11.835 1.79102C11.2378 1.79102 10.6651 2.02824 10.2428 2.45051L3.3503 9.34302C2.64657 10.0467 2.25122 11.0012 2.25122 11.9964C2.25122 12.9917 2.64657 13.9461 3.3503 14.6499C4.05403 15.3536 5.0085 15.7489 6.00372 15.7489C6.99895 15.7489 7.95341 15.3536 8.65714 14.6499L15.5496 7.75736C15.8425 7.46446 16.3174 7.46446 16.6103 7.75736C16.9032 8.05025 16.9032 8.52512 16.6103 8.81802L9.7178 15.7105C8.73277 16.6956 7.39677 17.2489 6.00372 17.2489C4.61067 17.2489 3.27468 16.6956 2.28964 15.7105C1.30461 14.7255 0.751221 13.3895 0.751221 11.9964C0.751221 10.6034 1.30461 9.26739 2.28964 8.28236L9.18214 1.38985C9.88572 0.686279 10.84 0.291016 11.835 0.291016C12.83 0.291016 13.7842 0.686279 14.4878 1.38985C15.1914 2.09343 15.5866 3.04768 15.5866 4.04268C15.5866 5.03769 15.1914 5.99194 14.4878 6.69552L7.5878 13.588C7.16569 14.0101 6.59318 14.2473 5.99622 14.2473C5.39926 14.2473 4.82676 14.0101 4.40464 13.588C3.98253 13.1659 3.74539 12.5934 3.74539 11.9964C3.74539 11.3995 3.98253 10.827 4.40464 10.4049L10.7725 4.04454C11.0655 3.75182 11.5404 3.7521 11.8331 4.04517C12.1258 4.33823 12.1256 4.81311 11.8325 5.10583L5.4653 11.4655C5.32469 11.6063 5.24539 11.7974 5.24539 11.9964C5.24539 12.1956 5.32449 12.3865 5.4653 12.5274C5.60611 12.6682 5.79709 12.7473 5.99622 12.7473C6.19535 12.7473 6.38633 12.6682 6.52714 12.5274L13.4271 5.63486C13.8492 5.21261 14.0866 4.63973 14.0866 4.04268C14.0866 3.4455 13.8494 2.87278 13.4271 2.45051C13.0049 2.02824 12.4321 1.79102 11.835 1.79102Z"></path>
							</svg> #}
						</label>

						{# <input type="file" id="input-file" accept=".xlsx, .csv, .txt, .json, .xls, .doc, .xml, .docx, .pdf" aria-disabled hidden/> #}
						<input type="file" id="input-file" accept=".jpeg, .png, .jpg, .csv, .txt, .json, .doc, .pdf" aria-disabled hidden/>

						<label for="input-file" class="zq-chat btn-input-file" style="cursor:pointer;">
							{# <i class="fas fa-image" aria-hidden="true"></i> #}
							<svg width="18" height="18" viewbox="0 0 18 18" class="hk-chat">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M11.835 1.79102C11.2378 1.79102 10.6651 2.02824 10.2428 2.45051L3.3503 9.34302C2.64657 10.0467 2.25122 11.0012 2.25122 11.9964C2.25122 12.9917 2.64657 13.9461 3.3503 14.6499C4.05403 15.3536 5.0085 15.7489 6.00372 15.7489C6.99895 15.7489 7.95341 15.3536 8.65714 14.6499L15.5496 7.75736C15.8425 7.46446 16.3174 7.46446 16.6103 7.75736C16.9032 8.05025 16.9032 8.52512 16.6103 8.81802L9.7178 15.7105C8.73277 16.6956 7.39677 17.2489 6.00372 17.2489C4.61067 17.2489 3.27468 16.6956 2.28964 15.7105C1.30461 14.7255 0.751221 13.3895 0.751221 11.9964C0.751221 10.6034 1.30461 9.26739 2.28964 8.28236L9.18214 1.38985C9.88572 0.686279 10.84 0.291016 11.835 0.291016C12.83 0.291016 13.7842 0.686279 14.4878 1.38985C15.1914 2.09343 15.5866 3.04768 15.5866 4.04268C15.5866 5.03769 15.1914 5.99194 14.4878 6.69552L7.5878 13.588C7.16569 14.0101 6.59318 14.2473 5.99622 14.2473C5.39926 14.2473 4.82676 14.0101 4.40464 13.588C3.98253 13.1659 3.74539 12.5934 3.74539 11.9964C3.74539 11.3995 3.98253 10.827 4.40464 10.4049L10.7725 4.04454C11.0655 3.75182 11.5404 3.7521 11.8331 4.04517C12.1258 4.33823 12.1256 4.81311 11.8325 5.10583L5.4653 11.4655C5.32469 11.6063 5.24539 11.7974 5.24539 11.9964C5.24539 12.1956 5.32449 12.3865 5.4653 12.5274C5.60611 12.6682 5.79709 12.7473 5.99622 12.7473C6.19535 12.7473 6.38633 12.6682 6.52714 12.5274L13.4271 5.63486C13.8492 5.21261 14.0866 4.63973 14.0866 4.04268C14.0866 3.4455 13.8494 2.87278 13.4271 2.45051C13.0049 2.02824 12.4321 1.79102 11.835 1.79102Z"></path>
							</svg>
						</label>

					</div>
				</div>
				<button class="xc-chat yd-chat pf-chat lc-chat mg-chat pg-chat qh-chat oj-chat eo-chat wq-chat" id="btn-send">
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22 2L11 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M22 2L15 22L11 13L2 9L22 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</button>
			</div>
		</div>
		<!-- ====== Chat Box End -->

	</div>

	<div
		class="pc-chat sv-chat vv/4-chat" id="amis_list" style="display:none;" data-my-id="{{app.user ? app.user.id : 0 }}" data-chat-length="0">
		<!-- ====== Chat List Start -->

		<div class="vc-chat xk-chat">

			<div
				class="content-en-lign-connected vd-chat mh-chat ip-chat ch-chat ib-chat">
				<!-- Chat List Item -->
				<div class="cg-chat lc-chat mg-chat sh-chat ol-chat rl-chat tq-chat is-chat" id="assist_virt">
					<div class="h-chat mb-chat sc-chat yd-chat of-chat th-chat">
						<img src="https://www.iconpacks.net/icons/1/free-help-icon-1160-thumb.png" alt="profile" class="vc-chat yd-chat qk-chat rk-chat"/>
						<span class="g-chat l-chat m-chat jc-chat wc-chat ce-chat th-chat pi-chat ij-chat xj-chat"></span>
					</div>
					<div class="yd-chat">
						<h5 class="mn-chat un-chat zn-chat gs-chat">
							Assistant Virtuel
						</h5>
					</div>
				</div>

				<div class="btn-group w-100" id="visio_group_btn" style="display:none" onclick="createVisioGroup()">
					<button type="button" class="btn btn-outline-primary waves-effect"><i class="fas fa-plus pe-2" aria-hidden="true"></i>Créer une réunion</button>
				</div>

				<!-- Chat List boucle -->

				{% if app.user %}

					{% if amisTributG|length > 1 %}

						{% for amis in amisTributG %}

							{% if not (amis.id|number_format is same as(app.user.id|number_format)) and amis.is_online == 1 %}

								<div class="cg-chat lc-chat mg-chat sh-chat ol-chat rl-chat tq-chat is-chat user_friends" data-toggle-user-id={{amis.id}} tooltip={{amis.email}}>
									<div class="h-chat mb-chat sc-chat yd-chat of-chat th-chat">
										<img src="{{ ( amis.photo != null) ? amis.photo : asset('uploads/users/photos/img_avatar.png')}}" alt="profile" class="vc-chat yd-chat qk-chat rk-chat"/>
										<span class="g-chat l-chat m-chat jc-chat wc-chat ce-chat th-chat pi-chat ij-chat xj-chat"></span>
									</div>
									<div class="yd-chat">
										<h5 class="mn-chat un-chat zn-chat gs-chat">
											{{amis.firstname ~ " " ~ amis.lastname }}
										</h5>
									</div>
								</div>

							{% endif %}

						{% endfor %}

					{% else %}

						<h5 class="mn-chat un-chat zn-chat gs-chat">
							Aucun connecté pour le moment. Vous pouvez parler avec l'assistant virtuel.
						</h5>

					{% endif %}

				{% endif %}


			</div>

		</div>
		<!-- ====== Chat List End -->
	</div>

</div>