<div class="d-flex flex-column align-items-stretch flex-shrink-0 position-sticky">
	<div class="content_list_menu mt-5">
		<div class="account-profils row mt-5">

			<img style="min-width:100px; max-width:100px; max-height: 100px;" class="rounded-circle"  src={{ (profil[0].getPhotoProfil != null) ? asset('uploads/users/photos/') ~ profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ profil[0].getFirstname }}">

			<div class="col m-auto">
				<h4>{{ profil[0].getFirstname }}</h4>
				<h4>{{ profil[0].getLastname }}</h4>
			</div>
		</div>
		<hr>
		<ul class="nav flex-column icon-nav-left">
			<li class="nav-item">
				<a href="{{ path("app_account") }}" class="nav-link link-dark">
					<i class="fa-solid fa-solid-nav fa-house-chimney fa-lg"></i>
					<span>Accueil</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{path("app_dashboard")}}" class="nav-link link-dark">
					<i class="fa-solid fa-people-group fa-lg fa-solid-nav"></i>
					<span> Tribu G</span>
				</a>
			</li>

		</ul>
	</div>
</div>

