<nav class="navbar navbar-light bg-light d-flex">
    <div class="row">
        <div class="col-12">
            {% include 'shard/search_mobile.html.twig' %}
        </div>
    </div>
	<div class="container-fluid scroll-mobile">
		<ul class="navbar-nav mt-3 d-flex flex-row">
            <li class="nav-item icon-tous me-3 ">
                <a class="nav-link d-block text-center tous-page-mobile" aria-current="page" href="{{path('app_home')}}">
                    <svg class="mx-auto" version="1.0" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet">
                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" 
                            stroke="none">
                            <path d="M2260 4855 c-489 -64 -935 -276 -1294 -616 -418 -396 -688 -970 -712
                                -1514 -8 -181 4 -165 -118 -165 -87 0 -105 -3 -119 -18 -38 -42 -26 -72 154
                                -361 94 -152 182 -286 196 -298 13 -13 35 -23 48 -23 13 0 35 10 49 23 33 29
                                366 562 372 596 4 18 -2 35 -16 54 -21 26 -24 27 -126 27 l-104 0 0 64 c0 161
                                52 429 117 606 245 664 810 1139 1513 1273 97 18 151 21 340 21 189 0 243 -3
                                340 -21 353 -67 659 -212 929 -438 77 -65 94 -75 128 -75 35 0 46 8 121 83 75
                                75 82 86 82 122 0 34 -6 45 -52 88 -75 69 -228 183 -338 252 -270 167 -607
                                284 -940 325 -112 13 -451 11 -570 -5z"/>
                            <path d="M2450 3848 c-500 -34 -946 -380 -1113 -863 -92 -267 -92 -583 0 -850
                                154 -444 534 -768 998 -850 119 -21 327 -21 452 1 574 97 1016 583 1061 1165
                                27 337 -67 651 -273 914 -193 247 -486 421 -791 469 -126 20 -203 23 -334 14z
                                m-378 -906 c10 -10 77 -174 149 -365 120 -318 130 -350 119 -377 -16 -38 -57
                                -55 -93 -39 -19 9 -35 32 -56 83 l-30 71 -149 3 -149 3 -27 -70 c-31 -79 -45
                                -94 -86 -94 -39 0 -70 29 -70 65 0 35 245 685 269 712 34 39 88 42 123 8z
                                m571 0 c15 -14 17 -43 17 -329 l0 -313 94 0 c76 0 98 -3 117 -18 30 -25 30
                                -75 0 -105 -20 -21 -31 -22 -165 -22 -128 0 -146 2 -165 19 -21 19 -21 26 -21
                                386 0 337 1 368 18 382 34 31 70 31 105 0z m550 -4 c15 -18 17 -49 17 -329 l0
                                -309 95 0 c109 0 135 -14 135 -72 0 -62 -15 -68 -185 -68 -142 0 -153 1 -171
                                21 -18 20 -19 41 -19 379 0 381 0 380 50 400 27 11 56 3 78 -22z"/>
                            <path d="M1972 2608 c-64 -166 -68 -148 37 -148 65 0 91 4 91 12 0 11 -79 228
                                -85 236 -2 2 -21 -43 -43 -100z"/>
                            <path d="M4656 3238 c-27 -25 -352 -542 -369 -588 -10 -25 -8 -34 9 -57 21
                            -27 24 -28 129 -31 l108 -3 -6 -112 c-21 -384 -157 -754 -395 -1074 -85 -113
                            -272 -300 -385 -385 -259 -192 -561 -322 -872 -375 -164 -27 -498 -25 -655 5
                            -368 69 -642 202 -970 470 -40 32 -60 42 -89 42 -32 0 -45 -9 -119 -83 -74
                            -75 -82 -86 -82 -121 0 -34 7 -45 53 -88 138 -129 341 -266 532 -358 230 -112
                            433 -173 692 -211 197 -29 530 -24 723 11 1061 188 1856 1082 1909 2145 l6
                            130 105 3 c120 3 140 13 140 70 0 27 -37 93 -181 323 -99 159 -189 294 -199
                            299 -30 16 -57 12 -84 -12z"/>
                        </g>
                    </svg>
                    <span>Tous</span>
                </a>
            </li>
            
            {# restaurant #}
            <li class="nav-item icon-resto me-3 ">
                <a class="nav-link d-block text-center resto-page-mobile" href="{{path('restaurant_all_dep')}}">
                    <svg class="mx-auto" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

                        <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" 
                        stroke="none">
                            <path d="M520 1047 c-20 -7 -36 -20 -38 -31 -3 -16 0 -18 25 -11 15 4 76 9
                            136 12 79 4 107 8 107 18 0 7 -7 16 -16 19 -27 10 -177 5 -214 -7z"/>
                            <path d="M372 948 c-8 -8 -12 -48 -12 -105 0 -92 0 -93 34 -131 l34 -38 -10
                            -188 c-7 -133 -7 -196 1 -212 20 -44 102 -44 122 0 8 16 8 79 1 212 l-10 188
                            34 38 c34 38 34 39 34 132 0 66 -4 97 -13 105 -23 18 -27 2 -27 -96 0 -92 0
                            -93 -35 -131 l-34 -38 10 -188 c6 -103 8 -194 5 -202 -7 -18 -45 -18 -52 0 -3
                            8 -1 99 5 202 l10 188 -34 38 c-35 38 -35 39 -35 132 0 95 -6 116 -28 94z"/>
                            <path d="M437 954 c-4 -4 -7 -52 -7 -106 0 -89 2 -99 18 -96 15 3 17 16 17
                            102 0 92 -8 120 -28 100z"/>
                            <path d="M495 948 c-3 -8 -5 -55 -3 -104 3 -76 6 -89 21 -92 16 -3 17 5 15 99
                                                                        -2 71 -7 104 -15 107 -7 2 -15 -3 -18 -10z"/>
                            <path d="M765 951 c-75 -32 -106 -203 -49 -271 l27 -31 -7 -184 c-7 -177 -7
                            -184 13 -204 27 -27 75 -27 102 0 20 20 20 27 13 204 l-7 184 27 31 c25 31 31
                            59 26 135 -2 37 -31 106 -52 122 -20 17 -69 24 -93 14z m74 -52 c41 -45 44
                            -160 4 -201 l-26 -27 4 -193 4 -193 -25 0 -25 0 4 193 4 193 -26 27 c-56 58
                            -24 222 43 222 11 0 28 -10 39 -21z"/>
                            <path d="M935 910 c-4 -6 8 -33 25 -60 87 -136 81 -321 -15 -442 -36 -44 -42
                            -62 -26 -73 12 -7 55 38 87 91 78 131 72 327 -14 448 -29 43 -46 53 -57 36z"/>
                            <path d="M276 858 c-45 -79 -59 -139 -54 -241 5 -101 26 -161 81 -234 31 -40
                            67 -57 67 -30 0 6 -16 32 -35 55 -90 115 -103 292 -28 420 23 41 25 72 4 72
                            -6 0 -21 -19 -35 -42z"/>
                            <path d="M580 245 c-16 -19 -1 -25 61 -25 56 0 84 14 59 30 -20 12 -108 9-120 -5z"/>
                        </g>
                    </svg>
                    <span>Restaurant</span>
                </a>
            </li>

            {# ferme #}
            <li class="nav-item icon-ferme me-3">
                <a class="nav-link d-block text-center ferme-page-mobile" aria-current="page" href="{{path('all_departement')}}">
                    <svg class="mx-3" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

                        <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" 
                            stroke="none">
                            <path d="M820 965 c-14 -7 -38 -16 -53 -20 -20 -4 -33 -16 -43 -40 -7 -18 -18
                            -36 -24 -40 -13 -8 -13 -51 0 -75 5 -10 21 -20 34 -24 20 -5 26 -14 31 -50 8
                            -52 -13 -101 -50 -118 -14 -6 -25 -17 -25 -25 0 -23 31 -14 65 20 44 44 53 91
                            31 170 -16 58 -16 62 2 86 26 35 67 39 99 9 20 -19 24 -29 19 -59 -5 -31 -2
                            -39 19 -53 33 -21 76 -98 90 -158 6 -27 15 -48 20 -46 17 5 8 83 -14 126 -12
                            23 -17 42 -12 42 15 0 32 36 25 55 -4 8 -18 22 -33 29 l-26 14 28 13 c15 7 26
                            17 24 23 -6 17 -49 36 -85 36 -29 0 -32 2 -26 24 4 19 -1 32 -20 50 -29 30
                            -41 31 -76 11z m145 -125 c-3 -5 -10 -10 -16 -10 -5 0 -9 5 -9 10 0 6 7 10 16
                            10 8 0 12 -4 9 -10z"/>
                            <path d="M855 831 c-7 -12 12 -24 25 -16 11 7 4 25 -10 25 -5 0 -11 -4 -15 -9z"/>
                            <path d="M246 778 c-69 -40 -109 -153 -72 -204 8 -10 16 -17 18 -14 2 3 12 18
                            22 33 9 15 28 33 42 39 13 6 24 18 24 26 0 10 4 12 13 5 6 -6 32 -13 56 -16
                            62 -8 71 -23 13 -23 -142 0 -218 -164 -126 -274 33 -38 74 -60 114 -60 35 0
                            37 8 10 52 -40 65 -16 159 49 193 44 22 48 20 53 -33 9 -96 91 -205 174 -232
                            25 -8 34 -18 34 -33 0 -12 7 -30 15 -41 12 -16 12 -20 -1 -33 -7 -8 -14 -21
                            -14 -29 0 -19 26 -18 34 2 5 14 7 14 22 0 17 -18 50 -21 59 -6 3 6 -5 14 -19
                            20 -55 21 -9 84 81 110 92 28 189 138 196 224 4 51 -20 40 -37 -17 -55 -189
                            -300 -252 -439 -113 -47 47 -67 85 -74 144 l-5 47 67 -3 c77 -4 118 4 112 21
                            -2 8 -24 11 -70 9 -95 -5 -103 -1 -99 52 5 54 -24 115 -70 147 -47 34 -131 37
                            -182 7z m494 -539 c0 -11 -27 -29 -33 -22 -14 14 -6 32 13 30 11 -1 20 -4 20
                            -8z"/>
                            <path d="M865 590 c-4 -6 10 -26 32 -45 21 -19 33 -34 27 -35 -6 0 -17 7 -24
                            15 -17 20 -54 19 -98 -4 -100 -51 -121 -60 -175 -74 -33 -9 -62 -19 -65 -22
                            -11 -11 49 -53 97 -70 59 -20 170 -19 221 1 75 30 107 109 72 174 -22 40 -76
                            77 -87 60z"/>
                        </g>
                    </svg>
                    <span>Ferme</span>
                </a>
            </li>

            {# station #}
            <li class="nav-item icon-station me-3">
                <a class="nav-link d-block text-center station-page-mobile" href="{{path('app_station')}}">
                    <svg class="mx-3" version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="50px" height="50px" viewBox="0 0 128.000000 128.000000"
                    preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                        stroke="none">
                            <path d="M397 942 c-13 -15 -17 -39 -17 -112 0 -79 3 -97 19 -114 15 -16 24
                            -51 35 -141 20 -148 20 -179 1 -195 -8 -7 -15 -28 -15 -46 l0 -34 184 0 c119
                            0 187 4 191 11 9 14 -2 55 -21 73 -12 13 -14 29 -8 86 6 64 9 70 29 70 38 0
                            55 -30 55 -98 0 -74 20 -102 73 -102 65 0 67 9 67 271 l0 235 -38 37 c-36 35
                            -62 47 -62 29 0 -5 11 -19 25 -32 14 -13 25 -27 25 -31 0 -5 -11 -25 -25 -45
                            -42 -62 -25 -144 31 -144 l24 0 0 -130 c0 -117 -2 -132 -20 -150 -24 -24 -30
                            -24 -55 -6 -15 11 -20 30 -23 84 -5 78 -19 100 -66 104 l-27 2 7 66 c5 47 13
                            73 30 93 21 25 24 39 24 106 0 64 -4 83 -21 105 l-20 26 -193 0 c-174 0 -195
                            -2 -209 -18z m368 -112 l0 -55 -157 -3 -158 -3 0 61 0 61 158 -3 157 -3 0 -55z
                            m195 -81 c0 -52 -2 -60 -17 -57 -26 5 -30 74 -7 99 9 10 19 19 21 19 1 0 3
                            -27 3 -61z"/>
                        </g>
                    </svg>
                    <span>Station</span>
                </a>
            </li>

            {# golf #}
            <li class="nav-item icon-golf me-3">
                <a class="nav-link d-block text-center golf-page-mobile" href="{{path('app_golf_france')}}">
                    <svg class="mx-auto" version="1.0" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 300.000000 500.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path d="M1141 4661 c-18 -33 -12 -59 21 -97 35 -40 40 -88 10 -110 -9 -7 -13
                        -19 -9 -33 3 -13 -1 -54 -9 -93 -8 -39 -16 -75 -17 -81 -2 -9 28 -32 78 -62
                        10 -6 16 -18 14 -28 -4 -16 -7 -15 -38 8 -20 14 -48 25 -65 25 -61 0 -217 -63
                        -253 -102 -21 -24 -34 -136 -20 -187 5 -19 22 -48 38 -64 l30 -29 -67 -172
                        c-37 -94 -93 -230 -125 -302 -70 -160 -84 -207 -105 -346 -14 -95 -14 -111 -1
                        -121 7 -7 20 -28 27 -47 7 -19 19 -40 26 -46 11 -9 10 -22 -6 -75 -13 -43 -20
                        -94 -20 -154 0 -49 -7 -153 -15 -230 -8 -77 -15 -206 -15 -287 l0 -148 41 0
                        42 0 -7 -47 c-36 -265 -27 -419 46 -766 11 -54 19 -100 17 -101 -2 -2 -65 -15
                        -139 -30 -239 -48 -437 -126 -527 -209 -56 -51 -87 -116 -79 -162 33 -174 408
                        -325 937 -375 198 -19 707 -8 883 19 340 53 578 136 688 239 59 55 78 88 78
                        137 0 94 -93 182 -271 256 -78 32 -318 99 -356 99 -27 0 -40 19 -22 31 11 7 9
                        17 -11 55 -13 26 -37 65 -53 86 -31 44 -33 44 -126 2 l-53 -24 -27 21 c-33 26
                        -121 151 -186 265 -40 70 -68 103 -140 167 -182 161 -176 155 -169 196 4 20
                        12 47 19 61 12 25 44 196 65 355 15 116 27 158 46 172 22 16 43 125 44 225 0
                        50 4 78 12 80 9 3 12 46 13 154 0 130 -3 159 -24 224 l-23 74 78 73 c44 40 85
                        79 92 86 7 6 40 42 72 80 50 56 60 74 60 104 0 20 10 52 23 72 19 31 22 49 21
                        128 -1 86 -3 96 -42 174 -31 61 -39 86 -31 96 26 31 105 73 148 78 25 4 55 11
                        66 16 26 13 321 -46 675 -134 l255 -64 16 -62 c9 -35 24 -70 32 -78 20 -20 73
                        -11 118 20 30 21 34 28 32 65 -1 24 -14 65 -30 95 -26 49 -31 52 -69 55 -38 3
                        -44 0 -65 -30 -12 -18 -24 -34 -25 -36 -3 -5 -185 40 -370 92 -89 24 -222 56
                        -295 70 -233 46 -270 57 -267 81 2 15 -3 21 -21 23 -14 2 -37 17 -53 34 -21
                        22 -34 29 -51 25 -12 -3 -56 -15 -97 -25 -41 -11 -77 -18 -79 -16 -12 10 39
                        106 79 151 73 80 89 173 46 271 -19 45 -32 59 -86 92 -86 53 -105 56 -190 27
                        l-73 -24 -56 22 c-93 37 -99 38 -110 16z m-8 -3298 c78 -75 177 -160 219 -190
                        65 -45 177 -155 178 -173 0 -3 -84 -4 -187 -2 -104 1 -236 -1 -295 -5 l-108
                        -9 0 100 c0 54 5 127 11 161 10 51 9 81 -5 168 -9 58 -16 111 -16 117 0 19 54
                        -26 203 -167z"></path>
                        </g>
                    </svg>
                    <span>Golf</span>
                </a>
            </li>

            {# tabac #}
            <li class="nav-item icon-tabac me-3">
                <a class="nav-link d-block text-center tabac-page-mobile" href="{{path('app_bureau_tabac')}}">
                    <svg class="mx-auto" version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 400.000000 400.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"  stroke="none">
                            <path d="M1999 3671 c-126 -45 -207 -119 -233 -216 -9 -33 -20 -67 -23 -75 -3
                            -8 -7 -20 -8 -25 -4 -18 -56 -178 -87 -265 -16 -47 -31 -96 -33 -110 -2 -14
                            -18 -65 -35 -115 -17 -49 -34 -103 -37 -120 -3 -16 -9 -34 -13 -40 -5 -5 -11
                            -27 -15 -47 -4 -21 -11 -38 -16 -38 -4 0 -11 -17 -14 -37 -6 -44 -9 -53 -65
                            -233 -23 -74 -53 -164 -67 -199 -22 -56 -24 -75 -20 -150 8 -119 12 -141 33
                            -184 16 -33 16 -41 5 -60 -11 -18 -11 -20 0 -9 11 10 22 -14 61 -135 26 -82
                            51 -164 54 -183 4 -19 10 -39 14 -45 4 -5 14 -32 22 -60 9 -27 39 -124 68
                            -215 28 -91 64 -205 80 -255 130 -419 124 -406 235 -478 59 -38 97 -53 185
                            -73 62 -14 150 -11 150 4 0 5 -24 22 -53 40 -30 18 -64 44 -76 57 -19 22 -55
                            111 -81 200 -5 17 -23 70 -39 118 -17 48 -31 97 -31 108 0 11 -7 33 -15 49 -8
                            16 -17 37 -18 47 -2 10 -9 32 -16 48 -7 17 -24 71 -37 120 -14 50 -32 106 -39
                            125 -36 92 -57 173 -51 198 5 19 4 23 -3 13 -7 -10 -18 13 -40 84 -17 55 -31
                            110 -31 122 0 13 -4 23 -9 23 -4 0 -14 21 -21 48 -7 26 -28 93 -46 149 -51
                            155 -59 109 116 653 15 47 47 150 71 230 23 80 46 149 51 154 4 6 8 17 8 25 0
                            22 51 184 61 195 5 6 9 17 9 27 0 15 60 209 79 254 25 60 31 78 31 94 0 26 25
                            72 35 63 5 -4 5 1 2 11 -4 11 -1 17 9 17 8 0 13 4 10 9 -3 5 1 14 9 21 14 12
                            19 7 16 -13 -1 -5 3 -6 9 -2 8 5 7 11 -1 21 -6 8 -10 16 -8 17 2 2 17 9 33 17
                            90 45 88 52 -17 49 -60 -1 -103 -9 -158 -28z"></path>
                            <path d="M1800 3570 c0 -5 5 -10 11 -10 5 0 7 5 4 10 -3 6 -8 10 -11 10 -2 0
                            -4 -4 -4 -10z"></path>
                            <path d="M2226 3215 c-17 -13 -33 -22 -37 -20 -3 3 -5 -7 -3 -20 1 -14 -1 -25
                            -5 -25 -5 0 -18 -39 -31 -87 -12 -49 -29 -101 -37 -116 -7 -15 -11 -32 -7 -38
                            3 -6 -2 -19 -12 -30 -10 -11 -12 -19 -5 -19 7 0 8 -6 2 -17 -24 -46 -45 -107
                            -44 -126 1 -11 -7 -37 -18 -58 -10 -21 -19 -49 -19 -63 0 -14 -4 -28 -10 -31
                            -5 -3 -10 -14 -10 -24 0 -9 -9 -36 -20 -59 -11 -22 -20 -48 -20 -57 0 -35 -45
                            -184 -79 -258 -12 -27 -19 -52 -17 -55 2 -4 -4 -32 -14 -61 -16 -49 -17 -58
                            -4 -95 8 -22 16 -57 17 -77 1 -21 5 -35 8 -33 7 4 21 -27 38 -86 6 -19 15 -51
                            22 -70 6 -19 19 -64 29 -100 19 -70 37 -124 51 -152 5 -10 9 -26 9 -36 0 -10
                            9 -36 20 -57 11 -22 18 -46 15 -53 -4 -12 21 -87 45 -133 5 -9 12 -34 15 -55
                            4 -22 18 -73 31 -115 14 -42 27 -86 29 -98 10 -55 30 -92 52 -97 13 -4 23 -9
                            23 -13 0 -4 15 -8 32 -8 18 0 27 2 20 5 -10 3 -10 6 1 16 14 11 74 183 69 199
                            -1 4 7 24 18 44 11 21 20 47 20 58 0 12 4 25 9 31 12 13 38 100 46 154 4 25
                            14 52 22 62 8 9 21 47 28 85 8 37 21 84 29 103 13 30 47 140 75 235 5 17 23
                            76 42 132 l33 103 -33 102 c-48 154 -51 163 -51 176 0 6 -5 23 -12 39 -6 15
                            -10 32 -9 36 1 5 -5 23 -13 40 -22 47 -76 213 -76 232 0 9 -6 26 -14 38 -8 12
                            -17 38 -20 57 -12 66 -29 120 -36 120 -5 0 -11 19 -15 43 -4 23 -16 59 -26 81
                            -11 21 -18 45 -15 52 3 7 1 16 -4 19 -6 4 -10 17 -10 30 0 13 -4 26 -9 29 -5
                            3 -14 26 -20 50 -6 24 -17 51 -25 59 -8 8 -12 19 -8 23 4 5 3 6 -2 2 -5 -4
                            -14 -4 -20 1 -7 6 -22 1 -40 -14z"></path>
                            <path d="M1662 2164 c-7 -8 -8 -14 -3 -14 10 0 25 19 20 25 -2 1 -10 -3 -17
                            -11z"></path>
                            <path d="M1665 1910 c-3 -5 -1 -10 4 -10 6 0 11 5 11 10 0 6 -2 10 -4 10 -3 0
                            -8 -4 -11 -10z"></path>
                            <path d="M1831 1274 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"></path>
                            <path d="M1520 1210 c0 -19 3 -21 12 -12 9 9 9 15 0 24 -9 9 -12 7 -12 -12z"></path>
                            <path d="M1520 1129 c0 -5 5 -7 10 -4 6 3 10 8 10 11 0 2 -4 4 -10 4 -5 0 -10
                            -5 -10 -11z"></path>
                            <path d="M2135 410 c-4 -6 -3 -16 3 -22 6 -6 12 -6 17 2 4 6 3 16 -3 22 -6 6
                            -12 6 -17 -2z"></path>
                        </g>
                    </svg>
                    <span>Tabac</span>
                </a>
            </li>
        </ul>
	</div>
</nav>
{# <a class="navbar-brand navbar-brand-mobile" href="{{path("app_home")}}"><img width="150" src="{{asset('assets/image/logo.png')}}" alt="logo"></a> #}



