{% extends 'base.html.twig' %}

{% block title %}
    ConsoMyZone : Actualité
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/agenda_tribuG.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js" ></script>
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/profil_tribuG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/publication_event.js') }}" defer></script>
    {# <script  src="{{ asset('assets/js/account/agenda_tributG.js') }}" defer></script> #}
    <script  src="{{ asset('assets/js/account/fetchMemberTributG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/fetchActualiteTributG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/fetchPhotosTributG.js') }}" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js" defer ></script>
{% endblock %}

{% block body %}
    
    <main class="main_user_id" 
          id='{{app.user.id}}'
          data-toggle-full-name= '{{profil[0].getFirstname ~ " " ~  profil[0].getLastname }}'
    >
        <div class="col-2">
				<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
					<div class="left_menu">
						{% include "shard/account_navleft.html.twig" %}
					</div>
				</div>
				<div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
					<div class="left_menu">
						{% include "shard/account_navleft_mobile.html.twig" %}
					</div>
				</div>
			</div>

        
        <div class="navbar-mobile">
			<div class="fixed-top col responsif-none">
				{{ include('shard/account_navbar.html.twig') }}
			</div>

			<div class="fixed-top col responsif-none-mobile">
				{{ include('shard/account_navbar_mobile.html.twig') }}
			</div>
		</div>

        <div class="content_right_actualite mobile-responsive" id="container-mobile">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="content_actualite">
                        <div class="entente">
                            <div class="container">
                                <br>
                                <div class="card card-pub p-3 bgPersonnalisee mb-5">
                                    {% include "tribu_g/head.html.twig" %}
                                </div>
                            </div>
                            <div class="content_bloc_js_jheo">

                                {% include "tribu_g/publications.html.twig" %}
                                
                                {# <div class="content_member_js_jheo">
                                    {% include "tribu_g/member_tributG.html.twig" %}
                                </div> #}
                                {# <div class="content_member_js_jheo">
                                    {% include "tribu_g/photos.html.twig" %}
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "tribu_g/modal_publication.html.twig" %}
    {% include "tribu_g/script_agenda_tribug.html.twig" %}

{% endblock %}

