{% extends 'base.html.twig' %}

{% block title %}
    ConsoMyZone : Actualité
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
    {# <link rel="stylesheet" href="{{asset('assets/css/account/agenda/agenda.css')}}"> #}
    {# <link rel="stylesheet" href="{{asset('assets/css/account/agenda_tribuG.css')}}"> #}

    <style>

        .days li.clicked::before{
			color :white;
			background:#0d6efd;
			border: 2px solid red;
		}
    
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js" ></script>
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/profil_tribuG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/publication_event.js') }}" defer></script>
    {# <script  src="{{ asset('assets/js/account/agenda_tributG.js') }}" defer></script> #}
    <script  src="{{ asset('assets/js/account/fetchMemberTributG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/fetchActualiteTributG.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/fetchPhotosTributG.js') }}" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js" defer ></script>
{% endblock %}

{% block body %}
    
    <main class="main_user_id" id='{{app.user.id}}' data-toggle-full-name= '{{profil[0].getFirstname ~ " " ~  profil[0].getLastname }}'>
        <div class="test">
            <div class="content_left_menu_account fixed-top mt-3 col responsif-none">
                <div class="left_menu">
                    {% include "shard/account_navleft.html.twig" %}
                </div>
            </div>
            <div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
                <div class="left_menu">
                    {% include "shard/account_navleft_mobile.html.twig" %}
                </div>
            </div>
        </div>



        
        <div class="navbar-mobile">
			<div class="fixed-top col responsif-none bg-blanc">
				{{ include('shard/account_navbar.html.twig') }}
			</div>

			<div class="fixed-top col responsif-none-mobile">
				{{ include('shard/account_navbar_mobile.html.twig') }}
			</div>
		</div>

        <div class="content_right_actualite-g mobile-responsive" id="container-mobile">
            <div class="row">
                <div class="col">
                    <div class="content_actualite">
                        <div class="entente">
                            <div class="container">
                                <br>
                                <div class="card-pub p-3 bgPersonnalisee">
                                    {% include "tribu_g/head.html.twig" %}
                                

                                    <a class="btn btn-primary btn_actualise btn_actualise_js_jheo hidden_actualise" href={{ path("app_account")}}>
                                        {# <div class="spinner-border text-light spinner_custom" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div> #}
                                        <div class="text_mini">
                                            Nouvelle publication
                                        </div>
                                    </a>

                                    <div class="row mt-3">
                                        <div class="col-8">
                                            <div class="content_bloc_js_jheo row">
                                                {% include "tribu_g/publications.html.twig" %}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card-appropos-g need_position_fixed_js_jheo responsif-none">
                                                <h4  class="tributG_profile_name" data-toggle-tribug-table={{tributG.table}} data-toggle-tribut-profil-name = {{tributG.profil.name}} >{{tributG.profil.name}}</h4>
                                                <small>
                                                    <i>{{tributG.profil.description}}</i>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                
                                    {# <div class="content_member_js_jheo">
                                        {% include "tribu_g/member_tributG.html.twig" %}
                                    </div> #}
                                    {# <div class="content_member_js_jheo">
                                        {% include "tribu_g/photos.html.twig" %}
                                    </div> #}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "tribu_g/modal_publication.html.twig" %}
    {# {% include "tribu_g/script_agenda_tribug.html.twig" %} #}
    <!-- Modal -->
    <div class="modal fade" id="agendaModalTribuG" tabindex="-1" aria-labelledby="agendaModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content agenda-modal-content">
                <div class="modal-header header-modal-agenda">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "agenda/calendrier.html.twig" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}