<div class="row card-tribu-g">
    <div class="col-12 w-25 contentImage-mobile">
        <img id="profilTribu" style="height: 150px; border-radius:10px;" src="{{tributG.profil.avatar ? asset('uploads/tribus/photos/' ~ tributG.profil.avatar) : asset('uploads/tribus/photos/avatar_tribu.jpg')}}">
        <div class="responsif-none">
            {% if tributG.profil.roles is same as("fondateur") %}
                <label style="margin-left:40%;" for="fileInputTribu">
                    <i class="bi bi-camera-fill change_photo_tribuG_js_jheo" style="font-size: 20px; margin-top:5px;cursor:pointer; background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                    {# <i  class="change_photo_tribuG_js_jheo" style="margin-top:5px;cursor:pointer;background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/0vR9H8iux5G.png?_nc_eui2=AeEvcr8vVXq0wxEnW6d-U2x6Cr_QprbGjx4Kv9CmtsaPHugo3hZW-h0b0iFoxO3NohAeoro_KXocl2rFKLxrU5ui&quot;); background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i> #}
                </label>
                <input type="file" name="fileInputTribu" id="fileInputTribu" style="display:none;visibility:none;">
            {% else %}
                <div class="my-2"></div>
            {% endif %}
        </div>
        <div class="responsif-none-mobile">
            {% if tributG.profil.roles is same as("fondateur") %}
                <label for="fileInputTribu">
                    <i class="bi bi-camera-fill change_photo_tribuG_js_jheo" style="font-size: 20px; margin-top:5px;cursor:pointer; background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                    {# <i  class="change_photo_tribuG_js_jheo" style="margin-top:5px;cursor:pointer;background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/0vR9H8iux5G.png?_nc_eui2=AeEvcr8vVXq0wxEnW6d-U2x6Cr_QprbGjx4Kv9CmtsaPHugo3hZW-h0b0iFoxO3NohAeoro_KXocl2rFKLxrU5ui&quot;); background-position: 0px -130px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i> #}
                </label>
                <input type="file" name="fileInputTribu" id="fileInputTribu" style="display:none;visibility:none;">
            {% else %}
                <div class="my-2"></div>
            {% endif %}
        </div>
    </div>
    <div class="col w-75"></div>
    <div class="container col tribuNameContent-mobile">
        <h4  class="tributG_profile_name" data-toggle-tribug-table={{tributG.table}} data-toggle-tribut-profil-name = {{tributG.profil.name}} >{{tributG.profil.name}}</h4>
        <small>
            <i>{{tributG.profil.description}}</i>
        </small>
    </div>
    <nav class="nav-tribu-g">
        <ul id="navBarTribu">
            <li class="listNavBarTribu tribu_active">
                <a href="#" id="fetch_actialite_tribug_js_jheo" class="active text-white" lng-tag="actualite">Actualité</a>
            </li>
            <li class="listNavBarTribu">
                <a style="cursor:pointer;" href="#" id="fetch_member_tribug_js_jheo">Partisans</a>
            </li>
            
            <li class="listNavBarTribu">
                <a style="cursor:pointer;" href="#" id="fetch_photo_tribug_js_jheo">Photos</a>
            </li>
            
            
        </ul>
    </nav>
    
</div>
<div class="" id="photos" style="display:none;"></div>
<div class="" id="invitations" style="display:none;"></div>
{# <div class="row p-3 div_mobile"></div> #}

<div id="showCreatePub" class="card publication-tribu-g mt-2">
    <div class="row p-3">
        <div class="rangee row">
            <div class="col-1 rounded-circle">
                <img id ="roundedImg" style="min-height: 50px; min-width:50px; max-width:50px; max-height: 50px;" class="rounded-circle border border-1" src={{ (profil[0].getPhotoProfil != null) ? profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }}>
            </div>
            <div class="col-11 user_button">
                <input id="btnShowModalAddPub" type="text" class="form-control form-control-lg rounded-pill bg-transparent text-white" data-bs-toggle="modal" data-bs-target="#modal_publication_tributG" data-bs-whatever="@mdo" placeholder="Exprimez-vous...">
            </div>
        </div>
        <hr class=" hr-pub mt-3 mx-auto">
        <div class="row">
            <div class="col-3 text-center souri-non-utilise">
                <i class="bi bi-play-btn-fill souri-non-utilise" ></i> <span class="responsif-none"> Vidéos</span>
                
            </div>
            {# <div class="col-3 text-center souri-non-utilise" onclick="getPosition()" data-bs-toggle="modal" data-bs-target="#modal_localisation"> #}
            <div class="col-3 text-center souri-non-utilise">
                <i class="bi bi-geo-alt-fill souri-non-utilise"></i><span class="responsif-none"> Localisation
            </div>
            {# <div class="col-3 text-center souri-non-utilise" data-bs-toggle="modal" data-bs-target="#modal_evenement" data-bs-whatever="@mdo"> #}
            <div class="col-3 text-center souri-non-utilise">
                <i class="bi bi-calendar2-event-fill"></i><span class="responsif-none"> Agenda

            </div>
            <div class="col-3 text-center souri-non-utilise">
                <i class="bi bi-pencil-square souri-non-utilise"></i><span class="responsif-none"> Article
        </div>

</div>

{# <hr class="mt-3">
<div class="row p-3">
    <button type="submit" class="btn btn-primary float-start" data-bs-toggle="modal" data-bs-target="#modal_publication_tributG" data-bs-whatever="@mdo">
        <i class="bi bi-send-plus-fill"></i>
        Créer une publication
    </button>
</div> #}