{# <div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub pub_{{tribu.table}}_{{publication.id}}_jheo_js" id="ID_{{tribu.table}}_{{publication.id}}_jheo_js" > #}
<div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub pub_{{tribu.table}}_{{publication.id}}_jheo_js" id="{{tribu.table ~ '_' ~ publication.id}}" data-name = "{{tribu.table}}" data-id="{{publication.id}}" data-confid="{{publication.confidentiality}}">
    <div class="head-pub content_header_pub">
        <div class="content_pub_info">
            <div class="pdp-content">
                <img class="profil_publication" 
                    src="{{(userOwnPub.profil) ? '/public' ~ userOwnPub.profil : '/public/uploads/users/photos/default_pdp.png' }}" 
                    alt="{{userOwnPub.fullName}}"
                    data-bs-toggle="modal" data-bs-target="#modal_show_photo" onclick="setPhotoTribu(this)"
                >
            </div>
           
            <div class="name-content-h">
                <div class="name-content responsif-none">
                    <h5> &ensp;{{userOwnPub.fullName}} &ensp;</h5>
                    <div class="">
                        <p  class="p-title"> a publié sur <span id="btnGroupDrop0" 
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                        class="tribu_name_jheo_js">{{tribu.name | split('_', 4)|last|replace({'_':' '})|capitalize }}</span></p>
                        {# <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                            <p class="dropdown-item" >{{tribu.name}}</p>
                            <p class="dropdown-item" >{{tribu.description}}</p>
                        </div> #}
                        {# | split('_', 4)|last|replace({'_':' '})|capitalize #}
                    </div>
                </div>
<div class="name-tribu-g responsif-none-pc">
                    <p  class="p-title"><span id="btnGroupDrop0" 
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                    class="tribu_name_jheo_js">{{tribu.name | split('_', 4)|last|replace({'_':' '})|capitalize }}</span></p>
                </div>
                <div class="name-content responsif-none-pc">
                    <h5> &ensp;{{userOwnPub.fullName}} &ensp;</h5>
                </div>
                <div class="status-content d-flex">
                    <p class="p-heure">{{ publication.createdAt }}</p>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        
                        {% if userOwnPub.id == app.user.id %}
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if publication.confidentiality == 1 %}
                                        <i class="fa-solid fa-earth-oceania config_jheo_js" data-confid="1"></i>
                                    {% else %}
                                        <i class="bi bi-lock-fill config_jheo_js" data-confid="0"></i>
                                    {% endif %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a data-id="{{publication.id}}" data-name="{{tribu.table}}" class="{{ (publication.confidentiality == 1) ? "dropdown-item active" : "dropdown-item"}}" onclick="updateVisibility(this)" href="#"><i class="fa-solid fa-earth-oceania"></i> Tous les fans </a>
                                    <a data-id="{{publication.id}}" data-name="{{tribu.table}}" class="{{ (publication.confidentiality == 1) ? "dropdown-item" : "dropdown-item active"}}" onclick="updateVisibility(this)" href="#"><i class="bi bi-lock-fill"></i> Moi uniquement</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if userOwnPub.id == app.user.id %}
            <div class="param-content">
                <span class="float-end dropstart">
                    <span class="float-end" style="cursor:pointer" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots" style="cursor:pointer"></i>
                    </span>
                    <ul class="dropdown-menu">
                        {# <li data-bs-toggle="modal" data-bs-target="#modal_publication_modif" onclick="bindDataUpdatePub('{{tribu.table}}','{{publication.id}}')"> #}
                        <li>
                            <button onclick="setHiddenValue('{{tribu.table}}', 'Update', '{{publication.id}}')" data-bs-toggle="modal" data-bs-target="#modal_publication_modif" class="text-primary dropdown-item">
                                <i class="fas fa-edit"></i>
                                Modifier
                            </button>
                        </li>
                        {# <li  data-bs-toggle="modal" data-bs-target="#deletePubModalConfirm" onclick="removePublication('{{publication.id}}', '{{tribu.table}}')"> #}
                        <li>
                            <button onclick="setHiddenValue('{{tribu.table}}', '', '{{publication.id}}')" data-bs-toggle="modal" data-bs-target="#deletePubModalConfirm" class="text-danger dropdown-item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                                Supprimer
                            </button>
                        </li>
                    </ul>
                </span>
            </div>
        {% endif %}
    </div>
        
    <div class="card-pub-actu">
        <p class="text-pub mb-3 pub_description_jheo_js">{{publication.description}}</p>
        {% if publication.image is defined and publication.image is not same as("") %}
            <img class="image_publication pub_image_jheo_js"  src="{{publication.image}}" alt="image publication" data-bs-toggle="modal" data-bs-target="#modal_show_photo" onclick="setPhotoTribu(this)">
        {% endif %}
    </div>
     {# content_nbr_comment_jheo_js #}
     
         {# class="nbr_comment_jheo_js" #}
    <div class="card-reaction">
       
          <p class="text-comment content_nbr_comment_jheo_js"  onclick="">
            <span class="nbr_reaction_elie_js cursor-pointer" data-bs-toggle="modal" data-bs-target="#listeReacteur" id="nbr_reaction_pub_{{tribu.table}}_{{publication.id}}"
                onclick="getAllReaction('{{publication.id}}', '{{tribu.table}}', '{{userOwnPub.id}}')" >{{ publication.reactions|length ~ (publication.reactions|length > 1 ? " réactions" : " réaction" ) }} </span>

            <span  class="nbr_comment_jheo_js">{{ publication.comments|length ~ (publication.comments|length > 1 ? " commentaires" : " commentaire" ) }} </span>
        </p>
       
        <div class="reaction-icon d-flex">
            {% if publication.reactions > 0 %}
                {% set _i = 0 %}
                {% for reaction in publication.reactions %}
                    {% if reaction.user_id == app.user.id and reaction.reaction == 1 %}
                        {% set _i = 1 %}
                        <i style="cursor:pointer;" class="bi-heart-fill like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
                    {% endif %}
                {% endfor %}
                {% if _i == 0 %}
                    <i style="cursor:pointer;" class="bi-heart like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
                {% endif %}
            {% else %}
                <i style="cursor:pointer;" class="bi-heart like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
            {% endif %}
            <i style="cursor:pointer;" class=" fa-regular fa-comment comment" data-bs-toggle="modal" data-bs-target="#commentaire"  onclick="getAllComment('{{publication.id}}', '{{tribu.table}}', '{{userOwnPub.id}}')"></i>
        </div>
    </div>
    
</div>