{% if publication.image is defined and publication.image is not same as("") %}

	<div class="carbonads pub_{{tribu.table}}_{{publication.id}}_jheo_js" id="{{tribu.table}}_{{publication.id}}" data-name = "{{tribu.table}}" data-id="{{publication.id}}" data-confid="{{publication.confidentiality}}">
		<div class="carbon-wrap">
		<span class="carbon-img" rel="noopener sponsored">
			<img class="publication-image" src="{{publication.image }}" alt="image publication" border="0" height="80" width="100" style="max-width: 100px;" data-bs-toggle="modal" data-bs-target="#modal_show_photo" onclick="setPhotoTribu(this)">
		</span>
		<div class="detail-publication-actualite">
{% else %}
	<div class="carbonads_no_image pub_{{tribu.table}}_{{publication.id}}_jheo_js" id="{{tribu.table}}_{{publication.id}}" data-name = "{{tribu.table}}" data-id="{{publication.id}}" data-confid="{{publication.confidentiality}}">
		<div class="carbon-wrap">
		<div class="">

{% endif %}
			<div class="d-flex head-publication-actualite">
				<img class="profil_publication_actualite me-1" src="{{(userOwnPub.profil) ? '/public' ~ userOwnPub.profil : '/public/uploads/users/photos/default_pdp.png' }}" alt="{{userOwnPub.fullName}}">
				<a href="/user/profil/{{userOwnPub.id}}" class="carbon-text" target="_blank" rel="noopener sponsored">
					<span class="user-publication-actualite">{{userOwnPub.fullName}}</span> 
					a publié sur 
					<span class="tribu-publication-actualite">{{(tribu.type == "Tribu T" ? tribu.type : "") ~ " " ~ tribu.name | split('_', 4)|last|replace({'_':' '})|capitalize }} </span>
					<i class="bi bi-clock-fill clock-publication-actualite"> {{ publication.createdAt }}</i>
				</a>
				{# {% if userOwnPub.id is same as( app.user.id) %} #}
					<div class="ms-2 btn-group" role="group">
						<button id="btnGroupDrop1" class="dropdown-toggle bg-transparent" {{ userOwnPub.id == app.user.id ? "data-bs-toggle=\"dropdown\"" : "" }} aria-haspopup="true" aria-expanded="false">
							{% if publication.confidentiality == 1 %}
								<i class="fa-solid fa-earth-oceania config_jheo_js" data-confid="1"></i>
							{% else %}
								<i class="bi bi-lock-fill config_jheo_js" data-confid="0"></i>
							{% endif %}
						</button>
						{% if userOwnPub.id == app.user.id %}
						<div class="dropdown-menu confid-publication-actualite" aria-labelledby="btnGroupDrop1">
							<a data-id="{{publication.id}}" data-name="{{tribu.table}}" class="{{ (publication.confidentiality == 1 ) ? "dropdown-item active" : "dropdown-item"}}" onclick="updateVisibility(this)" href="#"><i class="fa-solid fa-earth-oceania"></i> Tous les fans </a>
							<a data-id="{{publication.id}}" data-name="{{tribu.table}}" class="{{ (publication.confidentiality == 1 ) ? "dropdown-item" : "dropdown-item active"}}" onclick="updateVisibility(this)" href="#"><i class="bi bi-lock-fill"></i> Moi uniquement</a>
						</div>
						{% endif %}
					</div>
				{# {% endif %} #}
				{# <span class="ms-2 badge badge-type text-bg-{{tribu.type is same as("Tribu G") ? "success" : "warning" }}">{{tribu.type|replace({'Tribu ':''})}}</span> #}
			</div>
			
			<p class="carbon-poweredby" rel="noopener sponsored">
				<p class="full_description d-none">{{publication.description}}</p>
					{% if publication.description|length > 60 %}
						<p class="text-pub mb-2 pub_description_jheo_js pub_decription_normal">{{publication.description|slice(0, 60) ~ "... "}} <span class="voir-plus-publication tooltip-elie" onclick='openDetailPublication("{{tribu.table}}_{{publication.id}}")'>Lire la suite <span class="tooltiptext">Cliquez pour voir plus de description.</span></span> </p>
						<p class="text-pub mb-2 pub_description_jheo_js pub_decription_mobile">{{publication.description|slice(0, 30) ~ "... "}} <span class="voir-plus-publication tooltip-elie" onclick='openDetailPublication("{{tribu.table}}_{{publication.id}}")'>Lire la suite <span class="tooltiptext">Cliquez pour voir plus de description.</span></span> </p>
					{% else %}
						<p class="text-pub mb-2 pub_description_jheo_js">{{publication.description}}</p>
					{% endif %}
			</p>

			<span class="voir-plus-publication tooltip-elie" onclick='openDetailPublication("{{tribu.table}}_{{publication.id}}")' data-src="{{publication.image }}">Voir détail <span class="tooltiptext">Cliquez pour voir plus de détail de cette publication.</span></span>

			{% if userOwnPub.id == app.user.id %}
				<div class="param-content">
					<span class="float-end dropstart">
						<span class="float-end" style="cursor:pointer" data-bs-toggle="dropdown">
							<i class="bi bi-three-dots" style="cursor:pointer"></i>
						</span>

						<ul class="dropdown-menu param-publication-actualite">
							<li>
								<button onclick="setHiddenValue('{{tribu.table}}', 'Update', '{{publication.id}}')" data-bs-toggle="modal" data-bs-target="#modal_publication_modif" class="text-primary dropdown-item">
									<i class="fas fa-edit"></i>
									Modifier
								</button>
							</li>
							<li>
								<button onclick="setHiddenValue('{{tribu.table}}', '', '{{publication.id}}')" data-bs-toggle="modal" data-bs-target="#deletePubModalConfirm" class="text-danger dropdown-item">
										<i class="fas fa-trash" aria-hidden="true"></i>
										Supprimer
								</button>
							</li>
						</ul>

					</span>
				</div>
			{% endif %}
				
		</div>
	</div>

	<div class="card-reaction d-none">
		<hr class="mt-2">
		<p class="text-comment content_nbr_comment_jheo_js">
		{# class="nbr_comment_jheo_js" #}
				<span class="nbr_reaction_elie_js cursor-pointer" data-bs-toggle="modal" data-bs-target="#listeReacteur" id="nbr_reaction_pub_{{tribu.table}}_{{publication.id}}"
				onclick="getAllReaction('{{publication.id}}', '{{tribu.table}}', '{{userOwnPub.id}}')" >{{ publication.reactions|length ~ (publication.reactions|length > 1 ? " réactions" : " réaction" ) }} </span>
				<span  class="nbr_comment_jheo_js">{{ publication.comments|length ~ (publication.comments|length > 1 ? " commentaires" : " commentaire" ) }} </span>
		</p>

		<div class="reaction-icon d-flex reaction-icon-actualite">
			{% if publication.reactions > 0 %}
				{% set _i = 0 %}
				{% for reaction in publication.reactions %}
					{% if reaction.user_id == app.user.id and reaction.reaction == 1 %}
						{% set _i = 1 %}
						<i style="cursor:pointer;" class="bi-heart-fill like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
					{% endif %}
				{% endfor %}
				{% if _i == 0 %}
					<i style="cursor:pointer;" class="bi-heart like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
				{% endif %}
			{% else %}
				<i style="cursor:pointer;" class="bi-heart like reaction_{{tribu.table}}_{{publication.id}}" onclick="isLike('{{publication.id}}', '{{userOwnPub.id}}', '{{tribu.table}}')"></i>
			{% endif %}
			<i style="cursor:pointer;" class=" fa-regular fa-comment comment" data-bs-toggle="modal" data-bs-target="#commentaire"  onclick="getAllComment('{{publication.id}}', '{{tribu.table}}', '{{userOwnPub.id}}')"></i>
		</div>
	</div>
</div>

