{% extends 'base.html.twig' %}

{% block title %}Tabac ConsoMyZone{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/tabac/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/search.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/tabac/app_specifique.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}


{% block javascripts %}

	<script src="{{asset('assets/js/tabac/data_tabac.js')}}" defer></script>
    
    <script src="{{asset('assets/js/tabac/leaflet.shpfile.js')}}" defer></script>
    <script src="{{asset('assets/js/tabac/shp.js')}}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterTabac.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/tabac/marckerClusterTabac_spec.js') }}" defer></script>
    
	{# <script type="text/javascript" src="{{ asset('assets/js/golf/filter_a-z_asc_desc.js') }}" defer></script> #}
	<script src="{{asset('assets/js/tabac/details.js')}}" defer></script>
{% endblock %}

{% block body %}
	{% include 'shard/tabac/specific_tabac_navleft_mobile.twig' %}
	<div class="content_cart_body">

        {# //// NAV LEFT #}
		<div class=" responsif-none" id="tous">
			{% include 'shard/tabac/specific_tabac_navleft.twig' %}
		</div>

        {# //// NAV BAR  #}
        <div class="responsif-none">
            {% include 'shard/navbar.twig' %}
        </div>
        <div class="responsif-none-pc navbar-mobile-all">
            {% include 'shard/navbar_mobile.twig' %}
        </div>

        {# {% if (app.user) %}
            <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-tabac-spec-mobile-tomm-js" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt"  onclick="addListSpecificTabac('{{nom_dep}}','{{id_dep}}')">
        {% else %}
            <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-tabac-spec-mobile-tomm-js"  onclick="addListSpecificTabac('{{nom_dep}}','{{id_dep}}')">
        {% endif %}
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="open-search-mobil open-search-mobil-tomm-js responsif-none-pc " id="open-search-resto-specific-mobil">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="search-resto-mobil search-mobil-tomm-js search-resto-mobil-none vd to/4 to/4/2 wf yf responsif-none-pc" id="search-resto-specific-mobil">
                {% include 'shard/search_mobile.html.twig' %}
            </div> #}
        
		<div class="tabac-mobile">
		    {# <button class="btn btn-primary btn-spec responsif-none-pc"  id="open-navleft-tabac-spec-mobile-tomm-js" onclick="addListSpecificTabac('{{nom_dep}}', '{{id_dep}}')"><i class="fa-solid fa-bars"></i> Tabac à {{nom_dep}}</button> #}
			{# <div class="open-navleft-mobile responsif-none-pc" id="open-navleft-mobile-specific" onclick="addSpecificgolfMobile('{{nom_dep}}','{{id_dep}}')">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="10vw" height="10vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

                    <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path d="M350 930 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 930 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M450 830 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M670 830 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 720 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M790 720 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M680 620 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M900 620 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 500 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M790 500 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M460 410 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M680 410 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M340 300 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M560 300 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                        -56 20 l-49 0 0 -40z"/>
                    </g>
                </svg>
            </div> #}
            {# <div id="list-depart-tabac-mobile-spec-tomm-js"></div> #}
            {% if (app.user) %}
                <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-tabac-mobile-tomm-js" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
            {% else %}
                <div class="open-navleft-mobile responsif-none-pc tc _o" id="open-navleft-tabac-mobile-tomm-js">
            {% endif %}
                    <i class="fa-solid fa-bars"></i>
                </div>
            
            <div id="list-depart-tabac-mobile-tomm-js"></div> 
			<div class="d-flex content_cart_map content_cart_map_jheo_js">
				<div class="cart_map cart_map_js cart_map_jheo_js">

					<div class="chargement_content" id="toggle_chargement">
                        <div class="containt">
                            <div class="word word-1">C</div>
                            <div class="word word-2">M</div>
                            <div class="word word-3">Z</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% include 'shard/chatBot.html.twig' %}
{% endblock %}

