{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Modification de profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
<script  src="{{ asset('assets/js/account/confidentiality.js') }}" defer></script>
	{# <script  src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script> #}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block body %}

<div class="nh">
	{% include 'shard/account_navleft_new.html.twig' %}
	{% include 'shard/account_navbar_new.html.twig' %}
	<!-- ===== Main Content Start ===== -->
	<main class="gv hm hv">
		<div class="sk bu 2xl:ud-p-11 account-setting-connected">
			<div title="Revenir vers la page profil"><a href="/user/profil/{{app.user.id}}"><i class="bi bi-arrow-left" style="font-size:30px;"></i></a></div>
			<div class="lc kg hg yg _b">
				<!-- Confidentialité Card -->
				<div class="yd qh ni bj wr nj xr cl">

					<h3 class="tn jn zn gs ab">
						Confidentialité sur le compte
						<i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#confid_compte" role="button" onclick="toggleClass(this)"></i>
					</h3>

					<div class="mt-4 collapse" id="confid_compte">

						<p class="text-warning">Modifiez votre Confidentialité</p>

						<div class="content-confid-email confid_compte_nanta_js row mt-2">
							<div class="col-5">
								<p>Adresse e-mail</p>
								{# <span class="fst-italic">to************@gmail.com</span> #}
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="email" id="non-mail-tout" data-rank="0" {% if confEmail["isEmailPrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="email" id="oui-mail-tout" data-rank="1" {% if confEmail["isEmailPublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="email" data-rank="2" {% if confEmail["isEmailPublicOnTribu"] %}checked{% endif %} id="email-tribu" data-bs-toggle="collapse" href="#confid_compte_email" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_email">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="email_{{item['table_name']}}">
													{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="email_{{item['table_name']}}" id="email_{{item['table_name']}}" 
													{% if item["isEmailPublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>

								</div>
							</div>
						</div>
						<div class="content-confid-fname confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Prénom(s)</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="firstName" data-rank="0" id="non-fname-tout" {% if conFirstName["isFirstNamePrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="firstName" data-rank="1" id="oui-fname-tout" {% if conFirstName["isFirstNamePublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certains tribus">Tribu</label>
										<input title="Visible pour le membre de certains tribus" type="radio" name="firstName" data-rank="2" {% if conFirstName["isFirstNamePublicOnTribu"] %}checked{% endif %} id="fname-tribu" data-bs-toggle="collapse" href="#confid_compte_fname" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_fname">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="firstName_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="firstName_{{item['table_name']}}" id="firstName_{{item['table_name']}}" 
													{% if item["isFirstNamePublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-lname confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Nom</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="lastName" data-rank="0" id="non-fname-tout" {% if conLastName["isLastNamePrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="lastName" data-rank="1" id="oui-fname-tout" {% if conLastName["isLastNamePublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certains tribus">Tribu</label>
										<input title="Visible pour le membre de certains tribus" type="radio" name="lastName" data-rank="2" {% if conLastName["isLastNamePublicOnTribu"] %}checked{% endif %} id="lname-tribu" data-bs-toggle="collapse" href="#confid_compte_lname" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_lname">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="lastName_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="lastName_{{item['table_name']}}" id="lastName_{{item['table_name']}}" 
													{% if item["isLastNamePublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-adresse confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Adresse</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="adresse" data-rank="0" id="non-adress-tout" {% if confAdresse["isAdressePrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="adresse" data-rank="1" id="oui-adress-tout" {% if confAdresse["isAdressePublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="adresse" data-rank="2" {% if confAdresse["isAdressePublicOnTribu"] %}checked{% endif %} id="adresse-tribu" data-bs-toggle="collapse" href="#confid_compte_adress" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_adress">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="adresse_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="adresse_{{item['table_name']}}" id="adresse_{{item['table_name']}}" 
													{% if item["isAdressePublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-phone confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Numéro de téléphone</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="num" data-rank="0" id="non-num-tout" {% if confPhoneNumber["isPhoneNumberPrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="num" data-rank="1" id="oui-num-tout" {% if confPhoneNumber["isPhoneNumberPublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="num" data-rank="2" {% if confPhoneNumber["isPhoneNumberPublicOnTribu"] %}checked{% endif %} id="phone-tribu" data-bs-toggle="collapse" href="#confid_compte_num" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_num">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="phone_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="phone_{{item['table_name']}}" id="phone_{{item['table_name']}}" 
													{% if item["isPhonePublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-badgeFan confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Badge Fan</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="badgeFan" data-rank="0" id="non-badgeFan-tout" {% if confBadgeFan["isBadgeFanPrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="badgeFan" data-rank="1" id="oui-badgeFan-tout" {% if confBadgeFan["isBadgeFanPublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="badgeFan" data-rank="2" {% if confBadgeFan["isBadgeFanPublicOnTribu"] %}checked{% endif %} id="badgeFan-tribu" data-bs-toggle="collapse" href="#confid_compte_badgeFan" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_badgeFan">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="badgeFan_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="badgeFan_{{item['table_name']}}" id="badgeFan_{{item['table_name']}}" 
													{% if item["isBadgeFanPublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-badgeDonBleu confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Badge Donateur bleu</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="badgeDonBleu" data-rank="0" id="non-badgeDonBleu-tout" {% if confBadgeDonBleu["isBadgeDonBleuPrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="badgeDonBleu" data-rank="1" id="oui-badgeDonBleu-tout" {% if confBadgeDonBleu["isBadgeDonBleuPublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="badgeDonBleu" data-rank="2" {% if confBadgeDonBleu["isBadgeDonBleuPublicOnTribu"] %}checked{% endif %} id="badgeDonBleu-tribu" data-bs-toggle="collapse" href="#confid_compte_badgeDonBleu" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_badgeDonBleu">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="badgeDonBleu_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="badgeDonBleu_{{item['table_name']}}" id="badgeDonBleu_{{item['table_name']}}" 
													{% if item["isBadgeDonBleuPublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-badgeDonVert confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Badge Donateur vert</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="badgeDonVert" data-rank="0" id="non-badgeDonVert-tout" {% if confBadgeDonVert["isBadgeDonVertPrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="badgeDonVert" data-rank="1" id="oui-badgeDonVert-tout" {% if confBadgeDonVert["isBadgeDonVertPublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="badgeDonVert" data-rank="2" {% if confBadgeDonVert["isBadgeDonVertPublicOnTribu"] %}checked{% endif %} id="badgeDonVert-tribu" data-bs-toggle="collapse" href="#confid_compte_badgeDonVert" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_badgeDonVert">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="badgeDonVert_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="badgeDonVert_{{item['table_name']}}" id="badgeDonVert_{{item['table_name']}}" 
													{% if item["isBadgeDonVertPublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-badgeActionnaire confid_compte_nanta_js row mt-4">
							<div class="col-5">
								<p>Badge Actionnaire</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-4">
										<label for="" title="Non visible pour tous le membre de vos tribus G et T">Moi uniquement</label>
										<input title="Non visible pour tous le membre de vos tribus G et T" type="radio" name="badgeActionnaire" data-rank="0" id="non-badgeActionnaire-tout" {% if confBadgeActionnaire["isBadgeActionnairePrivate"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour tous le membre de vos tribus G et T">Public</label>
										<input title="Visible pour tous le membre de vos tribus G et T" type="radio" name="badgeActionnaire" data-rank="1" id="oui-badgeActionnaire-tout" {% if confBadgeActionnaire["isBadgeActionnairePublic"] %}checked{% endif %}>
									</div>
									<div class="col-4">
										<label for="" title="Visible pour le membre de certaines tribus">Tribu</label>
										<input title="Visible pour le membre de certaines tribus" type="radio" name="badgeActionnaire" data-rank="2" {% if confBadgeActionnaire["isBadgeActionnairePublicOnTribu"] %}checked{% endif %} id="badgeActionnaire-tribu" data-bs-toggle="collapse" href="#confid_compte_badgeActionnaire" role="button">
									</div>
									<div class="mt-4 collapse content-confid-tribu" id="confid_compte_badgeActionnaire">
<button type="button" class="btn-close" aria-label="Close" onclick="closeParentList(this)" title="Fermer la liste"></button>
										<ul class="list-group list-group-flush">
											{% for item in allTribus %}
												<li class="list-group-item">
													<label for="badgeActionnaire_{{item['table_name']}}">{{ item["type"] == "t" ? "Tribu T " : "Tribu G " }}{{item["name"]}}</label>
													<input type="checkbox" data-boum="{{item['table_name']}}" name="badgeActionnaire_{{item['table_name']}}" id="badgeActionnaire_{{item['table_name']}}" 
													{% if item["isBadgeActionnairePublic"] %}checked{% endif %} title="Visible pour le membre de cette tribu si cette case est cochée">
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="content-confid-identif row mt-4 d-none">
							<div class="col-5">
								<p>Identification à deux facteurs</p>
							</div>
							<div class="col-7">
								<div class="row">
									<div class="col-6">
										<label for="">E-mail</label>
										<input type="radio" name="idontification" id="par-email">
									</div>
									<div class="col-6">
										<label for="">SMS</label>
										<input type="radio" name="idontification" id="par-sms">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
					<!-- Confidentialité Card -->
				<!-- Setting Card One -->
				<div class="yd qh ni bj wr nj xr cl">

					<h3 class="tn jn zn gs ab">
						Information sur le compte  <i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#info_compte" role="button" onclick="toggleClass(this)"></i>
					</h3>

					<div class="mt-4 collapse" id="info_compte">
						
						<p>Modifiez votre profil.</p>

						<div class="h qa ld yd tf th gb zb mdf-pdp">
							{# <img src="/assets/image/img_avatar3.png" alt="profile" style="height:90px;"/> #}
							<img src="{{(userConnected.photo_profil) ? '/public'~ userConnected.photo_profil : '/public/uploads/users/photos/default_pdp.png' }}" alt="profile" style="height:90px;"/>
							
							<label class="g -ud-bottom-3 aa/2 -ud-translate-x-1/2 lc nd ue cg mg pg th ni bj wr nj co wq" data-bs-toggle="modal" data-bs-target="#addPictureModal">
								<svg class="hk" width="10" height="9" viewbox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1H2.5L3.20711 0.292893C3.39464 0.105356 3.649 0 3.91421 0H6.08579C6.351 0 6.60536 0.105357 6.79289 0.292893L7.5 1H9C9.26522 1 9.51957 1.10536 9.70711 1.29289C9.89464 1.48043 10 1.73478 10 2V8C10 8.26522 9.89464 8.51957 9.70711 8.70711C9.51957 8.89464 9.26522 9 9 9H1C0.734784 9 0.48043 8.89464 0.292893 8.70711C0.105357 8.51957 0 8.26522 0 8V2C0 1.73478 0.105357 1.48043 0.292893 1.29289C0.48043 1.10536 0.734784 1 1 1ZM5 2.5C4.33696 2.5 3.70107 2.76339 3.23223 3.23223C2.76339 3.70107 2.5 4.33696 2.5 5C2.5 5.66304 2.76339 6.29893 3.23223 6.76777C3.70107 7.23661 4.33696 7.5 5 7.5C5.66304 7.5 6.29893 7.23661 6.76777 6.76777C7.23661 6.29893 7.5 5.66304 7.5 5C7.5 4.33696 7.23661 3.70107 6.76777 3.23223C6.29893 2.76339 5.66304 2.5 5 2.5ZM5 3.5C5.39782 3.5 5.77936 3.65804 6.06066 3.93934C6.34196 4.22064 6.5 4.60218 6.5 5C6.5 5.39782 6.34196 5.77936 6.06066 6.06066C5.77936 6.34196 5.39782 6.5 5 6.5C4.60218 6.5 4.22064 6.34196 3.93934 6.06066C3.65804 5.77936 3.5 5.39782 3.5 5C3.5 4.60218 3.65804 4.22064 3.93934 3.93934C4.22064 3.65804 4.60218 3.5 5 3.5Z" fill=""/>
								</svg>

							</label>
							{# <label for="fileInputProfil" class="g -ud-bottom-3 aa/2 -ud-translate-x-1/2 lc nd ue cg mg pg th ni bj wr nj co wq">
								<svg class="hk" width="10" height="9" viewbox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1H2.5L3.20711 0.292893C3.39464 0.105356 3.649 0 3.91421 0H6.08579C6.351 0 6.60536 0.105357 6.79289 0.292893L7.5 1H9C9.26522 1 9.51957 1.10536 9.70711 1.29289C9.89464 1.48043 10 1.73478 10 2V8C10 8.26522 9.89464 8.51957 9.70711 8.70711C9.51957 8.89464 9.26522 9 9 9H1C0.734784 9 0.48043 8.89464 0.292893 8.70711C0.105357 8.51957 0 8.26522 0 8V2C0 1.73478 0.105357 1.48043 0.292893 1.29289C0.48043 1.10536 0.734784 1 1 1ZM5 2.5C4.33696 2.5 3.70107 2.76339 3.23223 3.23223C2.76339 3.70107 2.5 4.33696 2.5 5C2.5 5.66304 2.76339 6.29893 3.23223 6.76777C3.70107 7.23661 4.33696 7.5 5 7.5C5.66304 7.5 6.29893 7.23661 6.76777 6.76777C7.23661 6.29893 7.5 5.66304 7.5 5C7.5 4.33696 7.23661 3.70107 6.76777 3.23223C6.29893 2.76339 5.66304 2.5 5 2.5ZM5 3.5C5.39782 3.5 5.77936 3.65804 6.06066 3.93934C6.34196 4.22064 6.5 4.60218 6.5 5C6.5 5.39782 6.34196 5.77936 6.06066 6.06066C5.77936 6.34196 5.39782 6.5 5 6.5C4.60218 6.5 4.22064 6.34196 3.93934 6.06066C3.65804 5.77936 3.5 5.39782 3.5 5C3.5 4.60218 3.65804 4.22064 3.93934 3.93934C4.22064 3.65804 4.60218 3.5 5 3.5Z" fill=""/>
								</svg>

								<input type="file" name="profile" id="fileInputProfil" class="d"/>

							</label> #}
						</div>

						{% if app.user.type == "consumer" %}
							{{form_start(form)}}
<div class="db">
									<label class="jc un zn gs fb form-label required" lng-tag="pseudo" for="setting_pseudo">Pseudo</label>
									<input type="text" id="setting_pseudo" name="setting_pseudo" required="required" class="yd nj qh ni bj jr fr ps zn gs il cm zr wr form-control" value="{{pseudo}}">
									<span class="text-danger text-sm input-not-valid d-none pseudo_required">Veuillez renseigner votre pseudo</span>
									<span class="text-danger text-sm input-not-valid d-none pseudo_checked"></span>
								</div>
								<div class="db">
									{{ form_label(form.firstname , "Prénom", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'nom'}}) }}
									{{ form_widget(form.firstname, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.lastname , "Nom", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'prenom'}}) }}
									{{ form_widget(form.lastname, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.telephone , "Téléphone mobile", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'telephone'}}) }}
									{{ form_widget(form.telephone, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.telFixe , "Téléphone fixe", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'phone_fixe'}}) }}
									{{ form_widget(form.telFixe, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.numRue , "N° de rue", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'rue'}}) }}
									{{ form_widget(form.numRue, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.codePostal , "Code postale", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'cp'}}) }}
									{{ form_widget(form.codePostal, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.commune , "Commune", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'commune'}}) }}
									{{ form_widget(form.commune, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.quartier , "Quartier", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.quartier, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.pays , "Pays", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'pays'}}) }}
									{{ form_widget(form.pays, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								{% if message != null %}
									<div id="succesMessage" class="alert alert-success">
										<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
										{{ message }}</div>
								{% endif %}

								<button class="yd lc pg qh un eo oj br dl nanta_submit_js" type="submit">
									Mettez à jour maintenant
								</button>
							{{form_end(form)}}

						{% else %}
							{{form_start(form)}}
<div class="db">
									<label class="jc un zn gs fb form-label required" lng-tag="pseudo" for="setting_pseudo">Pseudo</label>
									<input type="text" id="setting_pseudo" name="setting_pseudo" required="required" class="yd nj qh ni bj jr fr ps zn gs il cm zr wr form-control" value="{{pseudo}}">
									<span class="text-danger text-sm input-not-valid d-none pseudo_required">Veuillez renseigner votre pseudo</span>
									<span class="text-danger text-sm input-not-valid d-none pseudo_checked"></span>
								</div>
								<div class="db">
									{{ form_label(form.firstname , "Nom", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'nom'}}) }}
									{{ form_widget(form.firstname, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>
								<div class="db">
									{{ form_label(form.lastname , "Prénom", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'prenom'}}) }}
									{{ form_widget(form.lastname, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.telephone , "Téléphone mobile", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'phone_mobile'}}) }}
									{{ form_widget(form.telephone, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.telFixe , "Téléphone fixe", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'phone_fixe'}}) }}
									{{ form_widget(form.telFixe, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.numRue , "N° de rue", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'rue'}}) }}
									{{ form_widget(form.numRue, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.codePostal , "Code postale", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'code_postale'}}) }}
									{{ form_widget(form.codePostal, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.commune , "Commune", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.commune, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.quartier , "Quartier", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.quartier, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								<div class="db">
									{{ form_label(form.pays , "Pays", {'label_attr': {'class': 'jc un zn gs fb','lng-tag' :'pays'}}) }}
									{{ form_widget(form.pays, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}, 'required':false}) }}
								</div>

								<div class="db">
									{{ form_label(form.commerce , "Commerce", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.commerce, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>
								<div class="db">
									{{ form_label(form.codeape , "Code APE", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.codeape, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>
								<div class="db">
									{{ form_label(form.website , "Site Web", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.website, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>
								<div class="db">
									{{ form_label(form.facebook , "Facebook", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.facebook, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>
								<div class="db">
									{{ form_label(form.twitter , "Twitter", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
									{{ form_widget(form.twitter, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr'}}) }}
								</div>

								{% if message != null %}
									<div id="succesMessage" class="alert alert-success">
										{# <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> #}
										{{ message }}</div>
								{% endif %}

								<button class="yd lc pg qh un eo oj br dl nanta_submit_js" type="submit" name="save_profil">
									Mettez à jour maintenant
								</button>

							{{form_end(form)}}

						{% endif %}
					</div>

				</div>
				<!-- Setting Card One -->

				<!-- Setting Card Two -->

				<div class="yd qh ni bj wr nj xr cl">

					<h3 class="tn jn zn gs ab">
						Modifier le mot de passe <i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#mdp_compte" role="button" onclick="toggleClass(this)"></i>
					</h3>

					<div class="mt-4 collapse" id="mdp_compte">
			
						{% set message = app.request.get('message')%}
						{% set isSuccess = app.request.get('isSuccess')%}
						{% set is_pwd = app.request.get('is_pwd')%}

						{{form_start(form_password)}}
							<input name="reset" type="hidden" value="resetPassword">
							<div class="db">
								{{ form_label(form_password.old_password , "Mot de passe actuel", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_password.old_password, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Entrer votre mot de passe actuel'}}) }}
								<i class="fas fa-eye-slash pwd-eye"></i>
							</div>

							<div class="db">
								{{ form_label(form_password.new_password , "Nouveau mot de passe", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_password.new_password, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Entrer le nouveau mot de passe','oncopy':'return false'}}) }}
								<i class="fas fa-eye-slash pwd-eye"></i>
							</div>

							<div class="db">
								{{ form_label(form_password.retap_new_password , "Confirmer le nouveau mot de passe", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_password.retap_new_password, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Confirmer le nouveau mot de passe','onpaste':'return false'}}) }}
								<i class="fas fa-eye-slash pwd-eye"></i>
							</div>

							{% if message and is_pwd == 1 %}

								{% if isSuccess == 1 %}
									<div id="succesMessage" class="alert alert-success">
										{# <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> #}
										{{ message }}</div>
								{% endif %}

								{% if isSuccess == 0 %}
									<div id="succesMessage" class="alert alert-danger">
										{# <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> #}
										{{ message }}</div>
								{% endif %}

							{% endif %}

							<button class="yd lc pg qh un eo oj br dl" type="submit" name="save_password">
								Modifier maintenant
							</button>

						{{form_end(form_password)}}

					</div>
				</div>
				<!-- Setting Card Two -->

				<!-- Setting Card Three -->

				<div class="yd qh ni bj wr nj xr cl">

					<h3 class="tn jn zn gs ab">
						Modifier l'adresse e-mail et votre identifiant <i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#mdp_email" role="button" onclick="toggleClass(this)"></i>
					</h3>

					<div class="mt-4 collapse" id="mdp_email">

						{{form_start(form_email)}}
							<input name="reset" type="hidden" value="resetEmail">
							<div class="db">
								{{ form_label(form_email.old_email , "E-mail actuel", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_email.old_email, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Entrer votre e-mail actuel', 'value': app.user.email }}) }}
							</div>

							<div class="db">
								{{ form_label(form_email.new_email , "Nouveau e-mail", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_email.new_email, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Entrer le nouveau e-mail'}}) }}
							</div>

							<div class="db">
								{{ form_label(form_email.confirm_email , "Confirmer le nouveau e-mail", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_email.confirm_email, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Confirmer le nouveau e-mail','onpaste':'return false'}}) }}
							</div>

							<div class="db">
								{{ form_label(form_email.password , "Mot de passe", {'label_attr': {'class': 'jc un zn gs fb'}}) }}
								{{ form_widget(form_email.password, {'attr': {'class': 'yd nj qh ni bj jr fr ps zn gs il cm zr wr','placeholder':'Entrer votre mot de passe','onpaste':'return false'}}) }}
								<i class="fas fa-eye-slash pwd-eye"></i>
							</div>

							{% if message and is_pwd == 0 %}

								{% if isSuccess == 1 %}
									<div id="succesMessage" class="alert alert-success">
										{# <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> #}
										{{ message }}</div>
								{% endif %}

								{% if isSuccess == 0 %}
									<div id="succesMessage" class="alert alert-danger">
										{# <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> #}
										{{ message }}</div>
								{% endif %}

							{% endif %}

							<button class="yd lc pg qh un eo oj br dl" type="submit" name="save_email">
								Modifier maintenant
							</button>

						{{form_end(form_email)}}

					</div>
				</div>
				<!-- Setting Card three -->

				<!-- Setting Card Three -->

				<div class="yd qh ni bj wr nj xr cl">

					<h3 class="tn jn zn gs ab">
						Modifier les paramètres de sécurité et connexion <i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#statu_compte" role="button" onclick="toggleClass(this)"></i>
					</h3>

					<div class="mt-4 collapse" id="statu_compte">

						<label for="">Sélectionnez le délai de déconnexion automatique.</label>
						<select class="yd nj qh ni bj jr fr ps zn gs il cm zr wr" name="" id="change_idle_param_tom_js">
							<option value="0">Choisissez parmis les valeurs suivantes</option>
							<option value="5">5 min</option>
							<option value="10">10 min</option>
							<option value="20">20 min</option>
							<option value="30">30 min</option>
							<option value="1">1 heure</option>
						</select>
						<div class="mt-4 collapse show" id="secu_compte">
							<p> Sécurité du compte </p>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#doublefamodal">Gérer la double authentification.</button>
						</div>
					</div>
					</div>
					<div class="yd qh ni bj wr nj xr cl">

							<h3 class="tn jn zn gs ab">
								Organiser les cookies <i class="fas fa-plus-circle" data-bs-toggle="collapse" href="#cookies_faniry_js" role="button" onclick="toggleClass(this)"></i>
							</h3>

							<div class="mt-4 collapse" id="cookies_faniry_js">
								<div class="form-check">
									<label class="" for="flexCheckDefault">
										Accepter les cookies.
									</label>
									<input class="form-check-input" type="checkbox" value="" id="acceptCookies_faniry_js" >
									
								</div>
								<div class="form-check">
									<label class="" for="flexCheckChecked">
										Refuser les cookies.
									</label>
									<input class="form-check-input" type="checkbox" value="" id="declineCookies_faniry_js">
									
								</div>
							</div>
						

					</div>
				</div>
				<!-- Setting Card three -->

			</div>
		</div>
	</main>
	<!-- ===== Main Content End ===== -->
	{% include 'user/modal_upload_photo.twig' %}
	{% include 'shard/modal/media_modal.html.twig' %}
	<div class="modal fade" id="doublefamodal" tabindex="-1" aria-labelledby="2famodalLabel" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="2famodalLabel">Authentification à deux facteurs</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div class="form-check">
							<div class="doublefa enabled" >
								<p> Voulez-vous désactiver la double authentification?</p>
								<div class="form-check">
									<input class="form-check-input doublefa_js_fa" type="checkbox" value="" id="yes2fa">
									<label class="form-check-label" for="yes2fa" style="margin-top:0 !important">
										oui
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input doublefa_js_fa" type="checkbox" value="" id="no2fa">
									<label class="form-check-label" for="no2fa" style="margin-top:0 !important">
										non
									</label>
								</div>
							</div>
							<div class="method_2fa">
								<p>Veuillez choisir une méthode d’authentification</p>
								<div class="message_2fa"></div
								<div class="from-check">
									<div class="peremail d-flex flex-row gap-3">
										<img src="{{asset('/public/assets/image/emails.jpg')}}" class="img-fluid" alt="..." width="300" heigth="300">
										<div class="call_action pt-5">
											<p>
												Si vous Choisissez l'authentification par e-mail, </br> le code à 6 chiffres sera envoyé sur votre adresse e-mail de connexion.
											</p>
											<button type="button" class="btn btn-primary" id="doitmail">Utiliser l'e-mail</button>
										</div>
										
										
									</div>
									<div class="persms d-flex flex-row gap-3">
										<img src="{{asset('/public/assets/image/message.jpg')}}" class="img-fluid" alt="..." width="300" heigth="300">
										<div class="call_action pt-5">
											<p>
												Si vous Choisissez l'authentification par sms,</br> le code à 6 chiffres sera envoyé sur votre numero de téléphone.
											</p>
											<button type="button" class="btn btn-primary" id="doitsms">Utiliser le texto</button>
										</div>
										
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
