<div class="specific-detail responsif-none-pc">
	<nav class="navbar navbar-light d-flex content-spec-resto ">
		<div class="container-fluid scroll-mobile">
			<ul class="navbar-nav mt-3 d-flex flex-row">
				{% for tabac in tabacs %}
					<li class="nav-item icon-tabac me-3">
						<a class="nav-link d-block">
							<div class="containt-specific">
								<div class="click-detail"  data-bs-toggle="modal" data-bs-target="#detailModalMobilTabac{{tabac.id}}"  onclick="getDetailFromListLeft('{{tabac.depName}}', '{{tabac.dep}}', '{{tabac.id}}')">
									<p class="text-point-12 fw-bold">{{tabac.name | raw }}

									</p>


									<div class="start">
										<i class="fa-solid fa-star" data-rank="1"></i>
										<i class="fa-solid fa-star" data-rank="2"></i>
										<i class="fa-solid fa-star" data-rank="3"></i>
										<i class="fa-solid fa-star" data-rank="4"></i>
									</div>
									<p class="text-point-9">
										<span class="fw-bold">Adresse :
										</span>
										<span class="small  ">{{tabac.add | raw}}</span>
									</p>
                                    <p class="text-point-9">
										<span class="fw-bold">Tèl :
										</span>
										<span class="small  ">{{tabac.tel | raw}}</span>
									</p>
									<div class="text-point-9">
                                        {% if tabac.bar_tabac > 0 %}
                                            <span class="btn btn-outline-success text-point-9">Bar Tabac</span>
                                        {% endif %}
                                        {% if tabac.bureau_tabac > 0 %}
                                            <span class="btn btn-outline-success text-point-9">Bureaux Tabac</span>
                                        {% endif %}
                                        {% if tabac.cafe_tabac > 0 %}
                                            <span class="btn btn-outline-success text-point-9">Cafe Tabac</span>
                                        {% endif %}
                                        {% if tabac.tabac_presse > 0 %}
                                            <span class="btn btn-outline-success text-point-9">Tabac presse</span>
                                        {% endif %}
                                    </div>

								</div>
							
								<div class="d-flex justify-content-center align-items-center flex-gap-2 content_btn_avis">

									<span>
										<a id="see-tom-js" class="text-black text-point-9 btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropFerme">
											<span class="nbr_avis_resto_jheo_js"></span>
											avis
										</a>
									</span>
									{% if app.user %}
										<button type="button" class="mx-2 text-point-9 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisFerme">Donner votre avis</button>
									{% else %}
										<button type="button" class="mx-2 text-point-9 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis.">Donner votre avis</button>
									{% endif %}
								</div>
							</div>
						</a>
					</li>

					<div class="modal fade" id="detailModalMobilTabac{{tabac.id}}" tabindex="-1" aria-labelledby="detailModalMobilLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content modal-content-mobile">
								<div class="modal-header">
									<h5 class="modal-title" id="detailModalMobilLabel">{{tabac.name | raw }} </h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body modal-body-mobil">
									<div class="start">
										<i class="fa-solid fa-star" data-rank="1"></i>
										<i class="fa-solid fa-star" data-rank="2"></i>
										<i class="fa-solid fa-star" data-rank="3"></i>
										<i class="fa-solid fa-star" data-rank="4"></i>
									</div>
									<p class="">
										<span class="fw-bold">Adresse :
										</span>
										<span class="small  ">{{tabac.add | raw}}</span>
									</p>
									<div class="">
										

										<hr>
										{% if tabac.bar_tabac %}
											<div class="content_activite">
												<p class="btn btn-outline-success">
													Bar Tabac
												</p>
											</div>
											<hr>
										{% endif %}

										{% if tabac.bureau_tabac %}
											<div class="content_activite">
												<p class="btn btn-outline-success">
													Bureau Tabac
												</p>
											</div>
											<hr>
										{% endif %}

										{% if tabac.cafe_tabac %}
											<div class="content_activite">
												<p class="btn btn-outline-success">
													Cafe Tabac
												</p>
											</div>
											<hr>
										{% endif %}

										{% if tabac.tabac_presse %}
											<div class="content_activite">
												<p class="btn btn-outline-success">
													Tabac Presse
												</p>
											</div>
											<hr>
										{% endif %}

										{% if tabac.horaires_1 %}
											<div class="content_activite">
												<p class="activite">
													<span class="fw-bold">Horaires:</span>
													{{tabac.horaires_1 | raw}}
												</p>
											</div>
											<hr>
										{% endif %}


										{% if tabac.tel %}
											<div class="content_activite">
												<p class="activite">
													<span class="fw-bold">Telephone:</span>
													{{tabac.tel | raw}}
												</p>
											</div>
											<hr>
										{% endif %}

										{% if tabac.codpost %}
											<div class="content_activite">
												<p class="activite">
													<span class="fw-bold">Code Postal:</span>
													{{tabac.codpost | raw}}
												</p>
											</div>
											<hr>
										{% endif %}


										{% if tabac.commune %}
											<div class="content_activite">
												<p class="activite">
													<span class="fw-bold">Commune:</span>
													{{tabac.commune | raw}}
												</p>
											</div>
											<hr>
										{% endif %}

									</div>
									<div class="modal-footer">
										<div class="d-flex justify-content-center align-items-center flex-gap-2 content_btn_avis">
											<span>
												<a id="see-tom-js" class="text-black btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropFerme">
													<span class="nbr_avis_resto_jheo_js"></span>
													avis
												</a>
											</span>
											{% if app.user %}
												<button type="button" class="mx-2 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisFerme">Donner votre avis</button>
											{% else %}
												<button type="button" class="mx-2 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis.">Donner votre avis</button>
											{% endif %}
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</ul>
		</div>
	</nav>
</div>

