{% extends 'base.html.twig' %}

{% block title %}Ferme ConsoMyZone
{% endblock %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{asset('asset/css/ferme/app.css')}}"> #}
{% endblock %}


{% block javascripts %}
	<script src="{{asset('assets/js/ferme/data_ferme.js')}}" defer></script>
	<script src="{{asset('assets/js/ferme/details.js')}}" defer></script>
	<script src="{{asset('assets/js/ferme/ferme.js')}}" defer></script>
{% endblock %}

{% block body %}

<div class="content-mobil-ferme-detail ">
	<div class="logo-consomyzone">
		<img src="{{asset('assets/image/logo.png') | raw}}" alt="logo">
	</div>
	<div class="ferme-mobile-detail">
		<svg class="close-ferme" id="close-ferme-detail" onclick="closeFermeDetail('{{nom_dep}}','{{id_dep}}')" version="1.0" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

			<g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" stroke="none">
				<path d="M634 986 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M857 994 c-4 -4 -7 -22 -7 -40 0 -37 21 -49 76 -42 27 3 29 6 29 43
										                    l0 40 -45 3 c-25 2 -49 0 -53 -4z"/>
				<path d="M534 886 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M754 886 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M414 776 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M634 776 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M304 676 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M532 682 c-8 -6 -12 -23 -10 -43 3 -34 3 -34 53 -34 l50 0 0 40 c0
										                    40 0 40 -40 43 -22 1 -46 -2 -53 -6z"/>
				<path d="M414 556 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M642 562 c-8 -6 -12 -23 -10 -43 3 -34 3 -34 53 -34 l50 0 0 40 c0
										                    40 0 40 -40 43 -22 1 -46 -2 -53 -6z"/>
				<path d="M524 466 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M752 471 c-8 -5 -12 -22 -10 -42 3 -34 3 -34 53 -34 50 0 50 0 53 34
										                    4 39 -9 51 -53 51 -16 0 -36 -4 -43 -9z"/>
				<path d="M644 356 c-3 -8 -4 -27 -2 -43 3 -27 6 -28 53 -28 l50 0 0 40 0 40
										                    -48 3 c-34 2 -49 -1 -53 -12z"/>
				<path d="M872 361 c-8 -5 -12 -22 -10 -42 3 -34 3 -34 53 -34 50 0 50 0 53 34
								                4 39 -9 51 -53 51 -16 0 -36 -4 -43 -9z"/>
			</g>
		</svg>
	</div>
	

<div class="content_detail_mobile" id="Scrollbar">
	{# <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mx-auto" style="height:100%"> #}
	<div class="left_content_home">
		<div class="content_description">
			<div
				class="description" data-toggle-latitude="{{((details.latitude) ? details.latitude : '0' )|format_number({fraction_digit: 6})}}" data-toggle-longitude="{{((details.longitude) ? details.longitude : '0')|format_number({fraction_digit: 6})}}" data-toggle-nameferme="{{details.nomFerme}}">
				<div>
					<div class="content_entete_detail">
						<a href="{{path('specific_departement', {'nom_dep': nom_dep, 'id_dep': id_dep}) }}">
							<i class="fa-solid fa-arrow-left" title="list de département"></i>
						</a>
						<div class="content_bottom" id="hide_list">
							<i class="fa fa-eye-slash" aria-hidden="true"></i>
						</div>
					</div>

					{# /// nom et propriété #}
					<div class="titre col titre-ferme">
						<h4 class="text-center">
							{{details.nomFerme | raw}}
							<br>
							{{details.nomProprietaire  | raw}}
						<a id="see-tom-js" class="see-avis" data-bs-toggle="modal" data-bs-target="#staticBackdrop">avis</a>

						</h4>
					</div>
				</div>


				{# note avis   #}
				{# <hr> #}
				<div class="content_note">
					<div class="start">
						<i class="fa-solid fa-star" data-rank="1"></i>
						<i class="fa-solid fa-star" data-rank="2"></i>
						<i class="fa-solid fa-star" data-rank="3"></i>
						<i class="fa-solid fa-star" data-rank="4"></i>

					</div>

					{# <div class="nombre_avis">
						<a id="see-tom-js" class="see-avis" data-bs-toggle="modal" data-bs-target="#staticBackdrop">avis</a>
					</div> #}
				</div>

				<hr>
				{# ///activiter #}
				{% if details.activite %}
					<div class="content_activite">
						<p class="activite">
							<span class="fw-bold">Activite:</span>
							{{details.activite | raw}}
						</p>
					</div>
				{% endif %}
				{# ///content cta #}
				<div class="content_tow_cta row mx-auto">
					<div class="site_web non_active col-6">
							<a class="btn btn-success" href="{{'https://'}}{{details.lienSiteWeb | raw}}" target="_blank">Lien :  site Web</a>
					</div>

					<div class="iteneraire non_active col-4">
						<button class="btn btn-success">
							Itinéraire
						</button>
					</div>
				</div>

				<hr>
				{% if details.agricultureBio %}
					<div class="row">
						<div class="col-2">
							<img src="{{asset('assets/icon/icon-agri.png') | raw}}" alt="icon" width="50">
						</div>
						<div class="col">
							<p class="agribio mt-3 fw-bold">
								Agri biologie
							</p>
						</div>
						<div class="col mt-3">
							<i class="fa-solid fa-check" aria-hidden="true"></i>
						</div>
					</div>

					<hr>
				{% endif %}


				{# ///codePostal #}
				{% if details.codePostal %}
					<div class="content_activite">
						<p class="activite">
							<span class="fw-bold">Code Postal:</span>
							{{details.codePostal  | raw}}
						</p>
					</div>
					<hr>
				{% endif %}

				{% if details.ville %}
					<div class="content_activite">
						<p class="activite">
							<span class="fw-bold">Ville:</span>
							{{details.ville  | raw}}
						</p>
					</div>
					<hr>
				{% endif %}


				{# genre  #}
				<div class="content_genre">
					<p class="genre">
						<span class="fw-bold">Genre:</span>
						{{details.genre | raw}}
					</p>
				</div>

				<hr>
				<div class="produit">
					<h5>
						<span class="fw-bold">Produit:</span>
					</h5>
					<ul>
						{% if details.produit1 %}
							<li>{{details.produit1 | raw}}</li>
						{% endif %}
						{% if details.produit2 %}
							<li>{{details.produit2 | raw}}</li>
						{% endif %}
						{% if details.produit3 %}
							<li>{{details.produit3 | raw}}</li>
						{% endif %}
						{% if details.produit4 %}
							<li>{{details.produit4 | raw}}</li>
						{% endif %}
						{% if details.produit5 %}
							<li>{{details.produit5 | raw}}</li>
						{% endif %}
						{% if details.produit6 %}
							<li>{{details.produit6 | raw}}</li>
						{% endif %}
						{% if details.produit7 %}
							<li>{{details.produit7 | raw}}</li>
						{% endif %}
						{% if details.produit8 %}
							<li>{{details.produit8 | raw}}</li>
						{% endif %}
					</ul>

					<p>{{details.produitFerme | raw}}</p>
				</div>

				<hr>

				<div class="particularite">
					<h5>
						Particularité:
					</h5>
					<ul>
						{% if details.carteBancaire %}
							<li>Carte Bancaire possible.</li>
						{% endif %}
						{% if details.chequeVacance %}
							<li>Accepter les chèques de Vacance.</li>
						{% endif %}
						{% if details.degustation %}
							<li>Dégustation possible.</li>
						{% endif %}
						{% if details.animauxAutoriser %}
							<li>Autorise de porte des animaux.</li>
						{% endif %}
						{% if details.venteEnLigne %}
							<li>Vente en ligne possible.</li>
						{% endif %}

					</ul>
				</div>

				<hr>

				<div class="content_tel">
					<h5>
						Contact rapide:
					</h5>
					<ul>
						{% if details.telephoneDomicile %}
							<li>
								<span class="fw-bold">Tel Domicile:</span>
								{{details.telephoneDomicile | raw}}</li>
						{% endif %}
						{% if details.telephoneMobile %}
							<li>
								<span class="fw-bold">Tel Mobile:</span>
								{{details.telephoneMobile | raw}}</li>
						{% endif %}
						{% if details.telephoneTravail %}
							<li>
								<span class="fw-bold">Tel Travail:</span>
								{{details.telephoneTravail | raw}}</li>
						{% endif %}
					</ul>
					<hr>

				</div>

				<hr>
				{% if details.horairesVenteAuMarche or details.horairesVenteMagasinProd or details.horairesVenteAFerme  %}
					<div>
						<h3>
							Horaires:
						</h3>
						<ul class="horaires">
							{% if details.horairesVenteAuMarche %}
								<li>
									<h5>Horaires vente au marché</h5>
									<span>{{details.horairesVenteAuMarche | raw}} </span>
								</li>
							{% endif %}
							{% if details.horairesVenteMagasinProd %}
								<li>
									<h5>Horaires vente du magasin prod</h5>
									<span>{{details.horairesVenteMagasinProd | raw}} </span>
								</li>
							{% endif %}
							{% if details.horairesVenteAFerme %}
								<li>
									<h5>Horaires vente à la ferme</h5>
									<span>{{details.horairesVenteAFerme | raw}} </span>
								</li>
							{% endif %}
						</ul>
					</div>
					<hr>
				{% endif %}

				{% if (app.user) %}
					<div class="content_one_cta">
						<button id="givs-avis-ferme-tom-js" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Donné votre avis</button>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
