<div class="specific-detail responsif-none-pc">
	<nav class="navbar navbar-light d-flex content-spec-resto ">
		<div class="container-fluid scroll-mobile">
			<ul class="navbar-nav mt-3 d-flex flex-row">
				{% for ferme in fermes %}
					<li class="nav-item icon-tabac me-3">
						<a class="nav-link d-block">
							<div class="containt-specific">
								<div class="click-detail" onclick="addDetailFermeMobile('{{ferme.depName}}', '{{ferme.dep}}', '{{ferme.id}}')">
									<p class="text-point-12 fw-bold">{{ferme.nomFerme | raw }} 
                                        {% if ferme.genre %}
                                            <span class="ferme-genre"> {{ferme.genre | raw}}</span>
                                        {% endif %}
									</p>
                                    {# <figcaption class="blockquote-footer small mt-2">{{ferme.nomProprietaire | raw}}</figcaption> #}
                                    <div class="start">
                                        <i class="fa-solid fa-star" data-rank="1"></i>
                                        <i class="fa-solid fa-star" data-rank="2"></i>
                                        <i class="fa-solid fa-star" data-rank="3"></i>
                                        <i class="fa-solid fa-star" data-rank="4"></i>
                                    </div>
                                    <p class="test-point-9"><span class="fw-bold"> Adresse : </span>
										<span class="small ">
											
                                            {{ferme.adresseFerme | raw}}
										</span>
									</p>
                                    <p class="activite text-point-9">
										{% if ferme.agricultureBio %}
                                            <div class="row">
                                                <div class="col-8">
                                                    <p class="agribio fw-bold">
                                                        Agri biologie
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <img src="{{asset('assets/icon/icon-agri.png') | raw}}" alt="icon" width="50">
                                                </div>
                                                <div class="col-2">
                                                    <i class="fa-solid fa-check" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        {% endif %}
									</p>

                                    {# <p class="text-point-9">
                                        {% if ferme.ville %}
                                                    <span class="fw-bold">Ville:</span>
                                                    {{ferme.ville  | raw}}
                                        {% endif %}
									</p> #}

                                    <p class="text-point-9"><span class="fw-bold">Produit:</span> {{ferme.produitFerme | raw}}</p>
                                    <p class="text-point-9"><span class="fw-bold">Email:</span> {{ferme.email | raw}}</p>
									
								</div>
								<div class="d-flex justify-content-center align-items-center flex-gap-2 content_btn_avis">
									<span>
										<a id="see-tom-js" class="text-black text-point-9 btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropFerme">
											<span class="nbr_avis_resto_jheo_js">
											</span>
											avis
										</a>
									</span>
										{% if app.user %}
											<button type="button" class="mx-2 text-point-9 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisFerme">Donner votre avis</button>
										{% else %}
											<button type="button" class="mx-2 text-point-9 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis.">Donner votre avis</button>
										{% endif %}
								</div>
							</div>
						</a>
					</li>
				{% endfor %}

			</ul>
		</div>
	</nav>
</div>



