<div
	class="content_block_messages responsif-none-mobile" id="container-mobile">
	{# <div class=""> #}


	<section style="background-color: #eee;" data-myid = "{{app.user.id}}" >
		<div class="container">

			<div
				class="row d-flex justify-content-center">
				{# <div class="col-md-10 col-lg-8 col-xl-6"> #}

				<div class="card content_message" style="z-index:0;"id="chat2" data-toggle-current-profil={{(profil[0].getPhotoProfil is same as (null)) ? "null" : profil[0].getPhotoProfil }}  data-toggle-other-profil={{(userToProfil.photo_profile  is same as (null)) ? "null" :  userToProfil.photo_profile }}>
					<div
						class="card-header fixed-top d-flex justify-content-between align-items-center p-3 bg-white card_mobile" style="margin-top:60px; margin-left:0px">
						{# <div class="row content_entete_js_jheo" data-toggle-id-user-to={{userToProfil.id}}> #}

						<div class="d-flex flex-row justify-content-start" data-toggle-id-user-to={{userToProfil.id}}>
							<img style="width:45px; height:45px" class="rounded-circle" src={{ (userToProfil.photo_profile != null) ? asset('uploads/users/photos/photo_user_') ~ userToProfil.id ~ '/' ~ userToProfil.photo_profile : asset('uploads/users/photos/img_avatar.png') }} alt="{{ userToProfil.firstname }}">
							<a style="margin-left:10px; text-decoration:none;" href="{{ path("user_profil", {"user_id":userToProfil.id })}}" data-toggle-id-user-to={{userToProfil.id}}>
								{{ userToProfil.firstname  ~ " " ~  userToProfil.lastname }}

							</a>
						</div>


						{# </div> #}
						{# <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Amis</button> #}

						<!-- Example single danger button -->
						<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" lng-tag="amis">
							Amis
						</button>
						<ul>
                       
                            
                        </ul>
						<ul class="dropdown-menu">
							{% for amis in amisTributG %}
                                {# don't show current user connected #}
								<li>
                                {% if not (amis.id|number_format is same as(app.user.id|number_format)) %}
                                
                                    <a href="{{path('app_message') ~ '?user_id=' ~ amis.id }}"
                                       data-toggle-user-id = {{amis.id}}
                                       tooltip={{amis.email}} 
                                       class="list_amis_to_chat">

                                        <img style="width:45px; height:45px; border-radius:50%" src="{{ ( amis.photo != null) ? asset('uploads/users/photos/photo_user_') ~ amis.id ~ '/' ~ amis.photo : asset('uploads/users/photos/img_avatar.png')}}" alt="Avatar-Message">
                                        <h6 style="margin-top:10px; margin-left:2px">{{amis.firstname ~ " " ~ amis.lastname }} </h6>
                                    </a>
                                   
                                {% endif %}
								</li>

                            {% endfor %}

						</ul>
						</div>
					</div>
					<div class="card-body overflow-auto h-100 mb-5 bg-white" data-mdb-perfect-scrollbar="true" style="margin-top:60px; margin-left:0px">


                        {% if userToProfil.message|length > 0  %}

                                {% for msg in userToProfil.message %}

                                    {# ////user connnected #}
                                    {# {% if msg.isForMe is same as("0") %} #}
                                    {% if msg.isForMe == "0" %}
                                        <div class="message" id={{"message_" ~ msg.id}}>
                                            <div class="avatar_message right_place">
                                                <div>
                                                    <span>{{msg.datetime}}</span>

                                                    <div class="message_single">
                                                        {% if msg.content is defined and msg.content.text is defined %}
                                                            <p>{{msg.content ? msg.content.text : "" }}</p>
                                                        {% endif %}
                                                        
                                                        {% if msg.content.images is defined and msg.content.images|length > 0  %}
                                                            <div class="content_image_message_mobile image_right">
                                                                {% for image in msg.content.images %}
                                                                    <img src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                        
                                                </div>  
                                                <img src={{ (profil[0].getPhotoProfil != null) ? asset('uploads/users/photos/photo_user_') ~ profil[0].getId ~ '/' ~ profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ profil[0].getFirstname }}">
                                            </div>
                                        </div>

                                    {# ////user to talk by: other #}
                                    {% else %}

                                        <div class="message" id={{"message_" ~ msg.id}}>
                                            <div class="avatar_message left_place">

                                                {#---------  photo de profil ---------- #}
                                                <img src={{ (userToProfil.photo_profile != null) ? asset('uploads/users/photos/photo_user_') ~ userToProfil.id ~ '/' ~ userToProfil.photo_profile   : asset('uploads/users/photos/img_avatar.png') }} alt="{{ userToProfil.firstname }}" >
                                                <div>
                                                    <span>{{msg.datetime}}</span>

                                                    <div class="message_single">
                                                        {% if msg.content is defined and msg.content.text is defined %}
                                                            <p>{{msg.content ? msg.content.text : "" }}</p>
                                                        {% endif %}
                                                        {% if msg.content.images is defined and msg.content.images|length > 0  %}
                                                            <div class="content_image_message_mobile image_left">
                                                                {% for image in msg.content.images %}
                                                                    <img src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>                                
                                            </div>
                                        </div>

                                    {% endif %}
                                    
                                {% endfor %}

                        {% else %}
                            <p class="text-center"> Envoyer lui Hello!!!</p>
                        {% endif %}


					</div>
					<div class="card-footer fixed-bottom text-muted d-flex justify-content-start align-items-center p-3 bg-white card_mobile" style="margin-left:0px">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
						<div class="content_input_message content_input_message_js_jheo mode_mobile" data-toggle-userfrom-id={{app.user.id}} data-toggle-userto-id= {{userToProfil.id}} >
                            
                            <div class="input_message w-100">

                                {# if the user put many image #}
                                <div class="globla_message w-100">
                                    <div class="content_image_input content_image_input_js_jheo">
                                    </div>
                                    <textarea  rows="1" type="text" placeholder="Votre message" name="message" class="w-100 input_message_js_jheo" ></textarea>
                                </div>

								{# record for voice... #}
                                <i class="fa-solid fa-microphone outer_icon_micro"></i>

                                {# input file image #}
                                <i class="fa-solid fa-file-import fa-xl ms-3 i_input_file outer_icon_message">
                                    <input type="file"  class="first-input" multiple aria-disabled> 
                                </i>

                                {# to send message  #}
                                <i class="fa-solid fa-paper-plane outer_icon_message btn_send_message_js_jheo paper_mobile"></i>

                            </div>
                        </div>

					</div>
				</div>

				{# </div> #}
			</div>

		</div>

	</section>
	{# </div> #}
</div>
