<div
	class="content_block_messages responsif-none-mobile" id="container-mobile">
	{# <div class=""> #}


	<section style="background-color: #eee;" data-myid = "{{app.user.id}}" >
		<div class="container">

			<div
				class="row d-flex justify-content-center">
				{# <div class="col-md-10 col-lg-8 col-xl-6"> #}

				<div class="card content_message" style="z-index:0;"id="chat2" data-toggle-current-profil={{(profil[0].getPhotoProfil is same as (null)) ? "null" : profil[0].getPhotoProfil }}  data-toggle-other-profil={{(userToProfil.photo_profile  is same as (null)) ? "null" :  userToProfil.photo_profile }}>
					<div
						class="card-header fixed-top d-flex justify-content-between align-items-center p-3 bg-white card_mobile" style="margin-top:60px; margin-left:0px">
						{# <div class="row content_entete_js_jheo" data-toggle-id-user-to={{userToProfil.id}}> #}

						<div class="d-flex flex-row justify-content-start" data-toggle-id-user-to={{userToProfil.id}}>
							<img style="width:45px; height:45px" class="rounded-circle" src={{ (userToProfil.photo_profile != null) ? userToProfil.photo_profile : asset('uploads/users/photos/img_avatar.png') }} alt="{{ userToProfil.firstname }}">
							<a style="margin-left:10px; text-decoration:none;" href="{{ path("user_profil", {"user_id":userToProfil.id })}}" data-toggle-id-user-to={{userToProfil.id}}>
								{{ userToProfil.firstname  ~ " " ~  userToProfil.lastname }}

							</a>
						</div>


						{# </div> #}
						{# <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Amis</button> #}

						<!-- Example single danger button -->
						<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" lng-tag="amis">
							Amis
						</button>
						<ul>
                       
                            
                        </ul>
						<ul class="dropdown-menu">
							{% for amis in amisTributG %}
                                {# don't show current user connected #}
								<li>
                                {% if not (amis.id|number_format is same as(app.user.id|number_format)) and amis.is_online == 1 %}
                                
                                    <a href="{{path('app_message') ~ '?user_id=' ~ amis.id }}"
                                       data-toggle-user-id = {{amis.id}}
                                       tooltip={{amis.email}} 
                                       class="list_amis_to_chat">

                                        <img style="width:45px; height:45px; border-radius:50%" src="{{ ( amis.photo != null) ? amis.photo : asset('uploads/users/photos/img_avatar.png')}}" alt="Avatar-Message">
                                        <h6 style="margin-top:10px; margin-left:2px">{{amis.firstname ~ " " ~ amis.lastname }} </h6>
                                    </a>
                                   
                                {% endif %}
								</li>

                            {% endfor %}

						</ul>
						</div>
					</div>
					<div class="card-body overflow-auto h-100 mb-5 bg-white" data-mdb-perfect-scrollbar="true" style="margin-top:60px; margin-left:0px">


                        <section class="chats" data-myid="{{app.user.id}}" data-toggle-current-profil={{(profil[0].getPhotoProfil is same as (null)) ? "null" : profil[0].getPhotoProfil }} data-toggle-other-profil={{(userToProfil.photo_profile is same as (null)) ? "null" : userToProfil.photo_profile }}>
						
						<div class="messages-chat">
							{% if userToProfil.message|length > 0  %}

								{% set iter = 0 %}
								{% set margin_bott = "" %}

								{% for msg in userToProfil.message %}

									{% if iter == userToProfil.message|length - 1 %}

										{% set margin_bott = "margin-bottom: 60px !important;" %}

									{% endif %}

									{% if msg.isForMe == "1" %}

										<div class="message" style={{margin_bott}} id={{"message_" ~ msg.id}}>
											<div class="photo" style="background-image: url({{ (userToProfil.photo_profile != null) ? userToProfil.photo_profile   : asset('public/uploads/users/photos/img_avatar.png') }} ">
												<div class="online"></div>
											</div>
											<div>
												{% if msg.content is defined and msg.content.text is defined %}
													{% if msg.content.text %}
														<p class="text">{{msg.content.text}}</p>
													{% endif %}
													{# <p class="text">{{msg.content ? msg.content.text : "" }}</p> #}
												{% endif %}

												{% if msg.content.images is defined and msg.content.images|length > 0  %}
													<div class="img_slide_left">
														{% for image in msg.content.images %}
															<img class="img_msg" src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
														{% endfor %}
													</div>
												{% endif %}
											</div>

										</div>
										<p class="time">
											{{msg.datetime}}</p>

									{% else %}
										<div class="message" style={{margin_bott}} id={{"message_" ~ msg.id}}>
											<div class="response">
												{% if msg.content is defined and msg.content.text is defined %}
													{% if msg.content.text %}
														<p class="text">{{msg.content.text}}</p>
													{% endif %}
													{# <p class="text">{{msg.content ? msg.content.text : "" }}</p> #}
												{% endif %}

												{% if msg.content.images is defined and msg.content.images|length > 0  %}
													<div class="img_slide_right">
														{% for image in msg.content.images %}
															<img class="img_msg" src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
														{% endfor %}
													</div>
												{% endif %}
												<p class="time-right">
													{{msg.datetime}}</p>
											</div>

										</div>

									{% endif %}

									{% set iter = iter + 1 %}

								{% endfor %}
							{% else %}
								<p class="text-center">
									Envoyer lui Hello!!!</p>
							{% endif %}
						</div>

						<div class="content_input_message content_input_message_js_jheo mode_mobile" style="width: 80% !important;left:10% !important;" data-toggle-userfrom-id={{app.user.id}} data-toggle-userto-id={{userToProfil.id}}>

							<div
								class="input_message">

								{# record for voice... #}
								<i class="ms-2 fa-solid fa-microphone outer_icon_micro"></i>

								{# input file image #}
								<i class="fa-solid fa-file-import fa-xl ms-3 i_input_file outer_icon_message">
									<input type="file" class="first-input" multiple aria-disabled>
								</i>

								{# if the user put many image #}
								<div class="globla_message">
									<div class="content_image_input content_image_input_js_jheo">
										<i class="fa-solid fa-file-import fa-xl ms-3 i_input_file_under_image"></i>
									</div>
									<textarea rows="1" type="text" placeholder="Votre message" name="message" class="input_message_js_jheo"></textarea>
								</div>

								{# to send message  #}
								<i class="fa-solid fa-paper-plane outer_icon_message btn_send_message_js_jheo"></i>

							</div>
						</div>

					</section>

					</div>
					
				</div>

				{# </div> #}
			</div>

		</div>

	</section>
	{# </div> #}
</div>
