<div
	class="content_block_messages responsif-none-mobile" id="container-mobile">
	{# <div class=""> #}


	<section style="background-color: #eee;">
		<div class="container">

			<div
				class="row d-flex justify-content-center">
				{# <div class="col-md-10 col-lg-8 col-xl-6"> #}

				<div class="card content_message" id="chat2" data-toggle-current-profil={{(profil[0].getPhotoProfil is same as (null)) ? "null" : profil[0].getPhotoProfil }}  data-toggle-other-profil={{(userToProfil.photo_profile  is same as (null)) ? "null" :  userToProfil.photo_profile }}>
					<div
						class="card-header fixed-top d-flex justify-content-between align-items-center p-3 bg-white card_mobile" style="margin-top:60px; margin-left:0px">
						{# <div class="row content_entete_js_jheo" data-toggle-id-user-to={{userToProfil.id}}> #}

						<div class="d-flex flex-row justify-content-start" data-toggle-id-user-to={{userToProfil.id}}>
							<img style="width:45px; height:45px" class="rounded-circle" src={{ (userToProfil.photo_profile != null) ? asset('uploads/users/photos/') ~ userToProfil.photo_profile : asset('uploads/users/photos/img_avatar.png') }} alt="{{ userToProfil.firstname }}">
							<a style="margin-left:10px; text-decoration:none;" href="{{ path("user_profil", {"user_id":userToProfil.id })}}" data-toggle-id-user-to={{userToProfil.id}}>
								{{ userToProfil.firstname  ~ " " ~  userToProfil.lastname }}

							</a>
						</div>


						{# </div> #}
						<button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Amis</button>
					</div>
					<div class="card-body overflow-auto h-100 mb-5 bg-white" data-mdb-perfect-scrollbar="true" style="margin-top:60px; margin-left:0px">

						{# <div class="d-flex flex-row justify-content-start">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 45px;">
							<div>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">How are you ...???
								</p>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">What are you doing
																																						                  tomorrow? Can we come up a bar?</p>
								<p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
							</div>
						</div>

						<div class="divider d-flex align-items-center mb-4">
							<p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
						</div>

						<div class="d-flex flex-row justify-content-end mb-4 pt-1" style="">
							<div>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?</p>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see! Tomorrow
																																						                  office. will
																																						                  be free on sunday.</p>
								<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
							</div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 45px;">
						</div>

						<div class="d-flex flex-row justify-content-start mb-4">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 45px;">
							<div>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">We will go on
																																						                  Sunday?</p>
								<p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
							</div>
						</div>

						<div class="d-flex flex-row justify-content-end mb-4">
							<div>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I will meet you Sandon Square
																																						                  sharp at
																																						                  10 AM</p>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>
								<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
							</div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
						</div>

						<div class="d-flex flex-row justify-content-start mb-4">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
							<div>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay i will meet
																																						                  you on
																																						                  Sandon Square</p>
								<p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>
							</div>
						</div>

						<div class="d-flex flex-row justify-content-end mb-4">
							<div>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Do you have pictures of Matley
																																						                  Marriage?</p>
								<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>
							</div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
						</div>

						<div class="d-flex flex-row justify-content-start mb-4">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
							<div>
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sorry I don't
																																						                  have. i
																																						                  changed my phone.</p>
								<p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
							</div>
						</div>

						<div class="d-flex flex-row justify-content-end">
							<div>
								<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Okay then see you on sunday!!
								</p>
								<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>
							</div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
						</div> #}

                         <hr>

                        {% if userToProfil.message|length > 0  %}

                                {% for msg in userToProfil.message %}

                                    {# ////user connnected #}
                                    {% if msg.isForMe is same as("0") %}
                                        <div class="message" id={{"message_" ~ msg.id}}>
                                            <div class="avatar_message right_place">
                                                <div>
                                                    <span>{{msg.datetime}}</span>

                                                    <div class="message_single">
                                                        {% if msg.content is defined and msg.content.text is defined %}
                                                            <p>{{msg.content ? msg.content.text : "" }}</p>
                                                        {% endif %}
                                                        
                                                        {% if msg.content.images is defined and msg.content.images|length > 0  %}
                                                            <div class="content_image_message_mobile image_right">
                                                                {% for image in msg.content.images %}
                                                                    <img src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                        
                                                </div>  
                                                <img src={{ (profil[0].getPhotoProfil != null) ? asset('uploads/users/photos/') ~ profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ profil[0].getFirstname }}">
                                            </div>
                                        </div>

                                    {# ////user to talk by: other #}
                                    {% else %}

                                        <div class="message" id={{"message_" ~ msg.id}}>
                                            <div class="avatar_message left_place">

                                                {#---------  photo de profil ---------- #}
                                                <img src={{ (userToProfil.photo_profile != null) ? asset('uploads/users/photos/'~ userToProfil.photo_profile)   : asset('uploads/users/photos/img_avatar.png') }} alt="{{ userToProfil.firstname }}" >
                                                <div>
                                                    <span>{{msg.datetime}}</span>

                                                    <div class="message_single">
                                                        {% if msg.content is defined and msg.content.text is defined %}
                                                            <p>{{msg.content ? msg.content.text : "" }}</p>
                                                        {% endif %}
                                                        {% if msg.content.images is defined and msg.content.images|length > 0  %}
                                                            <div class="content_image_message_mobile image_left">
                                                                {% for image in msg.content.images %}
                                                                    <img src="{{asset('uploads/messages/'~ image )}}" alt="Message image">
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>                                
                                            </div>
                                        </div>

                                    {% endif %}
                                    
                                {% endfor %}

                        {% else %}
                            <p class="text-center"> Envoyer lui Hello!!!</p>
                        {% endif %}


					</div>
					<div class="card-footer fixed-bottom text-muted d-flex justify-content-start align-items-center p-3 bg-white card_mobile" style="margin-left:0px">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
						<div class="content_input_message content_input_message_js_jheo mode_mobile" data-toggle-userfrom-id={{app.user.id}} data-toggle-userto-id= {{userToProfil.id}} >
                            
                            <div class="input_message w-100">

                                {# if the user put many image #}
                                <div class="globla_message w-100">
                                    <div class="content_image_input content_image_input_js_jheo">
                                        {# <i class="fa-solid fa-file-import fa-xl ms-3 i_input_file_under_image"></i> #}

                                        {# <img src="/assets/image/message2.jpg" alt="image input">
                                        <img src="/assets/image/message2.jpg" alt="image input">
                                        <img src="/assets/image/message2.jpg" alt="image input">
                                        <img src="/assets/image/message2.jpg" alt="image input"> #}
                                    </div>
                                    <textarea  rows="1" type="text" placeholder="Votre message" name="message" class="w-100 input_message_js_jheo" ></textarea>
                                </div>

								{# record for voice... #}
                                <i class="fa-solid fa-microphone outer_icon_micro"></i>

                                {# input file image #}
                                <i class="fa-solid fa-file-import fa-xl ms-3 i_input_file outer_icon_message">
                                    <input type="file"  class="first-input" multiple aria-disabled> 
                                </i>

                                {# to send message  #}
                                <i class="fa-solid fa-paper-plane outer_icon_message btn_send_message_js_jheo "></i>

                            </div>
                        </div>

					</div>
				</div>

				{# </div> #}
			</div>

		</div>

	</section>
	{# </div> #}
</div>
