{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/message/message.css')}}">

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	{# <script src='https://8x8.vc/external_api.js'></script> #}
	{# <script  src="{{ asset('assets/js/chatHome.js') }}" defer></script> #}
	{# <script  src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script> #}<script src="{{ asset('assets/js/message/message.js') }}" defer> </script>
	<script src="{{ asset('assets/js/message/eventStrem_message.js') }}" defer></script>

	{# <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> #}
	<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>

{% endblock %}

{% block body %}
	<div class="vc lc hg xi yi bj wr w-100 body-onglet-msg">
		<div class="lc mg vi bj wr head-list-onglet">
			<div class="lc mg content-entete-list-onglet">
				<div class="ob yd nh th pdp-onglet-msg">
					<i class="fa-solid fa-people-line"></i>
				</div>
				<div>
					<p
						class="mn">
						{# Répondez au message de #}
						<h5 class="un zn gs name-msg-onglet">
							Partisans
						</h5>
					</p>
				</div>
			</div>

			<div class="content-close content-close-tomm-js d-flex">
				<i class="fa-solid fa-circle-xmark close-onglet-list close-onglet-list-tomm-js" onclick="closeOngletList()"></i>
			</div>
		</div>

		<div class="container-bar-recherche-message">
			<input type="text" class="search_input_message search-message" id="fan_look_tom_js" placeholder="Recherche des fan dans consomyzone" oninput="lookupFanBulle(event)">
		</div>
		<div class="lookup_fan_result lookup_fan_result_bulle lookup_fan_result_tom_js d-none"></div>
		<div
			class="sv en-lign-mobile en-lign-mobile-tomm-js list-amie-message">
			<!-- ====== Chat List Start -->
			<div class="vcxk">

				<div class="vd mh ip ch ib user_profile_list_elie nav-message">
					<div class="content_list_enligne_tomm_js d-none">
						<ul class="list-group list-group-flush list-group-flush-bulle fan_actif_tom_js" ></ul>
					</div>
					<div class="content_list_grp_msg_faniry_js d-none">
						<ul class="list-group list-group-flush msg_grp_faniry_js"></ul>
					</div>
				</div>
			</div>
			<!-- ====== Chat List End -->
		</div>
	</div>
{% endblock %}
