<div class="navleft  result_container_resto content_navleft_jheo_js" >
    <div class="container-fluid list-depart">
        <div class="head-left">
            
            {# entete list department #}
            <div class="row">
                <div class="col-md-2">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">
                        <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" 
                        fill="#1111FE" stroke="none">
                            <path d="M520 1047 c-20 -7 -36 -20 -38 -31 -3 -16 0 -18 25 -11 15 4 76 9
                            136 12 79 4 107 8 107 18 0 7 -7 16 -16 19 -27 10 -177 5 -214 -7z"/>
                            <path d="M372 948 c-8 -8 -12 -48 -12 -105 0 -92 0 -93 34 -131 l34 -38 -10
                            -188 c-7 -133 -7 -196 1 -212 20 -44 102 -44 122 0 8 16 8 79 1 212 l-10 188
                            34 38 c34 38 34 39 34 132 0 66 -4 97 -13 105 -23 18 -27 2 -27 -96 0 -92 0
                            -93 -35 -131 l-34 -38 10 -188 c6 -103 8 -194 5 -202 -7 -18 -45 -18 -52 0 -3
                            8 -1 99 5 202 l10 188 -34 38 c-35 38 -35 39 -35 132 0 95 -6 116 -28 94z"/>
                            <path d="M437 954 c-4 -4 -7 -52 -7 -106 0 -89 2 -99 18 -96 15 3 17 16 17
                            102 0 92 -8 120 -28 100z"/>
                            <path d="M495 948 c-3 -8 -5 -55 -3 -104 3 -76 6 -89 21 -92 16 -3 17 5 15 99
                                                                        -2 71 -7 104 -15 107 -7 2 -15 -3 -18 -10z"/>
                            <path d="M765 951 c-75 -32 -106 -203 -49 -271 l27 -31 -7 -184 c-7 -177 -7
                            -184 13 -204 27 -27 75 -27 102 0 20 20 20 27 13 204 l-7 184 27 31 c25 31 31
                            59 26 135 -2 37 -31 106 -52 122 -20 17 -69 24 -93 14z m74 -52 c41 -45 44
                            -160 4 -201 l-26 -27 4 -193 4 -193 -25 0 -25 0 4 193 4 193 -26 27 c-56 58
                            -24 222 43 222 11 0 28 -10 39 -21z"/>
                            <path d="M935 910 c-4 -6 8 -33 25 -60 87 -136 81 -321 -15 -442 -36 -44 -42
                            -62 -26 -73 12 -7 55 38 87 91 78 131 72 327 -14 448 -29 43 -46 53 -57 36z"/>
                            <path d="M276 858 c-45 -79 -59 -139 -54 -241 5 -101 26 -161 81 -234 31 -40
                            67 -57 67 -30 0 6 -16 32 -35 55 -90 115 -103 292 -28 420 23 41 25 72 4 72
                            -6 0 -21 -19 -35 -42z"/>
                            <path d="M580 245 c-16 -19 -1 -25 61 -25 56 0 84 14 59 30 -20 12 -108 9-120 -5z"/>
                        </g>
                    </svg>
                </div>

                {# content result number  #}
                <div class="col-md-8">
                    <p>
                        Marche dans tous les départements Français. <br>
                        <span>{{count_marche}}</span> résultats.
                    </p>

                </div>

                {# hide liste  #}
                <div class="col-md-2">
                    <i class="fa-solid fa-x icon_close_nav_left_jheo_js" id="close-list-depart-resto"></i>
                </div>

                {# <div class="choix_list_cart mx-auto">
                    <input class="input-grey-rounded" id="recherche-input-restaurant-tom-js" type="text" placeholder="Recherche par departement ">
                </div> #}
            </div>

            {# list department #}
            <div class="container list-depart-all" id="Scrollbar">
                <div class="content_container_list" id="list_departements">
                    <ul>
                        {% for departement in departements %}
                            <li>
                                {% set pathDep = "app_specific_marche" %}
                                <a class="text-decoration-none text-dark" href="{{path(pathDep, {'nom_dep': departement.departement, 'id_dep': departement.id }) }}">
                                    <div class="row container-depart pt-4 element element_js_jheo" data-toggle-depart-id="{{departement.id}}" data-toggle-depart-name="{{departement.departement}}">
                                        <div class="col-md-2">
                                            <h5 class="id_departement">{{departement.id }}</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>{{departement.departement}}</h5>
                                        </div>
                                        <div class="col-md-2">
                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet">

                                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" 
                                                    stroke="none">
                                                        <path d="M2375 4954 c-231 -24 -462 -78 -641 -149 -782 -310 -1321 -993 -1440
                                                        -1824 -21 -141 -23 -445 -5 -581 23 -170 77 -398 116 -485 8 -16 26 -59 40
                                                        -95 175 -426 486 -804 870 -1056 1052 -689 2449 -398 3148 658 313 473 437
                                                        1008 360 1568 -135 995 -920 1789 -1923 1945 -101 15 -440 28 -525 19z m285
                                                        -395 c108 -17 187 -60 254 -137 32 -37 72 -96 90 -132 l31 -65 3 -519 3 -519
                                                        332 6 c183 3 418 3 523 -1 188 -7 192 -8 256 -40 172 -85 278 -295 249 -496
                                                        -23 -164 -114 -297 -249 -363 l-76 -38 -518 -3 -517 -3 -3 -517 -3 -517 -28
                                                        -59 c-79 -170 -238 -266 -437 -266 -199 0 -358 96 -437 266 l-28 59 -3 517 -3
                                                        517 -517 3 -518 3 -76 38 c-176 87 -280 295 -249 497 21 138 112 279 221 343
                                                        98 57 120 59 652 59 l487 -1 3 517 3 517 29 62 c16 35 35 68 42 74 8 6 14 20
                                                        14 29 0 47 174 151 280 169 77 12 115 12 190 0z"/>
                                                    </g>
                                                </svg>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %} 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

