<div class="navleft  result_container_resto_spec result_container_resto_spec_js content_navleft_jheo_js">
    <nav class="navbar navbar-light navbar-light-left">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-2">
                   
                    <a href="{{path('app_marche') }}">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000"
                        preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                            fill="#000000" stroke="none">
                                <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
                                17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
                                9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
                                92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"/>
                            </g>
                        </svg>

                    </a>
                </div>
                <div class="col-9">
                    <div class="" style="margin-left: -30px;font-size: 10pt;display: flex;">
                        <img style="width: 35px;height: 35px;" src="{{asset('assets/icon/NewIcons/marche.jpg')}}" alt="Marche logo">

                        <p  class="titre mb-3" data-toggle-deparement="{{nom_dep}}">
                            Marche à 
                            <span class="fw-bolder">
                                département {{nom_dep}} {{id_dep}},
                            </span> <br>
                            <span class="fw-bolder content_nombre_result_js_jheo">{{count_marche}}</span> résultats.
                        </p>
                    </div>
                </div>
                <div class="col-1">
                    <i class="fa-solid fa-x icon_close_nav_left_jheo_js" id="close-list-depart-resto-spec" ></i>
                </div>
            </div>
            <hr>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="head-left spec-dep">
            <div class="row ">
                <div class="pagination_alphabet pagination_alphabet_jheo_js">
                    <ul>
                        <!--pages or li are comes from javascript -->
                    </ul>
                </div>
            </div>
            <div class="container list-depart-all-specific" id="Scrollbar">
                <div class="list_result content_container_list" id="all_ferme_in_dep"  data-toggle-id-dep="{{id_dep}}">
                    <ul  class="content_list_marche_spec_js_jheo">
                        {% for rubrique in marches %}
                            {% include "card/card_rubrique.html.twig" %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>

