<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConsoMyZone</title>

    <style>
        {# here, define your CSS styles as usual #}
        .title {
            color: blue;
        }

        .container_fluid{
            background: rgba(0,54,246,0);
            background: linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
            background: -webkit-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
            background: -moz-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
            width: 100%;
            z-index: 1;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            display: block;
            width: 80%;
            min-height: 80%;
            margin: auto;

            display: block;
            border-radius: 15px;
            padding: 25px;
            background: rgba(0,54,246,0);
            background: linear-gradient(88deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
            background: -webkit-linear-gradient(90deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
        }

        .image_logo{
            display: block;
            width: 160px;
            height: 80px;
        }

        .btn_style{
            color: white;
            border:none;
            width: 150px;
            height: 50px;
            border-radius: 5px;
            font-size: 14pt;
            margin-top: 5px;
            padding: 10px 15px;
        }

        .btn_primary{
            background-color:#007bff;
            margin-right: 10px;
        }

        .content_date_current{
            text-align: end;
        }

    </style>

</head>
<body>
    <div class="container_fluid">
    
        <div class="container">
            <img class="image_logo" src="{{ email.image('@images/logo.png') }}" alt="Logo">
            {# <img src="{{ absolute_url(asset('assets/image/logo.png')) }}" alt="Logo"> #}

            <p class="content_date_current" >{{ today }}</p>

            <h3 class="content_nom_destination" >Cher/chère {{fullNameTo}}</h3>

            <p class="text_introduction">
               Nous avons récemment reçu une demande de réinitialisation de mot de passe associée à votre compte. <br>
               Afin de garantir la sécurité de votre compte, nous vous invitons à suivre les étapes ci-dessous pour définir un nouveau mot de passe :
            </p>
            <p>
                1- Cliquez  ci-dessous : <br>
                <a  href="{{link}}"
                    targer="_blank">
                    Réinitialisation de mot de passe
                </a>
                
            </p>
            
            <p>
                2- Vous serez redirigé(e) vers une page sécurisée où vous pourrez saisir un nouveau mot de passe.
            </p>
            
            <p>
                Si vous n'avez pas demandé cette réinitialisation de mot de passe, veuillez ignorer cet email. Votre compte restera sécurisé.
            </p>

            <p>
                Nous vous encourageons à choisir un mot de passe fort et à ne pas le partager avec qui que ce soit.
                Utilisez une combinaison de lettres majuscules et minuscules, de chiffres et de caractères spéciaux pour renforcer la sécurité de votre compte.
            </p>

            <p>Merci pour votre coopération.</p>
            
            <p>Cordialement,</p>

            <p>ConsoMyZone</p>

        </div>
    </div>
</body>
</html>

