<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConsoMyZone</title>

        <style>
            {# here, define your CSS styles as usual #}
            .title {
                color: blue;
            }

            .container_fluid{
                background: rgba(0,54,246,0);
                background: linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
                background: -webkit-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
                background: -moz-linear-gradient(189deg,rgba(0,54,246,0) 10%, rgba(0,111,255,0.64) 80%);
                width: 100%;
                z-index: 1;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container{
                display: block;
                width: 80%;
                min-height: 80%;
                margin: auto;

                display: block;
                border-radius: 15px;
                padding: 25px;
                background: rgba(0,54,246,0);
                background: linear-gradient(88deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
                background: -webkit-linear-gradient(90deg,rgba(0,54,246,0) 10%, #cdcdcd 80%);
            }

            .image_logo{
                display: block;
                width: 160px;
                height: 80px;
            }


        </style>
</head>
<body>
    <div class="container_fluid">
    
        <div class="container">
            <img class="image_logo" src="{{ email.image('@images/logo.png') }}" alt="Logo">
            {# <img src="{{ absolute_url(asset('assets/image/logo.png')) }}" alt="Logo"> #}

            <p class="content_date_current" >{{ today }}</p>

            <h3 class="content_nom_destination" >Cher/chère {{fullNameTo}}</h3>

            <p class="text_introduction">
                Nous tenions à vous exprimer notre plus grande satisfaction et notre profonde gratitude pour avoir accepté notre invitation à {{ agenda.message }} 
                qui se tiendra le {{agenda.date|date('F jS')  }} à {{agenda.heure_debut}} jusqu'à {{agenda.heure_fin}} à {{agenda.restaurant ? agenda.restaurant : "Consomyzone" }}. 
                Nous sommes absolument ravis de savoir que vous serez parmi nous lors de cette occasion spéciale.
            </p>
            
            <p>
                Votre présence ajoutera une valeur inestimable à l'événement et nous sommes convaincus que votre expertise 
                et votre contribution auront un impact significatif. 
                Nous sommes impatients de vous accueillir et de partager cette expérience enrichissante avec vous.
            </p>

            <p>
                Encore une fois, nous vous remercions de tout cœur d'avoir accepté notre invitation. 
                Nous sommes impatients de vous rencontrer et de profiter de cette occasion mémorable en votre compagnie.
            </p>
            
            <p>
                Cordialement,
            </p>

            <p>
                {{ user_sender.fullname }} <br>
                {{ user_sender.email }}
            </p>
        </div>
    </div>
</body>
</html>

