{% extends 'base.html.twig' %}

{% block title %}
    ConsoMyZone: Carte
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/home/app.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/home/responsif_home.css')}}">

	<link rel="stylesheet" href="{{asset('assets/js/MapCMZ/slick/slick.css')}}">

    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> #}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>

	<link rel="stylesheet" href="{{asset('assets/css/new_home/map_cmz.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/new_home/slider.css')}}">

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/slick/slick.min.js') }}" defer></script>
    {# <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script> #}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js" defer></script> 
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/module/leaflet.shpfile.js')}}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/module/shp.js')}}" defer></script>
    
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/lib.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/map_cmz_fonction.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/MapCMZ.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/RubriqueCMZ.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/MapCMZ/map_cmz_instance.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/MapCMZ/map_cmz_index.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/MapCMZ/avis_rubrique.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/MapCMZ/favori_rubrique.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/MapCMZ/search_rubrique.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/MapCMZ/details_rubrique.js')}}" defer></script>

{% endblock %}


{% block body %}
    {% include 'new_home/_navbar.html.twig' %} 

    <div class="content_body">
        <div class="content_list_nav_left content_list_nav_left_jheo_js">
            {% include 'new_home/_content_list_nav_left.html.twig' %}
        </div>
        <div class="content_details_rubrique d-none content_details_rubrique_jheo_js">
            {% include 'new_home/_content_details_rubrique.html.twig' %}
        </div>

        {% if (app.user) %}
            <div class="content content_tous_js_jheo" id="tout-dem"  data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
                <div class="content_cart_map content_cart_map-respons content_cart_map_jheo_js">
                    <div class="cart_map cart_map_js cart_map_jheo_js">
                        {# Loading cart #}
                        <div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
                            <div class="containt">
                                <div class="word word-1">C</div>
                                <div class="word word-2">M</div>
                                <div class="word word-3">Z</div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        {% else %}
            <div class="content content_tous_js_jheo" >
                <div class="content_cart_map content_cart_map-respons content_cart_map_jheo_js">
                    <div class="cart_map cart_map_js cart_map_jheo_js">
                        {# Loading cart #}
                        <div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
                            <div class="containt">
                                <div class="word word-1">C</div>
                                <div class="word word-2">M</div>
                                <div class="word word-3">Z</div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        {% endif %}
        <button type="button" class="d-none show_detail_for_mobile_js_jheo" data-bs-toggle="modal" data-bs-target="#detailModalMobil"></button>
    </div>
    
    <!-- Modal SHOW TRIBUS INFOS -->
	<div class="modal fade" id="modalShowTribusInfos" tabindex="-1" aria-labelledby="modalShowTribusInfosLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalShowTribusInfosLabel">Vous avez pastillé ce restaurant avec ces tribus T</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" style="height:450px;"></div>
			</div>
		</div>
	</div>
	{# <div class="content-modal-pastille-golf-tomm-js"></div> #}

    <div class="modal fade" id="pastilleForGolf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pastilleForGolfLabel">Pastiller un golf</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body content-modal-pastille-golf-tomm-js" id="pastilleForGolfBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>


    {% include 'new_home/_new_poi.html.twig' %}

	
	{% include 'shard/chatBot.html.twig' %}
	{% include 'shard/home/detail_home_navleft.twig' %}

    {% include 'shard/modal/list_avis.html.twig' %}
    {% include 'shard/modal/modal_avis.html.twig' %}

    {{ include('shard/modal/addRubriqueFavory.html.twig') }}

    {{ include('shard/restaurant/modal_user_modif_resto.twig') }}

    {{ include('shard/modal/new_poi_marche.html.twig') }}
    {{ include('shard/modal/edit_marche.html.twig') }}


    {{ include('shard/modal/modalDescriptionTribuPastille.html.twig') }}
    {{ include('shard/modal/modal_liste_resto_pastille.html.twig') }}
{% endblock %}
