<div class="content_home content_body_details_jheo_js" data-toggle-user-id="{{app.user ? app.user.id : 0}}">
	<div class="left_content_home">
		<div class="description" id="details-coord"
			data-toggle-type="resto" data-toggle-id-resto="{{details.id}}" 
			data-toggle-id-dep="{{id_dep}}" data-latitude="{{((details.poiY) ? details.poiY : '0' )|format_number({fraction_digit: 14}) }}" 
			data-longitude="{{((details.poiX) ? details.poiX : '0') |format_number({fraction_digit: 15})}}" 
			data-nom="{{details.denominationF}}" 
			data-codeinsee="{{details.codinsee}}">

			<div class="content_titre_details">
				<div class="titre text-center">
					<div class="restoNameWithLogoTribu mb-2 mt-2">
						<div class="col-9 mt-2">
							<div class="text-center mb-1">
								<h1 class="rubriqueNameDetail" data-name="{{details.denominationF | raw}}">{{details.denominationF | raw}}</h1>
							</div>
						</div>
					</div>

					<figcaption class="blockquote-footer card-text cmz-adresse">
						Adresse :
						<a href="#" class="small text-center ">
							{{details.numvoie|lower}}
							{{details.typevoie|lower}}
							{{details.nomvoie|lower}}
							{{details.codpost|lower}}
							{{details.villenorm|lower}}
						</a>
					</figcaption>

					{% set tribu_pastille_total = tribu_t_resto_joined_pastille|length + tribu_t_resto_pastille|length + tribu_g_resto_pastille|length   %}

					{% if (app.user and app.user.type != 'Type' and (tribu_pastille_total > 0 )  ) %}
						<div class="row_content_tribu_pastille  row mb-2 row_content_tribu_pastille_jheo_js">
							<div class="col-8 flex_content_start content_tribuT_pastille_jheo_js">
								<div class="super_container_js_nantenaina">
									<div class="mainContainerLogoTribu">
										{% set count_tribu_pastille = 0 %}

										{% if tribu_t_resto_pastille|length > 0 %}

											{% for item in tribu_t_resto_pastille %}

												{% if item["isPastilled"]%}

													<div id="{{item["table_name"]}}"
														 class="img_nantenaina content_logo_tribu_pastille {{ count_tribu_pastille > 0 ? 'translate_left' : '' }}" 
														 onclick="createPopUp(event)" 
														 onmouseout="resetImage(event)" 
														 onmouseover="agrandirImage(event)"  
														 data-bs-toggle="tooltip" 
														 data-bs-placement="top" 
														 title="Tribu T {{item["name_tribu_t_muable"]}}" 
														 data-name="{{item["name_tribu_t_muable"]}}" >

														<img class="logo_tribu_pastille"
															src="{{ item["logo_path"] != "" ? "/public" ~ asset(item["logo_path"]) : "/public/uploads/tribu_t/photo/avatar_tribu.jpg" }}" 
															alt="tT" 
															data-name="{{item["name_tribu_t_muable"]}}" 
															data-type="tribuT">
													</div>
													
													{% set count_tribu_pastille = count_tribu_pastille + 1 %}
													
												{% endif %}

											{% endfor %}
										{% endif %}

										{% if tribu_t_resto_joined_pastille|length > 0 %}

											{% for item in tribu_t_resto_joined_pastille %}

												{% if item["isPastilled"] %}

													<div id="{{item["table_name"]}}"
														 class="img_nantenaina {{ count_tribu_pastille > 0 ? 'translate_left' : '' }}" 
														 onclick="createPopUp(event)" 
														 onmouseout="resetImage(event)" 
														 onmouseover="agrandirImage(event)" 
														 data-bs-toggle="tooltip" 
														 data-bs-placement="top" 
														 title="Tribu T {{item["name_tribu_t_muable"]}}" 
														 data-name="{{item["name_tribu_t_muable"]}}">

														<img class="logo_tribu_pastille"
															src="{{ item["logo_path"] != "" ? "/public" ~ asset(item["logo_path"]) : "/public/uploads/tribu_t/photo/avatar_tribu.jpg" }}" 
															src="{{asset(item["logo_path"])}}" 
															data-name="{{item["name_tribu_t_muable"]}}" 
															data-type="tribuT"
															alt="tT">
													</div>

													{% set count_tribu_pastille = count_tribu_pastille + 1 %}

												{% endif %}
											{% endfor %}
										{% endif %}


									</div>
								</div>
								<div class="{{ count_tribu_pastille > 4 ? 'iconePlus_nanta_js': 'iconePlus_nanta_js d-none'}}">
									<a href="#" onclick="showLogoAndNameTribus()">
										<i class="bi bi-plus"></i>
									</a>
								</div>
							</div>
							<div class="col-4 flex_content_end content_tribuG_pastille_jheo_js">
								<div class="super_container_js_nantenaina">
									<div class="mainContainerLogoTribu">

										{% if tribu_g_resto_pastille|length > 0 %}

											{% for item in tribu_g_resto_pastille %}

												<div id="{{item["table_name"]}}"
													class="img_nantenaina content_logo_tribu_pastille" 
													onclick="createPopUpTribuG(event)" 
													onmouseout="resetImage(event)" 
													onmouseover="agrandirImage(event)" 
													data-bs-toggle="tooltip" 
													data-bs-placement="top" 
													title="Tribu G {{item["name"]}}" 
													data-name="{{item["name"]}}">
												
													<img class="logo_tribu_pastille"
														src="{{ item["avatar"] != ""  ?  '/public/uploads/tribus/photos/' ~ item["avatar"] : '/public/uploads/tribu_t/photo/avatar_tribu.jpg' }}" 
														data-name="{{item["description"]}}" 
														data-type="tribuG"
														alt="tG"> 
												</div>

											{% endfor %}
										{% endif %}

									</div>
								</div>
								<div class="iconePlus_nanta_js d-none">
									<a href="#" onclick="showLogoAndNameTribus()">
										<i class="bi bi-plus"></i>
									</a>
								</div>
							</div>
						</div>

					{% endif %}


					<div class="d-flex justify-content-center align-items-stretch flex-gap-2 content_btn_avis">
						<span>
							{% if (app.user and app.user.type!='Type') %}
								<a id="see-tom-js" style="font-size:smaller" class="btn btn-sm {{details.avis.nbr > 0 ? 'bg_vert': 'bg_orange' }}" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="showListAvie()">
									<span class="nbr_avis_resto_jheo_js">{{details.avis.nbr}}</span>
									avis
								</a>
							{% elseif ( app.user and app.user.type is same as('Type') )%}
								<a id="see-tom-js" style="font-size:smaller" class="btn btn-sm btn-secondary" onclick="openSwalProfilUnCompleted()">
									<span class="nbr_avis_resto_jheo_js">{{details.avis.nbr}}</span>
									avis
								</a>
							{% else %}
								<a id="see-tom-js" style="font-size:smaller" class="btn btn-sm btn-secondary" onclick="openSwalActif()">
									<span class="nbr_avis_resto_jheo_js">{{details.avis.nbr}}</span>
									avis
								</a>
							{% endif %}
						</span>
						{# {% if details.avis.isAlreadyCommented %}
							<button type="button" class="mx-2 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="update" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant" onclick="settingAvisResto('{{details.id}}','{{details.}}','')">
								Modifier votre avis
							</button>
						{% else %} #}

						{% if (app.user and app.user.type!='Type') %}
							<button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-primary  btn_modal_avis_resto_jheo_js modal-note-tomm-js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvis">Donner votre avis</button>
							<button style="font-size:smaller" type="button" data-name="{{details.denominationF | raw}}" class="mx-2  btn  btn-sm btn-success btn_modal_pastille_resto_nanta_js" data-status="pastille" data-bs-dismiss="modal" onclick="showPastillTable(event,'{{id_restaurant}}')">Pastiller</button>

							{% if isWaiting %}
								<button type="button" class="btn btn-secondary btn-sm" data-bs-placement="top" title="Modifier votre établissement" onclick="openSwalRequestWaiting()">
									<i class="bi bi-pencil-square"></i>
								</button>
							{% else %}
								<button type="button" class="btn btn-primary btn-sm" onclick="makeMarkerDraggable({{details.id}})" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre établissement">
									<i class="bi bi-pencil-square"></i>
								</button>
							{% endif %}

                            <button type="button" class="btn btn-danger btn-sm ms-2"
								data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#newFolderModal"
								onclick="makeFavori({{details.id}})"
							>
								<i class="fa-regular fa-star"></i>
							</button>

						{% elseif ( app.user and app.user.type is same as('Type') )%}
							<button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis." onclick="openSwalProfilUnCompleted()">Donner votre avis</button>
							<button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary btn_gris_actif_js_Elie " data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour pastiller un restaurant." onclick="openSwalProfilUnCompleted()">Pastiller</button>
							<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre établissement" onclick="openSwalProfilUnCompleted()">
								<i class="bi bi-pencil-square"></i>
							</button>
							<button type="button" class="btn btn-secondary btn-sm ms-2" onclick="openSwalProfilUnCompleted()">
								<i class="fa-regular fa-star"></i>
							</button>
							{# <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userModifResto" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre établissement"><i class="bi bi-pencil-square"></i></button> #}
						{% else %}
							<button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis." onclick="openSwalActif()">Donner votre avis</button>
							<button style="font-size:smaller" type="button" class="mx-2 btn btn-sm btn-secondary btn_gris_actif_js_Elie " data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour pastiller un restaurant." onclick="openSwalActifPastille()">Pastiller</button>
							<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre établissement" onclick="openSwalActif()">
								<i class="bi bi-pencil-square"></i>
							</button>
							<button type="button" class="btn btn-secondary btn-sm ms-2" onclick="openSwalActif()">
								<i class="fa-regular fa-star"></i>
							</button>
						{% endif %}



						<div class="d-none content_avis_person_hidden_jheo_js" data-avis-note="{{details.avis.avisPerso.note ? details.avis.avisPerso.note : 0 }}" data-avis-text="{{ details.avis.avisPerso.text ? details.avis.avisPerso.text : 0 }}"></div>
					</div>

					{% set adresse = details.numvoie|lower ~" "~ details.typevoie|lower ~" "~ details.nomvoie|lower ~" "~ details.codpost|lower ~" "~ details.villenorm|lower %}
					
					<div class="d-flex justify-content-center mt-3 mb-3">
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie" src="/public/assets/icon/google_icon.png" onclick="findInNet('google','{{details.denominationF | raw}}','{{adresse | trim}}')"> #}
							<img class="fa-search-elie" src="/assets/icon/google_icon.png" onclick="findInNet('google','{{details.denominationF | raw}}','{{adresse | trim}}')">
						</div>
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie" src="/public/assets/icon/googlemap_icon.png" onclick="findInNet('map','{{details.denominationF | raw}}','{{adresse | trim}}')"> #}
							<img class="fa-search-elie" src="/assets/icon/googlemap_icon.png" onclick="findInNet('map','{{details.denominationF | raw}}','{{adresse | trim}}')">
						</div>
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie" src="/public/assets/icon/tripadvisor_icon.png" onclick="findInNet('tripadvisor','{{details.denominationF | raw}}','{{adresse | trim}}')"> #}
							<img class="fa-search-elie" src="/assets/icon/tripadvisor_icon.png" onclick="findInNet('tripadvisor','{{details.denominationF | raw}}','{{adresse | trim}}')">
						</div>
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie" src="/public/assets/icon/michelin_icon.png" onclick="findInNet('michelin','{{details.denominationF | raw}}','{{adresse | trim}}')"> #}
							<img class="fa-search-elie" src="/assets/icon/michelin_icon.png" onclick="findInNet('michelin','{{details.denominationF | raw}}','{{adresse | trim}}')">
						</div>
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie" src="/public/assets/icon/bing_icon.jpg" onclick="findInNet('bing','{{details.denominationF | raw}}','{{adresse | trim}}')"> #}
							<img class="fa-search-elie" src="/assets/icon/bing_icon.jpg" onclick="findInNet('bing','{{details.denominationF | raw}}','{{adresse | trim}}')">
						</div>
						<div class="d-flex flex-column align-items-center m-2">
							{# <img class="fa-search-elie the-fork-tomm-js" src="/public/assets/icon/thefork_icon.png" onclick="findInNet('thefork','{{details.denominationF | raw}}', '{{ details.depName | raw}}')"> #}
							<img class="fa-search-elie the-fork-tomm-js" src="/assets/icon/thefork_icon.png" onclick="findInNet('thefork','{{details.denominationF | raw}}', '{{ details.depName | raw}}')">
						</div>
					</div>
					{# <div class="mb-3 text-center">
						<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userModifResto">Modifier les informations</button>
					</div> #}
				</div>
			</div>

			<div class="content_other_detail_rubrique p-2">
				{% set len = photos|length %}
				{% set height = len > 0 ? "" : "h-40" %}
				<div class="content_images {{height}}">
					{% if app.user %}
						<label type="button" for="photo-upload-detail" class="add-photo-detail">
							<i class="fa-solid fa-camera"></i>
							Ajouter des photos
						</label>
						<input type="file" id="photo-upload-detail" class="d-none" onchange='addPhotoToGallery(this,"restaurant")' data-id="{{details.id}}" accept="image/*"/>
					{% endif %}

					{% if len > 0 %}

						<img class="preview-photo-detail" src="{{photos[len - 1].photo}}" alt="photo"/>

						<div class="all-photos-detail" onclick="openGalleriesPhoto(this)">
							{% if len > 1 %}
								{% set autre_image_len = len - 1 %}

								{% if autre_image_len > 0 %}
									<span class="nombre-photo-detail">
										+{{autre_image_len}}
									</span>
								{% endif %}

							{% endif %}

							<div class="gallery-photo-detail d-none">
								{% for img in photos %}
									<img src="{{img.photo}}" alt="photo"/>
								{% endfor %}
							</div>
						</div>

					{% endif %}

				</div>
				<hr>
				<div class="content_note">
					<div class="text-center start start_jheo_js">
						{% set rate = details.avis.note != 0 ?  details.avis.note - (details.avis.note|number_format - 1): 0 %}

						{% set rateYellow = rate * 100  %}
						{% set rateBlack = 100 - rateYellow %}

						{% for item in 0..3 %}
							{% if item < details.avis.note|number_format - 1 %}
								<i class="fa-solid fa-star checked" style="color: rgb(245, 209, 101);"></i>
							{% else %}
								{% if rate != 0 %}
									<i class="fa-solid fa-star" data-rank="1" style="{{ "background: linear-gradient(90deg, #F5D165 " ~ rateYellow ~ "%, #000 " ~ rateBlack ~ "%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" }}"></i>
									{% set rate = 0 %}
								{% else %}
									<i class="fa-solid fa-star" data-rank="1"></i>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>

					<div class="nombre_avis"></div>
				</div>

				<hr>
				{% if details.site1 != "" %}
					<div class="site_web my-1">
						{% if 'http://' in details.site1 or 'https://' in details.site1 %}
							<a class="badge bg-success" href="{{details.site1 | raw}}" target="_blank">Lien :  site Web</a>
						{% else %}
							<a class="badge bg-success" href="{{ 'https://' ~ details.site1 | raw}} " target="_blank">Lien :  site Web</a>
						{% endif %}
					</div>
				<hr>
				{% endif %}

				<div class="content_activite my-1">
					<p class="activite d-flex justify-content-between align-items-center flex-wrap">
						<span class="fw-bold">Type restaurant:</span>
						{% if details.restaurant %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-utensils me-1"></i>restaurant
							</span>
						{% endif %}
						{% if details.brasserie %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-beer-mug-empty"></i>
								Brasserie
							</span>
						{% endif %}
						{% if details.creperie %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-pancakes"></i>
								creperie
							</span>
						{% endif %}
						{% if details.fastFood %}
							<span class="badge bg-warning text-dark">
							<i class="fa-solid fa-burger"></i>
							fastFood
							</span>
						{% endif %}
						{% if details.pizzeria %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-pizza-slice"></i>
								pizzeria
							</span>
						{% endif %}
						{% if details.boulangerie %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-pie"></i>
								boulangerie
							</span>
						{% endif %}
						{% if details.bar %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-martini-glass-empty"></i>
								bar
							</span>
						{% endif %}
						{% if details.cuisineMonde %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-hat-chef"></i>
								cuisine du monde
							</span>
						{% endif %}
						{% if details.cafe %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-coffee-pot"></i>
								café
						{% endif %}
						{% if details.salonThe %}
							<span class="badge bg-warning text-dark">
								<i class="fa-solid fa-mug-tea"></i>
								salon de thé
							</span>
						{% endif %}
					</p>
				</div>
				<hr>

				{% if details.fonctionalite1 %}
					<div class="fonctionnalite my-1">
						<div class="three">
							<span class="fw-bold">Fonctionalités:</span>
							<p>
								{{details.fonctionalite1 | raw}}
							</p>
						</div>
					</div>
					<hr>
				{% endif %}
				
				{% if details.fourchettePrix1 %}
					<div class="fourchette_de_prix my-1 d-flex justify-content-between align-items-center">
						<span class="fw-bold">Fourchette de prix:</span>
						<span class="badge bg-info text-dark">{{details.fourchettePrix1 | raw}}</span>
					</div>
					<hr>
				{% endif %}

				{% if details.horaires1 %}
					<div class="horaire my-1">
						<span class="fw-bold">Horaires:</span>
						<p>
							{{details.horaires1 | raw}}
						</p>
					</div>
					<hr>
				{% endif %}

				{% if details.prestation1 %}
					<div class="prestation my-1">
						<span class="fw-bold">Prestation:</span>
						<p>
							{{details.prestation1 | raw}}
						</p>
					</div>
					<hr>
				{% endif %}

				{% if details.regimeSpeciaux1 %}
					<div class="regime_speciaux my-1">
						<span class="fw-bold"> Régime spécial:</span>
						<p>
							{{details.regimeSpeciaux1 | raw}}
						</p>
					</div>
					<hr>
				{% endif %}

				{% if details.repas1 %}
					<div class="repas my-1">
						<span class="fw-bold"> Repas:</span>
						<p>
							{{details.repas1 | raw}}
						</p>
					</div>
					<hr>
				{% endif %}

				{% if details.tel %}
					<div class="tel my-1">
						<span class="fw-bold"> Téléphone:</span>
						<p>
							{{details.tel | raw}}
						</p>
					</div>
					<hr>
				{% endif %}
			</div>
		</div>
	</div>
</div>

