<div class="content_home content_body_details_jheo_js" data-toggle-user-id="{{app.user ? app.user.id : 0}}">
	<div class="left_content_home">
        <div class="description" id="details-coord" data-toggle-id-resto="{{details.id}}" data-toggle-id-dep="{{id_dep}}" data-latitude="{{((details.poiY) ? details.poiY : '0' )|format_number({fraction_digit: 14}) }}" data-longitude="{{((details.poiX)  ? details.poiX : '0') |format_number({fraction_digit: 15})}}" data-nom="{{details.denominationF}}" data-codeinsee="{{details.codinsee}}">
            <div class="content_titre_details">
                <div class="titre text-center">
                    <div class="mb-2 restoNameWithLogoTribu">
                        <div class="mt-2 ms-3 me-1 text-center"><b>{{details.denominationF | raw}}</b></div>
                        {% if (app.user) %}
                            <div class="super_container_js_nantenaina">
                                <div class="mainContainerLogoTribu">
                                    {% if tribu_t_resto_pastille|length > 0 %}
                                        {% for item in tribu_t_resto_pastille %}
                                            {% if item["logo_path"] != "" %}
                                                {# <img class="ms-1" width="36" src="/public{{asset(item["logo_path"])}}" alt=""> #}
                                                <div onclick="createPopUp(event)" onmouseout="resetImage(event)" onmouseover="agrandirImage(event)" class="img_nantenaina" data-bs-toggle="tooltip" data-bs-placement="top" title="Tribu T {{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}" id="{{item["table_name"]}}"><img src="/public{{asset(item["logo_path"])}}" alt="{{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}"></div>
                                            {% else %}
                                                {# <img  width="36" src="/public/uploads/tribu_t/photo/avatar_tribu.jpg" alt=""> #}
                                                <div onclick="createPopUp(event)" onmouseout="resetImage(event)" onmouseover="agrandirImage(event)" class="img_nantenaina" data-bs-toggle="tooltip" data-bs-placement="top" title="Tribu T {{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}" id="{{item["table_name"]}}"><img src="/public/uploads/tribu_t/photo/avatar_tribu.jpg" alt="{{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}"></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if tribu_t_resto_joined_pastille|length > 0 %}
                                        {% for item in tribu_t_resto_joined_pastille %}
                                            {% if item["logo_path"] != "" %}
                                                {# <img class="ms-1" width="36" src="/public{{asset(item["logo_path"])}}" alt=""> #}
                                                <div onclick="createPopUp(event)" onmouseout="resetImage(event)" onmouseover="agrandirImage(event)" class="img_nantenaina" data-bs-toggle="tooltip" data-bs-placement="top" title="Tribu T {{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}" id="{{item["table_name"]}}"><img src="/public{{asset(item["logo_path"])}}" alt="{{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}"></div>
                                            {% else %}
                                                {# <img class="ms-1" width="36" src="/public/uploads/tribu_t/photo/avatar_tribu.jpg" alt=""> #}
                                                <div onclick="createPopUp(event)" onmouseout="resetImage(event)" onmouseover="agrandirImage(event)" class="img_nantenaina" data-bs-toggle="tooltip" data-bs-placement="top" title="Tribu T {{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}" id="{{item["table_name"]}}"><img src="/public/uploads/tribu_t/photo/avatar_tribu.jpg" alt="{{item["name_tribu_t_muable"]}}" data-name="{{item["name_tribu_t_muable"]}}"></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="iconePlus_nanta_js d-none"><a href="#" onclick="showLogoAndNameTribus()"><i class="bi bi-plus"></i></a></div>
                        {% endif %}
                    </div>
                    
                    <figcaption class="blockquote-footer card-text cmz-adresse">
                        Adresse :  
                        <a href="#" class="small text-center ">
                            {{details.numvoie|lower}}
                            {{details.typevoie|lower}}
                            {{details.nomvoie|lower}}
                            {{details.codpost|lower}}
                            {{details.villenorm|lower}}
                        </a>
                    </figcaption>  
                    <div class="d-flex justify-content-center align-items-center flex-gap-2 content_btn_avis">
                        <span>
                            <a id="see-tom-js" class="text-black btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="showListAvie()">
                                <span class="nbr_avis_resto_jheo_js">{{details.avis.nbr}}</span> avis
                            </a>
                        </span>
                        {# {% if details.avis.isAlreadyCommented %}
                            <button type="button" class="mx-2 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="update" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant" onclick="settingAvisResto('{{details.id}}','{{details.}}','')">
                                Modifier votre avis
                            </button>
                        {% else %} #}

                        {% if app.user %}
                            <button type="button" class="mx-2 btn btn-primary btn_modal_avis_resto_jheo_js" data-status="create" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant">Donner votre avis</button>
                            <button type="button" data-name="{{details.denominationF | raw}}" class="mx-2 btn btn-success btn_modal_pastille_resto_nanta_js" data-status="pastille" data-bs-dismiss="modal" onclick="showPastillTable(event,'{{id_restaurant}}')">Pastiller</button>
                        {% else %}
                            <button type="button" class="mx-2 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour envoyer votre avis." onclick="openSwalActif()">Donner votre avis</button>
                            <button type="button" class="mx-2 btn btn-secondary btn_gris_actif_js_Elie" data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez vous connecter, pour pastiller un restaurant." onclick="openSwalActifPastille()">Pastiller</button>
                        {% endif %}

                        <div class="d-none content_avis_person_hidden_jheo_js" data-avis-note="{{details.avis.avisPerso.note ? details.avis.avisPerso.note : 0 }}" data-avis-text="{{ details.avis.avisPerso.text ? details.avis.avisPerso.text : 0 }}" ></div>
                    </div>
                </div>
            </div>

            <div class="p-4">

                <hr>
                <div class="content_note">
                    <div class="text-center start start_jheo_js">
                        {% set rate = details.avis.note != 0 ?  details.avis.note - (details.avis.note|number_format - 1): 0 %}

                        {% set rateYellow = rate * 100  %}
                        {% set rateBlack = 100 - rateYellow %}

                        {% for item in 0..3 %}
                            {% if item < details.avis.note|number_format - 1 %}
                                <i class="fa-solid fa-star checked" style="color: rgb(245, 209, 101);"></i>
                            {% else %}
                                {% if rate != 0 %}
                                    <i class="fa-solid fa-star" data-rank="1" style ="{{ "background: linear-gradient(90deg, #F5D165 " ~  rateYellow ~ "%, #000 " ~ rateBlack ~ "%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" }}"></i>
                                    {% set rate = 0 %}
                                {% else %}
                                    <i class="fa-solid fa-star" data-rank="1"></i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="nombre_avis"></div>
                </div>

                <hr>
                {# ///activiter #}

                <div class="content_activite">
                    <p class="activite">
                        <span class="fw-bold">Type restaurant:</span>
                        {% if details.restaurant %}
                            <i class="fa-solid fa-utensils"></i>
                            restaurant
                        {% endif %}
                        {% if details.brasserie %}
                            <i class="fa-solid fa-beer-mug-empty"></i>
                            Brasserie
                        {% endif %}
                        {% if details.creperie %}
                            <i class="fa-solid fa-pancakes"></i>
                            creperie
                        {% endif %}
                        {% if details.fastFood %}
                            <i class="fa-solid fa-burger"></i>
                            fastFood
                        {% endif %}
                        {% if details.pizzeria %}
                            <i class="fa-solid fa-pizza-slice"></i>
                            pizzeria
                        {% endif %}
                        {% if details.boulangerie %}
                            <i class="fa-solid fa-pie"></i>
                            boulangerie
                        {% endif %}
                        {% if details.bar %}
                            <i class="fa-solid fa-martini-glass-empty"></i>
                            bar
                        {% endif %}
                        {% if details.cuisineMonde %}
                            <i class="fa-solid fa-hat-chef"></i>
                            cuisine du monde
                        {% endif %}
                        {% if details.cafe %}
                            <i class="fa-solid fa-coffee-pot"></i>
                            café
                        {% endif %}
                        {% if details.salonThe %}
                            <i class="fa-solid fa-mug-tea"></i>
                            salon de thé
                        {% endif %}
                    </p>
                </div>

                {# ///content cta #}
                <div class="content_tow_cta">
                    {% if details.site1 != "" %}
                        <div class="site_web">
                            <a class="btn btn-success" href="{{details.site1 | raw}}" target="_blank">Lien :  site Web</a>
                        </div>
                    {% endif %}
                </div>

                <hr>

                <div class="fonctionnalite">
                    {#ancien class produit#}
                    <h5>
                        Fonctionalités:
                    </h5>
                    <ul>
                        {% if details.fonctionalite1 %}
                            <li>{{details.fonctionalite1 | raw}}</li>
                        {% endif %}

                    </ul>


                </div>

                <hr>

                <div class="fourchette_de_prix">
                    <h5>
                        Fourchette de prix:
                    </h5>
                    <ul>
                        {% if details.fourchettePrix1 %}
                            <li>{{details.fourchettePrix1 | raw}}</li>
                        {% endif %}

                    </ul>
                </div>

                <hr>

                <div class="horaire">
                    <h5>
                        Horaires :
                    </h5>
                    <ul>
                        {% if details.horaires1 %}
                            <li>{{details.horaires1 | raw}}</li>
                        {% endif %}
                    </ul>
                    <hr>

                </div>

                <div class="prestation">
                    <h5>
                        Prestation :
                    </h5>
                    <ul>
                        {% if details.prestation1 %}
                            <li>{{details.prestation1 | raw}}</li>
                        {% endif %}
                    </ul>
                    <hr>

                </div>

                <div class="regime_speciaux">
                    <h5>
                        Régime spécial :
                    </h5>
                    <ul>
                        {% if details.regimeSpeciaux1 %}
                            <li>{{details.regimeSpeciaux1 | raw}}</li>
                        {% endif %}
                    </ul>
                    <hr>

                </div>

                <div class="repas">
                    <h5>
                        Repas :
                    </h5>
                    <ul>
                        {% if details.repas1 %}
                            <li>{{details.repas1 | raw}}</li>
                        {% endif %}
                    </ul>
                    <hr>

                </div>

                <div class="tel">
                    <h5>
                        Téléphone :
                    </h5>
                    <ul>
                        {% if details.tel %}
                            <li>{{details.tel | raw}}</li>
                        {% endif %}
                    </ul>
                    <hr>

                </div>

                <hr>

                {#{% if (app.user) %}

                    <div class="d-none content_one_cta text-center mt-3 mb-3" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
                        <button class="btn btn-success " id="givs-avis-resto-tom-js" data-bs-toggle="modal" data-bs-target="#modalAvisRestaurant">Donné votre avis</button>
                    </div>

                    <div class="pastileThisResto p-3 mt-3 d-none">
                        {% if tribu_t_resto_pastille|length > 0 %}
                            <div class="containerPastilleResto">
                                {% for item in tribu_t_resto_pastille %}
                                <div class="row">
                                        <div class="nomTribuTPastilleResto col-6">
                                            <b>Tribu T {{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</b>
                                        </div>
                                        <div class="me-auto col-6">
                                            <span class="lioTe non_active">
                                                <i class="fa-solid fa-star checked starNote"></i><b>0</b>/4
                                            </span>
                                            <a href="#" class="text-secondary avisRestoTribu non_active">&nbsp;&nbsp;Voir les avis</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if tribu_t_resto_joined_pastille|length > 0 %}
                            <div class="containerPastilleResto">
                                {% for item in tribu_t_resto_joined_pastille %}
                                    <div class="row">
                                        <div class="nomTribuTPastilleResto col-6">
                                            <b>Tribu T {{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</b>
                                        </div>
                                        <div class="me-auto col-6">
                                            <span class="lioTe non_active">
                                                <i class="fa-solid fa-star checked starNote"></i><b>0</b>/4
                                            </span>
                                            <a href="#" class="text-secondary avisRestoTribu non_active">&nbsp;&nbsp;Voir les avis</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if tribu_t_can_pastille|length > 0 %}
                            <div class="containerPastilleResto">
                                {% for item in tribu_t_can_pastille %}
                                <span><b>{{ item["table_name"] }}</b> Voulez-vous pastiller ce restaurant? <button id="btnPastilleCarte" class="btn btn-primary" onclick="showTribuTForRestoPast(this)" type="button">Oui</button></span>
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Tribu T {{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</b> Voulez-vous pastiller ce restaurant? 
                                            <button data-name="{{details.denominationF | raw}}" data-tbname = {{item["table_name"]}} data-id="{{details.id}}" id="btnPastilleCarte" class="btn btn-primary" onclick="pastilleRestoForTribuT(this)" type="button" data-velona="{{item["logo_path"] != "" ? asset(item["logo_path"]) : asset('/public/uploads/tribu_t/photo/avatar_tribu.jpg')}}">Oui</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <table class="table table-striped d-none" id="restoPastilleTable">
                        <thead>
                            <tr>
                                <th scope="col">Logo</th>
                                <th scope="col">Tribu T</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tribu_t_resto_pastille|length > 0 %}
                                {% for item in tribu_t_resto_pastille %}
                                    <tr style="vertical-align: middle;">
                                        <td class="col-logo">
                                        </td>
                                            <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" src="{{item["logo_path"] != "" ? asset(item["logo_path"]) : asset('/public/uploads/tribu_t/photo/avatar_tribu.jpg')}}" alt="">
                                        <td class="col-tribuT">{{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</td>
                                         <td class="col-note">
                                            <span class="lioTe non_active">
                                                <i class="fa-solid fa-star checked starNote"></i>
                                                <i class="fa-solid fa-star checked starNote"></i>
                                                <i class="fa-solid fa-star checked starNote"></i>
                                                <i class="fa-solid fa-star checked starNote"></i>
                                                <b>0</b>/4
                                            </span>
                                        </td>
                                        <td class="col-avis">
                                            <a href="#" class="text-secondary non_active">Voir</a>
                                        </td> 
                                        <td class="col-action">
                                            <button type="button" class="mx-2 btn btn-secondary" disabled>Pastillé</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            {% if tribu_t_resto_joined_pastille|length > 0 %}
                                {% for item in tribu_t_resto_joined_pastille %}
                                    <tr style="vertical-align: middle;">
                                        <td class="col-logo">
                                            <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" src="{{item["logo_path"] != "" ? asset(item["logo_path"]) : asset('/public/uploads/tribu_t/photo/avatar_tribu.jpg')}}" alt="">
                                        </td>
                                        <td class="col-tribuT">{{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</td>
                                        <td class="col-note">
                                            <span class="lioTe non_active">
                                                <i class="fa-solid fa-star checked starNote"></i><b>0</b>/4
                                            </span>
                                        </td>
                                        <td class="col-avis">
                                            <a href="#" class="text-secondary non_active">Voir</a>
                                        </td> 
                                        <td class="col-action">
                                            <button type="button" class="mx-2 btn btn-secondary" disabled>Pastillé</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            {% if tribu_t_can_pastille|length > 0 %}
                                {% for item in tribu_t_can_pastille %}
                                    <tr style="vertical-align: middle;">
                                        <td class="col-logo">
                                            <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" src="{{item["logo_path"] != "" ? asset(item["logo_path"]) : asset('/public/uploads/tribu_t/photo/avatar_tribu.jpg')}}" alt="">
                                        </td>
                                        <td class="col-tribuT">{{ item["table_name"]|split('_', 4)|last|replace({'_':' '})|capitalize }}</td>
                                         <td class="col-note">
                                            <span class="lioTe non_active">
                                                <i class="fa-solid fa-star checked starNote"></i><b>0</b>/4
                                            </span>
                                        </td>
                                        <td class="col-avis">
                                            <a href="#" class="text-secondary non_active">Voir</a>
                                        </td> 
                                        <td class="col-action">
                                            <button data-name="{{details.denominationF | raw}}" data-tbname = {{item["table_name"]}} data-id="{{details.id}}" class="btn btn-success" onclick="pastilleRestoForTribuT(this)" type="button" data-velona="{{item["logo_path"] != "" ? asset(item["logo_path"]) : asset('/public/uploads/tribu_t/photo/avatar_tribu.jpg')}}">Pastiller</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                {% endif %}#}
            </div>
        </div>
	</div>
</div>