{% extends 'base.html.twig' %}

{% block title %}Restaurant ConsoMyZone{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/restaurant/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/chatbot.css')}}">
{% endblock %}


{% block javascripts %}

	{# <script src="{{asset('assets/js/restaurant/addToMap.js')}}" defer></script> #}
	<script type="text/javascript" src="{{ asset('assets/js/restaurant/data_resto.js') }}" defer></script>

    <script src="{{asset('assets/js/module/leaflet.shpfile.js')}}" defer></script>
    <script src="{{asset('assets/js/module/shp.js')}}" defer></script>
    

    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterResto.js') }}" defer></script>

	<script type="text/javascript" src="{{ asset('assets/js/restaurant/marckerClusterResto_all_dep.js') }}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/module/data_for_all.js') }}" defer></script>

    {# <script type="text/javascript" src="{{ asset('assets/js/restaurant/avis_restaurant_depart.js') }}" defer></script> #}
    <script src="{{asset('assets/js/restaurant/details.js')}}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/module/avis_rubrique.js') }}" defer></script>

{% endblock %}


{% block body %}
    <section class="gj do ir hj sp jr i pg hj-resto">
        <div>
            <div class=" responsif-none" id="tous">
                {% include 'shard/restaurant/resto_navleft.twig' %}
            </div>
            <div class="responsif-none">
                {% include 'shard/navbar.twig' %}
            </div>

            <div class="responsif-none-pc navbar-mobile-all">
                {% include 'shard/navbar_mobile.twig' %}
            </div>
            
            <div>
            {% if (app.user) %}
                <div class="open-navleft-mobile responsif-none-pc tc _o open-navleft-resto-mobile-tomm-js" id="open-navleft-resto-mobile-tomm-js" data-dem="rxbifbn:123nrtntntn:,ttt:cft{{app.user.id}}jker:bdyt">
            {% else %}
                <div class="open-navleft-mobile responsif-none-pc tc _o open-navleft-resto-mobile-tomm-js" id="open-navleft-resto-mobile-tomm-js">
            {% endif %}
                    <i class="fa-solid fa-bars"></i>
                </div>
            
            {# {% set listDepExist = [1,2,3,4, 6,7,8,9,13, 15,33, 35, 44, 49,59,63, 67, 69, 75, 77, 78, 91, 92, 93, 94, 95 ] %}

            <div class="content_filter_dep liste-depart-tomm responsif-none-pc">
                <select class="form-select" aria-label="Sélectionnez un département" style="" id="selectDepartRestoTommJs" onchange="selectDepartRestoMobile()">
                    <option value="Tous">Liste des departements</option>
                    {% for departement in departements %}
                        {% if departement.id|number_format in listDepExist %}
                            {% set pathDep = (departement.id is same as('75')) ? "app_dep_restaurant_arrondisme" : "app_specific_dep_restaurant" %}
                            <option value="{{departement.id }}" data-dep-name="{{departement.departement}}">
                                    {{departement.id }} {{departement.departement}}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div> #}


                {# <div class="open-search-mobil open-search-mobil-tomm-js responsif-none-pc " id="open-search-resto-mobil-tomm-js">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> #}
                {# <div class="search-resto-mobil search-mobil-tomm-js search-resto-mobil-none vd to/4 to/4/2 wf yf responsif-none-pc" id="search-resto-mobil">
                    {% include 'shard/search_mobile.html.twig' %}
                </div> #}

                <div class="list-depart-resto-mobile-tomm-js" id="list-depart-resto-mobile-tomm-js"></div>

                <div class="content_cart_map content_cart_map_jheo_js">
                    <div class="cart_map cart_map_js_jheo cart_map_js cart_map_jheo_js">
                        <div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
                            <div class="containt">
                                <div class="word word-1">C</div>
                                <div class="word word-2">M</div>
                                <div class="word word-3">Z</div>
                            </div>
                            {# <div id="map" class="map"></div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal SHOW TRIBUS INFOS -->
        <div class="modal fade" id="modalShowTribusInfos" tabindex="-1" aria-labelledby="modalShowTribusInfosLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalShowTribusInfosLabel">Vous avez pastillé ce restaurant avec ces tribus T</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="height:450px;">
                    
                    </div>
                </div>
            </div>
        </div>

    </section>

{{ include('shard/restaurant/detail_resto_navleft.html.twig') }}
{# {{ include('shard/restaurant/modal_modif_avis.html.twig') }} #}
{{ include('shard/chatBot.html.twig') }}
{{ include('shard/restaurant/modal_user_modif_resto.twig') }}

{{ include('shard/modal/modal_liste_resto_pastille.html.twig') }}
{{ include('shard/modal/modalDescriptionTribuPastille.html.twig') }}
{{ include('shard/modal/list_avis.html.twig') }}
{{ include('shard/modal/modal_avis.html.twig') }}
{% include 'shard/modal/modal_show_gallery.twig' %}

{% endblock %}
