{% extends 'base.html.twig' %}

{% block title %}Restaurant ConsoMyZone
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/restaurant/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/home/search.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/restaurant/specifique_resto.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/restaurant/app_specifique.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/restaurant/sepecific_departement.css')}}">
{% endblock %}

{% block javascripts %}

	{# <script src="{{asset('assets/js/arrondParisGeoJson.js')}}" defer></script> #}

    {# <script src="{{asset('assets/js/restaurant/addToMap.js')}}" defer></script> #}

	{# <script type="text/javascript" src="{{asset('assets/js/restaurant/sepecific_departement.js')}}" defer></script> #}
    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterResto.js') }}" defer></script>
	<script type="text/javascript" src="{{asset('assets/js/restaurant/marckerClusterResto_spec.js')}}" defer></script>

	<script type="text/javascript" src="{{ asset('assets/js/restaurant/filter_a-z_asc_desc.js') }}" defer></script>

	<script src="{{asset('assets/js/restaurant/details.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/restaurant/avis_restaurant.js') }}" defer></script>

	<script type="text/javascript" src="{{ asset('assets/js/restaurant/data_resto.js') }}" defer></script>
{% endblock %}


{% block body %}
    
    {# {% include 'shard/modalSearch.twig' %} #}
	<div class="resto_specifique_dep_js_jheo" data-resto-codeDep= "{{id_dep}}" data-resto-nameDep="{{nom_dep}}">
		<div class="responsif-none" id="tous">
			{% include 'shard/restaurant/arrondisment_resto_navleft.twig' %}
		</div>
        <div class="responsive-navbar responsif-none">
            {% include 'shard/navbar.twig' %}
        </div>
		<div class="">
			<div class="open-navleft-mobile  responsif-none-pc" id="open-navleft-resto-mobile-tomm-js-arrand"  onclick="addListSpecResto('{{nom_dep}}', '{{id_dep}}')">
                 <i class="fa-solid fa-bars"></i>
            </div>
            <div class="open-search-mobil open-search-mobil-tomm-js responsif-none-pc ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="search-resto-mobil search-mobil-tomm-js search-resto-mobil-none vd to/4 to/4/2 wf yf responsif-none-pc">
                {% include 'shard/search_mobile.html.twig' %}
            </div>
            <div id="remove-detail-spec-resto" class="hidden responsif-none">
                <div class="list-depart-all-detail list-depart-all-detail-tous responsif-none" id="content-details"></div>
            </div>

            {# content detail #}
            {{ include('shard/restaurant/detail_resto_navleft.html.twig') }}
            {# end of content detail #}
            <div id="list-arrand-resto-tomm-js"></div>

			<div class="content_cart_map content_cart_map_jheo_js">
				<div class="cart_map cart_map_js cart_map_js_jheo cart_map_jheo_js">
					<div class="chargement_content chargement_content_js_jheo" id="toggle_chargement">
						{# <div class="content_box">
							<div class="box">
								<div class="under_box"></div>
							</div>
						</div> #}
                        <div class="containt">
                            <div class="word word-1">C</div>
                            <div class="word word-2">M</div>
                            <div class="word word-3">Z</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {{ include('shard/chatBot.html.twig') }}
    {{ include('shard/restaurant/list_avis.html.twig') }}
    {{ include('shard/restaurant/modal_avis_resto.html.twig') }}
    {{ include('shard/restaurant/modal_modif_avis.html.twig') }}
{% endblock %}

