{% extends 'base.html.twig' %}

{% block title %}Restaurant ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/restaurant/app.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/restaurant/sepecific_departement.css')}}">
{% endblock %}

{% block javascripts %}
	{# // <script src="{{asset('assets/js/restaurant/addToMap.js')}}" defer></script> #}
	<script src="{{asset('assets/js/arrondParisGeoJson.js')}}" defer></script>
	<script src="{{asset('assets/js/restaurant/details.js')}}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/restaurant/avis_restaurant.js') }}" defer></script>
	<script src="{{asset('assets/js/restaurant/sepecific_departement.js')}}" defer></script>
{% endblock %}


{% block body %}
	<div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
	<div class="">
		<div class="responsif-none" id="tous">
			{% include 'shard/restaurant/specific_resto_navleft.twig' %}
		</div>
		<div class="">
			<div class="open-navleft-mobile responsif-none-pc" id="open-navleft-resto-spec-mobile"  onclick=" {% if id_dep is same as('75') %} addListSpecRestoMobile('{{nom_dep}}', '{{id_dep}}','{{codinsee}}') {% else %}addListSpecRestoMobile('{{nom_dep}}', '{{id_dep}}') {% endif %}">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="10vw" height="10vh" viewbox="0 0 128.000000 128.000000" preserveaspectratio="xMidYMid meet">

                    <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" stroke="none">
                        <path d="M350 930 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 930 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M450 830 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M670 830 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 720 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M790 720 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M680 620 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M900 620 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M570 500 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M790 500 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M460 410 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M680 410 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M340 300 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                            -56 20 l-49 0 0 -40z"/>
                        <path d="M560 300 l0 -40 49 0 c41 0 51 4 56 20 3 11 3 29 0 40 -5 16 -15 20
                        -56 20 l-49 0 0 -40z"/>
                    </g>
                </svg>
            </div>
			<div class="content_cart_map">
				<div class="cart_map">
					<div class="chargement_content" id="toggle_chargement">
						<div class="content_box">
							<div class="box">
								<div class="under_box"></div>
							</div>
						</div>
					</div>
					<div id="list-spesific-resto"></div>
					<div id="map" class="map"></div>
				</div>
			</div>
		</div>
	</div>
    {% if (app.user) %}
        <div class="FtBjOlVf" data-dem="2ahUK:Ewip3tqU6Ob7AhW3gc:4B.{{app.user.id}}H:bAUBJQQ-EN6BAhzEAo"></div>
    {% endif %}

    {{ include('shard/restaurant/list_avis.html.twig') }}
    {{ include('shard/restaurant/modal_avis_resto.html.twig') }}
    {{ include('shard/restaurant/modal_modif_avis.html.twig') }}

{% endblock %}

