{# ///// MODAL FOR CREATE AGENDA #}
<div class="modal fade" id="createAgenda" tabindex="-1" aria-labelledby="modalCreateAgendaTitles" aria-hidden="true">
  <div class="modal-dialog custom_modal_dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateAgendaTitles">Créer un événement</h5>
        <button type="button" class="btn-close btn_close_create_agenda_jheo_js" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal" id="bodyCreateAgenda">
        <div class="container content_input_create_agenda_jheo_js">
            <div class="mb-3">
              <label for="eventTitle" class="form-label text_black">Titre de l'événement</label>
              <input type="text" name="eventTitle" class="form-control input_black" id="eventTitle" placeholder="Texte" onchange="changeDescription()">
            </div>
            <div class="mb-3">
                <div>
                  <label for="typeEvent" class="form-label text_black">Type de l'événement</label>
                  <input type="text" name="typeEvent" class="form-control input_black" id="typeEvent" onchange="changeDescription()"  placeholder="Texte" value="Evènement">
                </div>
            </div>

            <div class="mb-3">
                <div id="etabCMZ">
                  <input type="hidden" name="etabSelectOptions" id="etabSelectOptions">
                  <div class="mt-3">
                    <label for="etabCMZLabel" class="text_black" data-bs-toggle="tooltip" data-bs-placement="top" title="Choisissez parmi les rubriques suivants.">Où se passera votre événement ?</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etabRadioOptions" id="golfRadio" value="golf" onclick="getListEtabCMZ(this, 'golf')">
                      <label class="form-check-label text_black" for="golfRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Golf présent dans CMZ">Golf</label>
                  </div>

                  <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="restoRadio" value="restaurant" onclick="getListEtabCMZ(this ,'restaurant')">
                    <label class="form-check-label text_black" for="restoRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Restaurant présent dans CMZ">Restaurant</label>
                  </div>
                  <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="autreRadio" value="autre" onclick="seletOtherEtab(false)">
                    <label class="form-check-label text_black" for="autreRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Si votre établissement n'est pas présent dans les rubriques de CMZ">Saisissez votre établissement</label>
                  </div>
                  <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="etabRadioOptions" id="visioRadio" value="visio" onclick="seletRdvVisio()">
                    <label class="form-check-label text_black" for="visioRadio" data-bs-toggle="tooltip" data-bs-placement="top" title="Envoyer une Rendez-vous visio">Rendez-vous visio</label>
                  </div>
                </div>
            </div>
            

            <div class="mb-3 d-none" id="containerNomEtab">
              <label for="nomEtabEvent" class="form-label text_black">Nom de l'établissement.</label>
              <input type="text" name="nomEtabEvent" class="form-control input_black" id="nomEtabEvent" placeholder="Texte" disabled>
            </div>

            <div class="mb-3 lieuEventContainer d-none" id="containerAdresseEtab">
                <label for="lieuEvent" class="form-label text_black">Adresse</label>
                <input type="text" class="form-control input_black lieuEvent_jheo_js" id="lieuEvent" placeholder = "Texte" disabled>
            </div>
            <div class="mb-3">
                <label for="eventDesc" class="form-label text_black">Description</label>
                <textarea class="form-control input_black eventDesc_jheo_js" id="eventDesc" rows="2" placeholder="Texte"></textarea>
            </div>
            <div class="mb-3">
                <label for="nbrParticipant" class="form-label text_black">Nombre de participants</label>
                <input type="number" min=1 class="form-control input_black nbrParticipant_jheo_js" id="nbrParticipant" placeholder="Définir le nombre de participants" value="50">
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="eventStart" class="form-label text_black">Date de début</label>
                    <input type="date" class="form-control input_black eventStart_jheo_js" id="eventStart" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="eventEnd" class="form-label text_black">Date de fin</label>
                    <input type="date" class="form-control input_black eventEnd_jheo_js" id="eventEnd" required>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill me-2">
                    <label for="timeStart" class="form-label text_black">Heure de début</label>
                    <input type="time" class="form-control input_black timeStart_jheo_js timeStart_tomm_js" id="timeStart" value="12:13" required>
                </div>
                <div class="flex-fill ms-2">
                    <label for="timeEnd" class="form-label text_black">Heure de fin</label>
                    <input type="time" class="form-control input_black timeEnd_jheo_js" id="timeEnd" required>
                </div>
            </div>
            <div class="mb-3" style="margin:auto;">
                <div class="preview text-center d-none preview_image_nanta_js">
                    <img id="image-preview" class="image-upload-image">
                    <div class="image-title-wrap">
                      <button type="button" onclick="resetImagePreview()" class="remove-image-uplaod">
                        Changer l'image
                      </button>
                    </div>
                </div>
                <button class="btn btn-info btnAddPhoto_nanta_js" data-bs-target="#addPictureModal" data-bs-toggle="modal"><b><i class="bi bi-plus" style="font-size:20px;"></i> Ajouter une photo à votre événement</b></button>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cta_cancel_create_agenda_jheo_js" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-info d-none" id="shareAgendaBtn"  data-bs-target="#confirmPartageAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Partager</button>
        <button type="button" class="btn btn-danger d-none" id="deleteAgendaBtn" onclick="deleteAgenda()">Supprimer</button>
        <button type="button" data-action="create" class="btn btn-primary" onclick="getObjectForNewAgenda(event)" id="createOrEditBtn" data-usi="{{app.user.id}}" >Créer</button>
      </div>
    </div>
  </div>
</div>

{# ///// END MODAL FOR CREATE AGENDA #}

{# ///// MODAL FOR LIST RESTO #}
<button class="d-none listRestoModal_jheo_js" data-bs-target="#listRestoModal" data-bs-toggle="modal" data-bs-dismiss="modal"></button>


<div class="modal fade" id="listRestoModal" aria-hidden="true" aria-labelledby="listRestoModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title listResto_title_jheo_js" id="listRestoModa_label">Résultat de restaurant trouver</h5>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="content_list_resto content_list_resto_js">
          <div class="list_resto">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Adress</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="list_tr_resto_jheo_js">
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="content_chargement content_chargement_jheo_js">

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div>

{# ///// END MODAL FOR LIST RESTO #}



{# MODAL FOR GOLF OR RESTO #}
<div class="modal fade" id="listRestoOrGolfModal" aria-hidden="true" aria-labelledby="listRestoOrGolfModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3" id="smallNavInvitation">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOnglet(this)">Tous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#" onclick="activeOnglet(this)">Pastillé</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="container_list">
        
          <div class="contentForSearch mb-3" style="margin-left: 20%;" id="contentForSearchEtab">
            <div style="font-weight:bold;">Faire une recherche dans les autre départements</div>
            <input type="text" name="qoui" id="quoi" placeholder="Quoi ?" class="input_black ps-3" onkeyup="findEtabByKey(event,false)">
            <input type="text" name="where" id="where" placeholder="Où ?" class="input_black ps-3" onkeyup="findEtabByKey(event,false)">
          </div>
          <div id="hideOrShow" style="font-weight:bold;color:black;" class="mb-3"><span>Restaturants</span> dans votre département</div>
          <div class="list_resto_or_golf">

              <table class="table table-striped" id="tableEtabCMZ">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="hidden" id="hiddenListDep">
        <input type="hidden" name="hidden" id="hiddenIdDep" value="{{departement}}">
        <button class="btn btn-info cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Terminer</button>
      </div>
    </div>
  </div>
</div>

{# END MODAL #}

{# ///// MODAL FOR ERROR ANGENDA CREATE #}
<button class="d-none invalid_agenda_jheo_js" data-bs-target="#popup_invalid_agenda_jheo_js" data-bs-toggle="modal" data-bs-dismiss="modal"></button>

<div class="modal fade" id="popup_invalid_agenda_jheo_js" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="alert alert-danger text-center" role="alert">
      Veuillez complète tous les nécessaires.
    </div>
    <button type="button" class="d-none close_modal_invalid_agenda_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">></button>
  </div>
</div>

{# MODAL FOR LIST DEP #}
<div class="modal fade" id="listDepModal" aria-hidden="true" aria-labelledby="listDepModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOngletForDep(this)">Choisissez un département,</br> puis choisissez l'établissement où se passera votre événement.</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-secondary" href="#" onclick="activeOngletForDep(this)">Pastillé</a>
          </li>
        </ul>
        <ul class="nav nav-tabs ml-3 d-none" id="smallNavInvitationDep">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOngletForDep(this)">Choisissez un département,</br> puis choisissez l'établissement où se passera votre événement.</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-secondary" href="#" onclick="activeOngletForDep(this)">Pastillé</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        {# <div class="contentForSearch mb-3" style="margin-left: 20%;">
          <input type="text" name="qoui" id="quoi" placeholder="Quoi ?" class="input_black ps-3" onkeyup="findEtabByKey(event,false)">
          <input type="text" name="where" id="where" placeholder="Où ?" class="input_black ps-3" onkeyup="findEtabByKey(event,false)">
        </div> #}
        <div class="container_list_dep">
        
        </div>
      </div>
      <div class="modal-footer">
        {# <input type="hidden" name="hidden" id="hiddenListDep"> #}
        <button class="btn btn-danger cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{# MODAL FOR DETAIL ETAB #}
<div class="modal fade" id="detailEtabModal" aria-hidden="true" aria-labelledby="detailEtabModal_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        {# <h5 class="modal-title">Détail</h5> #}
        <div class="content_etab_detail">
        </div>
        <button type="button" class="btn-close" data-bs-target="#listRestoOrGolfModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-target="#listRestoOrGolfModal" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{# MODAL FOR LIST ARRONDISSEMENT #}
<div class="modal fade" id="listArrondissement" aria-hidden="true" aria-labelledby="listArrondissement_label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="3vw" height="3vh" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
              <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
              17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
              9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
              92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"></path>
            </g>
          </svg>
        </a>
        <ul class="nav nav-tabs ml-3">
          <li class="nav-item">
            <a class="nav-link text-secondary active" aria-current="page" href="#" onclick="activeOngletForDep(this)">Choisissez un arrondissement,</br> puis choisissez l'établissement où se passera votre événement.</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-secondary" href="#" onclick="activeOngletForDep(this)">Pastillé</a>
          </li>
        </ul>
        <button type="button" class="btn-close cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_modal">
        <div class="contentForSearch mb-3" style="margin-left: 20%;">
          <input type="text" name="qouiArrondissement" id="qouiArrondissement" placeholder="Quoi ?" class="input_black ps-3" onkeyup="findEtabByKey(event,true)">
          <input type="text" name="whereArrondissement" id="whereArrondissement" placeholder="Où ?" class="input_black ps-3" onkeyup="findEtabByKey(event,true)">
        </div>
        <div class="container_list container_list_arron">
        
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger cta_close_list_resto_jheo_js" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% include 'shard/modal/media_modal.html.twig' %}

{% include 'shard/modal/ajout_de_photo_modal.html.twig' %}

<div class="modal fade" id="selectRepertoryModal" tabindex="-1" aria-labelledby="selectRepertoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="selectRepertoryModalLabel">Dans quel repertoire voulez vous partager cette photo?</h1>
        <button type="button" class="btn-close" data-bs-target="#createAgenda" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="repertoryDir mb-3 container-fluid">
          <ul class="navbar-nav me-auto mb-2" style="display: flex;flex-direction: row;">
            <li class="nav-item" style="cursor:pointer;" style="cursor:pointer;" onclick="showRepertoryDirTribuG()">
              <a class="nav-link list-repertoryDirTribuG text-primary" data-target="repertoryDirTribuG">Tribu G</a>
            </li>
            <li class="nav-item ms-3" style="cursor:pointer;" onclick="showRepertoryDirTribuT()">
              <a class="nav-link list-repertoryDirTribuT" data-target="repertoryDirTribuT" style="cursor:pointer;">Tribu T</a>
            </li>
          </ul>
        </div>
        <div id="repertoryDirTribuG">
            <table class="table table-striped">
                <tbody>
                    <tr style="vertical-align: middle;">
                      <td class="col-logo">
                        {# <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" src="{{tribuG.photoProfil ? asset(tribuG.photoProfil) : asset('uploads/tribu_t/photo/avatar_tribu.jpg')}}"> #}
                        <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" src="{{tribuG.photoProfil ? '/public' ~ tribuG.photoProfil : '/public/uploads/tribu_t/photo/avatar_tribu.jpg'}}">
                      </td>
                      <td class="col-tribuT"><a href="#" data-tribu="{{tribuG.tributG}}" onclick="setDirForImage(event)">Tribu G {{tribuG.tributG|split('_', 3)|last|replace({'_':' '})|capitalize}}</a></td>
                      <td class="col-action">
                          <button type="button" class="mx-2 btn btn-success" data-tribu="{{tribuG.tributG}}" onclick="setDirForImage(event)">Choisir</button>
                      </td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div id="repertoryDirTribuT" class="d-none">
            {% if tribuT|length > 0 %}
              <table class="table table-striped">
                <tbody>
                  {% for item in tribuT %}
                    <tr style="vertical-align: middle;">
                      <td class="col-logo">
                          <img style="max-height:70px;max-width:70px;clip-path: circle(40%);" class="avatar-tribu" src="{{ item.logo_path is not same as("") ? '/public' ~ item.logo_path : '/public/uploads/tribu_t/photo/avatar_tribu.jpg'}}" alt=""> 
                      </td>
                      <td class="col-tribuT"><a href="#" data-tribu="{{item.table_name}}" onclick="setDirForImage(event)">Tribu T {{item.name_tribu_t_muable|capitalize}}</a></td>
                      <td class="col-action">
                          <button type="button" class="mx-2 btn btn-success" data-tribu="{{item.table_name}}" onclick="setDirForImage(event)">Choisir</button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
