<div class="content_body content_body_details_jheo_js">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="left_content_home">
                {# <div class="content_description"> #}
                <div>
                    <div class="description" data-toggle-latitude="{{(station.latitude)|format_number({fraction_digit: 6})}}" data-toggle-longitude="{{(station.longitude)|format_number({fraction_digit: 6})}}" data-toggle-departement="{{(station.departementCode) ? station.departementCode : 0 }}" data-toggle-namestation="{{station.nom}}" data-toggle-adresse="{{station.adresse}}">
                        
                        <div class="content_titre_details p-2">
                         
                            <figure class="text-center mt-4">
                                <blockquote class="blockquote">
                                    <p class="rubriqueNameDetail" data-name="{{station.nom | upper}}">   {{station.nom | upper}}</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                Adresse :  <a href="#" class="small text-center ">{{station.adresse }} </a>
                                </figcaption>

                                {# <button class="btn btn-outline-primary mx-auto w-50 mb-2 mt-2" onclick="openVoirPlusChearch('{{station.nom | raw}}','{{station.adresse | trim}}', 'station')">Voir plus</button> #}

                            </figure>

                        </div>

                        <div class="p-4">
                            {# <div class="content_tow_cta d-flex justify-content-evenly my-2">
                                <div class="site_web">
                                    <button class="btn btn-secondary rounded btn_grise_non_actif_js_Elie" onclick="openSwalNonActif()" style="cursor: not-allowed;">
                                        Lien :  site Web
                                    </button>
                                </div>
                            </div>
                            <hr> #}

                            <div class="content_essense">
                                <h5 class="important">
                                    Liste des Carburants:
                                </h5>
                                <ul>
                                    <li>
                                        <span class="important ">
                                            E 85:
                                        </span>
                                        {{station.prixE85 ~ " €" }}
                                    </li>
                                    <li>
                                        <span class="important">
                                            Gplc:
                                        </span>
                                        {{station.prixGplc ~ " €"  }}
                                    </li>
                                    <li>
                                        <span class="important">
                                            Sp 95:</span>
                                        {{station.prixSp95 ~ " €"  }}
                                    </li>
                                    <li>
                                        <span class="important">
                                            Sp 95 E 10:
                                        </span>
                                        {{station.prixSp95E10 ~ " €" }}
                                    </li>
                                    <li>
                                        <span class="important">
                                            Sp 98:</span>
                                        {{station.prixSp98 ~ " €"   }}
                                    </li>
                                    <li>
                                        <span class="important">
                                            Gasoil:</span>
                                        {{station.prixGasoil ~ " €"  }}
                                    </li>
                                </ul>
                            </div>
                            <hr>

                            <ul class="details_station">
                                <li>
                                    {% if station.services %}
                                        <span class="important">Services :</span>
                                        {{station.services}}
                                    {% else %}
                                        <span class="important">Services :</span>
                                        Non disponible.
                                    {% endif %}
                                    <hr>
                                </li>
                                <li>
                                    {% if station.horaies %}
                                        <span class="important">Horaires :</span>
                                        {{station.horaies }}
                                    {% else %}
                                        <span class="important">Horaires :</span>
                                        Non disponible.
                                    {% endif %}
                                    <hr>
                                </li>
                                <li>
                                    {% if station.automate2424 %}
                                        <span class="important">Automate</span>
                                        :
                                        24/24
                                    {% else %}
                                        <span class="important">Automate : </span>
                                        Non disponible.
                                    {% endif %}
                                    <hr>
                                </li>
                                <li>
                                    {% if station.departementCode %}
                                        <span class="important">Code de departement :</span>
                                        {{station.departementCode}}
                                    {% else %}
                                        <span class="important">Code de departement :</span>
                                        Non reconue.
                                    {% endif %}
                                    <hr>

                                </li>
                                <li>
                                    {% if station.departementName %}
                                        <span class="important">Nom de departement :</span>
                                        {{station.departementName}}
                                    {% else %}
                                        <span class="important">Nom de departement :</span>
                                        Non reconue.
                                    {% endif %}
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
