{% extends 'base.html.twig' %}

{% block title %}Station consomyzone{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/station/app.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/station/responsif_station.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('assets/js/station/data_station.js')}}" defer></script>


    <script type="text/javascript" src="{{ asset('assets/js/module/MapModule.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/module/MarckerClusterStation.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/station/marckerClusterStation_all_dep.js') }}" defer></script>
	<script type="text/javascript" src="{{ asset('assets/js/station/filter_price_type.js')}}" defer></script>

    <script type="text/javascript" src="{{ asset('assets/js/station/chercher.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/js/station/details.js')}}" defer></script>

    {# <script type="text/javascript" src="{{ asset('assets/js/station/fetch_left_side_all_dep.js') }}" defer></script> #}
{% endblock %}

{% block body %}
    
    {# {% include 'shard/modalSearch.twig' %} #}
    <div class="content_main">
        
        <div class="">
            <div class="responsif-none" id="tous">
                {% include 'shard/station/station_navleft.twig' %}
            </div>
            <div class="responsif-none">
                {% include 'shard/navbar.twig' %}
            </div>
            <div class="content">
                {# modal filter it's show when the screen is like mobile #}
                {# <button type="button" class="btn btn-primary cta_filter_mobile" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <i class="fa-solid fa-filter"></i>
                </button> #}

                {# ==========================  FILTER ========================== #}
                {# <button class="btn btn-primary filter_other_mobile cta_filter_other_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa-solid fa-filter"></i>
                </button> #}
                {# ========================== END FILTER ========================== #}
                
                {# ========================== CONTENT FILTER  ========================== #}
                <div class="collapse content_filter_global filter_other_mobile content_filter_global_jheo_js"  id="collapseExample">
                    {# CONTENT FILTER ADD ON JS #}
                </div>
                {# ========================== END CONTENT FILTER  ======================== #}

                {# ========================== CONTENT MAP  ========================== #}
                <div class="d-flex content_cart_map content_cart_map_jheo_js">
                    <div class="cart_map cart_map_js cart_map_jheo_js">

                        {# ========================= CHARGEMENT FOR MAP ========================= #}
                        <div class="chargement_content" id="toggle_chargement">
                            <div class="containt">
                                <div class="word word-1">C</div>
                                <div class="word word-2">M</div>
                                <div class="word word-3">Z</div>
                            </div>
                        </div>
                        {# ========================= END CHARGEMENT  ========================= #}



                        {# ========================= MAP GENERATE FROM JS ========================= #}
                        {# <div id="map" class="map"></div> #}
                        {# ========================= END MAP  ========================= #}

                        {# ========================= FETCH LIST FOR MOBILE ========================= #}
                        <div class="content_show_list_mobile fetch_list_departement_jheo_js">
                             <i class="fa-solid fa-bars"></i>
                        </div>
                        {# ===================== END FETCH LIST FOR MOBILE ========================= #}

                    </div>
                </div>
            </div>
        </div>

        {# <div class="row content_left_side_mobile">
            {% include 'shard/station/fetchLeftSide.html.twig' %}
        </div> #}

        {# <button type="button" class="get_action_detail_on_map_js_jheo" data-bs-toggle="modal" data-bs-target="#detailModalMobil"></button> #}
    </div>
    
    {{ include('shard/chatBot.html.twig') }}
    
    {# filter modal  #}
    {% include 'shard/station/detail_station_navleft.twig' %}
    {% include 'shard/station/modalFilterStation.html.twig' %}
    {% include 'shard/station/modalDetailMobil.html.twig' %}
{% endblock %}
