{% extends 'base.html.twig' %}

{% block title %}Station service ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/station/app.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/station/responsif_station.css')}}">
{% endblock %}


{% block javascripts %}
	{# // <script type="text/javascript" src="{{ asset('assets/js/station/specifique_filter.js') }}" defer></script> #}
	<script src="{{asset('assets/js/station/data_station.js')}}" defer></script>
	<script src="{{asset('assets/js/station/station.js')}}" defer></script>
	<script src="{{asset('assets/js/station/details.js')}}" defer></script>
	{# // <script type="text/javascript" src="{{ asset('assets/js/station/centers_data_station.js') }}" defer></script> #}
    
{% endblock %}

{% block body %}
	<div class="responsif-none">
        {% include 'shard/navbar.twig' %}
    </div>
	<div class="content_main">
		<div class="row">
			<div class="responsif-none">
				{% include 'shard/station/specific_station_navleft.twig' %}
			</div>
			<div class="content_info_js" data-dep-code="{{departCode}}" data-dep-name="{{departName}}" >
				{# modal filter it's show when the screen is like mobile #}
				<button type="button" class="btn btn-primary cta_filter_mobile" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<i class="fa-solid fa-filter"></i>
				</button>

				{# collapse filter it's show when the screen other than mobile #}
				<button class="btn btn-primary filter_other_mobile cta_filter_other_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					<i class="fa-solid fa-filter"></i>
				</button>
				
				{# filter collapse #}
				<div class="collapse content_filter_global filter_other_mobile content_filter_global_jheo_js"  id="collapseExample">
					{# CONTENT FILTER ADD ON JS #}
				</div>

				<div class="content_cart_map">
					<div class="cart_map">
						<div class="chargement_content" id="toggle_chargement">
							<div class="content_box">
								<div class="box">
									<div class="under_box"></div>
								</div>
							</div>
						</div>
						<div id="map" class="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{# filter modal  #}
    {% include 'shard/station/modalFilterStation.html.twig' %}
{% endblock %}

