<center>
	<h1>
		<i class="fa-solid fa-users"></i>
		Liste des Fournisseurs. 
	</h1>
</center>

<div class="container col content_global_super_admin ">
	{% if results|length is same as(0) %}
		<div class="text-center">
			<p class="mx-auto"> Pas encore de Fournisseurs. </p>
			<hr />
			<p class="mx-auto">
				<a href="{{path("app_account")}}">Retour à la page d'acceuil.</a>
			</p>
		</div>
	{% else %}
		<table class="table table-list-membre table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Nom </th>
					<th>Prenom</th>
					<th>Email</th>
					<th>Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for result in results %}
					<tr>
						<td>{{result.firstname}}</td>
						<td>{{result.lastname}}</td>
						<td>{{result.email}}</td>
						<td>{{(result.type is same as("supplier")? "Fournisseur" : "" )}}</td>
						<td>
							{{(result.isLabled  is same as(true)) ? "<i class='fa-solid fa-thumbs-up text-success'></i>" : "<i class='fa-solid fa-triangle-exclamation text-danger'></i>" }}
						</td>
						<td>
							<a href="{{path('app_administre_fournisseur_apropos', {id : result.id })}}" class="btn btn-primary">
								Administré
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>

