{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp_respons.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>
	<script src="{{ asset('assets/js/dashboard/dataTable_features.js') }}" defer></script>

{% endblock %}


{% block body %}
	<div class="nh">
		{% include 'shard/account_navleft_new.html.twig' %}
		{% include 'shard/account_navbar_new.html.twig' %}
		<!-- ===== Main Content Start ===== -->
		<main class="gv hm hv dashbord-super-admin">
			<div class="sk bu 2xl:ud-p-11">
				<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 w-50">
					<div class="container-fluid">
						<div class="collapse navbar-collapse" id="navbarSuperAdmin">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link list-tribu-g text-primary" data-target="list-tribu-g">Liste des tribus G</a>
								</li>
								<li class="nav-item">
									<a class="nav-link list-tribu-t" data-target="list-tribu-t">Liste des tribus T</a>
								</li>
								<li class="nav-item">
									<a class="nav-link list-fournisseur" data-target="list-fournisseur">Liste des Partenaires</a>
								</li>
								
							</ul>
						</div>
					</div>
				</nav>

				<div class="row content_right_actualite content-super-admin mb-4" id="list-tribu-g">
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<h5>
								<i class="fa-solid  fa-list"></i>
								Liste des tribus G
								
							</h5>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_js_jheo">
							<div class="content_chargement">
								<div class="spinner-border spinner-border text-info" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row content_right_actualite content-super-admin mb-4" id="list-tribu-t">
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<h5>
								<i class="fa-solid  fa-list"></i>
								Liste des tribus T
								
							</h5>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_tribu_t_js_jheo">
							<div class="content_chargement">
								<div class="spinner-border spinner-border text-info" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row content_right_actualite content-super-admin mb-4" id="list-fournisseur">
					{% include 'user/dashboard_super_admin/admin_fournisseur.html.twig' %}
				</div>
			</div>
		</main>
		<!-- ===== Main Content End ===== -->
	</div>

{% endblock %}
