{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/apropos_sp_respons.css')}}">
{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('assets/js/dashboard/apropos.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
{% endblock %}

{% block body %}
	<main>

		<div class="content_left_menu_account fixed-top mt-5 col">
			<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
                <div class="left_menu">
                    {% include "shard/account_navleft.html.twig" %}
                </div>
            </div>
            <div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
                <div class="left_menu">
                    {% include "shard/account_navleft_mobile.html.twig" %}
                </div>
            </div>
		</div>

		<div class="fixed-top col responsif-none bg-blanc">
			{{ include('shard/account_navbar.html.twig') }}
		</div>

		<div class="fixed-top col responsif-none-mobile">
			{{ include('shard/account_navbar_mobile.html.twig') }}
		</div>

		<div class="content_right_dashboard_sp">
			<center>
				<h1>
					<i class="fa-solid fa-user"></i>
					A propos 
				</h1>
			</center>
			<div class="content_global_super_admin">
				<div class="card-apropos-admin">
					<div class="row">

						<div class="col-md-4 mx-auto my-2">
							<div class="card p-3" style="height: 100%">
								<div class="row">
									<div class="col-md-3 mt-4">
										<i class="fa-solid fa-solid-admin fa-user"></i>
									</div>
									<div class="col-12 mt-3">
										<h5><strong> Nom : </strong>{{apropos.firstname}}</h5>
										<h5><strong> Prenom : </strong>{{apropos.lastname}}</h5>
									</div>
									<div class="col-12 mt-3">
										
										<a href="{{path('user_profil',{ user_id: apropos.id })}}">
											<button type="button" class="btn btn-outline-primary">
												Profil
											</button>
										</a>
										<a href="{{path('app_message') ~'?user_id='~ apropos.id }}">
											<button type="button" class="btn btn-outline-info">
												Message
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 mx-auto my-2">
							<div class="card p-3" style="height: 100%">
								<div class="row">
									<div class="col-md-3 mt-4">
										<i class="fa-solid fa-solid-admin fa-envelope"></i>
									</div>
									<div class="col-12 mt-3">
										<p><strong> Code Postal : </strong>{{apropos.codepostal}}</p>
										<p><strong> Tel : </strong>{{apropos.tel}}</p>
										<p><strong> Tel Fixe : </strong>{{apropos.telFixe}}</p>
										<p><strong> Email : </strong>{{apropos.email}}</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 mx-auto my-2">
							<div class="card p-3" style="height: 100%">
								<div class="row">
									<div class="col-md-3 mt-4">
										<i class="fa-solid fa-solid-admin fa-address-card"></i>
									</div>
									<div class="col-12 mt-3">
										<p> <strong> Rue : </strong> {{apropos.numRue}}</p>
										<p> <strong> Commune : </strong> {{apropos.commune}}</p>
										<p> <strong> Quartier : </strong> {{apropos.quartier}}</p>
										<p> <strong> Pays : </strong> {{apropos.pays}}</p>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="card card-categoerie mt-3 p-3">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Categories</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Fournisseur</td>
									<td><input type="checkbox" {{ ( apropos.categories is same as("supplier")) ? 'checked' : 'disabled'}}></td>
								</tr>
								<tr>
									<td>Consommateur</td>
									<td><input type="checkbox" {{ ( apropos.categories is same as("consumer")) ? 'checked' : 'disabled'}}  ></td>
								</tr>
								<tr>
									<td>Modérateur</td>
									<td><input type="checkbox"></td>
								</tr>
								<tr>
									<td>Développeur</td>
									<td><input type="checkbox"></td>
								</tr>
								
							</tbody>
						</table>

					</div>

					<div class="card-apropos-admin-tribut">
						<div class="row">
							<div class="col-md-12 col-sm-12 mx-auto my-2">
								<div class="card p-3">
									<h3 class="mt-4 mx-auto"> Tribu G</h3>
									<h5>Nom de tribu:</h3>
									<p class="display-6">{{apropos.tributg}}</p>
									<h5>Rôles :</h5>
									<p>

										{{apropos.roles|upper }} 

										{% if apropos.roles is same as("fondateur") %}
										
											<i class='fa-solid fa-triangle-exclamation 
												text-danger 
												icon_danger_validate_js_jheo
												{{(apropos.isVerified is same as(true)) ? "d-none": "" }}'
											></i>
											<i class='fa-solid fa-thumbs-up 
													text-success
													icon_success_validate_js_jheo
													{{(apropos.isVerified is same as(false)) ? "d-none": "" }}'
											></i>

										{% endif %}

									</p>
									
									{% if apropos.roles is same as("fondateur") %}
										<h4>Validé le rôle</h4>
										<div class="row mx-auto">
											<div class="col-2">
												<button 
													id="0"
													class="btn btn-danger validating_super_admin_tributG_js_jheo"
													data-toggle-id={{apropos.id}}
													data-toggle-categories={{apropos.categories}}

													{{apropos.isVerified is same as(false) ? "disabled": ""}}
												>
													Non
												</button>
											</div>
											<div class="col-2 mx-3">
												<button 
													id="1"
													class="btn btn-success validating_super_admin_tributG_js_jheo"
													data-toggle-id={{apropos.id}}
													data-toggle-categories={{apropos.categories}}

													{{apropos.isVerified is same as(true) ? "disabled": ""}}
												>
													Oui
												</button>
											</div>
										</div>
									{% endif %}

								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>


	</main>


{% endblock %}
