{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp_respons.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/home/search.css')}}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/L.Map.Sync.js') }}" defer></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>
	<script src="{{ asset('assets/js/dashboard/dataTable_features.js') }}" defer></script>

{% endblock %}


{% block body %}
	<div class="nh">
		{% include 'shard/account_navleft_new.html.twig' %}
		{% include 'shard/account_navbar_new.html.twig' %}
		{% import 'shard/input/textEditor.twig' as editor %}
		<!-- ===== Main Content Start ===== -->
		<main class="gv hm hv dashbord-super-admin">
			<div class="sk bu 2xl:ud-p-11">
				<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 w-75">
					<div class="container-fluid">
						<div class="collapse navbar-collapse" id="navbarSuperAdmin">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								{% if app.user.roles[0] is same as("ROLE_GODMODE") %}
									<li class="nav-item">
										<a class="nav-link list-tribu-g text-primary" data-target="list-tribu-g">Liste des tribus G</a>
									</li>
									{# <li class="nav-item non_active">
										<a class="nav-link list-tribu-t disabled-link" data-target="list-tribu-t">Liste des tribus T</a>
									</li> #}
									<li class="nav-item">
										<a class="nav-link list-partenaire" data-target="list-demande-partenaire" onclick="getListeDemandePartenariat(event)">Liste des demande de partenariats</a>
									</li>
								{% endif %}
								

								<li class="nav-item">
									<a class="nav-link list-infoAvalider addr_faniry_js" data-target="list-infoAvalider" onclick="getListeInfoTovalidate(event)">Validation adresse</a>
								</li>

								<li class="nav-item">
									<a class="nav-link list-infoAvalider phtR_faniry_js" data-target="list-infoAvalider" onclick='getListePhotoTovalidate(event, "restaurant")'>Photo restaurant</a>
								</li>

								<li class="nav-item">
									<a class="nav-link list-infoAvalider phtG_faniry_js" data-target="list-infoAvalider" onclick='getListePhotoTovalidate(event, "golf")'>Photo golf</a>
								</li>
								
							</ul>
						</div>
					</div>
				</nav>

{% if app.user.roles[0] is same as("ROLE_GODMODE") %}
				<div class="row content_right_actualite content-super-admin mb-4" id="list-tribu-g">
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<h5>
								<i class="fa-solid  fa-list"></i>
								Liste des tribus G
								
							</h5>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_js_jheo">
							<div class="content_chargement">
								
							</div>
						</div>
					</div>
				</div>

				<div class="row content_right_actualite content-super-admin mb-4" style="display:none;" id="list-tribu-t">
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<h5>
								<i class="fa-solid  fa-list"></i>
								Liste des tribus T
								
							</h5>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_tribu_t_js_jheo">
							<div class="content_chargement">
								<div class="spinner-border spinner-border text-info" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row content_right_actualite content-super-admin mb-4" style="display:none;" id="list-demande-partenaire">
					{# {% include 'user/dashboard_super_admin/admin_fournisseur.html.twig' %} #}
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<h5>
								<i class="fa-solid  fa-list"></i>
								Liste des demande de partenariats
							</h5>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_tribu_t_js_jheo">
							<div class="content_chargement_liste_partenaire_nanta_js" style="width:100%;">
								<div class="spinner-border spinner-border text-info" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>

							</div>
						</div>
					</div>
					
				</div>
{% endif %}
				<div class="row content_right_actualite content-super-admin mb-4" style="display:none;" id="list-infoAvalider">
					<div class="content_list">
						<div class="entete mb-2 ms-3">
							<ul style="display:flex;justify-content:flex-start">
								<li>
									<a href="#" class="text-primary">
										<h5 id="titre-info">
											<i class="fa-solid  fa-list"></i>
											Liste des restaurants à valider
										</h5>
									</a>
								</li>
								<li class="ms-5">
									<a href="#" id="validateStories" onclick="showValidationStory()"><h5>Historiques</h5></a>
								</li>
							</ul>
						</div>
						<div class="container content_global_super_admin content_global_super_admin_tribu_t_js_jheo">
							<div class="content_list_infoAvalider_js" style="width:100%;">
								<div class="spinner-border spinner-border text-info" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>

								{# <table class="table">
									<thead>
										<tr>
											<th scope="col">Nom</th>
											<th scope="col">Adresse</th>
											<th scope="col">Téléphone</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>LE DEBOTTE</td>
											<td>18 boulevard du general de gaulle 44200 nantes</td>
											<td>02 49 62 09 79</td>
											<td><button class="btn btn-primary">Valider</button></td>
										</tr>
									</tbody>
								</table> #}

							</div>
						</div>
					</div>
					
				</div>
			</div>
		</main>
		<!-- ===== Main Content End ===== -->
	</div>

	<!-- Modal Liste Demande de Partenariat -->
	<div class="modal fade" id="modalDetailListeDemandePartenaire" tabindex="-1" aria-labelledby="ListeDemandePartenaireLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="ListeDemandePartenaireLabel">Informations professionnelles</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card mb-4 mb-lg-0">
					<div class="card-body p-0">
						<ul class="list-group list-group-flush rounded-3">
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Prénom <i class="bi bi-person-circle"></i> : </span>
								<p class="mb-0"><span class="fnameD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Nom <i class="bi bi-people-fill"></i> : </span>
								<p class="mb-0"><span class="lnameD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Email <i class="bi bi-envelope-fill"></i> : </span>
								<p class="mb-0"><span class="emailD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Téléphone <i class="bi bi-telephone-fill"></i> : </span>
								<p class="mb-0"><span class="telD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span style="min-width: 100px;">Adresse <i class="bi bi-geo-alt"></i> : </span>
								<p class="mb-0"><span class="adresseD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Type commerce <i class="bi bi-briefcase"></i> : </span>
								<p class="mb-0"><span class="commerceD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Nom de l'établissement <i class="bi bi-briefcase"></i> : </span>
								<p class="mb-0"><span class="nomCommerceD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Code APE <i class="bi bi-briefcase"></i> : </span>
								<p class="mb-0"><span class="codeapeD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Siret <i class="bi bi-briefcase"></i> : </span>
								<p class="mb-0"><span class="siretD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Siren <i class="bi bi-briefcase"></i> : </span>
								<p class="mb-0"><span class="sirenD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Site web <i class="fas fa-globe fa-lg text-warning"></i> : </span>
								<p class="mb-0"><span class="websiteD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Facebook <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i> : </span>
								<p class="mb-0"><span class="facebookD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Twitter <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i> : </span>
								<p class="mb-0"><span class="twitterD"></span></p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<span>Linkedin <i class="bi bi-linkedin" style="color: blue;"></i> : </span>
								<p class="mb-0"><span class="linkedinD"></span></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
			</div>
			</div>
		</div>
	</div>

	{# Start modal to become partenaire #}
	<div class="modal fade" tabindex="-1" id="reponsePartenaireModal" aria-labelledby="titlereponsePartenaireModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="titlereponsePartenaireModal">Reponse demande de partenariat</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ editor.textEditor(2)}}
				<div class="container_list"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="sendFeedBackForPartenariat()">Envoyer</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="infoRestoToValidateModal" tabindex="-1" aria-labelledby="infoRestoToValidateModalLabel" aria-hidden="true" style="z-index: 99999;">
		<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="infoRestoToValidateModalLabel">Comparaison des informations</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row" style="text-align:justify;">
					<div class="col-6" style="border-right:1px solid black; height:1000px">
						<div style="font-weight:bold;" class="text-primary">Information actuelle</div>
						<div class="row container-depart pt-4 element content_current_info_nanta_js">
							<div class="col-md-12">
								<div id="current-map"></div>
								<div class="cmz-coord">
									<span id="x">
									</span>
									<span id="y">
									</span>
								</div>
								<div class="cmz-rubrique mb-2 mt-3">
									<span class="rubrique small">
											
									</span>
								</div>
								<h5 class="card-title" id="rubriqueName">
									<p></p>
								</h5>
								<div class="d-flex  mt-3 mb-3">
									<div class="d-flex flex-column m-2">
										<img class="fa-search-elie" id="google_current" src="/public/assets/icon/google_icon.png" >
									</div>
									<div class="d-flex flex-column m-2">
										<img class="fa-search-elie" id="map_current" src="/public/assets/icon/googlemap_icon.png">
									</div>
								</div>
									
									{# <img class="fa-search-elie" src="/public/assets/icon/google_icon.png" onclick="findInNet('google','L ELEGANT ITALIEN','135 rue mairie 01150 leyment')"> #}
									
									
								
								<ul class="card-text cmz-adresse">
									<li class="adresse" style="margin-bottom:5px;">
										<label for="num_voie">Numéro de voie</label>
										<input type="text" name="num_voie" id="num_voie" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="type_voie">Type de voie</label>
										<input type="text" name="type_voie" id="type_voie" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
									  <label for="nom_voie">Nom de voie</label>
									  <input type="text" name="nom_voie" id="nom_voie" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="comp_voie">Complémentaire de voie</label>
										<input type="text" name="comp_voie" id="comp_voie" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="code_post">Code postale</label>
										<input type="text" name="code_post" id="code_post" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="commune">Commune</label>
										<input type="text" name="commune" id="commune" readonly style="padding:3px; border:1px solid black ; ">
									</li>

								</ul>

								<div class="cmz-categories-list d-none">
									<span class="cmz-category">fast_food</span>
									<span class="cmz-category">cuisine_monde</span>
								</div>

								<div class="cmz-tel mb-2">
									{# <button onclick="displayContact(this)" type="button" class="btn btn-secondary">
										<i class="bi bi-telephone-plus"></i> Afficher le N°
									</button> #}
									<span  class="tel">
										<span>Tél : </span>
										<span class="numero"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div style="font-weight:bold;" class="text-primary titleNewOrOld">Nouvelle information</div>
						<div class="row container-depart pt-4 element content_new_info_nanta_js">
							<div class="col-md-12">
								<div id="new-map"></div>
								<div class="cmz-coord">
									<span id="x_new">
									</span>
									<span id="y_new">
									</span>
								</div>
								<div class="cmz-rubrique mb-2 mt-3">
									<span class="rubrique small">
											
									</span>
								</div>
								<h5 class="card-title" id="rubriqueName">
									<p></p>
								</h5>
								<div class="d-flex  mt-3 mb-3">
									<div class="d-flex flex-column m-2">
										<img class="fa-search-elie" id="google_current_new" src="/public/assets/icon/google_icon.png" >
									</div>
									<div class="d-flex flex-column m-2">
										<img class="fa-search-elie" id="map_current_new" src="/public/assets/icon/googlemap_icon.png">
									</div>
								</div>
								<ul>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="num_voie_new">Numéro de voie</label>
										<input type="text" name="num_voie_new" id="num_voie_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="type_voie_new">Type de voie</label>
										<input type="text" name="type_voie_new" id="type_voie_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="nom_voie_new">Nom de voie</label>
										<input type="text" name="nom_voie_new" id="nom_voie_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="comp_voie_new">Complémentaire de voie</label>
										<input type="text" name="comp_voie_new" id="comp_voie_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="code_post_new">Code postale</label>
										<input type="text" name="code_post_new" id="code_post_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
									<li class="adresse" style="margin-bottom:5px;">
										<label for="commune_new">Commune</label>
										<input type="text" name="commune_new" id="commune_new" readonly style="padding:3px; border:1px solid black ; ">
									</li>
								</ul>
								
								<div class="cmz-categories-list d-none">
									<span class="cmz-category">fast_food</span>
									<span class="cmz-category">cuisine_monde</span>
								</div>

								<div class="cmz-tel mb-2">
									{# <button onclick="displayContact(this)" type="button" class="btn btn-secondary">
										<i class="bi bi-telephone-plus"></i> Afficher le N°
									</button> #}
									<span  class="tel">
										<span>Tél : </span><span class="numero"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="rejectAdresseValidate(event)" id="rejectAddTovalidate">Rejeter</button>
				<button type="button" class="btn btn-primary" onclick="acceptAdresseValidate(event)" id="acceptAddTovalidate">Valider</button>
				<button type="button" class="btn btn-danger me-3" onclick="cancelAdresseValidate(event)" id="cancelAddTovalidate">Annuler</button>
			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="validationStoryModal" tabindex="-1" aria-labelledby="validationStoryModalLabel" aria-hidden="true" style="z-index: 10000;">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="validationStoryModalLabel">Historiques de validation</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text-center validationStoryContainer_Nanta_js" style="width:100%;">
					<div class="spinner-border spinner-border text-info mt-5" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
			</div>
			</div>
		</div>
	</div>

{% endblock %}
