{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/listTribuG_sp_respons.css')}}">
{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="{{ asset('assets/js/module/SuperAdminTribuG.js') }}" defer></script>
	<script src="{{ asset('assets/js/dashboard/super_adminTribuG.js') }}" defer></script>
{% endblock %}


{% block body %}
	<main>
		<div class="content_left_menu_account fixed-top mt-5 col">
			<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
                <div class="left_menu">
                    {% include "shard/account_navleft.html.twig" %}
                </div>
            </div>
            <div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
                <div class="left_menu">
                    {% include "shard/account_navleft_mobile.html.twig" %}
                </div>
            </div>
		</div>
		<div class="fixed-top col responsif-none">
			{{ include('shard/account_navbar.html.twig') }}
		</div>

		<div class="fixed-top col responsif-none-mobile">
			{{ include('shard/account_navbar_mobile.html.twig') }}
		</div>
		<div class="row content_right_actualite">
			<div class="entete mb-2" >
				<h5>
					<i class="fa-solid  fa-list"></i>
					Liste des tribus G
					<div class="btn-group dropend">
						<button class="btn btn-primary btn-sm dropdown-toggle btn_show_filter btn_show_filter_js_jheo" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-filter"></i>
						</button>
						<ul class="dropdown-menu content_list_filter">
							<li class="dropdown-item list_filter_js_jheo active active_js_jheo" data-type="10">Tous</li>
							<li class="dropdown-item list_filter_js_jheo" data-type="1">Contient des membres</li>
							<li class="dropdown-item list_filter_js_jheo" data-type="0">N'a pas de membre</li>
						</ul>
					</div>
				</h5>
				<div class="content_cherche">
					<input class="form-control input_search_tribug_js" type="text" placeholder="Recherche de tribu G">
					<button class="btn btn-primary btn_search btn_search_js" type="submit" ><i class="fa-solid fa-search"></i></button>
				</div>
			</div>
			<div class="container content_global_super_admin">
				<div class="table-responsive">
					<table class="table table_content table-hover">
						<thead class="thead-dark">
							<tr>
								<th>#</th>
								<th>Code</th>
								<th>Commune</th>
								<th>Quartier</th>
								<th>Nom tribu G</th>
								<th>Efféctif</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="content_list_tributG_js_jheo">
							{# THE CONTENT HERE IS GENERATE FROM JS FILE  #}
						</tbody>
					</table>
				</div>
			</div>
			<div class="content_pagination">
				<div class="pagination"></div>
			</div>
		</div>


	</main>


{% endblock %}
