<div class="specific-detail responsif-none-pc">
	<nav class="navbar navbar-light d-flex content-spec-resto ">
		<div class="container-fluid scroll-mobile">
			<ul class="navbar-nav mt-3 d-flex flex-row">
				{% for station in stations %}
					<li class="nav-item icon-station me-3">
						<a class="nav-link d-block">
							<div class="containt-specific">
								<div class="click-detail" onclick="getDetailFromListLeft('{{station.depName}}', '{{station.dep}}', '{{station.id}}')">
									<p class="text-point-12 fw-bold">{{station.nom | raw }}

									</p>
									<p class="text-point-9">
										<span class="fw-bold">Adresse :
										</span>
										<span class="small  ">{{station.adresse | raw}}</span>
									</p>
                                    {% if station.services %}
                                        <p class="text-point-9 mb-2">
                                            <span class="fw-bold">Services :
                                            </span>
                                            <span class="small  ">{{station.services | raw}}</span>
                                        </p>
                                    {% endif %}
									<div class="text-point-9">
										{% if station.prixE85 > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">E85 : {{ station.prixE85 }} €</span>
                                        {% endif %}
                                        {% if station.prixGplc > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">GPLC : {{ station.prixGplc }} €</span>
                                        {% endif %}
                                        {% if station.prixSp95 > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">SP95 : {{ station.prixSp95 }} €</span>
                                        {% endif %}
                                        {% if station.prixSp95E10 > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">SP95-E10 : {{ station.prixSp95E10 }} €</span>
                                        {% endif %}
                                        {% if station.prixSp98 > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">SP98 : {{ station.prixSp98 }} €</span>
                                        {% endif %}
                                        {% if station.prixGasoil > 0 %}
                                            <span class="btn btn-outline-success text-point-9 mb-2">GASOIL : {{ station.prixGasoil }} €</span>
                                        {% endif %}
									</div>

								</div>

							</div>
						</a>
					</li>
				{% endfor %}

			</ul>
		</div>
	</nav>
</div>

