<div class="navleft  result_container_station_spec result_container_station_spec_js content_navleft_jheo_js">
    <nav class="navbar navbar-light navbar-light-left ">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <a href="{{path('app_station')}}">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="4vw" height="4vh" viewBox="0 0 128.000000 128.000000"
                            preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                                fill="#000000" stroke="none">
                                    <path d="M215 835 c-94 -69 -170 -130 -170 -137 0 -15 335 -257 358 -258 15 0
                                    17 11 17 96 l0 97 90 -7 c174 -13 337 -77 472 -184 72 -57 183 -183 213 -243
                                    9 -16 20 -29 25 -29 6 0 -4 28 -21 63 -148 295 -406 481 -741 532 l-37 6 -3
                                    92 c-2 72 -6 92 -18 94 -8 2 -91 -53 -185 -122z"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="col-9">
                        <div class="" style="margin-left: -30px;font-size: 10pt;display: flex;">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="4vw" height="4vh" viewBox="0 0 128.000000 128.000000"
                    preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                        fill="#1111FE" stroke="none">
                            <path d="M397 942 c-13 -15 -17 -39 -17 -112 0 -79 3 -97 19 -114 15 -16 24
                            -51 35 -141 20 -148 20 -179 1 -195 -8 -7 -15 -28 -15 -46 l0 -34 184 0 c119
                            0 187 4 191 11 9 14 -2 55 -21 73 -12 13 -14 29 -8 86 6 64 9 70 29 70 38 0
                            55 -30 55 -98 0 -74 20 -102 73 -102 65 0 67 9 67 271 l0 235 -38 37 c-36 35
                            -62 47 -62 29 0 -5 11 -19 25 -32 14 -13 25 -27 25 -31 0 -5 -11 -25 -25 -45
                            -42 -62 -25 -144 31 -144 l24 0 0 -130 c0 -117 -2 -132 -20 -150 -24 -24 -30
                            -24 -55 -6 -15 11 -20 30 -23 84 -5 78 -19 100 -66 104 l-27 2 7 66 c5 47 13
                            73 30 93 21 25 24 39 24 106 0 64 -4 83 -21 105 l-20 26 -193 0 c-174 0 -195
                            -2 -209 -18z m368 -112 l0 -55 -157 -3 -158 -3 0 61 0 61 158 -3 157 -3 0 -55z
                            m195 -81 c0 -52 -2 -60 -17 -57 -26 5 -30 74 -7 99 9 10 19 19 21 19 1 0 3
                            -27 3 -61z"/>
                        </g>
                    </svg>
                <p  class="titre" data-toggle-deparement="{{departName}}">
                        Stations à <span class="fw-bolder">{{departName}}</span>
                        departement <span class="fw-bolder">{{departCode}},</span> <br>
                        <span class="fw-bolder content_nombre_result_js_jheo">{{number_station}}</span> résultats.
                    </p>
                </div>
</div>
                    <div class="col-1">
                        <i class="fa-solid fa-x icon_close_nav_left_jheo_js" id="close-list-depart-station-spec"></i>
                    </div>
                </div>
            <hr>
        </div>
        
    </nav>
    <div class="container-fluid">
        <div class="head-left">
            <div class="row">
                
                <div class="content_filter_trie content_filter_trie_jheo_js">
                    <div class="pagination_alphabet pagination_alphabet_jheo_js">
                        <ul>
                            {# CONTENT LIST ALPHABET generate by js #}
                        </ul>
                    </div>
				</div>
            </div>
            <div class="container list-depart-all-specific list-depart-all-specific-station" id="Scrollbar">
                <div class="list_result content_container_list" id="list_departements" data-toggle-code="{{departCode}}" data-toggle-name="{{departName}}">
                    <ul class="content_list_station_spec_js_jheo">
                        {% for  rubrique in stations %}
                            {% include "card/card_rubrique.html.twig" %}
                        {% endfor %}
                    </ul>
                        {# <ul class="content_list_station_left_jheo_js">
                            {% for  station in stations %}
                                <li class="card-list element open_detail_jheo_js" onclick="getDetailFromListLeft('{{departCode}}','{{departName}}','{{station.id}}')"> #}
                                {# <li class="card-list element">
                                    <div class="row container-depart pt-4 element" id="{{station.id}}">
                                        <div class="col-md-9">
                                            <p> 
                                                <span class="id_departement">
                                                    {{station.nom |lower }} <br> 
                                                </span> 
                                                <img src="{{asset('assets/icon/NewIcons/icon-adres.png')}}" alt="adres" width="20">
                                                {{station.adresse  |lower}}
                                            </p>
                                            <ul>
                                                <li> E 85: {{station.prixE85 ~ " €" }} </li>
                                                <li> Gplc: {{station.prixGplc ~ " €"  }} </li>
                                                <li> Sp 95: {{station.prixSp95 ~ " €"  }} </li>
                                                <li> Sp 95 E 10: {{station.prixSp95E10 ~ " €" }} </li>
                                                <li> Sp 98: {{station.prixSp98 ~ " €"   }} </li>
                                                <li> Gasoil: {{station.prixGasoil ~ " €"  }} </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <a id="open-detail-station" onclick="getDetailStation('{{departCode}}','{{departName}}','{{station.id}}')">
                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet">

                                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" 
                                                    stroke="none">
                                                        <path d="M2375 4954 c-231 -24 -462 -78 -641 -149 -782 -310 -1321 -993 -1440
                                                        -1824 -21 -141 -23 -445 -5 -581 23 -170 77 -398 116 -485 8 -16 26 -59 40
                                                        -95 175 -426 486 -804 870 -1056 1052 -689 2449 -398 3148 658 313 473 437
                                                        1008 360 1568 -135 995 -920 1789 -1923 1945 -101 15 -440 28 -525 19z m285
                                                        -395 c108 -17 187 -60 254 -137 32 -37 72 -96 90 -132 l31 -65 3 -519 3 -519
                                                        332 6 c183 3 418 3 523 -1 188 -7 192 -8 256 -40 172 -85 278 -295 249 -496
                                                        -23 -164 -114 -297 -249 -363 l-76 -38 -518 -3 -517 -3 -3 -517 -3 -517 -28
                                                        -59 c-79 -170 -238 -266 -437 -266 -199 0 -358 96 -437 266 l-28 59 -3 517 -3
                                                        517 -517 3 -518 3 -76 38 c-176 87 -280 295 -249 497 21 138 112 279 221 343
                                                        98 57 120 59 652 59 l487 -1 3 517 3 517 29 62 c16 35 35 68 42 74 8 6 14 20
                                                        14 29 0 47 174 151 280 169 77 12 115 12 190 0z"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li> #}
                </div>
            </div>
        </div>
    </div>
</div>

