{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('/assets/css/IntelTelInput/intlTelInput.min.css')}}">
{% endblock %}

{% block javascripts %}
    
    <script src="{{asset('/assets/js/intelTelInput/intlTelInput.min.js')}}" defer></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>#}

    <script src="{{ asset('/assets/js/addEtab/addEtabModif.js') }}" defer></script>

{% endblock %}

{% block body %}
    <div class="container">
             <h1>Formulaires</h1>
                {{ form_start(form_add_etab_ferme, {'label_attr': {'class': 'form-control w-50'}}, { 'method': ''} ) }}
                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.nom_ferme , "Nom du ferme", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.nom_ferme, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.adresse_ferme , "Adresse Ferme", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.adresse_ferme, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.code_postal , "Code postal", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.code_postal, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.departement , "Code de département ", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.departement, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.departement_name , "Nom de département", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.departement_name, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.ville , "Ville ", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.ville, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.email , "Email", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.email, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.fax , "Fax", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.fax, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.telephone_travail , "Telephone travail", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.telephone_travail, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.telephone_mobile , "Telephone mobile", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.telephone_mobile, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.telephone_domicile , "Telephone domicile", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.telephone_domicile, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form_add_etab_ferme.produit_ferme , "Produit ferme", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
                        {{ form_widget(form_add_etab_ferme.produit_ferme, {'label_attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-info" id="etab-modif-next">Suivant</buttom>
               
             {{form_end(form_add_etab_ferme)}}
         </div>
    {# <div class="container">
        {{ form_start(form_add_etab_ferme, {'label_attr': {'class': 'form-control w-50'}}, { 'method': ''}) }}
            {{ form_label(form_add_etab_ferme , "", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
            {{ form_widget(form_add_etab_ferme, {'label_attr': {'class': 'form-control'}}) }}
        {{form_end(form_add_etab_ferme)}}
    </div> #}
    
{% endblock %}

