{% extends 'base.html.twig' %}

{% block title %}ConsoMyZone{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/addEtab/addEtab.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container horaires">
             <h1>Formulaires</h1>
                <form action="">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>Horaires vente a ferme domicile</h5>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Jour</p>
                                </div>
                                <div class="col-md-5">
                                    <p>Matin</p>
                                </div>
                                <div class="col-md-5">
                                    <p>Midi</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Lu</p>
                                </div>
                                <div class="col-md-5">
                                        <input type="time" name="lu-matin-dom-1" id="">
                                        <input type="time" name="lu-matin-dom-2" id="">
                                    
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="lu-midi-dom-1" id="">
                                    <input type="time" name="lu-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ma</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ma-matin-dom-1" id="">
                                    <input type="time" name="ma-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ma-midi-dom-1" id="">
                                    <input type="time" name="ma-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Me</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="me-matin-dom-1" id="">
                                    <input type="time" name="me-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="me-midi-dom-1" id="">
                                    <input type="time" name="me-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Je</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="je-matin-dom-1" id="">
                                    <input type="time" name="je-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="je-midi-dom-1" id="">
                                    <input type="time" name="je-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ve</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ve-matin-dom-1" id="">
                                    <input type="time" name="ve-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ve-midi-dom-1" id="">
                                    <input type="time" name="ve-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Sa</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="sa-matin-dom-1" id="">
                                    <input type="time" name="sa-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="sa-midi-dom-1" id="">
                                    <input type="time" name="sa-midi-dom-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Di</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="di-matin-dom-1" id="">
                                    <input type="time" name="di-matin-dom-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="di-midi-dom-1" id="">
                                    <input type="time" name="di-midi-dom-2" id="">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <h5>Horaires vente magasin prod</h5>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Jour</p>
                                </div>
                                <div class="col-md-5">
                                <p>Matin</p>
                                </div>
                                <div class="col-md-5">
                                    <p>Midi</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Lu</p>
                                </div>
                                <div class="col-md-5">
                                        <input type="time" name="lu-matin-magasin-1" id="">
                                        <input type="time" name="lu-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="lu-midi-magasin-1" id="">
                                    <input type="time" name="lu-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ma</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ma-matin-magasin-1" id="">
                                    <input type="time" name="ma-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ma-midi-magasin-1" id="">
                                    <input type="time" name="ma-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Me</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="me-matin-magasin-1" id="">
                                    <input type="time" name="me-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="me-midi-magasin-1" id="">
                                    <input type="time" name="me-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Je</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="je-matin-magasin-1" id="">
                                    <input type="time" name="je-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="je-midi-magasin-1" id="">
                                    <input type="time" name="je-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ve</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ve-matin-magasin-1" id="">
                                    <input type="time" name="ve-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="ve-midi-magasin-1" id="">
                                    <input type="time" name="ve-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Sa</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="sa-matin-magasin-1" id="">
                                    <input type="time" name="sa-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="sa-midi-magasin-1" id="">
                                    <input type="time" name="sa-midi-magasin-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Di</p>
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="di-matin-magasin-1" id="">
                                    <input type="time" name="di-matin-magasin-2" id="">
                                </div>
                                <div class="col-md-5">
                                    <input type="time" name="di-midi-magasin-1" id="">
                                    <input type="time" name="di-midi-magasin-2" id="">
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <div class="col">
                            <h5>Horaires vente au marche</h5>
  
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Jour</p>
                                </div>
                                <div class="col-md-2">
                                <p>Matin</p>
                                </div>
                                <div class="col-md-2">
                                    <p>Midi</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Lu</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="lu-matin-marche-1" id="">
                                    <input type="time" name="lu-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="lu-midi-marche-1" id="">
                                    <input type="time" name="lu-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ma</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="ma-matin-marche-1" id="">
                                    <input type="time" name="ma-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="ma-midi-marche-1" id="">
                                    <input type="time" name="ma-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Me</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="me-matin-marche-1" id="">
                                    <input type="time" name="me-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="me-midi-marche-1" id="">
                                    <input type="time" name="me-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Je</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="je-matin-marche-1" id="">
                                    <input type="time" name="je-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="je-midi-marche-1" id="">
                                    <input type="time" name="je-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Ve</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="ve-matin-marche-1" id="">
                                    <input type="time" name="ve-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="ve-midi-marche-1" id="">
                                    <input type="time" name="ve-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Sa</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="sa-matin-marche-1" id="">
                                    <input type="time" name="sa-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="sa-midi-marche-1" id="">
                                    <input type="time" name="sa-midi-marche-2" id="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>Di</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="di-matin-marche-1" id="">
                                    <input type="time" name="di-matin-marche-2" id="">
                                </div>
                                <div class="col-md-2">
                                    <input type="time" name="di-midi-marche-1" id="">
                                    <input type="time" name="di-midi-marche-2" id="">
                                </div>
                            </div>
                        </div>
                    <a href="#" class="btn btn-outline-info" id="etab-next-hor">Suivant</a>
                </form>
         </div>
    {# <div class="container">
        {{ form_start(form_add_etab_ferme_suit, {'label_attr': {'class': 'form-control w-50'}}, { 'method': ''}) }}
            {{ form_label(form_add_etab_ferme_suit , "", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
            {{ form_widget(form_add_etab_ferme_suit, {'label_attr': {'class': 'form-control'}}) }}
        {{form_end(form_add_etab_ferme_suit)}}
    </div> #}
    
{% endblock %}

