{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Actualité
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/account/actualite.css')}}">

{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('assets/js/account/account.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/actualiter_new_publication.js') }}" defer></script>
    <script  src="{{ asset('assets/js/account/publication_event.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="nh">
    {% include 'shard/account_navleft_new.html.twig' %}
    {% include 'shard/account_navbar_new.html.twig' %}

    <!-- ===== Main Content Start ===== -->
    <main class="gv hm hv content-actualite-connected">
        <div class="sk bu 2xl:ud-p-11">
            <div class="lc kg hg av vg au 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5">
                <!-- ====== Chart pub One Start -->
                <div class="yd uf 2xl:ud-max-w-230 rh ni bj wr nj xr content-pub">
                    <div class="head-pub">
                        <div class="pdp-content">
                            <img class="profil_publication" src="{{(userConnected.photo_profil) ? '/public'~ userConnected.photo_profil : '/public/uploads/users/photos/default_pdp.png' }}" alt="{{userConnected.firstname }}">
                        </div>
                        <div class="name-content-h">
                            <div class="name-content" data-bs-toggle="modal" data-bs-target="#newPublication">
                                <p class="form-pub">Partagez ce que vous pensez, {{userConnected.firstname ~ " " ~ userConnected.lastname }} ...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ====== Chart pub One End -->
            </div>

            <div class="account content_right_actualite user_actualite" id="container-mobile">
                <div id="content-pub-js">

                    <div class="lc kg hg vg 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5 boucle-for-pub">
                        <h3 class="text-primary textIndicationNantaJsAct">Actualité de mes tribus G et T</h3>
                        {% include 'shard/publications/all_publication_actualite.html.twig' with { 'publications': publications } %}
                    </div>
                    
                </div>
            </div>
             
            {# <div class="lc kg hg vg 2xl:ud-gap-7.5 yb ot 2xl:ud-mt-7.5 ">
                <h3 class="text-primary textIndicationNantaJsAct">Actualité de mes tribus G et T</h3> #}
                {# {% include 'shard/publications/all_publication.html.twig' with { 'publications': publications } %} #}
                {# {% include 'shard/publications/all_publication_actualite.html.twig' with { 'publications': publications } %} #}
            {# </div> #}

            <!-- ====== Chart Two Start -->
            <div class="apropos-tribu-g yd vf 2xl:ud-max-w-180 rh ni bj wr nj xr al responsif-none">
                <div class="kb qg ss">
                    <div class="kb qs">
                        <h4 class="tn kn zn gs">C'est quoi une tribu-G?</h4>
                    </div>
                </div>

                <div>
                    <div class="-ud-ml-5 -ud-mb-9 mb-3">
                        <p>Une tribu-G est un groupe fondé sur l'appartenance géographique d'où vient tribu-G pour tribu-Géographique. </br>
                          Pour l'instant le terme géographique se délimite au niveau communal pour ConsoMyZone. </br>
                          Une tribu-G est alors une tribu-Géographique composée de personnes da la même commune que vous.</p>
                    </div>
                </div>
            </div>
            <!-- ====== Chart Two End -->
        </div>
    </main>
    <!-- ===== Main Content End ===== -->

</div>

<!-- Modal show photo-->
<div class="modal fade" id="modal_show_photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
				<img id="img_modal_actu" style="width:100%">
			</div>

		</div>
	</div>
</div>


{% include 'shard/modal/new_publication.html.twig' with {'formPub' : formPub, 'modalId' : 'newPublication', 'parent': 'allTribut' } %}
{% include 'shard/modal/update_publication.html.twig' %}
{% include 'shard/modal/delete.html.twig' %}
{% include 'shard/modal/commentaire.html.twig' %}
{% include 'shard/modal/alert_flash.html.twig' %}
{% include 'shard/modal/liste_reacteur.html.twig' %}
{% include 'shard/modal/modal_detail_publication.twig' %}

{% endblock %}