<div class="card card-actif">
    <div class="row">
        <div class="col-lg-3">
            <div class="icon-actif"> </div>
        </div>
        <div class="col">
            <h4>Actif</h4>
        </div>
    </div>
    <hr>
    <div class="row pdp-actif">
        <div class="col-lg-3 ms-3">
            <img class="img-pdp" src="{{asset('assets/image/closeup-of-modern-asian-girl-sitting-on-street-stairs-and-holding-smartphone-young-woman-resting-outdoors-texting-message-of-browsing-internet.jpg')}}" alt="">
        </div>
        <div class="col nom">
            <p>Linux</p>
        </div>
    </div>
    <div class="row pdp-actif">
        <div class="col-lg-3 ms-3">
            <img class="img-pdp" src="{{asset('assets/image/attractive-woman-with-happy-expression-advices-use-this-copy-space-wisely.jpg')}}" alt="">
        </div>
        <div class="col nom">
            <p>Carpediem</p>
        </div>
    </div>
    <div class="row pdp-actif">
        <div class="col-lg-3 ms-3">
            <img class="img-pdp" src="{{asset('assets/image/prosperous-businessman-keeps-hands-crossed-has-satisfied-expression.jpg')}}" alt="">
        </div>
        <div class="col nom">
            <p>Linux</p>
        </div>
    </div>
    <div class="row pdp-actif">
        <div class="col-lg-3 ms-3">
            <img class="img-pdp" src="{{asset('assets/image/240_F_444642135_B4NYuznd2gAB8K5h1dYMGPL8G4Pohjrq.jpg')}}" alt="">
        </div>
        <div class="col nom">
            <p>Window</p>
        </div>
    </div>
</div>



<script src="{{asset('assets/js/account/profil.js')}}" defer></script>