{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Inscription partenaire
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/settingAccount.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setting.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setIris.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
{% endblock %}


{% block body %}
	<div class="content_nav_top">
		{% include "shard/navbar.twig" %}
	</div>


	<div class="container-fluid content_setprofil custome_content_setprofil">
		<div class="container setprofil text-black">
			{{form_start(form_inscription ,  {'attr': {'class': 'formContent_js'}})}}
			<div class="row">
				<div class="col-lg-4 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
					<!-- Account Sidebar-->
					<div class="author-card pb-3">
						<div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"></div>
						<div class="author-card-profile">

							{# image profil default #}
							<div class="author-card-avatar" style="max-width:85px; max-heigth:85px">
								<img class="image_profil_js_jheo"  src={{asset('uploads/users/photos/img_avatar.png')}} alt={{pseudo}} width="85" height="85">
							</div>

							{# pseudo  #}
							<div class="author-card-details">
								<h5 class="author-card-name text-lg">{{pseudo}}</h5>

								{# icon change profile  #}
								<label style="transform:translate(-20px,6px)" for="fileInputProfil">
									<i class="bi bi-camera-fill" style="cursor:pointer;"></i>
								</label>
								
								<input type="file" name="fileInputProfil" id="fileInputProfil" style="display:none;visibility:none;" accept="image/*">
			
							</div>
						</div>
					</div>
					
				</div>
					<!-- Profile Settings-->
					<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
						<h1 class="mb-3" style="font-weight:bolder;">Formulaire d'inscription partenaire</h1>
						<div class="row">
							<div class="col-12">
								<h1 class="text-primary" style="font-weight:bolder;">Adresse de votre établissement</h1>
								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form_inscription.code_postal , "Code Postal", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.code_postal, {'attr': {'class': 'form-control', }}) }}

										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form_inscription.num_rue , "Rue", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.num_rue, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>

									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 mx-auto">
												<div class="form-group content_autocompletion_js_jheo">
													{{ form_label(form_inscription.faux_commune , "Commune", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.faux_commune, {'attr': {'class': 'form-control','list': 'datalistOptionCommune' , 'placeholder' : 'Sélectionnez votre commune'}}) }}  {# #}
													{# <datalist id="datalistOptionCommune"></datalist> #}
												</div>
											</div>
											<div class="col-md-6 mx-auto content_autocompletion_js_jheo">
												<div class="form-group">
													{{ form_label(form_inscription.pays , "Pays", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.pays, {'attr': {'class': 'form-control', 'value' : 'France'}}) }}
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											{{ form_label(form_inscription.faux_quartier , "Quartier", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.faux_quartier, {'attr': {'class': 'form-control' , 'list': 'datalistOptionsQuartier','placeholder' : 'Sélectionnez votre quartier'}}) }}
										</div>
									</div>

								</div>
							</div>

							<div id="fournisseur-input">
								<div class="row pb-5">
									<div class="col-12">
										<h1 class="mt-3  text-primary" style="font-weight:bolder;">Informations sur votre commerce</h1>
										<div class="row mb-3">
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.commerce , "Type commerce", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.commerce, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.nomCommerce , "Nom de l'établissement", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.nomCommerce, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.siret , "Siret", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.siret, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.siren , "Siren", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.siren, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.code_ape , "Code APE", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.code_ape, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
										</div>
									</div>
									<div class="col-12">
										<h1 class="mt-3 text-primary" style="font-weight:bolder;">Vos contacts professionnels</h1>
										<div class="row">
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.telephone , "Téléphone professionnel", {'label_attr': {'class': 'form_label fw-bolder mobile_code'}}) }}
												{{ form_widget(form_inscription.telephone, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.mail_pro , "Email professionnel", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.mail_pro, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6">
												<div class="content_input">
													<div class="form-group">
														{{ form_label(form_inscription.site_web , "Site web", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
														{{ form_widget(form_inscription.site_web, {'attr': {'class': 'form-control'}}) }}

													</div>
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.facebook , "Facebook", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.facebook, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.linkedin , "Linkedin", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.linkedin, {'attr': {'class': 'form-control'}}) }}
												</div>
											</div>
											<div class="col-6 content_input">
												<div class="form-group">
													{{ form_label(form_inscription.twitter , "Twitter", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
													{{ form_widget(form_inscription.twitter, {'attr': {'class': 'form-control'}}) }}

												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div
								class="d-flex flex-wrap justify-content-between align-items-center">
								<input class="btn btn-style-1 btn-primary btn_submit_inscription_js" type="submit" value="Soumettre">
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form_inscription) }}
			</div>

			{% if flash %}
				<div class="content_message_flash">
					<div class="message_flash {{ (flash.titre is same as(" success")) ? " success" : " error"}}">
						<h4>
							{{flash.titre}}
						</h4>
						<p>
							{{flash.content}}
						</p>
					</div>
				</div>
			{% endif %}
		</div>


	{% endblock %}
