{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/profile.js') }}" defer></script>

{% endblock %}

{% block body %}
	<div id="settingautre_profilId">

		<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
			<div class="left_menu">
				{% include "shard/account_navleft.html.twig" %}
			</div>
		</div>
		<div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
			<div class="left_menu">
				{% include "shard/account_navleft_mobile.html.twig" %}
			</div>
		</div>

		<div class="navbar-mobile">
			<div class="fixed-top col responsif-none  bg-blanc">
				{{ include('shard/account_navbar.html.twig') }}
			</div>

			<div class="fixed-top col responsif-none-mobile">
				{{ include('shard/account_navbar_mobile.html.twig') }}
			</div>
		</div>

		<div class="content_right_profil" id="container-mobile">
			{# <section class="h-100 gradient-custom-2"> #}
				<div class="">
					<div class="">
						<div class="mb-5 col-lg-8 col-xl-8 col-md-12 col-sm-12 mx-auto">
							<div class="card">
								<div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
									<div class="ms-4 mt-5 d-flex flex-column profil_mobile" style="width: 150px;">
										{#---------  photo de profil ---------- #}
<<<<<<< HEAD
										<img id="profilPartisant" src={{ (autre_profil[0].getPhotoProfil != null) ? asset('uploads/users/photos/photo_user_') ~ autre_profil[0].getId ~ '/' ~ autre_profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ autre_profil[0].getFirstname }}" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
										
=======
										<img id="profilPartisant" src={{ (autre_profil[0].getPhotoProfil != null) ?  autre_profil[0].getPhotoProfil : asset('uploads/users/photos/img_avatar.png') }} alt="{{ autre_profil[0].getFirstname }}" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
>>>>>>> main
										{% if app.user.id == app.request.get('user_id') %}

										 <label class="input-file w-100 text-center btn btn-primary" for="fileInputProfil"  style="z-index: 1;"><i class="bi bi-camera-fill"></i> Modifier
											<input id="fileInputProfil" type="file" name="photo" style="display:none;">
											
										</label>
										
											{# <a href="{{ path("account_setting") }}" class="btn btn-outline-primary" data-mdb-ripple-color="dark" style="z-index: 1;"><i class="bi bi-pencil-square"></i> <span lng-tag="modifier">Modifier</span></a> #}
										{% else %}
											<a href="{{ path("app_message" ) ~ "?user_id=" ~  app.request.get('user_id')}}" class="btn btn-primary" data-mdb-ripple-color="dark" style="z-index: 1;"><i class="bi bi-messenger"></i> Message</a>
										{% endif %}

									</div>
									
									<div class="ms-3 nom_mobile" style="margin-top: 130px;">
										<h5>{{ autre_profil[0].getFirstname }}</h5>
										<p>{{ autre_profil[0].getLastname }}</p>
									</div>
								</div>
								<div class="p-4 text-black" style="background-color: #f8f9fa;">
								
									<div class="d-flex justify-content-end text-center py-1" id="nav_menu_profil">

										<div class="" id="about-item">
											<a href="#apropos" style="text-decoration:none;" onclick="showAboutProfil()">
												<p class="mb-1"><i class="bi bi-info-circle"></i> </p>
												<p class="small text-muted mb-0">A propos</p>
											</a>
										</div>
										{% if app.user.id == app.request.get('user_id') %}
											<div class="px-3" id="add-item">
												<a href="#add_photos" style="text-decoration:none;" onclick="">
												 <label class="input-file" for="fileInputProfil_add"  style="z-index: 1;cursor:pointer;">
												 	<p class="mb-1"><i class="bi bi-camera-fill"></i> </p>
													<p class="small text-muted mb-0">Ajouter</p>
													<input id="fileInputProfil_add" type="file" name="photo" style="display:none;">
													
												</label>
													
												</a>
											</div>
										{% endif %}
									
										<div class="px-3" id="gallery-item">
											<a href="#photos" style="text-decoration:none;" onclick="showGalleryProfil()">
												<p class="mb-1">{{images|length}}</p>
												<p class="small text-muted mb-0">Photos</p>
											</a>
										</div>

										<div id="partisants-item">
											<a href="#partisants" style="text-decoration:none;" onclick="">
												<p class="mb-1">{{nombre_partisant}}</p>
<<<<<<< HEAD
												<p class="small text-muted mb-0">{{(nombre_partisant > 1 ) ? "Partisants" : "Partisant" }}</p>
=======
												<p class="small text-muted mb-0">{{(nombre_partisant > 1 ) ? "Partisans" : "Partisan" }}</p>
>>>>>>> main
											</a>
											
										</div>
										
									</div>
								</div>

								<div id="gallery_profil" style="display:none;width:100%;" class="gallery-container mx-auto">
									{# <button class="float-end btn btn-primary"><i class="fas fa-camera"></i> Ajouter</button> #}
									<div id="gallery" style="margin-left:10%">
										{% for img in images %}
											{% set imgç_path = img|split('public/', 2)[1] %}
<<<<<<< HEAD
											<img src="{{'/' ~ imgç_path}}" data-bs-toggle="modal" data-bs-target="#modal_show_photo" onclick="setPhotoTribu(this)">
=======
											<img src="{{asset(imgç_path)}}" data-bs-toggle="modal" data-bs-target="#modal_show_photo" onclick="setPhotoTribu(this)">
>>>>>>> main
											
										{% endfor %}
									</div>
								</div>

								<div class="card-body p-4 text-black apropos_profil">
									<div class="">
										<p class="lead fw-bolder mb-1" lng-tag="apropos">A propos 
										{% if app.user.id == app.request.get('user_id') %}
											<a href="{{ path("account_setting") }}" class="float-end text-decoration-none fs-6 me-2"> <i class="bi bi-pencil-square"></i> Modifier l'information<a></p>

										{% endif %}
										<div class="row fw-light">
											<div class="{% if type == "Fournisseur" %}col col-lg-6 col-md-6 col-sm-12 {% endif %} p-4" style="background-color: #f8f9fa;">
												<p class="font-italic mb-1">
													<i class="bi bi-briefcase"></i>
													<span class="fw-light" >Categories:</span> {{ type }}
												</p>
												<p class="font-italic mb-1">
													<i class="bi bi-geo-alt"></i>
													Address: {{ autre_profil[0].getNumRue ~ " " ~ autre_profil[0].getCodePostal ~ " " ~ autre_profil[0].getCommune ~ " " ~ autre_profil[0].getPays}}
												</p>
												<p class="font-italic mb-1">
													<i class="bi bi-mailbox"></i>
													Code Postal: {{autre_profil[0].getCodePostal }}
												</p>
												<p class="font-italic mb-1">
													<i class="bi bi-mailbox"></i>
													Commune: {{autre_profil[0].getCommune }}
												</p>
												<p class="font-italic mb-1">
													<i class="bi bi-telephone"></i>
													Telephone Mobile: {{ autre_profil[0].getTelephone }}
												</p>
												<p class="font-italic mb-1">
													<i class="bi bi-telephone-inbound"></i>
													Telephone Fixe: {{ autre_profil[0].getTelFixe }}
												</p>
											</div>
											{% if type == "Fournisseur" %}

												<div class="col col-lg-6 col-md-6 col-sm-12 p-4" style="background-color: #f8f9fa;">
													<p class="font-italic mb-1">
														<i class="bi bi-briefcase-fill"></i>
														Commerce :
														{{ autre_profil[0].getCommerce }}</p>
													<p class="font-italic mb-1">
														<i class="bi bi-upc-scan"></i>
														Code APE :
														{{ autre_profil[0].getCodeape }}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-globe"></i>
														{{ autre_profil[0].getWebsite }}</p>
													<p class="font-italic mb-1">
														<i class="bi bi-facebook"></i>
														{{ autre_profil[0].getFacebook }}</p>
													<p class="font-italic mb-1">
														<i class="bi bi-twitter"></i>
														{{ autre_profil[0].getTwitter }}</p>
												</div>

											{% endif %}
										</div>
									</div>
								</div>

								<div class="card-body p-4 text-black apropos_profil">
									<div class="mb-5">
										<p class="lead fw-bolder mb-1">Tribu</p>
										<div class="row fw-light">
											<div class="p-4" style="background-color: #f8f9fa;">
												<p class="font-italic mb-1">
													<i class="bi bi-collection"></i>
													Groupe : <span class="text-primary">{{tributG.profil.name }}</span>
												</p>

												<p class="font-italic mb-1">
													<i class="bi bi-geo-alt-fill"></i>
													{{tributG.profil.description}}
												</p>
											</div>
											
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			{# </section> #}
		</div>

	</div>
	
	
<!-- Modal show photo-->
<div class="modal fade" id="modal_show_photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <img id="img_modal" style="width:100%">
      </div>
      
    </div>
  </div>
</div>

	<script>

<<<<<<< HEAD
	let curent_location = window.location.href;

	/**
	* Set active click button
	*/
	function removeActiveLink(){

		document.querySelectorAll("#nav_menu_profil > div").forEach(menu=>{
				menu.classList ="px-3";
			})
	}

	/**
	* Show photos gallery profil
	*/
	function showGalleryProfil(){
		document.querySelectorAll(".apropos_profil").forEach(elem=>{
			elem.style= "display:none;"
		})

		removeActiveLink()

		document.querySelector("#gallery-item").classList ="px-3 border-bottom border-primary";

		document.querySelector("#gallery_profil").style ="display:block;width:100%;";

		setGallerie(document.querySelectorAll("#gallery img"))
	}

	function showAboutProfil(){
		document.querySelectorAll(".apropos_profil").forEach(elem=>{
			elem.style= "display:block;"
		})

		removeActiveLink()

		document.querySelector("#about-item").classList ="px-3 border-bottom border-primary";

    	document.querySelector("#gallery_profil").style ="display:none;width:100%;";
	}

	/**
	* Upload photos
	*/
	let fileInputProfil = document.querySelector("#fileInputProfil_add");

		
	fileInputProfil.addEventListener("change", (e) => {

	removeActiveLink()
	document.querySelector("#add-item").classList ="px-3 border-bottom border-primary";
	///read file
	const fileReader = new FileReader();

	////on load file
	fileReader.addEventListener("load", () => {

		let data = {
			image : fileReader.result
		}

		fetch(new Request("/user/profil/add/photo", {
			method: "POST",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})).then(x => x.json()).then(response => {
			location.href = "#photos"
			location.reload()
			console.log(response)
			});

	});

	///run event load in file reader.
	fileReader.readAsDataURL(e.target.files[0]);


	})

	if(curent_location.includes("#photos")){
		showGalleryProfil();
	}
	if(curent_location.includes("#apropos") || !curent_location.includes("#")){
		showAboutProfil()
	}

	/*function setPhotoTribu(btn_photo){

		if(btn_photo.tagName != "IMG"){
			document.querySelector("#img_modal").src = btn_photo.querySelector("img").src
		}else{
			document.querySelector("#img_modal").src = btn_photo.src
		}
		
	}*/
=======
>>>>>>> main

	</script>

{% endblock %}
