{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/account/style.css')}}">
	<link rel="stylesheet" href="	https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	{# // <script src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script> #}
	{# // <script src="{{ asset('assets/js/profiles/profile.js') }}" defer></script> #}
	//
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" defer></script>

{% endblock %}

{% block body %}
	<div class="nh">
		{% include 'shard/account_navleft_new.html.twig' %}
		{% include 'shard/account_navbar_new.html.twig' %}
		<!-- ===== Main Content Start ===== -->
		<main class="gv hm hv">
			<div
				class="sk bu 2xl:ud-p-11 account-profil-conected">
				<!-- ====== Profile Section Start -->
				<div class="overflow-hidden qh qo nj" id="content-apropos-profile">
					<div class="h ka id ts st">
						<img src="https://www.yseulis.com/wp-content/uploads/2018/02/5-0_finance_1600.jpg" alt="" class="vc yd qk rk li mi"/>
						<div class="g y-photo o la d-flex">
							<nav class="navbar navbar-expand-lg navbar-light mb-4 w-50">
								<div class="container-fluid">
									<div class="collapse navbar-collapse" id="navbarProfil">
										<ul class="navbar-nav me-auto mb-2 mb-lg-0">
											<li class="nav-item">
												<label for="cover" class=" bg-pdp-profil  lc rc _d cg mg pg sh ni jj lj nj fk eo xq me-3 apropos_pdp" data-target="apropos_pdp">
													<span>
														<i class="bi bi-info-circle fils" data-target="apropos_pdp"></i>
													</span>
												</label>
											</li>
											<li class="nav-item ">
												<label
													for="cover" class="lc rc _d cg mg pg sh ni jj lj nj fk eo xq me-3 elie_gallery_profil" data-target="elie_gallery_profil">
													{# <input type="file" name="cover" id="cover" class="d"/> #}
													<span>
														<svg width="16" height="16" viewbox="0 0 16 16" class="fils hk" data-target="elie_gallery_profil">
															<path fill-rule="evenodd" clip-rule="evenodd" class="fils" data-target="elie_gallery_profil" d="M5.4453 1.63085C5.56894 1.44539 5.7771 1.33398 6 1.33398H10C10.2229 1.33398 10.4311 1.44539 10.5547 1.63085L11.6901 3.33398H14C14.5304 3.33398 15.0391 3.5447 15.4142 3.91977C15.7893 4.29484 16 4.80355 16 5.33398V12.6673C16 13.1978 15.7893 13.7065 15.4142 14.0815C15.0391 14.4566 14.5304 14.6673 14 14.6673H2C1.46957 14.6673 0.960859 14.4566 0.585786 14.0815C0.210714 13.7065 0 13.1978 0 12.6673V5.33398C0 4.80355 0.210714 4.29484 0.585786 3.91977C0.960859 3.5447 1.46957 3.33398 2 3.33398H4.30988L5.4453 1.63085ZM6.35679 2.66732L5.22137 4.37045C5.09772 4.55592 4.88957 4.66732 4.66667 4.66732H2C1.82319 4.66732 1.65362 4.73756 1.5286 4.86258C1.40357 4.9876 1.33333 5.15717 1.33333 5.33398V12.6673C1.33333 12.8441 1.40357 13.0137 1.5286 13.1387C1.65362 13.2637 1.82319 13.334 2 13.334H14C14.1768 13.334 14.3464 13.2637 14.4714 13.1387C14.5964 13.0137 14.6667 12.8441 14.6667 12.6673V5.33398C14.6667 5.15717 14.5964 4.9876 14.4714 4.86258C14.3464 4.73756 14.1768 4.66732 14 4.66732H11.3333C11.1104 4.66732 10.9023 4.55592 10.7786 4.37045L9.64321 2.66732H6.35679Z"/>
															<path fill-rule="evenodd" clip-rule="evenodd" class="fils" data-target="elie_gallery_profil" d="M7.99984 6.66732C6.89527 6.66732 5.99984 7.56275 5.99984 8.66732C5.99984 9.77189 6.89527 10.6673 7.99984 10.6673C9.10441 10.6673 9.99984 9.77189 9.99984 8.66732C9.99984 7.56275 9.10441 6.66732 7.99984 6.66732ZM4.6665 8.66732C4.6665 6.82637 6.15889 5.33398 7.99984 5.33398C9.84079 5.33398 11.3332 6.82637 11.3332 8.66732C11.3332 10.5083 9.84079 12.0007 7.99984 12.0007C6.15889 12.0007 4.6665 10.5083 4.6665 8.66732Z"/>
														</svg>
													</span>
												</label>
											</li>
											<li class="nav-item">
												<label for="cover" class="lc rc _d cg mg pg sh ni jj lj nj fk eo xq me-3 tribu_profil" data-target="tribu_profil">
													<span>
														<i class="fa-solid fa-users-rays fw-bold" data-target="tribu_profil"></i>
													</span>
												</label>
											</li>
											{% if app.user.id is same as autre_profil[0].userId.id %}
												<li class="nav-item">
													<div class="lc rc _d cg mg pg sh ni jj lj nj fk eo xq me-3 cta_param_account">
														<span>
															<a href="{{path('account_setting')}}" class="un mn qv lc mg ah gp dp zq">
																<i class="fa-solid fa-gear"></i>
															</a>
														</span>
													</div>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
					<div class="lc jg yl bn cn it _t xr">
						<div class="pdp h -ud-top-14 qa jd yd sf th ri jj qo us ws">
							<img src={{ (autre_profil[0].getPhotoProfil != null) ? '/public'~ autre_profil[0].getPhotoProfil : '/public/uploads/users/photos/default_pdp.png' }} alt="{{ autre_profil[0].getFirstname }}"/>
							{# add icon for upload Photo De Profile #}
							{% if app.user.id is same as autre_profil[0].userId.id %}
								<label for="cover" class="upload_pdp_elie" data-bs-toggle="modal" data-bs-target="#addPictureModal">
									<span>
										<svg width="16" height="16" viewBox="0 0 16 16" class="fils hk" data-target="elie_gallery_profil">
											<path fill-rule="evenodd" clip-rule="evenodd" class="fils" data-target="elie_gallery_profil" d="M5.4453 1.63085C5.56894 1.44539 5.7771 1.33398 6 1.33398H10C10.2229 1.33398 10.4311 1.44539 10.5547 1.63085L11.6901 3.33398H14C14.5304 3.33398 15.0391 3.5447 15.4142 3.91977C15.7893 4.29484 16 4.80355 16 5.33398V12.6673C16 13.1978 15.7893 13.7065 15.4142 14.0815C15.0391 14.4566 14.5304 14.6673 14 14.6673H2C1.46957 14.6673 0.960859 14.4566 0.585786 14.0815C0.210714 13.7065 0 13.1978 0 12.6673V5.33398C0 4.80355 0.210714 4.29484 0.585786 3.91977C0.960859 3.5447 1.46957 3.33398 2 3.33398H4.30988L5.4453 1.63085ZM6.35679 2.66732L5.22137 4.37045C5.09772 4.55592 4.88957 4.66732 4.66667 4.66732H2C1.82319 4.66732 1.65362 4.73756 1.5286 4.86258C1.40357 4.9876 1.33333 5.15717 1.33333 5.33398V12.6673C1.33333 12.8441 1.40357 13.0137 1.5286 13.1387C1.65362 13.2637 1.82319 13.334 2 13.334H14C14.1768 13.334 14.3464 13.2637 14.4714 13.1387C14.5964 13.0137 14.6667 12.8441 14.6667 12.6673V5.33398C14.6667 5.15717 14.5964 4.9876 14.4714 4.86258C14.3464 4.73756 14.1768 4.66732 14 4.66732H11.3333C11.1104 4.66732 10.9023 4.55592 10.7786 4.37045L9.64321 2.66732H6.35679Z"></path>
											<path fill-rule="evenodd" clip-rule="evenodd" class="fils" data-target="elie_gallery_profil" d="M7.99984 6.66732C6.89527 6.66732 5.99984 7.56275 5.99984 8.66732C5.99984 9.77189 6.89527 10.6673 7.99984 10.6673C9.10441 10.6673 9.99984 9.77189 9.99984 8.66732C9.99984 7.56275 9.10441 6.66732 7.99984 6.66732ZM4.6665 8.66732C4.6665 6.82637 6.15889 5.33398 7.99984 5.33398C9.84079 5.33398 11.3332 6.82637 11.3332 8.66732C11.3332 10.5083 9.84079 12.0007 7.99984 12.0007C6.15889 12.0007 4.6665 10.5083 4.6665 8.66732Z"></path>
										</svg>
									</span>
								</label>
							{% endif %}
						</div>
						
						<div class="yd iu">
							<div class="wb mg qg ss">
								<div class="zb qs">
									<h4 class="xb qn wn zn gs">
										{{ autre_profil[0].getFirstname }}
										{{ autre_profil[0].getLastname }}
									</h4>

									<p class="mn un" id="elie_my_tribu_g" data-g="{{autre_profil[0].getTributG|replace({'tribug' : '', '_' : ' ' })}}">
										{{status_tribuT_autre_profil}}
										de la tribu-G 
										{{autre_profil[0].getTributG|replace({'tribug' : '', '_' : ' ' })}}
									</p>
								</div>
							</div>
							<div class="yd  content-profil-navs apropos_pdp" id="apropos_pdp">
								<div class="card-body p-4 text-black apropos_profil">
									<div class="">
										<p class="lead fw-bolder mb-1" lng-tag="apropos">A propos

										</p>
										<a>
											<div class="row fw-light">
												<div class=" p-4" style="background-color: #f8f9fa;">
													<p class="font-italic mb-1">
														<i class="bi bi-briefcase"></i>
														<span class="fw-light">Categories:</span>
														{% if type is same as('Partisan') %}
															{{'Fan'}}
														{% elseif type is same as('Type')%}
															{{'Partisan'}}
														{% endif %}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-geo-alt"></i>
														Addresse:
														{{ autre_profil[0].getNumRue ~ " " ~ autre_profil[0].getCodePostal ~ " " ~ autre_profil[0].getCommune ~ " " ~ autre_profil[0].getPays}}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-mailbox"></i>
														Code Postal:
														{{autre_profil[0].getCodePostal }}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-mailbox"></i>
														Commune:
														{{autre_profil[0].getCommune }}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-telephone"></i>
														Telephone Mobile:
														{{ autre_profil[0].getTelephone }}
													</p>
													<p class="font-italic mb-1">
														<i class="bi bi-telephone-inbound"></i>
														Telephone Fixe:
														{{ autre_profil[0].getTelFixe }}
													</p>
												</div>
											</div>
										</a>
									</div>
									<a></a>
								</div>
								<div class="card-body p-4 text-black apropos_profil" style="display: block;">
									<div class="mb-5">
										<p class="lead fw-bolder mb-1">Tribu</p>
										<div class="row fw-light">
											<div class="p-4" style="background-color: #f8f9fa;">
												<p class="font-italic mb-1">
													<i class="bi bi-collection"></i>
													Groupe :
													<span class="text-primary">{{tributG.profil.name }}</span>
												</p>

												<p class="font-italic mb-1">
													<i class="bi bi-geo-alt-fill"></i>
													{{tributG.profil.description}}
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>


						</div>

					</div>

					<div id="elie-loading" style="margin-top: -90px;"></div>

					<div id="elie_gallery_profil" class="gallery-container mx-auto content-profil-navs elie_gallery_profil" style="margin-top: -90px;">
						<hr class="mb-3">
						
						<div class="d-flex bd-highlight">
							<p class="lead fw-bolder flex-grow-1 bd-highlight" lng-tag="apropos">Vos photos</p>
							{% if app.user.id == app.request.get('user_id') %}
								<div class="bd-highlight" id="add-item">
									<button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addPictureModal" style="width: 150px;text-decoration:none;" onclick="">
										<i class="fas fa-camera"></i>
												Ajouter

									</button>
									{# <a href="#add_photos" class="btn btn-primary float-end" style="width: 150px;text-decoration:none;" onclick="">
										<label class="input-file" for="fileInputProfil" style="z-index: 1;cursor:pointer;">
											<p class="mb-1">
												<i class="fas fa-camera"></i>
												Ajouter
											</p>
											<input id="fileInputProfil" type="file" name="photo" style="display:none;">

										</label>

									</a> #}
								</div>
							{% endif %}
						</div>

						<!-- START GALLLLLLLLLLLLLLLL-->

						<div class="row mt-2">
							{% for img in images %}
								{% set imgç_path = img|split('public/', 2)[1] %}
								<div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 thumb text-center">
									<a href="#" class="fancybox" rel="ligthbox">
										<img src="{{asset(imgç_path)}}" class="zoom img-fluid " alt="">
									</a>
									{% if app.user.id == app.request.get('user_id') %}
										<span class="btn-set-pdp" onclick="setAsPdp(this)">Definir comme photo de profil</span>
									{% endif %}

								</div>
							{% endfor %}


						</div>
						<!-- END GALLLLLLLLLLLLLLLLLLLLLLLLLLLLLL-->


					</div>

					<div id="tribu_profil" class="gallery-container mx-auto content-profil-navs tribu_profil" style="margin-top: -90px;">
						<hr class="mb-3">
						
						<h5 class="fw-bolder">Liste des partisans</h5>
						<ul class="nav nav-tabs mt-3 mb-3">
							<li class="nav-item">
								<span class="nav-link active elie_nav_link" aria-current="page" href="#" data-tribu="G">Tribu G</span>
							</li>
							<li class="nav-item">
								<span class="nav-link elie_nav_link" href="#" data-tribu="T">Tribu T</span>
							</li>

						</ul>

						<table id="table_tribu_g" class="display mt-3 table_tribu_g" style="width:100%">
							<thead>
								<tr>
									<th>Nom d'utilisateur</th>
									<th>E-mail</th>
									<th>Rôle</th>
									<th>Tribu G</th>
								</tr>
							</thead>
							<tbody id="tbody_tribu_g">
								{% for user in tribu_g_friend %}

									<tr>
										<td>
											<a href="{{user.id}}" class="text-primary">{{user.firstname ~" "~ user.lastname}}</a>
										</td>
										<td>{{user.email}}</td>
										<td>{{user.status}}</td>
										<td>{{autre_profil[0].getTributG|replace({'tribug' : '', '_' : ' ' })}}</td>
									</tr>

								{% endfor %}
							</tbody>

						</table>

						<table id="table_tribu_t" class="display  mt-3 table_tribu_t" style="width:100%; display:none;">
							<thead>
								<tr>
									<th>Logo</th>
									<th>Tribu T</th>
									<th>Membres</th>
									<th>E-mail</th>
									<th>Rôle</th>
								</tr>
							</thead>
							<tbody id="tbody_tribu_t">
								{% for user in tribu_t_friend %}
									<tr>
										<td><img src="{{user.tribuT.avatar ? "/public" ~ user.tribuT.avatar : '/public/uploads/tribu_t/photo/avatar_tribu.jpg' }}" alt="" style="width:40px; height:40px;border-radius:50%;"/>
										</td>
										<td>{{user.tribuT.name}}
										</td>
										<td>
											<a href="{{user.user.id}}" class="">{{user.user.firstname ~" "~ user.user.lastname}}</a>
										</td>
										<td>{{user.user.email}}</td>
										<td>{{user.user.role}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</div>

				</div>


				<!-- ====== Profile Section End -->
			</div>
		</main>
		<!-- ===== Main Content End ===== -->

		<div id="modalZoom" class="modalZoom">
			<span class="closeZoom">&times;</span>
			<img class="modalZoom-content" id="imgFullSecreen">
			{# <div id="captionZoom"></div> #}
		</div>

		{% include 'user/modal_upload_photo.twig' %}
		{% include 'shard/modal/media_modal.html.twig' %}
		
		</div>


</div>{% endblock %}
