{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone : Tribut T
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{{asset('assets/css/account/account.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/agenda/agenda.css')}}">
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<style>
		a {
			text-decoration: none;
		}
		.foot a {
			color: black;
		}
	</style>

	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/account_mobile.js') }}" defer></script>


{% endblock %}


{% block body %}

	<div id="settingProfilId">

		<div class="content_left_menu_account fixed-top mt-5 col responsif-none">
					<div class="left_menu">
						{% include "shard/account_navleft.html.twig" %}
					</div>
				</div>
				<div class="content_left_menu_account_mobile fixed-top mt-5 col responsif-none-mobile">
					<div class="left_menu">
						{% include "shard/account_navleft_mobile.html.twig" %}
					</div>
				</div>
		<div class="navbar-mobile">
			<div class="fixed-top col responsif-none">
				{{ include('shard/account_navbar.html.twig') }}
			</div>

			<div class="fixed-top col responsif-none-mobile">
				{{ include('shard/account_navbar_mobile.html.twig') }}
			</div>
		</div>
		<div class="row account w-100 publication_mobile" id="container-mobile">
			<div class="">
				<div class="right_content">
					<div class="">
						<div class="" style="height:100%; margin-top:10%">
							<div class="col-lg-8 col-md-12 col-sm-12 listpub_mobile" style="height:100%; margin-left:15%">
								<h3>Liste de vos publications</h3>
								{% if publication is defined %}
									<div class="showPubBlock {% if publication | length > 0 %}mb-5{% endif %}">
										{% if publication | length > 0 %}
											{% for pub in publication %}
												<div class="card mb-2" id="pub_number_{{pub.id}}_{{pub.tribu}}_publication">

													<div class="card-header">

														<a href="{{ path("user_profil", {"user_id":pub.user_id }) }}">
															<i>{{pub.userfullname}}</i>
														</a>
														<i class="bi bi-play-fill"></i>
														<a href="/user/tribu/publication/{{ pub.tribu ~ "_publication" }}">
															<i class="bi bi-collection"></i>
															{{pub[0] | replace({"$": "'"})}}
														</a>

														<span class="float-end dropstart">
															<span id="modifPub{{pub.id}}_{{pub.tribu}}" class="float-end" style="cursor:pointer" data-bs-toggle="dropdown">
																<i class="bi bi-three-dots" style="cursor:pointer"></i>
															</span>
															<ul class="dropdown-menu">
																<li>
																	<button data-bs-toggle="modal" data-bs-target="#modal_publication_modif" class="dropdown-item" onclick='getPub("{{pub.id}}", "{{pub.publication}}".replace(/\n/gi,"<br>"), "{{pub.confidentiality}}", "{{ pub.tribu ~ "_publication" }}")'><i class="fas fa-edit"></i> Modifier</button>
																</li>
																<li>

																	<button data-bs-toggle="modal" data-bs-target="#deletePubModalConfirm" class="dropdown-item" onclick='confirm({{pub.id}}, "{{ pub.tribu ~ "_publication" }}")'>
																		<i class="bi bi-trash3" aria-hidden="true"></i>
																		Supprimer
																	</button>
																</li>
															</ul>
														</span>

													</div>

													<div class="card-body">
														<a href="/user/tribu/publication/{{ pub.tribu ~ "_publication#pub_number_" ~ pub.id }}">
															<p style="color:black;" class="card-text">{{pub.publication}}</p>

															{% if pub.photo != null %}

																<div style="max-heigth:100%; max-width: 100%;">
																	<img width="50%;" heigth="100px;" src="{{asset('assets/publications/photos/') ~ pub.photo}}" class="" alt="">
																</div>

															{% endif %}
															<p class="card-text">
																<i>
																	<small class="text-muted">Publié le
																		{{pub.datetime|date("d/m/Y h:m:s")}}

																	</small>

																</i>
																<span class="badge text-bg-primary" style="background-color:#0d6efd;">
																	<i class="bi bi-eye-fill"></i>

																	{% if pub.confidentiality == 1 %}
																		Publique
																	{% elseif pub.confidentiality == 2 %}
																		Ami(e)s
																	{% else %}
																		Moi uniquement
																	{% endif %}
																</span>
															</p>
														</a>
													</div>
													<div class="card-footer foot">
															<div class="row text-center">
																<div class="col-4 ">
																	<span>
																		<span id="nombreReaction{{pub.id}}_{{pub.tribu}}">{% if pub[1].reaction_number > 0 %}{{pub[1].reaction_number}}{% endif %}</span>
																		<i class="{% if pub[1].reaction == 1 %}bi-heart-fill{% else %}bi-heart{% endif %}" 
																		onclick='IsLike({{pub.id}}, this, "{{pub.tribu}}_reaction")' style="cursor:pointer;">
																		</i>
																	</span>
																</div>
																<div class="col-4">
																	<a data-bs-toggle="collapse" href="#commentaire{{pub.id}}_{{pub.tribu}}" id="nbComment{{pub.id}}_{{pub.tribu}}">
																		{% if pub[1].commentaire_number > 0 %}{{pub[1].commentaire_number}}{% endif %} <i class="bi bi-chat-square"></i>
																	</a>
																</div>
																<div class="col-4">
																	<a data-bs-toggle="collapse" href="#collapseExample3" role="button">
																			1
																		<i class="bi bi-share souri-non-utilise"></i>
																	</a>
																</div>
															</div>

														</div>

														<div class="collapse m-2" id="commentaire{{pub.id}}_{{pub.tribu}}">
															<div class="card card-body" id="comment{{pub.id}}_{{pub.tribu}}">
																<label id="commentNotnul_{{pub.id}}_{{pub.tribu}}" style="display:none;">Commentaires</label>

																<div></div>

																<form id="form_{{pub.id}}_{{pub.tribu}}" data-tb="{{pub.tribu}}">
																	<input type="hidden" value="{{pub.id}}" id="pub_id_{{pub.id}}_{{pub.tribu}}">
																	<input type="hidden" value="{{pub.user_id}}" id="user_id_{{pub.id}}_{{pub.tribu}}">
																	<div class="mb-3">
																		<textarea class="form-control" name="commentaire" id="newComment_{{pub.id}}_{{pub.tribu}}" placeholder = "Votre commentaire..." required></textarea>
																		<span id="comment_vide_{{pub.id}}_{{pub.tribu}}" class="text-danger" style="display:none;">Commentaire ne devrait être vide</span>
																	</div>
																	<div class="row">
																		<div class="col-8"></div>
																		<div class="col-4 ">
																			<input id="submitComment_{{pub.id}}_{{pub.tribu}}" type="submit" value="Envoyer" class="btn btn-primary float-end">
																		</div>
																	</div>
																</form>

															</div>
														</div>

												</div>
											{% endfor %}
										{% else %}
											<p class="text-center">Aucune publication de votre part pour le moment</p>
										{% endif %}

									</div>

								{% endif %}


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div></div> {% include "user/modal_publication_commentaire.html.twig" %}{% include "user/script.html.twig" %}{% endblock %}
