{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Setting Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/settingAccount.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setting.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setIrisF.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
{% endblock %}


{% block body %}
	<div class="content_nav_top responsif-none">
		{% include "shard/navbar.twig" %}
	</div>
<a class="navbar-brand navbar-brand-setting-inscript-mobile responsif-none-pc" href="/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewbox="0 0 400.000000 400.000000" preserveaspectratio="xMidYMid meet">

				<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
					<path fill="#1111FE" d="M585 2515 c-157 -35 -275 -126 -345 -265 -76 -153 -74 -365 7 -524
										35 -68 135 -166 203 -198 115 -54 296 -72 433 -43 136 29 260 124 318 245 41
										85 43 95 17 107 -13 6 -57 27 -99 46 l-77 36 -22 -62 c-59 -162 -242 -242
										-387 -169 -184 94 -220 416 -63 573 131 131 364 93 437 -72 l17 -39 88 0 88 0
										0 180 0 180 -85 0 -85 0 0 -35 c0 -19 -2 -35 -5 -35 -3 0 -29 13 -58 30 -100
										56 -251 74 -382 45z"></path>
					<path fill="#000000" d="M1320 2425 l0 -85 65 0 65 0 0 -340 0 -340 -65 0 -65 0 0 -85 0 -85
										215 0 215 0 0 85 0 85 -65 0 -65 0 0 341 c0 267 3 340 12 337 7 -3 77 -175
										155 -384 78 -208 150 -398 159 -422 l16 -43 56 3 56 3 156 419 c85 231 161
										421 168 424 9 3 12 -69 12 -337 l0 -341 -60 0 -60 0 0 -85 0 -85 255 0 255 0
										0 85 0 85 -65 0 -65 0 0 340 0 340 65 0 65 0 0 85 0 85 -261 -2 -262 -3 -109
										-289 c-59 -159 -110 -291 -112 -293 -1 -2 -52 129 -112 292 l-109 295 -257 0
										-258 0 0 -85z"></path>
					<path fill="#51C94B" d="M2940 2330 l0 -180 90 0 90 0 0 95 0 95 135 0 c74 0 135 -3 135 -6 0
									-3 -108 -157 -240 -342 l-240 -337 0 -82 0 -83 415 0 415 0 0 185 0 185 -85 0
									-85 0 0 -100 0 -100 -170 0 -169 0 249 350 250 351 0 74 0 75 -395 0 -395 0 0
									-180z"></path>
				</g>
			</svg>
		</a>

    {# <div class="content_spinner" id="spinner-setting-tomm-js" style="position: absolute;top: 50%;left: 50%;">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
	</div> #}
	<div class="container-fluid content_setprofil custome_content_setprofil">
		{# <div class="container setprofil text-black"> #}
		<div id="conteneurs-setting-tom-js" class="container setprofil text-black">

			{{form_start(form_inscription ,  {'attr': {'class': 'formContent_js'}})}}
			<div class="row">
				<div class="col-lg-4 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
					<!-- Account Sidebar-->
					<div class="author-card pb-3">
						<div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"></div>
						<div class="author-card-profile">

							{# image profil default #}
							<div class="author-card-avatar" style="max-width:85px; max-heigth:85px">
								<img class="image_profil_js_jheo"  src='/public/uploads/users/photos/default_pdp.png' alt={{pseudo}} width="85" height="85">
							</div>

							{# pseudo  #}
							<div class="author-card-details">
								<h5 class="author-card-name text-lg pseudoTexte">{{pseudo}}</h5>

								{# icon change profile  #}
								<label style="transform:translate(-20px,6px)" for="fileInputProfil">
									<i class="bi bi-camera-fill" style="cursor:pointer;"></i>
								</label>
								
								<input type="file" name="fileInputProfil" id="fileInputProfil" style="display:none;visibility:none;" accept="image/*">
			
							</div>
						</div>
					</div>
					
				</div>
					<!-- Profile Settings-->
					<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
						<div class="row">
							<div class="col">
								<input type="checkbox" name="consumer"  id="consumer" checked disabled>
								<label class='form_label fw-bolder' for="consumer"> Fan</label>
								<div class="d-none">
									{{ form_widget(form_inscription.Consommateur, {'attr': {'checked': 'checked'}}) }}
									{{ form_label(form_inscription.Consommateur , "Fan") }}
								</div>
							</div>
							<div class="col hidden">
								{# <input type="checkbox"  name="supplier"  id="supplier" > #}
								{{ form_widget(form_inscription.Fournisseur, {'attr': {'id':'supplier'}}) }}
								{# <label for="supplier">Fournisseur </label> #}
								{{ form_label(form_inscription.Fournisseur , "partenaire", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
							</div>
						</div>

						<div class="row content-inscription-setting-tomm-js">
							<div class="col-md-6 form-inscription-tomm-js" data-rank="1">
								<div
									class="form-group">
									{{ form_label(form_inscription.pseudo , "Pseudo", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.pseudo, {'attr': {'class': 'form-control'}}) }}
									<span class="text-danger text-sm input-not-valid d-none pseudo_required">Veuillez renseigner votre pseudo</span>
									<span class="text-danger text-sm input-not-valid d-none pseudo_checked"></span>
									{# <label class="fw-bolder" for="account-pseudo">Pseudo</label>
									<input class="form-control" type="email" id="account-pseudo" value="{{pseudo}}" disabled> #}
								</div>
							</div>

							<div class="col-md-6 form-inscription-tomm-js" data-rank="2">
								<div class="form-group">
									{# <label class="fw-bolder" for="account-email">Adresse e-mail</label>
									<input class="form-control" type="email" id="account-email" value="{{last_email}}" disabled> #}
									{{ form_label(form_inscription.email , "Email", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.email, {'attr': {'class': 'form-control', 'value':last_email, 'readonly':true}}) }}
									<span class="text-danger text-sm input-not-valid d-none email_required">Veuillez renseigner votre email</span>
								</div>
							</div>

							<div class="col-md-6 form-inscription-tomm-js" data-rank="6">
								<div class="form-group">
									{{ form_label(form_inscription.password , "Mot de passe", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.password, {'attr': {'class': 'form-control'}}) }}
									<span class="text-danger text-sm input-not-valid d-none pw_required">Veuillez renseigner votre mot de passe</span>
								</div>
							</div>

							<div class="col-md-6 form-inscription-tomm-js" data-rank="7">
								<div class="form-group">
									{{ form_label(form_inscription.confirm_password , "Confirmer le mot de passe", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.confirm_password, {'attr': {'class': 'form-control'}}) }}
									<span class="text-danger text-sm input-not-valid d-none pwconfirm_required">Veuillez confirmer votre mot de passe</span>
									<span class="text-danger text-sm input-not-valid d-none pw_not_identique">Mot de passe non identique</span>
								</div>
							</div>

							<div class="col-md-4 form-inscription-tomm-js" data-rank="3">
								<div class="form-group">
									{# <label for="account-fn">Nom de famille <span class="text-danger">*</span></label> #}
									{{ form_label(form_inscription.nom , "Nom", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									
									{# <input class="form-control" type="text" id="account-fn"  required=""> #}
									{{ form_widget(form_inscription.nom, {'attr': {'class': 'form-control'}}) }}
									 <span class="text-danger text-sm input-not-valid d-none nom_required">Veuillez renseigner votre nom</span>
								</div>
							</div>

							<div class="col-md-8 form-inscription-tomm-js " data-rank="4">
								<div class="row">
									<div class="col-md-6 mx-auto">
										<div class="form-group">
											{{ form_label(form_inscription.prenom , "Prénom", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.prenom, {'attr': {'class': 'form-control'}}) }}
											<span class="text-danger text-sm input-not-valid d-none prenom_required">Veuillez renseigner votre prénom</span>
										</div>
									</div>

									<div class="col-md-6 mx-auto" data-rank="10">
										<div class="form-group">
											{{ form_label(form_inscription.telephone , "Tel", {'label_attr': {'class': 'form_label fw-bolder mobile_code'}}) }}
											{{ form_widget(form_inscription.telephone, {'attr': {'class': 'form-control'}}) }}
											<span class="text-danger text-sm input-not-valid d-none tel_required">Veuillez renseigner votre téléphone</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12">
								<hr class="mt-2 mb-3">
							</div>
							<div class="d-flex flex-wrap justify-content-between align-items-center btn_submit_for_rank_inscription_js ">
								<input class="btn btn-style-1 btn-primary btn_submit_inscription_js" type="submit" value="Mettre à jour le profil">
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form_inscription) }}
			</div>

		

			{% if flash %}
				<div class="content_message_flash">
					<div class="message_flash {{ (flash.titre is same as(" success")) ? " success" : " error"}}">
						<h4>
							{{flash.titre}}
						</h4>
						<p>
							{{flash.content}}
						</p>
					</div>
				</div>
			{% endif %}
		</div>


	{% endblock %}