{% extends 'base.html.twig' %}

{% block title %}
	ConsoMyZone: Setting Profil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/account/settingAccount.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/dashboard/tributG.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setting.js') }}" defer></script>
	<script src="{{ asset('assets/js/profiles/setIris.js') }}" defer></script>
	<script src="{{ asset('assets/js/account/account.js') }}" defer></script>
{% endblock %}


{% block body %}
	<div class="content_nav_top responsif-none">
		{% include "shard/navbar.twig" %}
	</div>
		<a class="navbar-brand navbar-brand-setting-inscript-mobile responsif-none-pc" href="/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewbox="0 0 400.000000 400.000000" preserveaspectratio="xMidYMid meet">

				<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
					<path fill="#1111FE" d="M585 2515 c-157 -35 -275 -126 -345 -265 -76 -153 -74 -365 7 -524
										35 -68 135 -166 203 -198 115 -54 296 -72 433 -43 136 29 260 124 318 245 41
										85 43 95 17 107 -13 6 -57 27 -99 46 l-77 36 -22 -62 c-59 -162 -242 -242
										-387 -169 -184 94 -220 416 -63 573 131 131 364 93 437 -72 l17 -39 88 0 88 0
										0 180 0 180 -85 0 -85 0 0 -35 c0 -19 -2 -35 -5 -35 -3 0 -29 13 -58 30 -100
										56 -251 74 -382 45z"></path>
					<path fill="#000000" d="M1320 2425 l0 -85 65 0 65 0 0 -340 0 -340 -65 0 -65 0 0 -85 0 -85
										215 0 215 0 0 85 0 85 -65 0 -65 0 0 341 c0 267 3 340 12 337 7 -3 77 -175
										155 -384 78 -208 150 -398 159 -422 l16 -43 56 3 56 3 156 419 c85 231 161
										421 168 424 9 3 12 -69 12 -337 l0 -341 -60 0 -60 0 0 -85 0 -85 255 0 255 0
										0 85 0 85 -65 0 -65 0 0 340 0 340 65 0 65 0 0 85 0 85 -261 -2 -262 -3 -109
										-289 c-59 -159 -110 -291 -112 -293 -1 -2 -52 129 -112 292 l-109 295 -257 0
										-258 0 0 -85z"></path>
					<path fill="#51C94B" d="M2940 2330 l0 -180 90 0 90 0 0 95 0 95 135 0 c74 0 135 -3 135 -6 0
									-3 -108 -157 -240 -342 l-240 -337 0 -82 0 -83 415 0 415 0 0 185 0 185 -85 0
									-85 0 0 -100 0 -100 -170 0 -169 0 249 350 250 351 0 74 0 75 -395 0 -395 0 0
									-180z"></path>
				</g>
			</svg>
		</a>

	<div class="container-fluid content_setprofil custome_content_setprofil">
		<div class="container setprofil text-black ">
			{{form_start(form_inscription ,  {'attr': {'class': 'formContent_js'}})}}
			<div class="row">
				<div class="col-lg-4 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
					<!-- Account Sidebar-->
					<div class="author-card pb-3">
						<div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"></div>
						<div class="author-card-profile">

							{# image profil default #}
							<div class="author-card-avatar" style="max-width:85px; max-heigth:85px">
								<img class="image_profil_js_jheo"  src='/public/uploads/users/photos/default_pdp.png' alt={{pseudo}} width="85" height="85">
							</div>

							{# pseudo  #}
							<div class="author-card-details">
								<h5 class="author-card-name text-lg">{{pseudo}}</h5>

								{# icon change profile  #}
								<label style="transform:translate(-20px,6px)" for="fileInputProfil">
									<i class="bi bi-camera-fill" style="cursor:pointer;"></i>
								</label>
								
								<input type="file" name="fileInputProfil" id="fileInputProfil" style="display:none;visibility:none;" accept="image/*">
			
							</div>
						</div>
					</div>
					
				</div>
					<!-- Profile Settings-->
					<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto pb-5">
						<div class="row">
							<div class="col">
								<input type="checkbox" name="consumer"  id="consumer" checked disabled>
								<label class='form_label fw-bolder' for="consumer"> Consommateur</label>
								<div class="d-none">
									{{ form_widget(form_inscription.Consommateur, {'attr': {'checked': 'checked'}}) }}
									{{ form_label(form_inscription.Consommateur , "Consommateur") }}
								</div>
							</div>
							<div class="col hidden">
								{# <input type="checkbox"  name="supplier"  id="supplier" > #}
								{{ form_widget(form_inscription.Fournisseur, {'attr': {'id':'supplier'}}) }}
								{# <label for="supplier">Fournisseur </label> #}
								{{ form_label(form_inscription.Fournisseur , "partenaire", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
							</div>
						</div>

						<div class="row content-inscription-setting-tomm-js">
							<div class="col-md-6 form-inscription-tomm-js" data-rank="1">
								<div
									class="form-group">
									{# {{ form_label(form_inscription.pseudo , "Pseudo", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.pseudo, {'attr': {'class': 'form-control'}}) }} #}

									<label class="fw-bolder" for="account-pseudo">Pseudo</label>
									<input class="form-control" type="email" id="account-pseudo" value="{{pseudo}}" disabled>
								</div>
							</div>


							<div class="col-md-6 form-inscription-tomm-js" data-rank="6">
								<div class="form-group">
								    {#<label for="account-fn">Adresse Postal<span class="text-danger">*</span></label> #}
									{{ form_label(form_inscription.code_postal , "Code Postal", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									
									{# <input class="form-control" type="text" id="account-fn"  required=""> #}
									{{ form_widget(form_inscription.code_postal, {'attr': {'class': 'form-control'}}) }}

								</div>
							</div>


							<div class="col-md-6 form-inscription-tomm-js" data-rank="2">
								<div class="form-group">
									<label class="fw-bolder" for="account-email">Adresse e-mail</label>
									<input class="form-control" type="email" id="account-email" value="{{last_email}}" disabled>
								</div>
							</div>


							<div class="col-md-6 form-inscription-tomm-js" data-rank="5">
								<div class="form-group">
									{# <label for="account-fn">Adresse Postal<span class="text-danger">*</span></label> #}
									{{ form_label(form_inscription.num_rue , "Rue", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									
									{# <input class="form-control" type="text" id="account-fn"  required=""> #}
									{{ form_widget(form_inscription.num_rue, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>

							<div class="col-md-6 form-inscription-tomm-js" data-rank="3">
								<div class="form-group">
									{# <label for="account-fn">Nom de famille <span class="text-danger">*</span></label> #}
									{{ form_label(form_inscription.nom , "Nom", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									
									{# <input class="form-control" type="text" id="account-fn"  required=""> #}
									{{ form_widget(form_inscription.nom, {'attr': {'class': 'form-control'}}) }}

								</div>
							</div>
							{# <div class="col-md-6">
									<div class="form-group">
										{{ form_label(form_inscription.nom_iris , "Nom de votre iris", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
										{{ form_widget(form_inscription.nom_iris, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div> #}

							<div class="col-md-6 form-inscription-tomm-js" data-rank="7">
								<div class="row">
									<div class="col-md-6 mx-auto">
										<div class="form-group content_autocompletion_js_jheo">
											{{ form_label(form_inscription.faux_commune , "Commune", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.faux_commune, {'attr': {'class': 'form-control','list': 'datalistOptionCommune' , 'placeholder' : 'Sélectionnez votre commune'}}) }}  {# #}
											{# <datalist id="datalistOptionCommune"></datalist> #}
										</div>
									</div>
									<div class="col-md-6 mx-auto content_autocompletion_js_jheo">
										<div class="form-group">
											{{ form_label(form_inscription.pays , "Pays", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.pays, {'attr': {'class': 'form-control', 'value' : 'France'}}) }}
										</div>
									</div>
								</div>
								
								{# <div class="autocomplete_list">
									<div class="div_content_optionA">
										<span>Toto</span>
										<input id="div_content_optionA_input" type="hidden" value="totoA titi">
									</div>
									<div class="div_content_optionB">
										<span>Toto</span>
										<input id="div_content_optionB_input" type="hidden" value="totoB titi">
									</div>
									<div class="div_content_optionC">
										<span>Toto</span>
										<input id="div_content_optionC_input" type="hidden" value="totoC titi">
									</div>
									<div class="div_content_optionD">
										<span>Toto</span>
										<input id="div_content_optionD_input" type="hidden" value="totoD titi">
									</div>
									<div class="div_content_optionE">
										<span>Toto</span>
										<input id="div_content_optionE_input" type="hidden" value="totoE titi">
									</div>
									
								</div> #}
							</div>

							<div class="col-md-6 form-inscription-tomm-js " data-rank="4">
								<div class="row">
									<div class="col-md-6 mx-auto">
										<div class="form-group">
											{{ form_label(form_inscription.prenom , "Prénom", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
											{{ form_widget(form_inscription.prenom, {'attr': {'class': 'form-control'}}) }}

										{# <label for="account-ln">Prénom<span class="text-danger">*</span></label> #}
											{# <input class="form-control" type="text" id="account-ln"  required=""> #}
										</div>
									</div>

									<div class="col-md-6 mx-auto" data-rank="10">
										<div class="form-group">
											{{ form_label(form_inscription.telephone , "Tel", {'label_attr': {'class': 'form_label fw-bolder mobile_code'}}) }}
											{{ form_widget(form_inscription.telephone, {'attr': {'class': 'form-control'}}) }}

										{# <label for="account-phone">Numéro de téléphone<span class="text-danger">*</span></label> #}
											{# <input class="form-control" type="text" id="account-phone" required=""> #}
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6 form-inscription-tomm-js" data-rank="9">
								<div class="form-group">
									{{ form_label(form_inscription.faux_quartier , "Quartier", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.faux_quartier, {'attr': {'class': 'form-control' , 'list': 'datalistOptionsQuartier','placeholder' : 'Sélectionnez votre quartier'}}) }}
									{# <datalist id="datalistOptionsQuartier"></datalist> #}
								</div>
							</div>

							{# <div class="col-md-6">
								<div class="form-group">
									{{ form_label(form_inscription.ville , "Ville", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
									{{ form_widget(form_inscription.ville, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div> #}

							{{ form_widget(form_inscription.departement, {'attr': {'class': 'form-control'}}) }}

							<div class="col-12">
								<hr class="mt-2 mb-3">
							</div>

							<div id="fournisseur-input" class="fournisseur-hide">
								<div class="row pb-5">
									<div class="col-6">
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.commerce , "Commerce", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.commerce, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-fn">Commerce<span class="text-danger">*</span></label>
												                                                <input class="form-control" type="text" id="account-fn"  required=""> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.code_ape , "Code APE", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.code_ape, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-fn">Code APE<span class="text-danger">*</span></label>
												                                                <input class="form-control" type="text" id="account-fn"  required=""> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.adresse , "Adresse Professionnel", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.adresse, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-fn">Adresse<span class="text-danger">*</span></label>
												                                                <input class="form-control" type="text" id="account-fn"  required=""> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.site_web , "Site web", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.site_web, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-ln">Site web</label>
												                                                <input class="form-control" type="text" id="account-ln"  required=""> #}
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.facebook , "Facebook", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.facebook, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-email">Facebook</label>
												                                                <input class="form-control" type="email" id="account-email"  required=""> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.linkedin , "Linkedin", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.linkedin, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-phone">Linkedin</label>
												                                                <input class="form-control" type="text" id="account-phone" required=""> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.twitter , "Twitter", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.twitter, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-pass">Twitter</label>
												                                                <input class="form-control" type="password" id="account-pass"> #}
											</div>
										</div>
										<div class="content_input">
											<div class="form-group">
												{{ form_label(form_inscription.mail_pro , "Mail professionnel", {'label_attr': {'class': 'form_label fw-bolder'}}) }}
												{{ form_widget(form_inscription.mail_pro, {'attr': {'class': 'form-control'}}) }}

												{# <label for="account-confirm-pass">Mail professionnel</label>
												                                                <input class="form-control" type="password" id="account-confirm-pass"> #}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex flex-wrap justify-content-between align-items-center btn_submit_for_rank_inscription_js ">
								{# <div class="custom-control custom-checkbox d-block">
									<input class="custom-control-input" type="checkbox" id="subscribe_me" checked="">
									<label class="custom-control-label" for="subscribe_me">Abonnez-moi à la newsletter</label>
								</div> #}
								<input class="btn btn-style-1 btn-primary btn_submit_inscription_js" type="submit" value="Mettre à jour le profil">
							{# <button class="btn btn-style-1 btn-primary" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Mettre à jour le profil</button> #}
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form_inscription) }}
			</div>

		

			{% if flash %}
				<div class="content_message_flash">
					<div class="message_flash {{ (flash.titre is same as(" success")) ? " success" : " error"}}">
						<h4>
							{{flash.titre}}
						</h4>
						<p>
							{{flash.content}}
						</p>
					</div>
				</div>
			{% endif %}
		</div>


	{% endblock %}
